<app-page-layout-monitoring [projectId]="projectId()">
  <h2 i18n>Registration information</h2>
  <div class="flex flex-row">
    <p-chart
      type="bar"
      [data]="registrationsPerStatusChartData()"
      [ariaLabel]="registrationsPerStatusAriaLabel()"
      [options]="registrationsPerStatusChartOptions"
      class="mt-3 w-1/3 ps-12 pe-12"
      responsive
    />
    <p-chart
      type="bar"
      [data]="duplicationChartData()"
      [ariaLabel]="duplicationAriaLabel()"
      [options]="duplicationChartOptions"
      class="mt-3 w-1/3 ps-12 pe-12"
      responsive
    />
    <p-chart
      type="line"
      [data]="registrationsByDateChartData()"
      [ariaLabel]="registrationsByDateAriaLabel()"
      [options]="registrationsByDateChartOptions"
      class="mt-3 w-1/3 ps-12 pe-12"
      responsive
    />
  </div>
  <h2
    i18n
    class="mt-5"
  >
    Payment information (last 5 payments)
  </h2>
  <div class="flex flex-row">
    <p-chart
      type="bar"
      [data]="transfersPerPaymentChartData()"
      [ariaLabel]="transfersPerPaymentAriaLabel()"
      [options]="transfersPerPaymentChartOptions"
      class="mt-3 w-1/3 ps-12 pe-12"
      responsive
    />
    <p-chart
      type="bar"
      [data]="amountSentPerPaymentChartData()"
      [ariaLabel]="amountSentPerPaymentAriaLabel()"
      [options]="amountSentPerPaymentChartOptions"
      class="mt-3 w-1/3 ps-12 pe-12"
      responsive
    />
    <p-chart
      type="bar"
      [data]="amountSentPerMonthChartData()"
      [ariaLabel]="amountSentPerMonthAriaLabel()"
      [options]="amountSentPerMonthChartOptions"
      class="mt-3 w-1/3 ps-12 pe-12"
      responsive
    />
  </div>
</app-page-layout-monitoring>
