<section>
  <dialogue-turn [actor]="program?.ngo">
    <p>
      {{ 'personal.select-appointment.introduction'|translate }}
    </p>
    <p>
      <ion-button type="button" size="small">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        {{ 'personal.select-appointment.more-info-activation'|translate }}
      </ion-button>
    </p>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 isConnected="true"
  >
    <p>
      {{ 'personal.select-appointment.select'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="timeslots"
                 [isSpoken]="timeslots"
  >
    <form (submit)="submitTimeslot()">
      <ion-radio-group name="timeslots"
                       (ionChange)="changeTimeslot($event)"
      >
        <ion-item *ngFor="let timeslot of timeslots"
                  color="light"
                  class="ion-no-padding ion-text-wrap"
        >
          <ion-label class="ion-text-wrap">
            <p>
              {{ timeslot.startDate|date:dateFormat }}: {{ timeslot.startDate|date:timeFormat }}
              -
              <span *ngIf="!isSameDay(timeslot.startDate, timeslot.endDate)">
                <br>
                {{ timeslot.endDate|date:dateFormat }}:
              </span>
              {{ timeslot.endDate|date:timeFormat }}
            </p>
            <ion-note class="ion-text-wrap">
              {{ timeslot.location }}
            </ion-note>
          </ion-label>
          <ion-radio [value]="timeslot.id"
                     [checked]="(timeslot.id === timeslotChoice)"
                     [disabled]="timeslotSubmitted"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <p class="ion-margin-top">
        <ion-button type="submit"
                     *ngIf="timeslotChoice && !timeslotSubmitted"
                    [disabled]="timeslotSubmitted || isDisabled"
                    expand="block"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </p>
    </form>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 *ngIf="timeslotSubmitted"
                 [isSpoken]="timeslotSubmitted"
  >
    <p>
      {{ 'personal.select-appointment.thanks-repeat'|translate }}
    </p>
    <p>
      {{ 'personal.select-appointment.from'|translate }}:
      <strong>
        {{ chosenTimeslot.startDate|date:dateFormat }}: {{ chosenTimeslot.startDate|date:timeFormat }}
      </strong>
      <br>
      {{ 'personal.select-appointment.till'|translate }}:
      <strong>
        {{ chosenTimeslot.endDate|date:dateFormat }}: {{ chosenTimeslot.endDate|date:timeFormat }}
      </strong>
      <br>
      {{ 'personal.select-appointment.at'|translate }}:
      <strong>{{ chosenTimeslot.location }}</strong>
    </p>
    <p>
      {{ 'personal.select-appointment.please-confirm'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="timeslotSubmitted"
                 [isSpoken]="timeslotSubmitted"
  >
    <form (submit)="submitConfirmAction(confirmAction)">
      <ion-radio-group (ionChange)="changeConfirmAction($event)">
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
        >
          <ion-label>{{ 'personal.select-appointment.confirm'|translate }}</ion-label>
          <ion-radio [value]="confirmActions.confirm"
                     [checked]="(confirmAction === confirmActions.confirm)"
                     [disabled]="isDisabled"
          ></ion-radio>
        </ion-item>
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
        >
          <ion-label>{{ 'personal.select-appointment.change'|translate }}</ion-label>
          <ion-radio [value]="confirmActions.change"
                     [checked]="(confirmAction === confirmActions.change)"
                     [disabled]="isDisabled"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <p class="ion-margin-top">
        <ion-button type="submit"
                    *ngIf="confirmAction && !isDisabled"
                    [disabled]="isDisabled"
                    expand="block"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </p>
    </form>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
  >
    <p>
      {{ 'personal.select-appointment.conclusion'|translate }}
    </p>
  </dialogue-turn>
</section>
