<section>
  <ion-button (click)="getTimeslots()">API: GET Timeslots</ion-button>
  <br>
  <dialogue-turn>
    Select a timeslot:
  </dialogue-turn>
  <dialogue-turn actor="self">
    I want...:

    <ion-radio-group (ionChange)="changeTimeslot($event)">
      <ion-item *ngFor="let timeslot of timeslots"
                color="light"
                class="ion-no-padding ion-text-wrap"
      >
        <ion-label>
          Timeslot {{timeslot.id}}:<br>
          <ion-note>{{timeslot.startDate}} - {{timeslot.endDate}}</ion-note><br>
          <ion-note>({{ timeslot.location }})</ion-note>
        </ion-label>
        <ion-radio value="{{ timeslot.id }}"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <br>
    <ion-button (click)="postAppointment(timeslotChoice,'did:sov:2wJPyULfLLnYTEFYzByfUR')">
      Test Post Appointment API
    </ion-button>
  </dialogue-turn>
</section>