<app-form-sidebar
  [(visible)]="formVisible"
  [formGroup]="formGroup"
  [mutation]="userMutation"
  formTitle="Add user"
  i18n-formTitle
>
  <app-form-field-wrapper
    label="User name"
    i18n-label
    [errorMessage]="formFieldErrors()('displayNameValue')"
  >
    <input
      pInputText
      type="text"
      formControlName="displayNameValue"
      autocomplete="off"
    />
  </app-form-field-wrapper>
  <app-form-field-wrapper
    label="User email"
    i18n-label
    [errorMessage]="formFieldErrors()('usernameValue')"
  >
    <input
      pInputText
      type="email"
      formControlName="usernameValue"
      autocomplete="off"
    />
  </app-form-field-wrapper>
</app-form-sidebar>
