<app-page-layout-monitoring [programId]="programId()">
  <app-query-table
    [items]="programAttachments.data() ?? []"
    [isPending]="programAttachments.isPending()"
    [columns]="columns()"
    localStorageKey="program-monitoring-files-table"
    [contextMenuItems]="contextMenuItems()"
    (updateContextMenuItem)="selectedFile.set($event)"
    [globalFilterFields]="['mimetype', 'filename']"
    [initialSortField]="'created'"
  >
    <div
      table-actions
      class="me-2 flex grow justify-end"
    >
      @if (canUploadFiles()) {
        <app-monitoring-upload-file-dialog [programId]="programId()" />
      }
    </div>
  </app-query-table>
</app-page-layout-monitoring>
<app-form-dialog
  #deleteFileConfirmationDialog
  header="Delete file"
  i18n-header
  headerIcon="pi pi-trash"
  proceedLabel="Delete file"
  i18n-proceedLabel
  [mutation]="deleteFileMutation"
  [mutationData]="selectedFile()?.id!"
  [formGroup]="deleteFileFormGroup"
>
  <p i18n>
    You are about to <b>delete</b> {{ selectedFile()?.filename }}.,
    <b>this action can not be undone.</b>
  </p>
  <p
    i18n
    class="mt-4"
  >
    Are you sure you want to delete this file?
  </p>
  <div class="mt-4 w-full">
    <label>
      <p-checkbox
        formControlName="confirmAction"
        [binary]="true"
      />
      <span
        i18n
        class="ps-2"
        >I understand this action can not be undone.</span
      >
    </label>
  </div>
  <app-form-error [error]="deleteFileFormFieldErrors()('confirmAction')" />
</app-form-dialog>
<app-form-dialog
  #editFileDialog
  header="Edit file details"
  i18n-header
  headerIcon="pi pi-pencil"
  proceedLabel="Apply change"
  i18n-proceedLabel
  [mutation]="editFileMutation"
  [mutationData]="{
    id: selectedFile()?.id!,
    updateFileName: editFileFormGroup.getRawValue().updateFileName,
  }"
  [formGroup]="editFileFormGroup"
>
  <p i18n>
    You are about to change the name of the {{ selectedFile()?.mimetype }} file:
    {{ selectedFilenameWithoutExtension() }}
  </p>

  <p i18n>Use a clear name so users can easily recognize the file.</p>

  <app-form-field-wrapper
    label="Enter new name"
    i18n-label
    [errorMessage]="dialogFormFieldErrors()('updateFileName')"
  >
    <input
      pInputText
      formControlName="updateFileName"
      type="text"
      autocomplete="off"
    />
  </app-form-field-wrapper>
</app-form-dialog>
