<app-fullscreen-stepper-dialog
  #createProjectDialog
  [dialogVisible]="currentStep() > 0"
  (dialogVisibleChange)="currentStep.set($event ? 1 : 0)"
  [currentStep]="currentStep()"
  [proceedLabel]="proceedLabel()"
  [cannotProceed]="createProjectMutation.isPending()"
  [queryParamStep]="'create-project-step'"
  (goBack)="goBack()"
  (proceed)="goToNextStep()"
>
  <ng-template #header>
    <i class="pi pi-plus me-2"></i>
    <ng-container i18n>Create new project</ng-container>
  </ng-template>
  <ng-template #step>
    <p-card>
      <h2 i18n>Project name</h2>
      <p
        i18n
        class="mb-4"
      >
        Add a name and description to your project to help your users find it.
      </p>
      <app-project-form-name #formName />
    </p-card>
  </ng-template>
  <ng-template #step>
    <p-card>
      <h2
        i18n
        class="mb-4"
      >
        Project information
      </h2>
      <app-project-form-information #formInformation />
    </p-card>
  </ng-template>
  <ng-template #step>
    <p-card>
      <h2
        i18n
        class="mb-4"
      >
        Budget
      </h2>
      <app-project-form-budget #formBudget />
    </p-card>
  </ng-template>
  <ng-template #illustration>
    <img
      ngSrc="assets/create-project.svg"
      height="1024"
      width="1024"
      alt=""
      aria-hidden="true"
      role="presentation"
    />
  </ng-template>
</app-fullscreen-stepper-dialog>
