ion-header {
  --ion-background-color: #ffc001;
}

ion-content {
  --ion-background-color: #f6f0eb;
}

.help-image-column {
  flex-grow: 0;

  .help-image {
    width: 100px;
    height: 100px;
    margin: 15px auto;
    background: white;
  }
}

.help-call-icon {
  font-size: 18px;
  vertical-align: bottom;
}

.help-back-icon {
  font-size: 24px;
}

.help-social-image {
  height: 64px;
  width: 64px;
  display: inline-block;
  margin: 16px;

  &.help-whatsapp-image {
    height: 96px;
    width: 96px;
    margin: 0;
  }
}
