<ion-row class="ion-align-items-center">
  <ion-note class="ion-margin-end">
    {{
      'page.program.program-payout.make-payment.number-included'
        | translate: { number: totalIncluded >= 0 ? totalIncluded : '?' }
    }}
  </ion-note>

  <ion-item
    [disabled]="!isEnabled"
    class="ion-margin-end"
  >
    <ion-label position="stacked">
      {{ 'page.program.program-details.fixedTransferValue' | translate }}
    </ion-label>
    <ion-input
      type="number"
      inputmode="decimal"
      min="0"
      step="0.5"
      size="4"
      required
      [(ngModel)]="amountInput"
      (ionChange)="updateTotalAmountMessage()"
      ngDefaultControl
    ></ion-input>
  </ion-item>

  <confirm-prompt
    [disabled]="!isEnabled || isInProgress"
    (confirm)="performPayment()"
    (cancel)="resetProgress()"
    [subHeader]="totalIncludedMessage"
    [message]="totalAmountMessage"
  >
    {{ 'page.program.program-payout.start-payout' | translate }}
  </confirm-prompt>
  <div
    *ngIf="paymentInProgress"
    class="ion-margin-start ion-align-items-center"
    style="display: flex"
  >
    <ion-note>
      {{ 'page.program.program-payout.in-progress' | translate }}
    </ion-note>
    <ion-button
      size="small"
      fill="clear"
      [title]="'common.update' | translate"
      [attr.aria-label]="'common.update' | translate"
      (click)="refresh()"
    >
      <ion-icon
        name="refresh"
        size="small"
        slot="icon-only"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>
  </div>

  <ion-spinner
    *ngIf="isInProgress"
    color="primary"
    class="ion-margin-start"
  ></ion-spinner>
</ion-row>
