<app-page-layout-monitoring [programId]="programId()">
  <h2 i18n>Registration information</h2>
  <div class="flex flex-row flex-wrap">
    <app-registrations-per-status-chart
      class="mbs-3 aspect-2/1 ps-12 pe-12 inline-full xl:inline-1/3"
      [programId]="programId()"
      [getLabelFunction]="getChartTextAlternative"
      [getChartOptions]="getChartOptions"
    />
    <app-registrations-per-duplicate-status-chart
      class="mbs-3 aspect-2/1 ps-12 pe-12 inline-full xl:inline-1/3"
      [programId]="programId()"
      [getLabelFunction]="getChartTextAlternative"
      [getChartOptions]="getChartOptions"
    />
    <app-registrations-by-creation-date-chart
      class="mbs-3 aspect-2/1 ps-12 pe-12 inline-full xl:inline-1/3"
      [programId]="programId()"
      [getLabelFunction]="getChartTextAlternative"
      [getChartOptions]="getChartOptions"
    />
  </div>
  <h2
    i18n
    class="mbs-5"
  >
    Payment information (last 5 payments)
  </h2>
  <div class="flex flex-row flex-wrap">
    <app-payments-aggregate-chart
      class="mbs-3 aspect-2/1 ps-12 pe-12 inline-full xl:inline-1/3"
      [programId]="programId()"
      [aggregateType]="'count'"
      [getLabelFunction]="getChartTextAlternative"
      [getChartOptions]="getChartOptions"
    />
    <app-payments-aggregate-chart
      class="mbs-3 aspect-2/1 ps-12 pe-12 inline-full xl:inline-1/3"
      [programId]="programId()"
      [aggregateType]="'transferValue'"
      [getLabelFunction]="getChartTextAlternative"
      [getChartOptions]="getChartOptions"
    />
    <app-amount-sent-per-month-chart
      class="mbs-3 aspect-2/1 ps-12 pe-12 inline-full xl:inline-1/3"
      [programId]="programId()"
      [getLabelFunction]="getChartTextAlternative"
      [getChartOptions]="getChartOptions"
    />
  </div>
</app-page-layout-monitoring>
