<app-card-with-link
  [href]="paymentLink()"
  [title]="paymentTitle()"
  [loading]="metrics.isPending()"
>
  <ng-container card-content>
    <app-card-summary-metrics-container
      data-testid="payment-summary-metrics"
      [summaryMetrics]="summaryMetrics()"
    ></app-card-summary-metrics-container>
  </ng-container>
  <ng-container card-footer>
    <div class="flex flex-row justify-between">
      <app-colored-chip-payment-approval-status
        [programId]="programId()"
        [paymentId]="paymentId()"
      />
      <span
        i18n
        class="me-2"
        >Created: {{ paymentCreationDate() }}</span
      >
    </div>
  </ng-container>
</app-card-with-link>
