<app-card-with-link
  [href]="paymentLink()"
  [title]="paymentTitle()"
  [loading]="isLatestPayment() && latestPayment.isPending()"
>
  <ng-container card-content>
    <app-card-summary-metrics-container
      data-testid="payment-summary-metrics"
      [summaryMetrics]="summaryMetrics()"
    ></app-card-summary-metrics-container>
  </ng-container>
  <ng-container card-footer>
    <div class="flex flex-row justify-between">
      <app-colored-chip-payment-approval-status
        [isPaymentApproved]="currentPaymentData().isPaymentApproved"
        [approvalsGiven]="currentPaymentData().approvalsGiven"
        [approvalsRequired]="currentPaymentData().approvalsRequired"
      />
      <span
        i18n
        class="me-2"
        >Created: {{ paymentCreationDate() }}</span
      >
    </div>
  </ng-container>
</app-card-with-link>
