<section>
  <dialogue-turn>
    <p>
      {{ 'personal.handle-proof.creating'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn *ngIf="inclusionStatus"
                 [isSpoken]="inclusionStatus"
                 isConnected="true"
  >
    <p *ngIf="inclusionStatusNegative">
      {{ 'personal.handle-proof.inclusion-status-negative'|translate }}
    </p>
    <p *ngIf="inclusionStatusPositive">
      {{ 'personal.handle-proof.inclusion-status-positive'|translate }}
    </p>
  </dialogue-turn>
</section>
