<app-header
  [title]="
    (program?.validation
      ? 'page.program.phases.registrationValidation.label'
      : 'page.program.phases.registrationValidation.label-no-validation'
    ) | translate
  "
></app-header>
<div
  class="util--flex-row ion-justify-content-between ion-align-items-end ion-padding-end"
>
  <app-program-navigation></app-program-navigation>
  <app-phase-next
    *appIfPermissions="[Permission.ProgramPhaseUPDATE]"
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="isReady"
  ></app-phase-next>
</div>

<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding ion-margin-bottom">
    <ion-row>
      <ion-col class="ion-no-padding">
        <app-bulk-import
          *appIfPermissions="[
            Permission.RegistrationCREATE,
            Permission.RegistrationImportTemplateREAD
          ]"
          [programId]="programId"
          [isTableLoading]="!isReady"
        ></app-bulk-import>
      </ion-col>
      <ion-col class="ion-justify-content-end">
        <app-disable-registration
          *appIfPermissions="[Permission.ProgramUPDATE]"
          [programId]="programId"
        ></app-disable-registration>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-program-people-affected
    #table
    *appIfPermissions="[Permission.RegistrationREAD]"
    [programId]="programId"
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>
</ion-content>
