<app-page-layout
  pageTitle="Payments"
  i18n-pageTitle="@@page-title-project-payments"
  [projectId]="projectId()"
>
  <div
    header-actions
    class="flex gap-x-2"
  >
    @if (canExport()) {
      <app-export-payments [projectId]="projectId()" />
    }
    @if (canCreatePayment()) {
      <app-create-payment [projectId]="projectId()" />
    }
  </div>

  <app-card-grid
    [empty]="paymentsSorted()?.length === 0"
    emptyTitle="No Payments found"
    i18n-emptyTitle
    emptySubtitle="There are no payments for this project yet."
    i18n-emptySubtitle
    [loading]="payments.isPending()"
  >
    @for (payment of paymentsSorted(); track $index) {
      <li>
        <app-payment-summary-card
          [projectId]="projectId()"
          [paymentId]="payment.payment"
          [paymentDate]="payment.paymentDate"
          [cardIndex]="$index"
        ></app-payment-summary-card>
      </li>
    }
  </app-card-grid>
</app-page-layout>
