<app-page-layout
  pageTitle="Payments"
  i18n-pageTitle="@@page-title-project-payments"
  [projectId]="projectId()"
>
  <div
    header-actions
    class="flex gap-x-2"
  >
    @if (canExport()) {
      <app-export-payments [projectId]="projectId()" />
    }
    @if (canCreatePayment()) {
      <app-create-payment [projectId]="projectId()" />
    }
  </div>

  @if (paymentStatus.data()?.inProgress) {
    <app-top-page-banner
      color="orange"
      data-testid="payment-in-progress-banner"
    >
      <span class="pi pi-spinner me-2 animate-spin self-center text-xl"></span>
      <strong
        class="me-1"
        i18n
        >Payment in progress</strong
      >
      <strong class="me-1">-</strong>
      <span
        i18n
        class="text-black"
        >please wait before creating a new payment.</span
      >
    </app-top-page-banner>
  }

  <app-card-grid
    [empty]="paymentsSorted()?.length === 0"
    emptyTitle="No Payments found"
    i18n-emptyTitle
    emptySubtitle="There are no payments for this project yet."
    i18n-emptySubtitle
    [loading]="payments.isPending()"
  >
    @for (payment of paymentsSorted(); track $index) {
      <li>
        <app-payment-summary-card
          [projectId]="projectId()"
          [paymentId]="payment.paymentId"
          [paymentDate]="payment.paymentDate"
          [cardIndex]="$index"
        ></app-payment-summary-card>
      </li>
    }
  </app-card-grid>
</app-page-layout>
