.metrics-totals--table {
  width: 100%;
  border-top: 1px solid var(--ion-color-light-shade);
  border-bottom: 1px solid var(--ion-color-light-shade);
}

.shaded {
  background-color: var(--ion-color-light-tint);
}
