<div
  [ngClass]="{
    'offer': true,
    'is-actionable': !showDetails
  }"
>
  <div class="offer--head">
    <ion-card class="offer--button ion-no-margin">
      <ion-img
        [src]="offer.offerIcon"
        [alt]="offer.offerName"
        class="offer--logo"
      ></ion-img>
    </ion-card>
    <div class="offer--summary ion-padding-start">
      <ion-text
        [ngClass]="{
          'offer--description': true,
          'use-overflow-scroll': !showDetails
        }"
      >
        <p>{{ offer.offerDescription }}</p>
      </ion-text>
      <ion-button
        *ngIf="offer.offerName && !showDetails"
        color="primary"
        size="small"
        class="ion-text-center"
      >
        {{ offer.offerName }}
      </ion-button>
    </div>
  </div>
  <div
    *ngIf="showDetails"
    class="offer--details ion-margin-vertical"
    color="dark"
  >
    <p *ngIf="offer.offerLink">
      <strong>
        Website:
      </strong>
      &nbsp;
      <a
        [href]="offer.offerLink"
        (click)="logClick('website')"
        target="_blank"
        rel="noopener"
      >{{ offer.offerLink }}</a>
    </p>
    <div
      *ngIf="offer.offerOpeningHoursWeekdays"
      class="ion-margin-vertical"
    >
      <strong>
        Opening Hours
        <span *ngIf="offer.offerOpeningHoursWeekends"> - Weekdays</span>:
      </strong>
      <pre class="ion-no-margin">{{ offer.offerOpeningHoursWeekdays }}</pre>
    </div>
    <div
      *ngIf="offer.offerOpeningHoursWeekends"
      class="ion-margin-vertical"
    >
      <strong>
        Opening Hours
        <span *ngIf="offer.offerOpeningHoursWeekends"> - Weekends</span>:
      </strong>
      <pre class="ion-no-margin">{{ offer.offerOpeningHoursWeekends }}</pre>
    </div>
    <p
      *ngIf="offer.offerEmail"
      class="ion-margin-vertical"
    >
      <strong>
        Email:
      </strong>
      &nbsp;
      <a
        href="mailto:{{ offer.offerEmail }}?subject=Sent via Referral App"
        (click)="logClick('email')"
      >{{ offer.offerEmail }}</a>
    </p>
    <p *ngIf="offer.offerNumber">
      <strong>
        Phone:
      </strong>
      &nbsp;
      <a
        href="tel:{{ offer.offerNumber }}"
        (click)="logClick('phone')"
      >{{ offer.offerNumber }}</a>
    </p>
    <div
      *ngIf="offer.offerAddress"
      class="ion-margin-vertical"
    >
      <strong>
        Address:
      </strong>
      <pre class="ion-no-margin">{{ offer.offerAddress }}</pre>
    </div>
    <div
      *ngIf="offer.offerWhatWillYouNeed"
      class="ion-margin-vertical"
    >
      <strong>
        What will you need?
      </strong>
      <pre class="ion-no-margin">{{ offer.offerWhatWillYouNeed }}</pre>
    </div>
    <div
      *ngIf="offer.offerBasicRight"
      class="ion-margin-vertical"
    >
      <strong>
        Basic Rights:
      </strong>
      <pre class="ion-no-margin">{{ offer.offerBasicRight }}</pre>
    </div>
  </div>
</div>
