:host,
.offer {
  display: block;

  &.is-actionable {
    cursor: pointer;
  }
}

.offer--head {
  display: flex;
  align-items: flex-start;
}
.offer--button {
  flex: 0 0 auto;
}
.offer--summary {
  flex: 1 1 auto;
  font-size: 0.9em;
}

.offer--button {
  display: flex;
  width: 150px;
  height: 150px;

  background: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
}
.offer--logo {
  width: 56%;
  height: auto;
  max-height: 56%;
  margin: auto;
  padding: 5%;
}
.offer--description {
  display: block;

  &.use-overflow-scroll {
    max-height: 120px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

a:link,
a {
  color: var(--ion-color-secondary);

  &:visited {
    color: var(--ion-color-secondary-shade);
  }
}

ion-label {
  white-space: normal !important;
}

pre {
  font-family: var(--ion-font-family-body);
  white-space: pre-wrap;
}
