<div class="offer">
  <ion-card>
    <ion-card-header>
      <ion-img
        [src]="offer.offerIcon"
        [alt]="offer.offerName"
        (click)="goBack()"
        *ngIf="goBack"
      ></ion-img>
      <ion-img
        [src]="offer.offerIcon"
        [alt]="offer.offerName"
        *ngIf="!goBack"
      ></ion-img>
      <ion-card-title class="ion-text-center">
        {{ offer.offerName }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card-content>
    <ion-text>
      <p>{{ offer.offerDescription }}</p>
    </ion-text>
  </ion-card-content>
  <div class="ion-margin" *ngIf="showDetails">
    <ion-item *ngIf="offer.offerLink">
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>
        Website:
        <a href="{{ offer.offerLink }}" (click)="logClick('website')">{{
          offer.offerLink
        }}</a>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="offer.offerOpeningHoursWeekdays">
      <ion-icon name="clock" slot="start"></ion-icon>
      <ion-label>
        Opening Hours
        <span *ngIf="offer.offerOpeningHoursWeekends"> - Weekdays</span>:
        <pre class="ion-margin">{{ offer.offerOpeningHoursWeekdays }}</pre>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="offer.offerOpeningHoursWeekends">
      <ion-icon name="clock" slot="start"></ion-icon>
      <ion-label>
        Opening Hours
        <span *ngIf="offer.offerOpeningHoursWeekends"> - Weekends</span>:
        <pre class="ion-margin">{{ offer.offerOpeningHoursWeekends }}</pre>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="offer.offerEmail">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        Email:
        <a
          href="mailto:{{ offer.offerEmail }}?subject=Sent via Referral App"
          (click)="logClick('email')"
        >
          {{ offer.offerEmail }}
        </a>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="offer.offerNumber">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>
        Phone:
        <a href="tel:{{ offer.offerNumber }}" (click)="logClick('phone')">{{
          offer.offerNumber
        }}</a>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="offer.offerAddress">
      <ion-icon name="compass" slot="start"></ion-icon>
      <ion-label>
        Address:
        <pre class="ion-margin">{{ offer.offerAddress }}</pre>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="offer.offerCapacity">
      <ion-icon name="contacts" slot="start"></ion-icon>
      <ion-label>
        Capacity:
        <pre class="ion-margin">{{ offer.offerCapacity }}</pre>
      </ion-label>
    </ion-item>
  </div>
</div>
