<app-page-layout [programId]="programId()">
  <div class="grid gap-4 inline-full md:grid-cols-10">
    <aside class="md:col-span-2">
      <h1
        i18n="@@page-heading-program-settings"
        class="pbe-6"
      >
        Program settings
      </h1>
      <ul class="space-y-3">
        @for (item of menuItems(); track $index) {
          @if (item.visible) {
            <li>
              <a
                [routerLink]="item.routerLink"
                class="txt-body-m hover:text-purple focus:text-purple flex cursor-pointer items-center gap-2 border-s border-s-transparent ps-1 font-semibold text-black"
                [class.text-purple]="isParentActive(item.routerLink)"
                [class.border-s-purple!]="isParentActive(item.routerLink)"
              >
                <i [class]="item.icon"></i>
                {{ item.label }}
              </a>
              <ul class="mbs-2 space-y-2 ps-8">
                @for (subItem of item.items; track $index) {
                  @if (subItem.visible ?? true) {
                    <li>
                      <a
                        [routerLink]="subItem.routerLink"
                        routerLinkActive="font-semibold"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="txt-body-m hover:text-purple focus:text-purple text-black"
                      >
                        {{ subItem.label }}
                      </a>
                    </li>
                  }
                }
              </ul>
            </li>
          }
        }
      </ul>
    </aside>
    <main class="md:col-span-6">
      <ng-content></ng-content>
    </main>
    <aside class="md:col-span-2"></aside>
  </div>
</app-page-layout>
