ion-chip {
  height: 22px;
  font-size: 14px;
  opacity: 1;
  margin: 0;

  &.active {
    --background: var(--fiveten-success-200);
    --color: var(--ion-color-status-successful-text);
  }

  &.inactive {
    --background: var(--ion-color-light-shade);
    --color: var(--ion-color-medium);
  }
}

.meatball-menu-button {
  display: block;
  width: 42px;
  margin-left: auto;
}
