<section>
  <dialogue-turn>
    <p>
      <play-text-audio key="personal.login-identity.introduction" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.login-identity.introduction'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self">
    <form (ngSubmit)="submitLoginCredentials(username,password)">
      <div>
        <div>
          <play-text-audio key="personal.login-identity.supply-username" class="ion-margin-end"></play-text-audio>
          <ion-label>{{ 'personal.login-identity.supply-username'|translate }}</ion-label>
          <ion-input type="text"
                      name="username"
                      [(ngModel)]="username"
                      ngDefaultControl
                      [disabled]="isDisabled"
          ></ion-input>
        </div>
        <ion-row *ngIf="username && !usernameSubmitted"
                 class="ion-nowrap ion-align-items-center ion-margin-top"
        >
          <play-text-audio key="personal.login-identity.submit-username"
                           size="default"
          ></play-text-audio>
          <ion-button [disabled]="isInProgress || isDisabled"
                      (click)="usernameSubmitted=true;"
                      type="button"
                      expand="block"
                      style="flex-basis:100%"
          >{{ 'personal.login-identity.submit-username'|translate }}</ion-button>
        </ion-row>
      </div>
      <div *ngIf="usernameSubmitted" class="ion-margin-bottom">
        <play-text-audio key="personal.login-identity.supply-password" class="ion-margin-end"></play-text-audio>
        <password-toggle-input name="password"
                               [(ngModel)]="password"
                               ngDefaultControl
                               [disabled]="isDisabled"
                               autocomplete="current-password"
                               [label]="'personal.login-identity.supply-password'|translate"
                               [labelShow]="'password-toggle.show'|translate"
                               [labelHide]="'password-toggle.hide'|translate"
        ></password-toggle-input>
      </div>
      <ion-row *ngIf="password && !isDisabled"
                class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="personal.login-identity.submit-password"
                         size="default"
        ></play-text-audio>
        <ion-button *ngIf="password && !isDisabled"
                    [disabled]="isInProgress || isDisabled"
                    type="submit"
                    expand="block"
                    style="flex-basis:100%"
        >{{ 'personal.login-identity.submit-password'|translate }}</ion-button>
      </ion-row>
    </form>
  </dialogue-turn>
  <dialogue-turn *ngIf="incorrectCredentials"
                 [isSpoken]="incorrectCredentials"
  >
    <p>
      <play-text-audio key="personal.login-identity.incorrect-credentials" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.login-identity.incorrect-credentials'|translate }}
    </p>
  </dialogue-turn>
</section>
