<section #meetingReminder>
  <dialogue-turn [actor]="program?.ngo">
    <p>
      <play-text-audio key="personal.meeting-reminder.meeting-reminder" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.meeting-reminder.meeting-reminder'|translate }}
    </p>
    <p>
      {{ 'personal.meeting-reminder.from'|translate }}:
      <strong>
        {{ chosenTimeslot?.startDate|date:dateFormat }}: {{ chosenTimeslot?.startDate|date:timeFormat }}
      </strong>
      <br>
      {{ 'personal.meeting-reminder.till'|translate }}:
      <strong>
        {{ chosenTimeslot?.endDate|date:dateFormat }}: {{ chosenTimeslot?.endDate|date:timeFormat }}
      </strong>
      <br>
      {{ 'personal.meeting-reminder.at'|translate }}:
      <strong>{{ chosenTimeslot?.location }}</strong>
    </p>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 isConnected="true"
                 *ngIf="meetingDocuments?.length"
                 [isSpoken]="meetingDocuments?.length"
  >
    <p>
      <play-text-audio key="personal.meeting-reminder.documents" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.meeting-reminder.documents'|translate }}
    </p>
    <ul class="ion-no-padding ion-padding-start">
      <li *ngFor="let document of meetingDocuments">
        {{ document }}
      </li>
    </ul>

    <more-info-button buttonKey="personal.meeting-reminder.more-info-documents"
                      headingKey="personal.meeting-reminder.more-info-documents"
                      messageKey="personal.meeting-reminder.info-message"
    ></more-info-button>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 isConnected="true"
                 *ngIf="showQrCode"
                 [isSpoken]="showQrCode"
  >
    <p>
      <play-text-audio key="personal.meeting-reminder.qr-code" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.meeting-reminder.qr-code'|translate }}
    </p>
    <div *ngIf="qrDataString"
         text-center
         margin-vertical
         style="margin: 1em auto; max-width: 360px; padding: 1em; background: white;"
    >
      <qrcode [qrdata]="qrDataString"
              level="H"
      ></qrcode>
    </div>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 *ngIf="qrDataString && (daysToMeeting > 0)"
                 [isSpoken]="qrDataString && (daysToMeeting > 0)"
                 isConnected="true"
  >
    <ng-container *ngIf="daysToMeeting > 1">
      <play-text-audio key="personal.meeting-reminder.meeting-count-down" class="ion-float-start ion-margin-end"></play-text-audio>
      <p [innerHTML]="'personal.meeting-reminder.meeting-count-down'|translate:{ daysToMeeting:'<strong>'+daysToMeeting+'</strong>' }"></p>
    </ng-container>
    <p *ngIf="daysToMeeting === 1">
      <play-text-audio key="personal.meeting-reminder.meeting-tomorrow" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.meeting-reminder.meeting-tomorrow'|translate }}
    </p>
    <p *ngIf="daysToMeeting === 0">
      <play-text-audio key="personal.meeting-reminder.meeting-today" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.meeting-reminder.meeting-today'|translate }}
    </p>
  </dialogue-turn>
</section>
