<section>
  <dialogue-turn [actor]="programDetails?.ngo"
                 [hidden]="!programDetails?.title"
  >
    <p [innerHTML]="'personal.enroll-in-program.introduction'|translate:{ programTitle:programDetails?.title, ngo:programDetails?.ngo }"></p>
    <p>
      {{ 'personal.enroll-in-program.introduction-questions'|translate }}
    </p>
    <p>
      <more-info-button [message]="'personal.enroll-in-program.info-message'|translate"
                        [heading]="'personal.enroll-in-program.more-info-questions'|translate"
      >
        {{ 'personal.enroll-in-program.more-info-questions'|translate }}
      </more-info-button>
    </p>
  </dialogue-turn>

  <q-and-a-set [questions]="questions"
               [(isSubmitted)]="hasAnswered"
               [(isEditing)]="hasChangedAnswers"
               (submit)="submit($event)"
               [submitLabel]="'personal.enroll-in-program.submit'|translate"
  ></q-and-a-set>

  <dialogue-turn [actor]="programDetails?.ngo"
                 *ngIf="dobFeedback"
                 [isSpoken]="dobFeedback"
  >
    <p>
      {{ 'personal.enroll-in-program.dob-feedback'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn [actor]="programDetails?.ngo"
                 *ngIf="hasAnswered"
                 [isSpoken]="hasAnswered"
  >
    <p>
      {{ 'personal.enroll-in-program.please-confirm'|translate }}
    </p>
    <p>
      <more-info-button [message]="'personal.enroll-in-program.info-message-share'|translate"
                        [heading]="'personal.enroll-in-program.more-info-share'|translate"
      >
        {{ 'personal.enroll-in-program.more-info-share'|translate }}
      </more-info-button>
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="hasAnswered"
                 [isSpoken]="hasAnswered"
  >
    <ul>
      <li *ngFor="let question of questions">
        {{ question.label }}<br>
        <strong>{{ answers[question.code]?.label }}</strong>
      </li>
    </ul>

    <p class="ion-margin-top">
      <ion-button type="submit"
                  (click)="submitConfirm()"
                  [disabled]="isDisabled"
                  expand="block"
      >
        {{ 'personal.enroll-in-program.submit-confirm'|translate }}
      </ion-button>
      <ion-button type="button"
                  (click)="changeAnswers()"
                  [disabled]="isDisabled"
                  expand="block"
                  fill="outline"
      >
        {{ 'personal.enroll-in-program.change'|translate }}
      </ion-button>
    </p>
  </dialogue-turn>
</section>
