<section>
  <dialogue-turn [actor]="program?.ngo" [hidden]="!programTitle">
    <p [innerHTML]="'personal.enroll-in-program.introduction'|translate:{ programTitle:programTitle, ngo:ngo }"></p>
    <p>
      {{ 'personal.enroll-in-program.introduction-questions'|translate }}
    </p>
    <p>
      <ion-button type="button" size="small">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        {{ 'personal.enroll-in-program.more-info-questions'|translate }}
      </ion-button>
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngFor="let question of questions; let i=index; first as isFirst;"
                [isConnected]="!isFirst"
                [isSpoken]="isFirst"
  >
    <ion-label>
      {{ question.label }}
    </ion-label>
    <div [ngSwitch]="question.answerType">
      <div *ngSwitchCase="answerTypes.Enum">
        <ion-radio-group [name]="question.code"
                         (ionChange)="changeAnswers($event)"
        >
          <ion-item *ngFor="let option of question.options"
                    color="light"
          >
            <ion-label>{{ option.label }}</ion-label>
            <ion-radio [value]="option.value"
                       [disabled]="hasAnswered"
            ></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div *ngSwitchCase="answerTypes.Number">
        <ion-input type="number"
                   inputmode="numeric"
                   pattern="[0-9]*"
                   [name]="question.code"
                   (input)="inputAnswers($event)"
                   (change)="changeAnswers($event)"
                   [disabled]="hasAnswered"
        ></ion-input>
      </div>
      <div *ngSwitchCase="answerTypes.Date">
        <ion-input type="date"
                   placeholder="dd-mm-yyyy"
                   [name]="question.code"
                   (change)="changeAnswers($event)"
                   [disabled]="hasAnswered"
        ></ion-input>
      </div>
      <div *ngSwitchDefault>
        <ion-input type="text"
                   [name]="question.code"
                   (input)="inputAnswers($event)"
                   (change)="changeAnswers($event)"
                   [disabled]="hasAnswered"
        ></ion-input>
      </div>
    </div>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 isConnected="true"
                 *ngIf="allQuestionsShown"
                 [isSpoken]="allQuestionsShown"
  >
    <p>
      <ion-button type="submit"
                  (click)="submit()"
                  [disabled]="hasAnswered"
                  expand="block"
      >
        {{ 'personal.enroll-in-program.submit'|translate }}
      </ion-button>
    </p>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 *ngIf="dobFeedback"
                 [isSpoken]="dobFeedback"
  >
    <p>
      {{ 'personal.enroll-in-program.dob-feedback'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 *ngIf="hasAnswered"
                 [isSpoken]="hasAnswered"
  >
    <p>
      {{ 'personal.enroll-in-program.please-confirm'|translate }}
    </p>
    <p>
      <ion-button type="button" size="small">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        {{ 'personal.enroll-in-program.more-info-share'|translate }}
      </ion-button>
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="hasAnswered"
                 [isSpoken]="hasAnswered"
  >
    <ul>
      <li *ngFor="let question of questions">
        {{ question.label }}<br>
        <strong>{{ answers[question.code]?.label }}</strong>
      </li>
    </ul>

    <p class="ion-margin-top">
      <ion-button type="submit"
                  (click)="submitConfirm()"
                  [disabled]="isDisabled"
                  expand="block"
      >
        {{ 'personal.enroll-in-program.submit-confirm'|translate }}
      </ion-button>
      <ion-button type="button"
                  (click)="change()"
                  [disabled]="isDisabled"
                  expand="block"
                  fill="outline"
      >
        {{ 'personal.enroll-in-program.change'|translate }}
      </ion-button>
    </p>
  </dialogue-turn>
  <dialogue-turn *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
                 [actor]="program?.ngo"
  >
    <p>
      {{ 'personal.enroll-in-program.confirm-received'|translate }}
    </p>
    <p>
      <ion-button type="button" size="small">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        {{ 'personal.enroll-in-program.more-info-activation'|translate }}
      </ion-button>
    </p>
  </dialogue-turn>
  <dialogue-turn *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
                 [actor]="program?.ngo"
                 isConnected="true"
  >
    <p>
      {{ 'personal.enroll-in-program.prepare-documents'|translate }}
    </p>
    <ul class="ion-no-padding ion-padding-start">
      <li *ngFor="let document of program?.meetingDocuments">
        {{ document }}
      </li>
    </ul>
  </dialogue-turn>
</section>
