// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Custom Fonts
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
    url('/assets/fonts/open-sans/OpenSans-Regular-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'),
    url('/assets/fonts/open-sans/OpenSans-Bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/open-sans/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'montserrat_webfont';
  src: local('Montserrat Bold'),
    url('/assets/fonts/montserrat/montserrat-bold-webfont.woff2')
      format('woff2'),
    url('/assets/fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}
