<app-card-editable
  header="Budget"
  i18n-header="@@card-title-project-settings-budget"
  editPencilTitle="Edit budget"
  i18n-editPencilTitle
  [canEdit]="canEdit()"
  [(isEditing)]="isEditing"
  [formGroup]="formGroup()"
  [mutation]="updateProjectMutation"
  [mutationData]="formGroup()?.getRawValue()"
>
  @if (!isEditing()) {
    <app-data-list
      [data]="dataListData()"
      data-testid="project-budget-data-list"
    />
  } @else {
    <app-project-form-budget
      #projectFormBudget
      [project]="project.data()"
    />
  }
</app-card-editable>
