<p-button
  label="Import"
  i18n-label
  (click)="dialogVisible.set(true)"
  icon="pi pi-download"
  outlined
  rounded
></p-button>

<app-import-file-dialog
  [(dialogVisible)]="dialogVisible"
  [mutation]="importRegistrationsMutation"
  accept=".csv,text/csv,text/comma-separated-values,application/csv"
  header="Import registrations"
  i18n-header
>
  <p i18n>The system will create registrations with the status “registered”.</p>
  <p i18n>
    Make sure to match the required format of the template CSV-file. Download
    the template
    <p-button
      [link]="true"
      (click)="downloadImportRegistrationsTemplateMutation.mutate()"
      >here</p-button
    >.
  </p>
  <p i18n>The import takes about 1 minute per 100 records</p>
</app-import-file-dialog>
