<div
  *ngIf="program"
  class="util--flex-row ion-align-items-center ion-margin-vertical util--page-margin-end"
  [style.font-size.rem]="0.8125"
  [style.font-weight]="500"
  [style.min-height.rem]="2.1"
>
  <ion-label class="util--half-margin-end">
    {{
      'page.program.tab.people-affected.toggleText-enable-registrations'
        | translate
    }}&nbsp;
  </ion-label>
  <ion-toggle
    [(ngModel)]="publishedStatus"
    (click)="updateRegistrationStatus()"
    onKeyPress=""
  ></ion-toggle>
</div>
