<p-buttonGroup>
  <p-button
    label="Validate"
    i18n-label
    icon="pi pi-check-circle"
    outlined="true"
    rounded="true"
  />
  <p-button
    label="Include"
    i18n-label
    icon="pi pi-check"
    outlined="true"
  />
  <p-button
    label="Decline"
    i18n-label
    icon="pi pi-times"
    outlined="true"
  />
  <p-button
    label="Pause"
    i18n-label
    icon="pi pi-pause"
    outlined="true"
  />
  <p-button
    label="Message"
    i18n-label
    icon="pi pi-envelope"
    outlined="true"
  />
  <p-button
    icon="pi pi-ellipsis-v"
    outlined="true"
    rounded="true"
  />
</p-buttonGroup>
