<ng-template
  #statContainer
  let-statAmount="statAmount"
  let-statName="statName"
>
  <div class="ion-padding">
    <ion-col>
      <ion-text color="dark">
        <h1>
          <strong>
            {{ statAmount }}
          </strong>
        </h1>
      </ion-text>
      <ion-text>
        <small>
          <strong>
            {{ 'page.programs-list.card.' + statName | translate }}
            <span *ngIf="statName === 'budget' || statName === 'spent'"
              >({{ program.currency }})</span
            >
          </strong>
        </small>
      </ion-text>
    </ion-col>
  </div>
</ng-template>

<ion-card
  *ngIf="program"
  [routerLink]="['/program', program.id, 'dashboard']"
>
  <ion-card-header>
    <ion-row class="ion-padding-horizontal">
      <ion-col size="10">
        <ion-card-title color="primary">
          <strong class="program-title">{{ program.titlePortal }}</strong>
        </ion-card-title>
        <ion-card-subtitle color="medium">
          <small>
            <strong>
              {{ 'page.programs-list.card.updated' | translate }}
              {{ program.updated | date: 'yyyy-MM-dd, HH:mm' }}
            </strong>
          </small>
        </ion-card-subtitle>
      </ion-col>
      <ion-col
        size="2"
        class="ion-no-padding ion-text-end"
      >
        <!-- <ion-button fill="clear" color="dark" size="small">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </ion-button> -->
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content class="porgram-card--central-content">
    <div>
      <ion-grid class="ion-no-padding">
        <ion-row class="border-bottom">
          <ion-col class="border-right">
            <ng-container
              *ngTemplateOutlet="
                statContainer;
                context: {
                  statAmount:
                    programStats?.targetedPeople > 0
                      ? programStats?.targetedPeople
                      : '-',
                  statName: 'targeted'
                }
              "
            ></ng-container>
          </ion-col>
          <ion-col>
            <ng-container
              *ngTemplateOutlet="
                statContainer;
                context: {
                  statAmount:
                    programStats?.includedPeople > 0
                      ? programStats?.includedPeople
                      : '-',
                  statName: 'included'
                }
              "
            ></ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="border-right">
            <div class="ion-padding">
              <ion-col>
                <!-- <ng-container
              *ngTemplateOutlet="
                statContainer;
                context: {
                  statAmount:
                    programStats?.totalBudget > 0
                    ? (programStats?.totalBudget | number: '1.0-0')
                    : '-',
                  statName: 'budget'
                }
              "
            ></ng-container> -->
              </ion-col>
            </div>
          </ion-col>
          <ion-col>
            <ng-container
              *ngTemplateOutlet="
                statContainer;
                context: {
                  statAmount:
                    programStats?.spentMoney > 0
                      ? (programStats?.spentMoney | number: '1.0-0')
                      : '-',
                  statName: 'spent'
                }
              "
            ></ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
  <ion-card-content>
    <div class="ion-margin-top ion-padding-horizontal">
      <ion-progress-bar [value]="progress"></ion-progress-bar>
      <ion-text>
        <small>
          <strong>
            {{ 'page.programs-list.card.status' | translate }}
            {{ 'page.program.phases.' + program.phase + '.label' | translate }}
          </strong>
        </small>
      </ion-text>
    </div>
  </ion-card-content>
</ion-card>
