<section #createIdentity>
    <dialogue-turn>
      <p>
        {{ 'personal.create-identity.introduction'|translate }}
      </p>
      <p>
        <more-info-button [message]="'personal.create-identity.info-message'|translate"
                          [heading]="'personal.create-identity.more-info-digital-id'|translate"
        >
          {{ 'personal.create-identity.more-info-digital-id'|translate }}
        </more-info-button>
      </p>
    </dialogue-turn>
    <dialogue-turn isConnected="true"
                   *ngIf="useLocalStorage"
                   [isSpoken]="useLocalStorage"
    >
      <p>
        {{ 'personal.create-identity.password-only'|translate }}
      </p>
      <p>
        <more-info-button [message]="'personal.create-identity.info-message-password'|translate"
                          [heading]="'personal.create-identity.more-info-password'|translate"
        >
          {{ 'personal.create-identity.more-info-password'|translate }}
        </more-info-button>
      </p>
    </dialogue-turn>
    <dialogue-turn isConnected="true"
                   *ngIf="!useLocalStorage"
                   [isSpoken]="!useLocalStorage"
    >
      <p>
        {{ 'personal.create-identity.username-password'|translate }}
      </p>
      <p>
        <more-info-button [message]="'personal.create-identity.info-message-username-pw'|translate"
                          [heading]="'personal.create-identity.more-info-username-pw'|translate"
        >
          {{ 'personal.create-identity.more-info-username-pw'|translate }}
        </more-info-button>
      </p>
    </dialogue-turn>
    <dialogue-turn actor="self">
      <form (ngSubmit)="submitCredentials(username,create,confirm)">
        <div *ngIf="!useLocalStorage">
          <div>
            <ion-label>{{ 'personal.create-identity.create-username'|translate }}</ion-label>
            <ion-input type="text"
                        name="username"
                        [(ngModel)]="username"
                        ngDefaultControl
                        [disabled]="isDisabled"
            ></ion-input>
          </div>
          <div class="ion-margin-top">
            <ion-button *ngIf="username && !usernameSubmitted"
                        [disabled]="isInProgress || isDisabled"
                        (click)="usernameSubmitted=true;"
                        type="button"
                        expand="block"
            >{{ 'personal.create-identity.submit-username'|translate }}</ion-button>
          </div>
        </div>
        <div *ngIf="usernameSubmitted || useLocalStorage" class="ion-margin-bottom">
          <p>{{ 'personal.create-identity.create-password-explanation'|translate:{ minimalLength: passwordMinLength } }}</p>
          <password-toggle-input name="create"
                                 [(ngModel)]="create"
                                 ngDefaultControl
                                 [disabled]="isDisabled"
                                 autocomplete="new-password"
                                 [minLength]="passwordMinLength"
                                 [label]="'personal.create-identity.create-password'|translate"
                                 [labelShow]="'password-toggle.show'|translate"
                                 [labelHide]="'password-toggle.hide'|translate"
                                 [(isValid)]="createIsValid"
          ></password-toggle-input>
          <div class="ion-margin-top">
            <p *ngIf="!createIsValid">{{ 'personal.create-identity.password-too-short'|translate:{ minimalLength: passwordMinLength } }}</p>
            <ion-button *ngIf="create && !initialInput"
                        (click)="initialInput=true;"
                        type="button"
                        expand="block"
            >{{ 'personal.create-identity.submit-password'|translate }}</ion-button>
          </div>
        </div>

        <div *ngIf="initialInput">
          <p>{{ 'personal.create-identity.confirm-password'|translate }}</p>
          <password-toggle-input name="confirm"
                                 [(ngModel)]="confirm"
                                 ngDefaultControl
                                 [disabled]="isDisabled"
                                 autocomplete="new-password"
                                 [minLength]="passwordMinLength"
                                 [label]="'personal.create-identity.confirm-password'|translate"
                                 [labelShow]="'password-toggle.show'|translate"
                                 [labelHide]="'password-toggle.hide'|translate"
          ></password-toggle-input>
          <div class="ion-margin-top">
            <ion-button *ngIf="create && confirm && !isDisabled"
                        [disabled]="isInProgress || isDisabled"
                        type="submit"
                        expand="block"
            >{{ 'personal.create-identity.submit-password'|translate }}</ion-button>
          </div>
        </div>
      </form>
    </dialogue-turn>
    <dialogue-turn *ngIf="unequalPasswords"
                   [isSpoken]="unequalPasswords"
    >
      <p>
        {{ 'personal.create-identity.unequal-passwords'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="usernameNotUnique"
                   [isSpoken]="usernameNotUnique"
    >
      <p>
        {{ 'personal.create-identity.username-not-unique'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="isDisabled"
                   [isSpoken]="isDisabled"
    >
      <p>
        {{ 'personal.create-identity.conclusion'|translate }}
      </p>
    </dialogue-turn>
  </section>
