<section>
    <dialogue-turn>
      <play-text-audio key="personal.create-identity.introduction" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.create-identity.introduction'|translate }}
      </p>
      <p>
        <more-info-button buttonKey="personal.create-identity.more-info-digital-id"
                          messageKey="personal.create-identity.info-message"
                          headingKey="personal.create-identity.more-info-digital-id"
        ></more-info-button>
    </dialogue-turn>
    <dialogue-turn isConnected="true"
                   *ngIf="useLocalStorage"
                   [isSpoken]="useLocalStorage"
    >
      <play-text-audio key="personal.create-identity.password-only" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.create-identity.password-only'|translate }}
      </p>
      <p>
        <more-info-button buttonKey="personal.create-identity.more-info-password"
                          messageKey="personal.create-identity.info-message-password"
                          headingKey="personal.create-identity.more-info-password"
        ></more-info-button>
      </p>
    </dialogue-turn>
    <dialogue-turn isConnected="true"
                   *ngIf="!useLocalStorage"
                   [isSpoken]="!useLocalStorage"
    >
      <play-text-audio key="personal.create-identity.username-password" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.create-identity.username-password'|translate }}
      </p>
      <p>
        <more-info-button buttonKey="personal.create-identity.more-info-username-pw"
                          messageKey="personal.create-identity.info-message-username-pw"
                          headingKey="personal.create-identity.more-info-username-pw"
        ></more-info-button>
      </p>
    </dialogue-turn>
    <dialogue-turn actor="self">
      <form (ngSubmit)="submitCredentials(username,create,confirm)">
        <input type="submit" hidden /><!-- Include hidden submit-button to enable "enter"-key to trigger ngSubmit -->

        <div *ngIf="!useLocalStorage">
          <div>
            <play-text-audio key="personal.create-identity.create-username" class="ion-margin-end"></play-text-audio>
            <ion-label>{{ 'personal.create-identity.create-username'|translate }}</ion-label>
            <ion-input type="text"
                        name="username"
                        [(ngModel)]="username"
                        ngDefaultControl
                        [disabled]="isDisabled"
            ></ion-input>
          </div>
          <ion-row *ngIf="username && !usernameSubmitted"
                   class="ion-nowrap ion-align-items-center ion-margin-top"
          >
            <play-text-audio key="personal.create-identity.submit-username"></play-text-audio>
            <ion-button [disabled]="usernameSubmitted || isDisabled"
                        type="submit"
                        expand="block"
                        style="flex-basis:100%"
            >{{ 'personal.create-identity.submit-username'|translate }}</ion-button>
          </ion-row>
        </div>
        <div *ngIf="usernameSubmitted || useLocalStorage"
             class="ion-margin-vertical"
        >
          <p>
            <play-text-audio key="personal.create-identity.create-password-explanation" class="ion-margin-end"></play-text-audio>
            {{ 'personal.create-identity.create-password-explanation'|translate:{ minimalLength: passwordMinLength } }}
          </p>
          <password-toggle-input name="create"
                                 [(ngModel)]="create"
                                 ngDefaultControl
                                 [disabled]="isDisabled"
                                 autocomplete="new-password"
                                 [minLength]="passwordMinLength"
                                 [label]="'personal.create-identity.create-password'|translate"
                                 [labelShow]="'password-toggle.show'|translate"
                                 [labelHide]="'password-toggle.hide'|translate"
                                 [(isValid)]="createIsValid"
          ></password-toggle-input>
          <div *ngIf="createIsValid === false" class="ion-margin-vertical">
            <play-text-audio key="personal.create-identity.password-too-short" class="ion-margin-end"></play-text-audio>
            <p>{{ 'personal.create-identity.password-too-short'|translate:{ minimalLength: passwordMinLength } }}</p>
          </div>
          <ion-row *ngIf="create && !initialInput"
                   class="ion-nowrap ion-align-items-center ion-margin-top"
          >
            <play-text-audio key="personal.create-identity.submit-password"></play-text-audio>
            <ion-button [disabled]="!createIsValid || initialInput || isDisabled"
                        type="submit"
                        expand="block"
                        style="flex-basis:100%"
            >{{ 'personal.create-identity.submit-password'|translate }}</ion-button>
          </ion-row>
        </div>

        <div *ngIf="initialInput">
          <play-text-audio key="personal.create-identity.confirm-password" class="ion-margin-end"></play-text-audio>
          <password-toggle-input name="confirm"
                                 [(ngModel)]="confirm"
                                 ngDefaultControl
                                 [disabled]="isDisabled"
                                 autocomplete="new-password"
                                 [minLength]="passwordMinLength"
                                 [label]="'personal.create-identity.confirm-password'|translate"
                                 [labelShow]="'password-toggle.show'|translate"
                                 [labelHide]="'password-toggle.hide'|translate"
          ></password-toggle-input>
          <ion-row *ngIf="create && confirm && !isDisabled"
                   class="ion-nowrap ion-align-items-center ion-margin-top"
          >
            <play-text-audio key="personal.create-identity.submit-password"></play-text-audio>
            <ion-button [disabled]="isInProgress || isDisabled"
                        type="submit"
                        expand="block"
                        style="flex-basis:100%"
            >{{ 'personal.create-identity.submit-password'|translate }}</ion-button>
          </ion-row>
        </div>
      </form>
    </dialogue-turn>
    <dialogue-turn *ngIf="unequalPasswords"
                   [isSpoken]="unequalPasswords"
    >
      <play-text-audio key="personal.create-identity.unequal-passwords" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.create-identity.unequal-passwords'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="usernameNotUnique"
                   [isSpoken]="usernameNotUnique"
    >
      <play-text-audio key="personal.create-identity.username-not-unique" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.create-identity.username-not-unique'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="isDisabled"
                   [isSpoken]="isDisabled"
    >
      <play-text-audio key="personal.create-identity.conclusion" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.create-identity.conclusion'|translate }}
      </p>
    </dialogue-turn>
  </section>
