<section #createPassword>
    <dialogue-turn>
      <p>
        {{ 'personal.create-password.introduction'|translate }}
      </p>
      <p>
        <ion-button type="button" size="small">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          {{ 'personal.create-password.more-info-digital-id'|translate }}
        </ion-button>
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="useLocalStorage">
      <p>
        {{ 'personal.create-password.password-only'|translate }}
      </p>
      <p>
        <ion-button type="button" size="small">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          {{ 'personal.create-password.more-info-password'|translate }}
        </ion-button>
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="!useLocalStorage">
      <p>
        {{ 'personal.create-password.username-password'|translate }}
      </p>
      <p>
        <ion-button type="button" size="small">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          {{ 'personal.create-password.more-info-username-pw'|translate }}
        </ion-button>
      </p>
    </dialogue-turn>
    <dialogue-turn actor="self">
      <form (ngSubmit)="submitCredentials(username,create,confirm)">
        <div *ngIf="!useLocalStorage">
          <div>
            <ion-label>{{ 'personal.create-password.create-username'|translate }}</ion-label>
            <ion-input type="text"
                        name="username"
                        [(ngModel)]="username"
                        ngDefaultControl
                        [disabled]="isDisabled"
            ></ion-input>
          </div>
          <div class="ion-margin-top">
            <ion-button *ngIf="username && !usernameSubmitted"
                        [disabled]="isInProgress || isDisabled"
                        (click)="usernameSubmitted=true;"
                        type="button"
                        expand="block"
            >{{ 'personal.create-password.submit-username'|translate }}</ion-button>
          </div>
        </div>
        <div *ngIf="usernameSubmitted || useLocalStorage" class="ion-margin-bottom">
          <ion-label>{{ 'personal.create-password.create-password'|translate }}</ion-label>
          <ion-input type="password"
                     name="create"
                     [(ngModel)]="create"
                     ngDefaultControl
                     [disabled]="isDisabled"
                     autocomplete="new-password"
          ></ion-input>
        </div>
        <div class="ion-margin-top">
          <ion-button *ngIf="create && !initialInput"
                      (click)="initialInput=true;"
                      type="button"
                      expand="block"
          >{{ 'personal.create-password.submit-password'|translate }}</ion-button>
        </div>
        <div *ngIf="initialInput">
          <div>
            <ion-label>{{ 'personal.create-password.confirm-password'|translate }}</ion-label>
            <ion-input type="password"
                       name="confirm"
                       [(ngModel)]="confirm"
                       ngDefaultControl
                       [disabled]="isDisabled"
            ></ion-input>
          </div>
          <div class="ion-margin-top">
            <ion-button *ngIf="create && confirm && !isDisabled"
                        [disabled]="isInProgress || isDisabled"
                        type="submit"
                        expand="block"
            >{{ 'personal.create-password.submit-password'|translate }}</ion-button>
          </div>
        </div>
      </form>
    </dialogue-turn>
    <dialogue-turn *ngIf="unequalPasswords"
                   [isSpoken]="unequalPasswords"
    >
      <p>
        {{ 'personal.create-password.unequal-passwords'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="usernameNotUnique"
                   [isSpoken]="usernameNotUnique"
    >
      <p>
        {{ 'personal.create-password.username-not-unique'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn *ngIf="isDisabled"
                   [isSpoken]="isDisabled"
    >
      <p>
        {{ 'personal.create-password.conclusion'|translate }}
      </p>
    </dialogue-turn>
  </section>
