<ion-list>
  <ion-item lines="none">
    <ion-icon
      name="globe-outline"
      slot="start"
      style="margin-right: 8px"
    ></ion-icon>
    <ion-select
      *ngIf="languages"
      [value]="selectedLanguage | async"
      interface="popover"
      (ionChange)="selectLanguage($event.detail.value)"
    >
      <ion-select-option
        *ngFor="let language of languages"
        [value]="language.code"
      >
        {{ language.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
