<p-dialog
  [modal]="true"
  [closeOnEscape]="false"
  [(visible)]="dialogVisible"
  (onShow)="resetForm()"
  styleClass="max-w-[46rem]"
>
  <ng-template pTemplate="header">
    <h3>
      <i class="pi pi-download me-2"></i>
      <ng-container>{{ header() }}</ng-container>
    </h3>
  </ng-template>

  <form
    class="space-y-3"
    [formGroup]="formGroup"
    (ngSubmit)="onFormSubmit()"
  >
    <ng-content select="[pre-file-input]"></ng-content>
    <div>
      <app-file-upload-control
        formControlName="file"
        [accept]="accept()"
        (clearFiles)="resetForm()"
      ></app-file-upload-control>
      <app-form-error [error]="formFieldErrors()('file')" />
    </div>
    @if (mutation().isError() || detailedImportErrors()) {
      <div class="mt-4">
        @let detailedErrors = detailedImportErrors();

        @if (detailedErrors) {
          <app-form-error
            error="Something went wrong with this import. Please fix the errors reported below and try again."
            i18n-error
          />

          <p-scrollPanel
            styleClass="border-grey-300 bg-grey-100 max-h-60 w-full border p-4"
          >
            @for (error of detailedErrors; track $index) {
              <pre class="whitespace-pre-wrap">{{ error | json }}</pre>
            }
          </p-scrollPanel>
        } @else {
          <app-form-error [error]="mutation().failureReason()?.message" />
        }
      </div>
    }
    <ng-content select="[post-file-input]"></ng-content>
    <div class="flex justify-end gap-3 pt-2">
      <p-button
        label="Cancel"
        i18n-label="@@generic-cancel"
        rounded
        outlined
        severity="contrast"
        (click)="dialogVisible.set(false)"
        [disabled]="mutation().isPending()"
      />
      <p-button
        label="Import file"
        i18n-label
        type="submit"
        rounded
        [loading]="mutation().isPending()"
      />
    </div>
  </form>
</p-dialog>
