<p-dialog
  [modal]="true"
  [closeOnEscape]="false"
  [(visible)]="dialogVisible"
  (onShow)="resetForm()"
  (onHide)="handleClose()"
  [style]="{ maxWidth: '60rem' }"
>
  <ng-template pTemplate="header">
    <h3>
      <i class="pi pi-download me-2"></i>
      <ng-container>{{ header() }}</ng-container>
    </h3>
  </ng-template>

  <ng-content select="[pre-file-input]"></ng-content>

  <form
    class="space-y-3"
    [formGroup]="formGroup"
    (ngSubmit)="onFormSubmit()"
  >
    <div class="mt-5">
      <app-file-upload-control
        formControlName="file"
        [accept]="accept()"
        (clearFiles)="resetForm()"
      ></app-file-upload-control>
      <app-form-error [error]="formFieldErrors()('file')" />
    </div>
    @if (mutation().isError()) {
      <div class="mt-4">
        @if (errorResponse().singleErrorMessage) {
          <app-form-error [error]="errorResponse().singleErrorMessage" />
        }

        @if (errorResponse().detailedErrors) {
          <app-form-error
            error="Something went wrong with this import. Please fix the errors reported below and try again."
            i18n-error
          />
          <app-query-table
            [dataTestId]="'import-file-dialog-errors-table'"
            [paginatorDropdownAppendTo]="'body'"
            [columns]="detailedErrorsColumns()"
            [initialSortField]="'lineNumber'"
            [items]="errorResponse().detailedErrors ?? []"
            [scrollHeight]="'400px'"
            [isPending]="false"
            [scrollable]="true"
          >
          </app-query-table>
        }
      </div>
    }
    <ng-content select="[post-file-input]"></ng-content>
    <div class="flex justify-end gap-3 pt-2">
      <p-button
        label="Cancel"
        i18n-label="@@generic-cancel"
        rounded
        outlined
        severity="contrast"
        (click)="handleClose()"
        [disabled]="mutation().isPending()"
      />
      <p-button
        label="Import file"
        i18n-label
        type="submit"
        rounded
        [disabled]="formGroup.value.file === null"
        [loading]="mutation().isPending()"
      />
    </div>
  </form>
</p-dialog>
