<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  (keydown.control.enter)="onSubmit()"
  (keydown.meta.enter)="onSubmit()"
  class="relative"
>
  <div class="sticky top-0 flex w-full items-center bg-white py-1">
    <i class="pi pi-pencil me-4 text-xl"></i>
    <span
      class="txt-h-1 me-auto"
      i18n
      >Editing personal information</span
    >
    <p-button
      label="Cancel"
      i18n-label="@@generic-cancel"
      (click)="cancelEditing.emit()"
      icon="pi pi-times"
      [iconPos]="rtlHelper.createPosition('start')()"
      outlined
      rounded
      severity="contrast"
      class="me-4"
    />
    <p-button
      type="submit"
      label="Save"
      i18n-label="@@generic-save"
      icon="pi pi-check"
      [iconPos]="rtlHelper.createPosition('start')()"
      rounded
    />
  </div>
  <div class="grid grid-cols-1 gap-x-5 gap-y-8 md:grid-cols-2">
    @for (attribute of attributeList(); track $index) {
      <div class="">
        <app-form-field-wrapper
          [dataTestId]="'edit-personal-information-' + attribute.name"
          [label]="attribute.label"
          [labelTooltip]="attribute.editInfo"
          [errorMessage]="formFieldErrors()()(attribute.name)"
          [isRequired]="attribute.isRequired"
        >
          @let type = attribute.type;

          @if (type === 'date') {
            <p-datepicker
              [formControlName]="attribute.name"
              [showClear]="true"
              appendTo="body"
            />
          } @else if (type === 'dropdown') {
            <p-select
              [formControlName]="attribute.name"
              [options]="attribute.options"
              [optionLabel]="'label'"
              [optionValue]="'value'"
              placeholder="Type or select"
              i18n-placeholder="@@generic-type-or-select"
              [filter]="true"
              [showClear]="attribute.isRequired === false"
            />
          } @else if (type === 'boolean') {
            <p-checkbox
              [formControlName]="attribute.name"
              [binary]="true"
              [value]="true"
            />
          } @else {
            <input
              pInputText
              [type]="
                type === 'numeric' || type === 'numeric-nullable'
                  ? 'number'
                  : 'text'
              "
              [formControlName]="attribute.name"
              autocomplete="off"
            />
          }
        </app-form-field-wrapper>
      </div>
    }
  </div>
</form>
<app-form-dialog
  #editPersonalInformationDialog
  header="Update information"
  i18n-header
  headerIcon="pi pi-id-card"
  proceedLabel="Save"
  i18n-proceedLabel="@@generic-save"
  [mutation]="patchRegistrationMutation"
  [mutationData]="{
    patchedRegistration: changedRegistrationData(),
    reason: dialogFormGroup.getRawValue().reason,
    referenceId: registration.data()?.referenceId!,
  }"
  [formGroup]="dialogFormGroup"
>
  <p
    i18n
    class="mb-7"
  >
    You're about to update {{ this.registration.data()?.name }}'s details.
  </p>
  <app-form-field-wrapper
    label="Write a reason for the update"
    i18n-label
    [errorMessage]="dialogFormFieldErrors()('reason')"
  >
    <input
      pInputText
      formControlName="reason"
      type="text"
      autocomplete="off"
    />
  </app-form-field-wrapper>
</app-form-dialog>
