<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'page.programs.program-list.pageTitle'|translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!items"
       class="ion-padding ion-text-center"
  >
    <ion-icon name="sad" size="large"></ion-icon><br>
    {{ 'page.programs.program-list.not-available'|translate }}
  </div>
  <ion-list *ngIf="items"
            class="ion-padding"
  >
    <ion-item *ngFor="let program of items"
              detail="true"
              button="true"
              [routerLink]="'/program/' + program.id"
    >
      <ion-label>
        {{ program.title.en }}
        <br>
        <ion-note>
          {{ program.description.en }}
        </ion-note>
        <ion-note class="ion-float-end ion-padding-end"
        >
          {{ program.updated|date:"dd-MM-y - H:m" }}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
