<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'page.programs.program-list.pageTitle'|translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item *ngFor="let item of items"
              detail="true"
              button="true"
              [routerLink]="'/program/' + item.id"
    >
      <ion-label>
        {{ item.title.en }}
        <br>
        <ion-note>
          {{ item.description.en }}
        </ion-note>
        <ion-note class="ion-float-end ion-padding-end"
        >
          {{ item.updated|date:"dd-MM-y - H:m" }}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
