<p-confirmDialog
  #confirmDialog
  [closeOnEscape]="false"
  [focusTrap]="true"
>
  <ng-template #headless>
    <div
      class="inline-[632px]"
      [attr.data-testid]="dialogTestId()"
    >
      <!-- Header section with title and close button -->

      <div class="flex items-center px-5 block-16 inline-full">
        <h3 [class]="headerClass()">
          <i class="me-2 {{ headerIcon() }}"></i>
          {{ header() }}
        </h3>

        <p-button
          [autofocus]="true"
          ariaLabel="Close"
          i18n-ariaLabel="@@generic-close"
          title="Close"
          i18n-title="@@generic-close"
          class="ms-auto -me-5 self-start p-4"
          severity="contrast"
          text
          [unstyled]="true"
          (click)="confirmDialog.onReject()"
        >
          <span class="pi pi-times cursor-pointer"></span>
        </p-button>
      </div>

      <!-- Form with submit/cancel buttons -->

      <form
        (ngSubmit)="onProceed()"
        (keydown.control.enter)="onProceed()"
        (keydown.meta.enter)="onProceed()"
      >
        <div class="flex grow flex-col px-5 inline-full">
          <ng-content></ng-content>
          @if (mutation().isError()) {
            <app-form-error
              [error]="
                mutation().failureReason()?.message?.replaceAll('\\n', '\n')
              "
            />
          }
        </div>

        <div class="flex justify-end gap-3 p-5">
          <p-button
            [disabled]="mutation().isPending()"
            (click)="confirmDialog.onReject()"
            i18n-label="@@generic-cancel"
            severity="contrast"
            label="Cancel"
            outlined
            rounded
          />
          <p-button
            [attr.data-testid]="submitButtonDataTestId()"
            [loading]="mutation().isPending()"
            [label]="proceedLabel()"
            [icon]="proceedIcon()"
            type="submit"
            rounded
          />
        </div>
      </form>
    </div>
  </ng-template>
</p-confirmDialog>
