# Overall, generic
# ----------------
* @global-121
/*.md @global-121/510


# Interfaces
# ----------
/interfaces/ @global-121/510/front-end


# Services
# --------
/services/121-service/ @global-121/510/back-end
/services/PA-account-service/ @global-121/510/back-end


# Tools
# -----------------
/tools/ @global-121/510
/tools/git-hooks/ @global-121

