# See: https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates#configuration-options-for-dependabotyml
version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: npm
    directory: '/interfaces/HO-Portal'
    schedule:
      interval: weekly
    open-pull-requests-limit: 3
    versioning-strategy: increase-if-necessary
    ignore:
      - dependency-name: '@angular/*'
        versions: ['>= 10.0.0', '>= 0.1000.0']
      - dependency-name: '@angular-devkit/*'
        versions: ['>= 10.0.0', '>= 0.1000.0']
      - dependency-name: '@ionic/angular'
        versions: ['>= 6.0.0']
      - dependency-name: '@ngx-translate/core'
        versions: ['>= 13.0.0']
      - dependency-name: '@ngx-translate/http-loader'
        versions: ['>= 6.0.0']
      - dependency-name: '@swimlane/ngx-charts'
        versions: ['>= 15.0.0']
      - dependency-name: '@swimlane/ngx-datatable'
        versions: ['>= 18.0.0']
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: codelyzer
        versions: ['>= 6.0.0']
      - dependency-name: core-js
        versions: ['>= 3.0.0']
      - dependency-name: ngx-popperjs
        versions: ['>= 10.0.0']
      - dependency-name: tslib
        versions: ['>= 2.0.0']
      - dependency-name: tslint
        versions: ['>= 6.0.0']
      - dependency-name: typescript
        versions: ['>= 3.9.0']
      - dependency-name: karma
        versions: ['>= 6.0.0']
      - dependency-name: rxjs
        versions: ['>= 7.0.0']
      - dependency-name: 'zone.js'
        versions: ['>= v0.11.1']

  - package-ecosystem: npm
    directory: '/interfaces/AW-App'
    schedule:
      interval: weekly
    open-pull-requests-limit: 3
    versioning-strategy: increase-if-necessary
    ignore:
      - dependency-name: '@angular/*'
        versions: ['>= 10.0.0', '>= 0.1000.0']
      - dependency-name: '@angular-devkit/*'
        versions: ['>= 10.0.0', '>= 0.1000.0']
      - dependency-name: '@ionic/angular'
        versions: ['>= 6.0.0']
      - dependency-name: '@ionic/storage'
        versions: ['>= 2.3.0']
      - dependency-name: '@ngx-translate/core'
        versions: ['>= 13.0.0']
      - dependency-name: '@ngx-translate/http-loader'
        versions: ['>= 6.0.0']
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: codelyzer
        versions: ['>= 6.0.0']
      - dependency-name: core-js
        versions: ['>= 3.0.0']
      - dependency-name: tslib
        versions: ['>= 2.0.0']
      - dependency-name: tslint
        versions: ['>= 6.0.0']
      - dependency-name: typescript
        versions: ['>= 3.9.0']
      - dependency-name: karma
        versions: ['>= 6.0.0']
      - dependency-name: rxjs
        versions: ['>= 7.0.0']
      - dependency-name: 'zone.js'
        versions: ['>= v0.11.1']
      - dependency-name: '@zxing/ngx-scanner'
        versions: ['>= 3.2.0']

  - package-ecosystem: npm
    directory: '/interfaces/PA-App'
    schedule:
      interval: weekly
    open-pull-requests-limit: 3
    versioning-strategy: increase-if-necessary
    ignore:
      - dependency-name: '@angular/*'
        versions: ['>= 10.0.0', '>= 0.1000.0']
      - dependency-name: '@angular-devkit/*'
        versions: ['>= 10.0.0', '>= 0.1000.0']
      - dependency-name: '@ionic/angular'
        versions: ['>= 6.0.0']
      - dependency-name: '@ngx-translate/core'
        versions: ['>= 13.0.0']
      - dependency-name: '@ngx-translate/http-loader'
        versions: ['>= 6.0.0']
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: codelyzer
        versions: ['>= 6.0.0']
      - dependency-name: core-js
        versions: ['>= 3.0.0']
      - dependency-name: tslib
        versions: ['>= 2.0.0']
      - dependency-name: tslint
        versions: ['>= 6.0.0']
      - dependency-name: typescript
        versions: ['>= 3.9.0']
      - dependency-name: karma
        versions: ['>= 6.0.0']
      - dependency-name: ngx-translate-lint
        versions: ['>= 1.14.0']
      - dependency-name: rxjs
        versions: ['>= 7.0.0']
      - dependency-name: 'zone.js'
        versions: ['>= v0.11.1']
      - dependency-name: angularx-qrcode
        versions: ['>= 3.0.0']
      - dependency-name: '@zxing/ngx-scanner'
        versions: ['>= 3.2.0']
