# See: https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates#configuration-options-for-dependabotyml
version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'

  - package-ecosystem: npm
    directory: '/services/121-service'
    schedule:
      interval: weekly
      day: tuesday
    open-pull-requests-limit: 3
    versioning-strategy: increase
    groups:
      development:
        patterns:
          - '@types/*'
          - '*eslint*'
      nestjs:
        patterns: ['@nestjs/*']
    ignore:
      # Dependencies below are ordered alphabetically!
      - dependency-name: '@nestjs/throttler'
        update-types: ['version-update:semver-major']
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: 'bwip-js'
      - dependency-name: 'eslint'
        update-types: ['version-update:semver-major']
      - dependency-name: 'jimp'
      - dependency-name: 'typescript'

  - package-ecosystem: npm
    directory: '/interfaces/Portal'
    schedule:
      interval: weekly
      day: tuesday
    open-pull-requests-limit: 3
    versioning-strategy: increase
    groups:
      development:
        patterns:
          - '@types/*'
          - '*eslint*'
        exclude-patterns: ['@angular-eslint/*']
    ignore:
      # Dependencies below are ordered alphabetically!
      # Most/all Angular-related dependencies are ignored for all versions
      - dependency-name: '@angular/*'
      - dependency-name: '@angular-eslint/*'
      - dependency-name: '@angular-devkit/*'
      - dependency-name: '@ionic/angular'
        update-types: ['version-update:semver-major']
      - dependency-name: '@ionic/cli'
        update-types:
          ['version-update:semver-major', 'version-update:semver-patch']
      - dependency-name: '@ngx-translate/core'
        update-types: ['version-update:semver-major']
      - dependency-name: '@ngx-translate/http-loader'
        update-types: ['version-update:semver-major']
      - dependency-name: '@swimlane/ngx-datatable'
        update-types: ['version-update:semver-major']
      - dependency-name: '@types/*'
        update-types:
          ['version-update:semver-major', 'version-update:semver-patch']
      - dependency-name: '@typescript-eslint/*'
        update-types: ['version-update:semver-patch']
      - dependency-name: core-js
      - dependency-name: eslint
        update-types: ['version-update:semver-major']
      - dependency-name: karma
      - dependency-name: tslib
      - dependency-name: typescript
      - dependency-name: rxjs
        update-types:
          ['version-update:semver-major', 'version-update:semver-minor']
      - dependency-name: 'zone.js'
