# See: https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates#configuration-options-for-dependabotyml
version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'

  - package-ecosystem: npm
    directory: '/services/121-service'
    schedule:
      interval: monthly
      day: tuesday
    open-pull-requests-limit: 5
    versioning-strategy: increase
    groups:
      development:
        patterns:
          - '@swc/*'
          - '@types/*'
          - '*eslint*'
          - '*prettier*'
      nestjs:
        patterns: ['@nestjs/*']
    ignore:
      # Dependencies below are ordered alphabetically!
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: 'applicationinsights'
        update-types: ['version-update:semver-major']
      - dependency-name: 'bwip-js'
      - dependency-name: 'eslint'
        update-types: ['version-update:semver-major']
      - dependency-name: 'eslint-plugin-custom-rules' # Local package, no need to check
      - dependency-name: 'jimp'
      - dependency-name: 'typescript'
        update-types: ['version-update:semver-major']

  - package-ecosystem: npm
    directory: '/services/mock-service'
    schedule:
      interval: monthly
      day: tuesday
    open-pull-requests-limit: 5
    versioning-strategy: increase
    groups:
      development:
        patterns:
          - '@swc/*'
          - '@types/*'
          - '*eslint*'
          - '*prettier*'
      nestjs:
        patterns: ['@nestjs/*']
    ignore:
      # Dependencies below are ordered alphabetically!
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: 'eslint'
        update-types: ['version-update:semver-major']
      - dependency-name: 'typescript'
        update-types: ['version-update:semver-major']

  - package-ecosystem: npm
    directory: '/interfaces/portal'
    schedule:
      interval: monthly
      day: tuesday
    open-pull-requests-limit: 5
    versioning-strategy: increase
    groups:
      angular:
        patterns:
          - '@angular*'
          - 'primeng'
          - 'typescript'
          - 'zone.js'
      linting:
        patterns:
          - '*eslint*'
          - '*prettier*'
      AzureMSAL:
        patterns:
          - '@azure/msal*' # Combine peer-dependencies
      dependencies:
        patterns:
          - '*'
        exclude-patterns: # Include all of the above groups:
          - '@angular*'
          - 'primeng'
          - 'typescript'
          - 'zone.js'
          - '@azure/msal*'
          - '*eslint*'
          - '*prettier*'
    ignore:
      # Dependencies below are ordered alphabetically!
      - dependency-name: '@angular*'
        update-types: ['version-update:semver-major']
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: 'filesize'
        versions: ['^10.x'] # See: https://www.npmjs.com/package/ngx-filesize
      - dependency-name: 'primeng'
        update-types: ['version-update:semver-major']

  - package-ecosystem: npm
    directory: '/e2e'
    schedule:
      interval: monthly
      day: tuesday
    open-pull-requests-limit: 5
    versioning-strategy: increase
    groups:
      dependencies:
        patterns:
          - '*'
    ignore:
      # Dependencies below are ordered alphabetically!
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']

  - package-ecosystem: npm
    directory: '/k6'
    schedule:
      interval: monthly
      day: tuesday
    open-pull-requests-limit: 5
    versioning-strategy: increase
    groups:
      dependencies:
        patterns:
          - '*'
