<ion-header>
  <app-header
    [title]="'page.program.phases.reviewInclusion.label'|translate"
  ></app-header>
</ion-header>

<ion-content class="ion-padding">

  <app-phase-next
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="true"
  ></app-phase-next>
  
  <ion-row>
    <app-test-payment
      [programId]="programId"
      [userRoles]="userRoles"
    ></app-test-payment>
  </ion-row>


  <ion-row>
    <app-export-list
      [programId]="programId"
      [userRoles]="userRoles"
      [exportType]="enumExportType.included"
    ></app-export-list>
  </ion-row>

  <br>

  <app-program-people-affected 
    [programId]="programId" 
    [userRoles]="userRoles" 
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
