<ion-header>
  <app-header
    [title]="'page.program.phases.reviewInclusion.label'|translate"
  ></app-header>
</ion-header>

<ion-content class="ion-padding">

  <app-phase-next
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="true"
  ></app-phase-next>

  <ion-row>
    <app-export-list
      [programId]="programId"
      [userRole]="userRole"
      [exportType]="enumExportType.included"
    ></app-export-list>
  </ion-row>

  <br>

  <ion-row>
    <app-notification
      [programId]="programId"
      [userRole]="userRole"
      [notificationType]="enumNotificationType.include"
    ></app-notification>
  </ion-row>

  <br>

  <app-program-people-affected 
    [programId]="programId" 
    [userRole]="userRole" 
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
