<app-card-with-link
  [href]="projectLink(id())"
  [title]="project.data()?.titlePortal | translatableString"
  [loading]="project.isPending()"
>
  <ng-container card-content>
    <dl class="flex flex-wrap divide-y border-b border-grey-100">
      <div class="basis-1/2 border-t border-grey-100 px-1 py-2">
        <app-metric-container
          [pending]="metrics.isPending()"
          [value]="metrics.data()?.targetedPeople"
          label="Target registrations"
          i18n-label
        ></app-metric-container>
      </div>
      <div class="basis-1/2 border-s border-grey-100 px-1 py-2">
        <app-metric-container
          [pending]="metrics.isPending()"
          [value]="metrics.data()?.includedPeople"
          label="Included registrations"
          i18n-label
        ></app-metric-container>
      </div>
      <div class="basis-1/2 border-t border-grey-100 px-1 py-2">
        <app-metric-container
          [pending]="metrics.isPending()"
          [value]="
            metrics.data()?.totalBudget
              | currency
                : project.data()?.currency ?? 'EUR'
                : 'symbol-narrow'
                : '1.0-0'
          "
          label="Budget"
          i18n-label
        ></app-metric-container>
      </div>
      <div class="basis-1/2 border-s border-t border-grey-100 px-1 py-2">
        <app-metric-container
          [pending]="metrics.isPending()"
          [value]="
            metrics.data()?.spentMoney
              | currency
                : project.data()?.currency ?? 'EUR'
                : 'symbol-narrow'
                : '1.0-0'
          "
          label="Cash disbursed"
          i18n-label
        ></app-metric-container>
      </div>
    </dl>
  </ng-container>
  <ng-container card-footer>
    <div class="text-end">
      <span class="text-grey-700 txt-system-s">
        @if (payments.isPending()) {
          <app-skeleton-inline width="8rem" />
        } @else {
          @if (getLastPayment()) {
            <ng-container i18n>Last payment: </ng-container>
            {{ getLastPayment()!.paymentDate | date: 'shortDate' }}
          } @else {
            <ng-container i18n>No payments yet</ng-container>
          }
        }
      </span>
    </div>
  </ng-container>
</app-card-with-link>
