<app-page-layout
  [programId]="programId()"
  pageTitle="Monitoring"
  i18n-pageTitle="@@page-title-program-monitoring"
>
  <div
    class="grid gap-5 [grid-template-areas:'metric1_metric2''metric3_metric4''description_description''content_content'] md:grid-cols-[16rem_16rem_1fr] md:[grid-template-areas:'metric1_metric2_description''metric3_metric4_description''content_content_content']"
  >
    <app-metric-tile
      class="[grid-area:metric1]"
      [pending]="metrics.isPending()"
      [chipLabel]="(metrics.data()?.newPeople ?? 0) + ' new'"
      chipIcon="pi pi-file-edit"
      chipVariant="blue"
      chipTooltip="Registrations with the status “new”."
      i18n-chipTooltip
      [metricValue]="metrics.data()?.registeredPeople | number"
      data-testid="metric-people-registered"
      metricLabel="People registered"
      i18n-metricLabel
      metricTooltip="Total registrations excluding rejected and deleted registrations."
      i18n-metricTooltip
    />
    <app-metric-tile
      class="[grid-area:metric2]"
      [pending]="metrics.isPending()"
      [metricValue]="metrics.data()?.includedPeople | number"
      metricLabel="People included"
      data-testid="metric-people-included"
      i18n-metricLabel
      metricTooltip="Registrations with the status “included”."
      i18n-metricTooltip
    />
    <app-metric-tile
      class="[grid-area:metric3]"
      [pending]="metrics.isPending()"
      [chipLabel]="(payments.data()?.length ?? 0) + ' payment(s) done'"
      chipVariant="purple"
      chipTooltip="Amount of payments done in the program so far."
      i18n-chipTooltip
      [metricValue]="
        remainingBudget()
          | currency: program.data()?.currency : 'symbol-narrow' : '1.0-0'
      "
      metricLabel="Remaining budget"
      data-testid="metric-remaining-budget"
      i18n-metricLabel
    />

    @let latestPaymentAmount =
      this.latestPayment.data()?.success?.transferValue;
    <app-metric-tile
      class="[grid-area:metric4]"
      [pending]="metrics.isPending()"
      [chipLabel]="
        latestPaymentAmount
          ? '+ ' +
            (latestPaymentAmount
              | currency: program.data()?.currency : 'symbol-narrow' : '1.0-0')
          : '—'
      "
      chipIcon="pi pi-money-bill"
      chipTooltip="Cash distributed in the last payment."
      i18n-chipTooltip
      chipVariant="blue"
      [metricValue]="
        metrics.data()?.cashDisbursed
          | currency: program.data()?.currency : 'symbol-narrow' : '1.0-0'
      "
      metricLabel="Cash disbursed"
      data-testid="metric-cash-disbursed"
      i18n-metricLabel
    />

    <p-card
      class="[grid-area:description] [&_.p-card]:h-full [&_.p-card-body]:h-full"
      data-testid="metric-program-description"
    >
      <div class="border-grey-300 border-b pb-3">
        <p
          i18n
          class="mb-1 font-semibold"
        >
          Program description:
        </p>
        @if (program.isPending()) {
          <app-skeleton-inline />
        } @else {
          {{ programDescription() || '—' }}
        }
      </div>
      <app-data-list [data]="programDescriptionData()" />
    </p-card>
    @if (program.isPending()) {
      <p-skeleton
        class="[grid-area:content]"
        height="8rem"
      ></p-skeleton>
    } @else {
      <p-card
        class="[grid-area:content]"
        data-testid="monitoring-iframe"
        styleClass="[&_.p-card-body]:pt-3"
      >
        <app-monitoring-menu
          data-testid="monitoring-menu"
          [programId]="programId()"
        />
        <ng-content></ng-content>
      </p-card>
    }
  </div>
</app-page-layout>
