<app-header [title]="'page.program.phases.design.label'|translate"></app-header>
<div
  class="layout-flex-row ion-justify-content-between ion-align-items-end ion-padding-end"
>
  <app-program-navigation></app-program-navigation>
  <app-phase-next
    *appIfPermissions="[Permission.ProgramPhaseUPDATE]"
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="true"
  ></app-phase-next>
</div>

<ion-content class="ion-padding">
  <div style="max-width: 33em; margin: auto">
    <h2>{{ 'page.program.program-details.section-title' | translate }}</h2>

    <br /><br />

    <app-metrics
      [isCollapsed]="false"
      [programId]="programId"
    ></app-metrics>
  </div>
</ion-content>
