<app-header [title]="'page.dashboard.pageTitle' | translate"> </app-header>
<div class="ion-margin-vertical util--page-margin-horizontal">
  <app-program-tabs-navigation
    [programId]="programId"
  ></app-program-tabs-navigation>
</div>

<ion-content class="ion-padding">
  <ng-container
    *ngIf="canViewMetrics && !!program && !!program?.monitoringDashboardUrl"
  >
    <app-dashboard-iframe
      [url]="program?.monitoringDashboardUrl"
    ></app-dashboard-iframe>
  </ng-container>
</ion-content>
