.tooltip--button {
  vertical-align: middle;
  display: inline-block;
}

.tooltip--container {
  color: var(--ion-color-medium-contrast);
  background-color: var(--ion-color-medium);
  border: 0;
  padding: 1em;
  max-width: 33em;
}
