<p-card [class]="isEditing() ? 'outline-purple outline-2' : ''">
  <form
    (ngSubmit)="onFormSubmit()"
    (keydown.control.enter)="onFormSubmit()"
    (keydown.meta.enter)="onFormSubmit()"
    pFocusTrap
    [pFocusTrapDisabled]="!isEditing()"
  >
    <div class="mbe-1 flex items-center gap-x-2 min-block-9">
      <h2>{{ header() }}</h2>
      @if (canEdit()) {
        <div class="relative -inset-e-1 -inset-bs-1 ms-auto space-x-2">
          @if (!isEditing()) {
            <p-button
              outlined
              rounded
              [size]="'small'"
              icon="pi pi-pencil text-xs"
              label="Edit"
              i18n-label="@@generic-edit"
              [iconPos]="rtlHelper.createPosition('start')()"
              (click)="isEditing.set(true)"
              [title]="editPencilTitle()"
              [ariaLabel]="editPencilTitle()"
              data-testid="editable-card-edit-button"
            />
          } @else {
            <p-button
              label="Cancel"
              i18n-label="@@generic-cancel"
              (click)="isEditing.set(false)"
              icon="pi pi-times text-xs"
              [size]="'small'"
              [iconPos]="rtlHelper.createPosition('start')()"
              outlined
              rounded
              severity="contrast"
              [disabled]="mutation()?.isPending()"
            />
            @if (isSaveable()) {
              <p-button
                type="submit"
                label="Save"
                i18n-label="@@generic-save"
                icon="pi pi-check text-xs"
                [size]="'small'"
                [iconPos]="rtlHelper.createPosition('start')()"
                rounded
                [loading]="mutation()?.isPending()"
              />
            }
          }
        </div>
      }
    </div>
    @if (mutation()?.isError()) {
      <div class="my-4">
        <app-form-error [error]="mutation()?.failureReason()?.message" />
      </div>
    }
    <ng-content></ng-content>
  </form>
</p-card>
