<app-page-layout
  pageTitle="Registrations"
  i18n-pageTitle="@@page-title-project-registrations"
  [projectId]="projectId()"
>
  <p-card>
    <app-query-table
      [items]="registrations()"
      [isPending]="registrationsResponse.isPending()"
      [columns]="columns()"
      localStorageKey="project-registrations-table"
      [serverSideFiltering]="true"
      [serverSideTotalRecords]="totalRegistrations()"
      (onUpdatePaginateQuery)="paginateQuery.set($event)"
      [enableSelection]="true"
      (onUpdateSelection)="tableSelection.set($event)"
    >
      <div table-actions>
        <p-buttonGroup>
          @if (
            authService.hasPermission({
              projectId: projectId(),
              requiredPermission: PermissionEnum.RegistrationNotificationREAD,
            })
          ) {
            <p-button
              label="Message"
              i18n-label
              icon="pi pi-envelope"
              rounded
              outlined
              (click)="sendMessage()"
            />
          }
        </p-buttonGroup>
      </div>
    </app-query-table>
  </p-card>
</app-page-layout>
