<app-page-layout
  pageTitle="Registrations"
  i18n-pageTitle="@@page-title-project-registrations"
  [projectId]="projectId()"
>
  <p-card>
    <app-query-table
      [items]="registrations()"
      [isPending]="registrationsResponse.isPending()"
      [columns]="columns()"
      localStorageKey="project-registrations-table"
      [serverSideFiltering]="true"
      [serverSideTotalRecords]="totalRegistrations()"
      (onUpdatePaginateQuery)="paginateQuery.set($event)"
    />
  </p-card>
</app-page-layout>
