
# IDE / Editor configurations
**/.vscode/*
!**/.vscode/extensions.json
!**/.vscode/settings.json

# Potential sensitive information
.env

# Third-party code
node_modules

# TS Build output logs
*.tsbuildinfo

# Downloads
/downloads

