<form #theForm="ngForm" (keydown.enter)="$event.preventDefault()">
  <ng-container
    *ngFor="let question of questions; let i = index; first as isFirst"
  >
    <dialogue-turn
      actor="self"
      [isConnected]="!isFirst"
      [isSpoken]="isFirst || isSubmitted || isEditing"
    >
      <p>
        <ion-label [innerHTML]="question.label"></ion-label>
      </p>
      <div [ngSwitch]="question.answerType">
        <div *ngSwitchCase="answerType.Enum">
          <ion-radio-group
            [name]="question.code"
            [value]="answers[question.code]?.value"
            (ionChange)="onAnswerChange(question.code, $event.target.value)"
          >
            <ion-item
              *ngFor="let option of question.options"
              color="light"
              lines="full"
              class="ion-no-padding"
            >
              <ion-label class="ion-text-wrap ion-padding-end">
                {{ option.label }}
              </ion-label>
              <ion-radio
                [value]="option.value"
                [disabled]="isSubmitted"
              ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
        <div *ngSwitchCase="answerType.Number">
          <numeric-input
            #numInput
            ngDefaultControl
            [(ngModel)]="theFormModels[question.code]"
            [required]="true"
            [name]="question.code"
            [placeholder]="question.placeholder"
            [pattern]="question.pattern"
            [disabled]="isSubmitted"
            (isValidChange)="
              onChangeWithValidation(
                question.code,
                numInput.value,
                numInput.isValid
              )
            "
          ></numeric-input>
        </div>
        <div *ngSwitchCase="answerType.Date">
          <date-input
            #dateInput
            ngDefaultControl
            [(ngModel)]="theFormModels[question.code]"
            [required]="true"
            [name]="question.code"
            [disabled]="isSubmitted"
            (isValidChange)="
              onChangeWithValidation(
                question.code,
                dateInput.value,
                dateInput.isValid
              )
            "
          ></date-input>
        </div>
        <div *ngSwitchCase="answerType.phoneNumber">
          <phone-number-input
            #phoneNumberInput
            ngDefaultControl
            [(ngModel)]="theFormModels[question.code]"
            [required]="true"
            [placeholder]="question.placeholder"
            [name]="question.code"
            [disabled]="isSubmitted"
            (isValidChange)="
              onChangeWithValidation(
                question.code,
                phoneNumberInput.value,
                phoneNumberInput.isValid
              )
            "
          ></phone-number-input>
        </div>
        <div *ngSwitchCase="answerType.email">
          <ion-input
            #emailInput="ngModel"
            ngDefaultControl
            [(ngModel)]="theFormModels[question.code]"
            type="email"
            inputmode="email"
            autocomplete="email"
            pattern="^[\w\-+]+(\.[\w\-+]+)*@(([\w\-]+\.)*[\w\-]+)\.[a-z]{2,}$"
            [title]="'q-and-a-set.validation.email' | translate"
            [required]="true"
            [name]="question.code"
            [disabled]="isSubmitted"
            (ionChange)="
              onChangeWithValidation(
                question.code,
                emailInput.value,
                emailInput.valid &&
                  (emailInput.dirty || emailInput.touched || allQuestionsShown)
              )
            "
            [debounce]="300"
          ></ion-input>
        </div>
        <div *ngSwitchDefault>
          <ion-input
            #defaultInput="ngModel"
            ngDefaultControl
            [(ngModel)]="theFormModels[question.code]"
            type="text"
            [placeholder]="question.placeholder || undefined"
            [pattern]="question.pattern ? question.pattern : '.*\\S+.*'"
            [required]="true"
            [name]="question.code"
            [disabled]="isSubmitted"
            (ionChange)="
              onChangeWithValidation(
                question.code,
                defaultInput.value,
                defaultInput.valid &&
                  (defaultInput.dirty ||
                    defaultInput.touched ||
                    allQuestionsShown)
              )
            "
            [debounce]="300"
          ></ion-input>
        </div>
      </div>
    </dialogue-turn>
    <div
      *ngIf="checkValidationError(question.code) && !isSubmitted"
      class="ion-margin-bottom ion-padding-bottom"
    >
      <dialogue-turn [isSpoken]="checkValidationError(question.code)">
        <p *ngIf="question.answerType === answerType.phoneNumber">
          <play-text-audio
            key="q-and-a-set.validation.phone-number"
            class="ion-float-start ion-margin-end"
          ></play-text-audio>
          {{ 'q-and-a-set.validation.phone-number' | translate }}
        </p>
        <p *ngIf="question.answerType === answerType.Number">
          <play-text-audio
            key="q-and-a-set.validation.number"
            class="ion-float-start ion-margin-end"
          ></play-text-audio>
          {{ 'q-and-a-set.validation.number' | translate }}
        </p>
        <p *ngIf="question.answerType === answerType.Date">
          <play-text-audio
            key="q-and-a-set.validation.date"
            class="ion-float-start ion-margin-end"
          ></play-text-audio>
          {{ 'q-and-a-set.validation.date' | translate }}
        </p>
        <p *ngIf="question.answerType === answerType.email">
          <play-text-audio
            key="q-and-a-set.validation.date"
            class="ion-float-start ion-margin-end"
          ></play-text-audio>
          {{ 'q-and-a-set.validation.email' | translate }}
        </p>
        <p *ngIf="question.answerType === answerType.Text">
          <play-text-audio
            key="q-and-a-set.validation.required"
            class="ion-float-start ion-margin-end"
          ></play-text-audio>
          {{ 'q-and-a-set.validation.required' | translate }}
        </p>
      </dialogue-turn>
    </div>
  </ng-container>

  <dialogue-turn
    *ngIf="
      ((theForm.invalid && (theForm.dirty || theForm.touched)) ||
        checkValidationErrors()) &&
      allQuestionsShown &&
      !isSubmitted
    "
    [isSpoken]="
      ((theForm.invalid && (theForm.dirty || theForm.touched)) ||
        checkValidationErrors()) &&
      allQuestionsShown &&
      !isSubmitted
    "
  >
    <p>
      <play-text-audio
        key="q-and-a-set.validation.generic-error"
        class="ion-float-start ion-margin-end"
      ></play-text-audio>
      {{ 'q-and-a-set.validation.generic-error' | translate }}
    </p>
  </dialogue-turn>

  <dialogue-turn
    actor="self"
    [isConnected]="true"
    *ngIf="theForm.valid && !checkValidationErrors() && allQuestionsShown"
    [isSpoken]="theForm.valid && !checkValidationErrors() && allQuestionsShown"
  >
    <ion-row class="ion-nowrap ion-align-items-center">
      <play-text-audio [key]="submitLabel" size="default"></play-text-audio>
      <ion-button
        type="button"
        (click)="doSubmit()"
        [disabled]="isSubmitted"
        expand="block"
        style="flex-basis: 100%"
      >
        {{ submitLabel | translate }}
      </ion-button>
    </ion-row>
  </dialogue-turn>
</form>
