<ion-header>
  <ion-toolbar>
    <ion-title>{{
      inputProps?.titleTranslationKey
        ? (inputProps?.titleTranslationKey | translate)
        : ('common.confirm' | translate)
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2
    *ngIf="subHeader"
    [innerHTML]="subHeader"
  ></h2>
  <div
    *ngIf="message"
    [innerHTML]="message"
    class="ion-margin-vertical"
  ></div>

  <div
    *ngIf="inputProps"
    class="ion-margin-vertical"
  >
    <ion-item
      *ngIf="inputProps.checkbox"
      lines="none"
      style="--background: none"
    >
      <ion-checkbox
        slot="start"
        [checked]="checked"
        (ionChange)="checkboxChange($event.detail.checked)"
      >
        <ion-text [innerHTML]="inputProps.checkbox"></ion-text>
      </ion-checkbox>
    </ion-item>
    <div *ngIf="!inputProps.checkbox || (inputProps.checkbox && checked)">
      <div
        *ngIf="inputProps.explanation"
        [innerHTML]="inputProps.explanation"
        class="ion-margin-vertical"
      ></div>
      <ion-label>
        {{
          'common.confirm-message-label'
            | translate
              : {
                  minLength: inputProps.inputConstraint?.length
                }
        }}
      </ion-label>
      <div *ngIf="!inputProps.isTemplated">
        <ion-textarea
          name="message"
          #input="ngModel"
          [(ngModel)]="inputModel"
          [ngModelOptions]="{ standalone: true }"
          ngDefaultControl
          [required]="inputProps.inputRequired"
          rows="3"
          autoGrow="true"
          [minlength]="inputProps.inputConstraint?.length"
          [placeholder]="inputProps.placeholder"
          fill="outline"
          style="
            font-family: monospace;
            min-height: 66px;
            --border: 1px solid var(--ion-color-medium);
            --padding-start: 8px;
            --padding-end: 8px;
          "
        ></ion-textarea>
      </div>
      <div
        *ngIf="inputProps.isTemplated"
        style="
          font-family: monospace;
          border: 1px solid var(--ion-color-medium);
          border-radius: 4px;
          padding-left: 8px;
          padding-right: 8px;
        "
      >
        <pre style="white-space: pre-wrap">{{
          inputProps.templatedMessage
        }}</pre>
      </div>
      <div
        *ngIf="inputProps.supportMessage"
        [innerHTML]="inputProps.supportMessage"
        class="ion-margin-vertical"
      ></div>

      <ng-container *ngIf="!inputProps.isTemplated && attributeItems">
        <ion-row>
          <app-select-typeahead
            [items]="attributeItems"
            [(selection)]="selectedAttribute"
            [placeholder]="
              'page.program.program-people-affected.action-inputs.placeholder-typeahead-placeholder'
                | translate
            "
            [multiple]="false"
            [disabled]="isLoading"
            [size]="'auto'"
            class="tfr--text-filter--select ion-margin-end"
          ></app-select-typeahead>
          <ion-button
            fill="outline"
            color="primary"
            shape="round"
            [disabled]="!selectedAttribute"
            (click)="addPlaceholder()"
            >Add</ion-button
          >
        </ion-row>
      </ng-container>

      <div class="ion-margin-vertical">
        {{
          'page.program.program-people-affected.action-inputs.placeholder-pa-data'
            | translate
        }}
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button
        fill="clear"
        color="danger"
        (click)="closeModal()"
      >
        {{ 'common.cancel' | translate }}
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        (click)="submitConfirm()"
        [disabled]="checkOkDisabled()"
      >
        {{
          inputProps?.okTranslationKey
            ? (inputProps?.okTranslationKey | translate)
            : ('common.ok' | translate)
        }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
