ion-chip {
  width: 120px;
  color: var(--ion-color-secondary);
  cursor: default;

  &.chip-deliverd,
  &.chip-read,
  &.chip-sent {
    background-color: var(--ion-color-success);
  }
  &.chip-failed {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-danger);
  }
  &.chip-waiting {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
  }
}
