<ion-header>
  <ion-toolbar>
    <ion-title>
      {{
        'page.program.program-people-affected.edit-person-affected-popup.popup-title'
          | translate : { pa: 'PA #' + person?.registrationProgramId }
      }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section class="ion-padding-top">
    <h4 class="text-bold">
      {{
        'page.program.program-people-affected.edit-person-affected-popup.messageHistory.section-title'
          | translate
      }}
    </h4>

    <ion-list>
      <ion-item *ngIf="!messageHistory || messageHistory?.length === 0">
        -
      </ion-item>
      <ion-item
        *ngFor="
          let message of messageHistory | slice : 0 : historySize;
          let i = index
        "
        [button]="true"
        (click)="openMessageDetails(i)"
      >
        <span class="ion-margin-end">
          {{ message.created | date : 'yyyy-MM-dd, HH:mm' }}
        </span>
        <span class="ion-margin-end">
          <strong>{{ message.type }}</strong>
        </span>
        <span *ngIf="rowIndex !== i">
          {{ message.body.substring(0, trimBodyLength).trim() || imageString
          }}<span *ngIf="message.body.length > trimBodyLength">&hellip;</span>
        </span>
        <ion-icon
          *ngIf="rowIndex !== i"
          name="chevron-down"
          slot="end"
          size="small"
        ></ion-icon>
        <ion-row>
          <span *ngIf="rowIndex === i">{{ message.body || imageString }}</span>
        </ion-row>
        <ion-icon
          *ngIf="rowIndex === i"
          name="chevron-up"
          slot="end"
          size="small"
        ></ion-icon>
      </ion-item>
    </ion-list>
    <ion-button
      *ngIf="messageHistory?.length > historySize"
      (click)="loadMore(messageHistory?.length)"
    >
      {{ 'common.show-more' | translate }}
    </ion-button>
  </section>
</ion-content>
