<ion-header>
  <ion-toolbar>
    <!-- Pop up title -->
    <ion-title>
      {{ title }}
    </ion-title>

    <!-- Exit cancel button -->
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content
  data-testid="program-team-popup-add-new-team-member"
  class="ion-padding"
>
  <div *ngIf="operation === programTeamPopupOperationEnum.add">
    <app-add-team-member-popup-content
      [programId]="programId"
      [enableScope]="enableScope"
    ></app-add-team-member-popup-content>
  </div>
  <div *ngIf="operation === programTeamPopupOperationEnum.edit">
    <app-change-team-member-popup-content
      [teamMemberRow]="teamMemberRow"
      [programId]="programId"
      [enableScope]="enableScope"
    ></app-change-team-member-popup-content>
  </div>
  <div *ngIf="operation === programTeamPopupOperationEnum.remove">
    <app-remove-team-member-popup-content
      [teamMemberRow]="teamMemberRow"
      [programId]="programId"
    ></app-remove-team-member-popup-content>
  </div>
</ion-content>
