<app-header [title]="'registration-details.pageTitle'|translate"></app-header>

<app-program-navigation></app-program-navigation>

<ion-content class="ion-padding">
  <ion-spinner
    color="primary"
    *ngIf="loading"
  ></ion-spinner>

  <ng-container *ngIf="!loading">
    <ion-text *ngIf="!person">
      {{ 'registration-details.error' | translate}}
    </ion-text>

    <ion-grid *ngIf="person">
      <ion-row>
        <ion-col
          [size]="12"
          [sizeMd]="5"
          [sizeLg]="4"
        >
          <app-registration-personal-information
            [person]="person"
            [programId]="programId"
            class="ion-margin-bottom"
            style="display: block"
          ></app-registration-personal-information>

          <ng-container *ngIf="canViewPhysicalCards && fspHasPhysicalCard()">
            <div class="ion-margin-vertical ion-padding-vertical">
              <app-registration-physical-card-overview
                [programId]="programId"
                [referenceId]="referenceId"
                [currency]="program.currency"
                [nrPayments]="person.nrPayments"
                [registrationStatus]="person.status"
              ></app-registration-physical-card-overview>
            </div>
          </ng-container>

          <app-registration-payment-overview
            [person]="person"
            [program]="program"
            class="ion-margin-vertical"
            style="display: block"
          ></app-registration-payment-overview>
        </ion-col>

        <ion-col
          [size]="12"
          [sizeMd]="7"
          [sizeLg]="8"
        >
          <app-registration-activity-overview
            [person]="person"
            [paId]="paId"
            [program]="program"
            [referenceId]="referenceId"
          ></app-registration-activity-overview>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>
