<app-header [title]="'page.users.pageTitle'|translate"></app-header>
<ion-content class="ion-padding-vertical">
  <!--page title-->
  <section>
    <ion-item
      lines="none"
      color="light"
    >
      <ion-col class="ion-padding">
        <h2
          class="ion-no-margin ion-padding-top"
          class="users-title"
        >
          <strong>
            {{ 'page.users.pageTitle' | translate | uppercase }}
          </strong>
        </h2>
        <p class="ion-no-margin">
          {{ 'page.users.page-description' | translate }}
        </p>
      </ion-col>
    </ion-item>

    <!--tabs-->
    <ion-segment
      (ionChange)="segmentChanged($event)"
      value="users"
      class="tabs"
    >
      <ion-segment-button
        value="users"
        class="tab"
      >
        <ion-label
          ><strong> {{ 'page.users.users-tab' | translate }}</strong></ion-label
        >
      </ion-segment-button>
      <ion-segment-button
        value="roles"
        class="tab"
      >
        <ion-label
          ><strong
            >{{ 'page.users.roles-and-permissions-tab' | translate }}</strong
          ></ion-label
        >
      </ion-segment-button>
    </ion-segment>

    <!--button add new user-->
    <div class="button-container">
      <ion-button
        shape="round"
        fill="outline"
        class="button"
        item-end
        ><strong>{{ 'page.users.add-new-user' | translate}}</strong></ion-button
      >
    </div>

    <!--tab 1 users-->
    <ion-list
      *ngIf="segment === 'users'"
      class="ion-padding"
    >
      <ion-item *ngFor="let item of arr; let index = index">
        <ion-label>Users {{ index + 1 }}</ion-label>
      </ion-item>
    </ion-list>

    <!--tab 2 roles-->
    <div
      *ngIf="segment === 'roles'"
      class="ion-padding"
    >
      <ion-card *ngFor="let item of arr; let index = index">
        <ion-card-content>
          <h2>Roles {{ index + 1 }}</h2>
        </ion-card-content>
      </ion-card>
    </div>
  </section>
</ion-content>
