<!-- We are not using 'form' here because this component is already rendered within a form -->
<div [formGroup]="formGroup">
  @if (showAreYouSureCheckbox()) {
    <div class="mt-4 w-full">
      <p-checkbox
        formControlName="confirmAction"
        [binary]="true"
        label="I understand this action can not be undone."
        i18n-label
      />
    </div>
  }
  <app-form-error [error]="formFieldErrors()('confirmAction')" />
  <app-change-status-submit-buttons
    [isMutating]="isMutating()"
    (onCancelClick)="cancelClick()"
    (onApproveClick)="validateFormGroupOrPreventSubmit($event)"
  />
</div>
