<!-- We are not using 'form' here because this component is already rendered within a form -->
<div [formGroup]="formGroup">
  @if (showAreYouSureCheckbox()) {
    <div class="align-items-center flex gap-1 pt-4">
      <p-checkbox
        formControlName="confirmAction"
        inputId="areYouSure"
        [binary]="true"
      />
      <label
        i18n
        for="areYouSure"
        class="ml-1"
        >I understand this action can not be undone.</label
      >
    </div>
  }
  <app-form-error [error]="formFieldErrors()('confirmAction')" />
  <app-change-status-submit-buttons
    [isMutating]="isMutating()"
    (onCancelClick)="cancelClick()"
    (onApproveClick)="validateFormGroupOrPreventSubmit($event)"
  />
</div>
