<p-card
  class="block-full [&_.p-card]:block-full [&_.p-card-body]:block-full [&_.p-card-content]:flex [&_.p-card-content]:flex-col [&_.p-card-content]:block-full"
>
  @if (chipLabel() && !pending()) {
    <app-colored-chip
      [label]="chipLabel()!"
      [variant]="chipVariant()!"
      [icon]="chipIcon()"
      [tooltip]="chipTooltip()"
      class="ms-auto"
    />
  }
  <dt class="text-grey-700 txt-body-m mbs-auto mbe-2 pbs-11">
    {{ metricLabel() }}
    @if (metricTooltip()) {
      <app-info-tooltip [message]="metricTooltip()!" />
    }
  </dt>
  <dd
    class="txt-system-bold-l"
    data-testid="metric-tile-component"
  >
    @if (pending()) {
      <app-skeleton-inline />
    } @else {
      {{ metricValue() ?? '—' }}
    }
  </dd>
</p-card>
