<ion-header>
  <ion-toolbar>
    <ion-title>
      <ng-container>
        {{ 'page.program.program-people-affected.edit-person-affected-popup.popup-title'|translate }}
      </ng-container>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel'|translate"
        [attr.aria-label]="'common.cancel'|translate"
      >
        <ion-icon name="close" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  color="light"
  class="ion-padding"
>
  <div *ngIf="content" [innerHTML]="content">
  </div>
</ion-content>
