<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'page.program.program-people-affected.edit-person-affected-popup.popup-title'|translate:{ pa: 'PA #' + person?.id } }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel'|translate"
        [attr.aria-label]="'common.cancel'|translate"
      >
        <ion-icon name="close" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  color="light"
  class="ion-padding"
>
  <section>
    <ion-list lines="full">

      <app-update-property-item
        [label]="'page.program.program-people-affected.edit-person-affected-popup.properties.namePartnerOrganization.label'|translate"
        [value]="person?.namePartnerOrganization"
        (updated)="updatePaAttribute('namePartnerOrganization', $event)"
        [inProgress]="inProgress?.namePartnerOrganization || false"
        class="ion-margin-vertical"
      ></app-update-property-item>

      <app-update-property-item
        type="number"
        [label]="'page.program.program-people-affected.edit-person-affected-popup.properties.paymentAmountMultiplier.label'|translate"
        [value]="person?.paymentAmountMultiplier"
        (updated)="updatePaAttribute('paymentAmountMultiplier', $event)"
        [inProgress]="inProgress?.paymentAmountMultiplier || false"
        class="ion-margin-vertical"
      ></app-update-property-item>

      <app-update-property-item
        type="tel"
        [label]="'page.program.program-people-affected.edit-person-affected-popup.properties.phoneNumber.label'|translate"
        [explanation]="'page.program.program-people-affected.edit-person-affected-popup.properties.phoneNumber.explanation'|translate"
        [value]="person?.phoneNumber"
        (updated)="updatePaAttribute('phoneNumber', $event)"
        [inProgress]="inProgress?.phoneNumber || false"
        class="ion-margin-vertical"
      ></app-update-property-item>
      <app-update-property-item
        *ngIf="person.whatsappPhoneNumber"
        type="tel"
        [label]="'page.program.program-people-affected.edit-person-affected-popup.properties.whatsappPhoneNumber.label'|translate"
        [explanation]="'page.program.program-people-affected.edit-person-affected-popup.properties.whatsappPhoneNumber.explanation'|translate"
        [value]="person?.whatsappPhoneNumber"
        (updated)="updatePaAttribute('whatsappPhoneNumber', $event)"
        [inProgress]="inProgress?.whatsappPhoneNumber || false"
        class="ion-margin-vertical"
      ></app-update-property-item>
      <app-update-fsp
        *ngIf="fspList.length == programFspLength"
        [fspList]="fspList"
        [label]="'page.program.program-people-affected.column.fsp'|translate"
        [value]="person?.fsp"
      ></app-update-fsp>
    </ion-list>
  </section>
  <hr />
  <section>
    <h4>
      {{ 'page.program.program-people-affected.edit-person-affected-popup.note.section-title'|translate }}
    </h4>
    <p>
      {{ 'page.program.program-people-affected.edit-person-affected-popup.note.introduction'|translate }}
    </p>
    <ion-textarea
      [(ngModel)]="noteModel"
      [ngModelOptions]="{ standalone: true }"
      [disabled]="inProgress?.note || false"
      ngDefaultControl
      rows="10"
      spellcheck="true"
      wrap="soft"
      [placeholder]="'page.program.program-people-affected.edit-person-affected-popup.note.placeholder'|translate"
      style="font-family: monospace; border: 1px solid currentColor; height:150px"
    ></ion-textarea>
    <ion-row class="ion-align-items-center">
      <ion-button
        (click)="saveNote()"
        [disabled]="inProgress?.note || false"
        class="ion-margin-end"
      >
        {{ 'page.program.program-people-affected.edit-person-affected-popup.note.save'|translate }}
      </ion-button>
      <ion-spinner
        *ngIf="inProgress?.note"
        color="primary"
        size="small"
      ></ion-spinner>
      <ion-note *ngIf="noteLastUpdate">
        {{ 'page.program.program-people-affected.edit-person-affected-popup.note.latest-update'|translate:{
            timestamp: noteLastUpdate|date:"yyyy-MM-dd, HH:mm"
          } }}
      </ion-note>
    </ion-row>
  </section>
</ion-content>
