@if (enableSendMessage()) {
  @if (!previewData()) {
    <form [formGroup]="formGroup">
      <div>
        <app-custom-message-control
          formControlName="customMessage"
          [projectId]="projectId()"
          [error]="formFieldErrors()('customMessage')"
        />
        <div class="flex justify-end space-x-2">
          <p-button
            label="Cancel"
            i18n-label="@@generic-cancel"
            outlined
            rounded
            severity="contrast"
            (click)="cancelClick()"
          />
          <p-button
            label="Continue to preview"
            i18n-label
            rounded
            (click)="onProceedToPreview()"
          />
        </div>
      </div>
    </form>
  } @else {
    <div>
      @let messageData = previewData();
      @if (messageData) {
        <app-custom-message-preview
          [projectId]="projectId()"
          [previewRegistration]="previewRegistration()"
          [messageData]="messageData"
        ></app-custom-message-preview>
      }
      <app-change-status-submit-buttons
        [isMutating]="isMutating()"
        (onCancelClick)="previewData.set(undefined)"
      />
    </div>
  }
} @else {
  <div class="mt-6 flex justify-end space-x-2">
    <p-button
      label="Cancel"
      i18n-label="@@generic-cancel"
      outlined
      rounded
      severity="contrast"
      (onClick)="cancelClick()"
    />
    <p-button
      label="Approve"
      i18n-label="@@generic-approve"
      rounded
      [disabled]="isMutating()"
      [loading]="isMutating()"
      type="submit"
    />
  </div>
}
