@if (enableSendMessage()) {
  @if (!previewData()) {
    <!-- We are not using 'form' here because this component is already rendered within a form -->
    <div [formGroup]="formGroup">
      <app-custom-message-control
        formControlName="customMessage"
        [programId]="programId()"
        [error]="formFieldErrors()('customMessage')"
      />
      <div class="flex justify-end gap-x-2">
        <p-button
          label="Cancel"
          i18n-label="@@generic-cancel"
          outlined
          rounded
          severity="contrast"
          (click)="cancelClick()"
        />
        <p-button
          label="Continue to preview"
          i18n-label
          rounded
          (click)="onProceedToPreview()"
        />
      </div>
    </div>
  } @else {
    <div>
      @let messageData = previewData();
      @if (messageData) {
        <app-custom-message-preview
          [programId]="programId()"
          [previewRegistration]="previewRegistration()"
          [messageData]="messageData"
        ></app-custom-message-preview>
      }
      <div class="mt-6 flex justify-end gap-x-2">
        <p-button
          label="Go back"
          i18n-label="@@generic-go-back"
          outlined
          rounded
          [disabled]="isMutating()"
          (click)="previewData.set(undefined)"
        />
        <p-button
          label="Approve"
          i18n-label="@@generic-approve"
          rounded
          [disabled]="isMutating()"
          [loading]="isMutating()"
          type="submit"
        />
      </div>
    </div>
  }
} @else {
  <app-change-status-submit-buttons
    [isMutating]="isMutating()"
    (cancelClick)="cancelClick()"
  />
}
