<section #identityForm>
  <dialogue-turn>
    {{ 'personal.identity-form.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn isConnected="true">
    {{ 'personal.identity-form.step2'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self">
    <p>
      <ion-button>{{ 'personal.identity-form.info-button'|translate }}</ion-button>
    </p>
    <form (ngSubmit)="submitIdentityForm(name,dob)">
      <div class="ion-margin-top">
        <ion-label>{{ 'personal.identity-form.name-label'|translate }}</ion-label>
        <ion-input type="text"
                   name="name"
                   [(ngModel)]="name"
                   ngDefaultControl
        ></ion-input>
      </div>
      <div class="ion-margin-top">
        <ion-label>{{ 'personal.identity-form.dob-label'|translate }}</ion-label>
        <ion-input type="date"
                   name="dob"
                   placeholder="{{ 'personal.identity-form.dob-format' }}"
                   [(ngModel)]="dob"
                   ngDefaultControl
        ></ion-input>
      </div>
      <div class="ion-margin-top">
        <ion-button [hidden]="!name || !dob"
                    type="submit"
                    size="block"
        >{{ 'personal.identity-form.submit-button'|translate }}</ion-button>
      </div>
    </form>
  </dialogue-turn>
  <dialogue-turn [hidden]="!identitySubmitted">
    {{ 'personal.identity-form.conclusion'|translate }}
  </dialogue-turn>
</section>
