<div class="activity-detail ion-padding">
  <div class="activity-detail--icon ion-padding-end">
    <ion-icon
      [name]="getIconName(activity.type)"
      size="large"
      [attr.aria-hidden]="true"
    ></ion-icon>
  </div>
  <div class="activity-detail--content">
    <div
      class="activity-detail--header util--flex-row ion-align-items-center ion-justify-content-between"
    >
      <div class="activity-detail--header-start">
        <div>
          <strong>
            {{ activity.label }}
            <span *ngIf="activity.subLabel"> - {{ activity.subLabel }} </span>
          </strong>

          <span
            *ngIf="activity.activityStatus"
            class="activity-detail--status badge"
            [class]="activity.type + '-' + activity.activityStatus"
          >
            {{
              'common.badge.' + activity.type + '.' + activity.activityStatus
                | translate
            }}
          </span>
        </div>
        <div>
          <small>
            <time
              [attr.datetime]="activity.date"
              class=""
            >
              {{ activity.date | date: DateFormat.dayAndTimeReverse : locale }}
            </time>
          </small>
        </div>
      </div>
      <div class="activity-detail--header-end ion-justify-content-end">
        <span
          *ngIf="activity.chipText"
          class="activity-detail--user badge util--overflow-ellipsis"
          style="max-width: 20em"
          [attr.title]="activity.chipText"
        >
          {{ activity.chipText }}
        </span>
        <div class="activity-detail--actions">
          <!-- open/close body toggle button -->
        </div>
      </div>
    </div>
    <div class="activity-detail--body ion-padding-top">
      <div [innerHTML]="activity.description"></div>
      <!-- <pre>{{ activity | json }}</pre> -->
    </div>
  </div>
</div>
