<ion-header>
  <app-header
    [title]="(program?.validation ? 'page.program.phases.registrationValidation.label' : 'page.program.phases.registrationValidation.label-no-validation') | translate"
  ></app-header>
</ion-header>

<ion-content class="ion-padding">

  <app-phase-next
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="isReady"
  ></app-phase-next>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="8" class="ion-no-padding">
        <app-bulk-import
          [programId]="programId"
        ></app-bulk-import>
      </ion-col>
      <ion-col size="4">
        <app-disable-registration [programId]="programId"
        ></app-disable-registration>
    </ion-col>
  </ion-row>
</ion-grid>



  <app-export-list
    [programId]="programId"
    [exportType]="enumExportType.allPeopleAffected"
  ></app-export-list>

  <app-export-list
    *ngIf="program?.validation"
    [programId]="programId"
    [exportType]="enumExportType.selectedForValidation"
  ></app-export-list>

  <app-program-people-affected
    [programId]="programId"
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
