<ion-header>
  <app-header
    [title]="(program?.validation ? 'page.program.phases.registrationValidation.label' : 'page.program.phases.registrationValidation.label-no-validation') | translate"
  ></app-header>
</ion-header>

<ion-content class="ion-padding">

  <app-phase-next
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="isReady"
  ></app-phase-next>

  <app-export-list
    [programId]="programId"
    [userRole]="userRole"
    [exportType]="enumExportType.allPeopleAffected"
  ></app-export-list>

  <app-export-list
    *ngIf="program?.validation"
    [programId]="programId"
    [userRole]="userRole"
    [exportType]="enumExportType.selectedForValidation"
  ></app-export-list>

  <app-program-people-affected
    [programId]="programId"
    [userRole]="userRole"
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
