<app-header
  [title]="(program?.validation ? 'page.program.phases.registrationValidation.label' : 'page.program.phases.registrationValidation.label-no-validation') | translate"
></app-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col>
        <app-bulk-import
          [programId]="programId"
        ></app-bulk-import>
      </ion-col>
      <ion-col>
        <app-phase-next
          [programId]="programId"
          [thisPhaseName]="thisPhase"
          [phaseReady]="isReady"
        ></app-phase-next>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <div class="ion-no-padding ion-margin-end">
            <app-export-list
              [programId]="programId"
              [exportType]="enumExportType.allPeopleAffected"
            ></app-export-list>
          </div>
          <div class="ion-no-padding">
            <app-export-list
              *ngIf="program?.validation"
              [programId]="programId"
              [exportType]="enumExportType.selectedForValidation"
            ></app-export-list>
          </div>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="ion-justify-content-end">
          <app-disable-registration [programId]="programId"
          ></app-disable-registration>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-program-people-affected
    [programId]="programId"
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
