.recipient-details--payment-history {
  td {
    padding: 0.25em 0.5em;
    min-height: 2em;
    white-space: nowrap;
  }
}
.recipient-details--payment-history-detail-toggle {
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.08);
  }
}

.button-as-link {
  font: inherit;
  font-weight: bold;
  color: inherit;
  background: transparent;
  text-decoration: underline;
}
