<div>
  <ion-grid>
    <ion-row>
      <ion-col
        size="4"
        *ngFor="let column of orderedColumns"
      >
        <ion-item>
          <h3>{{ translationPrefix + column | translate }}</h3>
        </ion-item>
        <ion-item
          *ngFor="let attr of columns[column]"
          lines="none"
          style="--min-height: 30px"
        >
          <ion-label
            color="secondary"
            class="ion-no-margin"
          >
            {{ translationPrefix + attr | translate }}:
            <strong>{{ labelAnswerMap[attr] || '-' }}</strong>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
