<form method="POST">
  <ion-row class="ion-align-items-center">
    <ion-item class="ion-margin-end">
      <ion-label position="stacked">
        {{ 'page.programs.program-details.fixedTransferValue'|translate }}
      </ion-label>
      <ion-input type="number"
                 name="testvalue"
                 required
                 #inputFixedTransferValue
      ></ion-input>
    </ion-item>

    <ion-button (click) ="getValueAndSubmit(inputFixedTransferValue.value)"
                [disabled]="!isEnabled"
    >
      {{ 'page.programs.program-payout.start-payout'|translate }}
    </ion-button>

    <ion-spinner *ngIf="isInProgress"
                 color="primary"
                 class="ion-margin-start"
    ></ion-spinner>
  </ion-row>
</form>
