<p-button
  label="View voucher"
  i18n-label
  (click)="dialogVisible.set(true)"
  outlined
  rounded
  size="small"
/>
<p-dialog
  [header]="dialogHeader()"
  [modal]="true"
  [dismissableMask]="true"
  [(visible)]="dialogVisible"
  [style]="{ width: '70rem' }"
  appendTo="body"
>
  @defer {
    @if (voucher.isSuccess()) {
      <p-scrollPanel class="border-grey-300 h-96 w-full border">
        <iframe
          #voucherIframe
          [src]="sanitizedVoucherUrl()"
          style="width: 100%; height: 100%; border: 0"
          title="Voucher"
          i18n-title
        ></iframe>
      </p-scrollPanel>
      <div class="mt-4 flex justify-end gap-3">
        <a
          [href]="sanitizedVoucherUrl()"
          class="p-button p-button-rounded p-button-outlined"
          [download]="voucherFileName()"
        >
          <span class="p-button-icon p-button-icon-left pi pi-download"></span>
          <span
            class="p-button-label"
            i18n="@@generic-download"
            >Download</span
          >
        </a>
        <p-button
          label="Print voucher"
          i18n-label
          (click)="printVoucher()"
          outlined
          rounded
          icon="pi pi-print"
          [iconPos]="rtlHelper.createPosition('start')()"
        />
      </div>
    } @else if (voucher.isPending()) {
      <p-skeleton height="24rem" />
    } @else {
      <p>{{ voucher.error()?.message }}</p>
    }
  }
</p-dialog>
