<dialogue-turn>
  <p>
    <play-text-audio key="personal.create-account.introduction" class="ion-float-start ion-margin-end"></play-text-audio>
    {{ 'personal.create-account.introduction'|translate }}
  </p>
</dialogue-turn>
<dialogue-turn isConnected="true">
  <p>
    <play-text-audio key="personal.create-account.username-password" class="ion-float-start ion-margin-end"></play-text-audio>
    {{ 'personal.create-account.username-password'|translate }}
  </p>
</dialogue-turn>
<dialogue-turn actor="self">
  <form (ngSubmit)="submitCredentials(username,create,confirm)">
    <input type="submit" hidden /><!-- Include hidden submit-button to enable "enter"-key to trigger ngSubmit -->

    <div>
      <p>
        <play-text-audio key="personal.create-account.create-username" class="ion-margin-end"></play-text-audio>
        <ion-label>{{ 'personal.create-account.create-username'|translate }}</ion-label>
      </p>
      <ion-input
        type="text"
        name="username"
        [(ngModel)]="username"
        ngDefaultControl
        [disabled]="isDisabled"
      ></ion-input>
      <ion-row
        *ngIf="username && !usernameSubmitted"
        class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button" size="default"></play-text-audio>
        <ion-button
          [disabled]="usernameSubmitted || isDisabled"
          type="submit"
          expand="block"
          style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </div>
    <div
      *ngIf="usernameSubmitted"
      class="ion-margin-vertical"
    >
      <p>
        <play-text-audio key="personal.create-account.create-password-explanation" class="ion-float-start ion-margin-end"></play-text-audio>
        {{ 'personal.create-account.create-password-explanation'|translate:{ minimalLength: passwordMinLength } }}
      </p>
      <password-toggle-input
        name="create"
        [(ngModel)]="create"
        ngDefaultControl
        [disabled]="isDisabled"
        autocomplete="new-password"
        [minLength]="passwordMinLength"
        [labelShow]="'password-toggle.show'|translate"
        [labelHide]="'password-toggle.hide'|translate"
        [(isValid)]="createIsValid"
      ></password-toggle-input>
      <div
        *ngIf="createIsValid === false"
        class="ion-margin-vertical"
      >
        <p>
          <play-text-audio key="personal.create-account.password-too-short" class="ion-float-start ion-margin-end"></play-text-audio>
          {{ 'personal.create-account.password-too-short'|translate:{ minimalLength: passwordMinLength } }}
        </p>
      </div>
      <ion-row
        *ngIf="create && !initialInput"
        class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button" size="default"></play-text-audio>
        <ion-button
          [disabled]="!createIsValid || initialInput || isDisabled"
          type="submit"
          expand="block"
          style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </div>

    <div *ngIf="initialInput">
      <p>
        <play-text-audio key="personal.create-account.confirm-password" class="ion-margin-end"></play-text-audio>
        <ion-label>{{ 'personal.create-account.confirm-password'|translate }}</ion-label>
      </p>
      <password-toggle-input
        name="confirm"
        [(ngModel)]="confirm"
        ngDefaultControl
        [disabled]="isDisabled"
        autocomplete="new-password"
        [minLength]="passwordMinLength"
        [labelShow]="'password-toggle.show'|translate"
        [labelHide]="'password-toggle.hide'|translate"
      ></password-toggle-input>
      <ion-row
        *ngIf="create && confirm && !isDisabled"
        class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button" size="default"></play-text-audio>
        <ion-button
          [disabled]="isInProgress || isDisabled"
          type="submit"
          expand="block"
          style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </div>
  </form>
</dialogue-turn>
<dialogue-turn
  *ngIf="unequalPasswords"
  [isSpoken]="unequalPasswords"
>
  <p>
    <play-text-audio key="personal.create-account.unequal-passwords" class="ion-float-start ion-margin-end"></play-text-audio>
    {{ 'personal.create-account.unequal-passwords'|translate }}
  </p>
</dialogue-turn>
<dialogue-turn
  *ngIf="usernameNotUnique"
  [isSpoken]="usernameNotUnique"
>
  <p>
    <play-text-audio key="personal.create-account.username-not-unique" class="ion-float-start ion-margin-end"></play-text-audio>
    {{ 'personal.create-account.username-not-unique'|translate }}
  </p>
</dialogue-turn>
<dialogue-turn
  *ngIf="isDisabled"
  [isSpoken]="isDisabled"
>
  <p>
    <play-text-audio key="personal.create-account.conclusion" class="ion-float-start ion-margin-end"></play-text-audio>
    {{ 'personal.create-account.conclusion'|translate }}
  </p>
</dialogue-turn>
