<ng-container [formGroup]="formGroup">
  <div class="flex flex-row gap-4 inline-full *:inline-1/2">
    <app-form-field-wrapper
      label="Funds available"
      i18n-label
      [errorMessage]="formFieldErrors()('budget')"
    >
      <p-inputgroup>
        <p-inputgroup-addon class="text-black">
          {{ getCurrencySymbol({ code: formGroup.controls.currency.value }) }}
        </p-inputgroup-addon>
        <p-inputNumber
          [locale]="locale"
          [useGrouping]="true"
          [minFractionDigits]="0"
          [maxFractionDigits]="0"
          class="inline-full"
          inputStyleClass="inline-full"
          formControlName="budget"
        />
      </p-inputgroup>
    </app-form-field-wrapper>
    <app-form-field-wrapper
      label="Currency"
      i18n-label
      [errorMessage]="formFieldErrors()('currency')"
      [infoTooltipData]="PROGRAM_FORM_TOOLTIPS_CONFIG.currency"
      [isRequired]="true"
    >
      <p-select
        [options]="currencies"
        formControlName="currency"
        [showClear]="false"
        class="inline-full"
        [filter]="true"
      >
        <ng-template
          #item
          let-option
        >
          <div class="flex justify-between pe-2 inline-full">
            <span>
              {{ option.value }}
            </span>
            <span class="text-grey-700/75">
              {{ getCurrencySymbol({ code: option.value }) }}
            </span>
          </div>
        </ng-template>
      </p-select>
    </app-form-field-wrapper>
  </div>
  <app-form-field-wrapper
    label="Number of distributions per registration"
    i18n-label
    [errorMessage]="formFieldErrors()('distributionDuration')"
    [infoTooltipData]="PROGRAM_FORM_TOOLTIPS_CONFIG.distributionDuration"
  >
    <input
      pInputText
      type="number"
      formControlName="distributionDuration"
      placeholder="Number of distributions per registration"
      i18n-placeholder
    />
  </app-form-field-wrapper>

  <app-form-field-wrapper
    label="Fixed transfer value"
    i18n-label
    [errorMessage]="formFieldErrors()('fixedTransferValue')"
    [isRequired]="true"
  >
    <p-inputgroup>
      <p-inputgroup-addon class="text-black">
        {{ getCurrencySymbol({ code: formGroup.controls.currency.value }) }}
      </p-inputgroup-addon>
      <p-inputNumber
        mode="decimal"
        [locale]="locale"
        [useGrouping]="true"
        [minFractionDigits]="0"
        [maxFractionDigits]="2"
        class="inline-full"
        inputStyleClass="inline-full"
        formControlName="fixedTransferValue"
      />
    </p-inputgroup>
  </app-form-field-wrapper>

  <app-form-field-wrapper
    label="Financial service providers:"
    i18n-label
  >
    <app-fsp-multiselect
      formControlName="fsps"
      [programId]="program() ? programId() : undefined"
    ></app-fsp-multiselect>
  </app-form-field-wrapper>
</ng-container>
