<ion-header>
  <app-header
    [title]="'page.dashboard.pageTitle'|translate"
  ></app-header>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col
        [sizeXs]="12"
        [sizeLg]="3"
      >

        <ion-card color="light">
          <ion-card-content>
            <p class="ion-margin-vertical">
              {{ 'page.dashboard.introduction'|translate }}

              <br><br>

              {{ 'page.dashboard.help-explanation'|translate }}

            </p>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col
        [sizeXs]="12"
        [sizeLg]="9"
        class="horizontal-scroll-container"
      >
        <app-metrics-states
          [program]="program"
        ></app-metrics-states>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br><br>

  <div style="max-width: 33em; margin: auto;">
    <app-metrics
      [isCollapsed]="false"
      [program]="program"
    ></app-metrics>
  </div>


</ion-content>
