<app-page-layout-title-and-actions [isPending]="payments.isPending()">
  <ng-container page-layout-title>
    <app-breadcrumbs-title
      [parentLink]="allPaymentsLink()"
      parentTitle="All Payments"
      i18n-parentTitle
      [childTitle]="paymentTitle()"
    ></app-breadcrumbs-title>
  </ng-container>
  <ng-container page-layout-actions>
    @if (canExportPaymentInstructions()) {
      <p-button
        label="Export FSP payment list"
        i18n-label
        icon="pi pi-upload"
        (click)="exportFspInstructions()"
        [disabled]="paymentInProgress.isPending()"
      />
    }
  </ng-container>
</app-page-layout-title-and-actions>
