<app-page-layout
  pageTitle="Registrations"
  i18n-pageTitle="@@page-title-project-registrations"
  [projectId]="projectId()"
>
  <div
    header-actions
    class="space-x-2.5"
  >
    @if (canImport()) {
      <app-import-registrations [projectId]="projectId()" />
    }
    @if (canExport()) {
      <app-export-registrations
        [projectId]="projectId()"
        [getActionData]="
          registrationsTable.getActionData.bind(registrationsTable)
        "
      />
    }
  </div>
  <p-card>
    <app-registrations-table
      #registrationsTable
      [projectId]="projectId()"
      [localStorageKey]="'project-registrations-table-' + projectId()"
      [contextMenuItems]="contextMenuItems()"
    >
      <div table-actions>
        <p-buttonGroup>
          @if (canChangeStatus()(RegistrationStatusEnum.validated)) {
            <p-button
              [label]="
                REGISTRATION_STATUS_VERB[RegistrationStatusEnum.validated]
              "
              [icon]="
                REGISTRATION_STATUS_ICON[RegistrationStatusEnum.validated]
              "
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.validated })
              "
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.included)) {
            <p-button
              [label]="
                REGISTRATION_STATUS_VERB[RegistrationStatusEnum.included]
              "
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.included]"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.included })
              "
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.declined)) {
            <p-button
              [label]="
                REGISTRATION_STATUS_VERB[RegistrationStatusEnum.declined]
              "
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.declined]"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.declined })
              "
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.paused)) {
            <p-button
              [label]="REGISTRATION_STATUS_VERB[RegistrationStatusEnum.paused]"
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.paused]"
              rounded
              outlined
              (click)="changeStatus({ status: RegistrationStatusEnum.paused })"
            />
          }
          @if (canSendMessage()) {
            <p-button
              label="Message"
              i18n-label
              icon="pi pi-envelope"
              rounded
              outlined
              (click)="sendMessage()"
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.deleted)) {
            <p-button
              [label]="REGISTRATION_STATUS_VERB[RegistrationStatusEnum.deleted]"
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.deleted]"
              rounded
              outlined
              (click)="changeStatus({ status: RegistrationStatusEnum.deleted })"
            />
          }
        </p-buttonGroup>
      </div>
    </app-registrations-table>
  </p-card>
</app-page-layout>

<app-send-message-dialog
  #sendMessageDialog
  [projectId]="projectId()"
  (actionComplete)="onActionComplete()"
/>

<app-change-status-dialog
  #changeStatusDialog
  [projectId]="projectId()"
  (actionComplete)="onActionComplete()"
/>
