<app-page-layout
  pageTitle="Registrations"
  i18n-pageTitle="@@page-title-project-registrations"
  [projectId]="projectId()"
>
  <p-card>
    <app-query-table
      [items]="registrations()"
      [isPending]="registrationsResponse.isPending()"
      [columns]="columns()"
      localStorageKey="project-registrations-table"
      [serverSideFiltering]="true"
      [serverSideTotalRecords]="totalRegistrations()"
      (onUpdatePaginateQuery)="paginateQuery.set($event)"
      [enableSelection]="true"
      (onUpdateSelection)="tableSelection.set($event)"
      [contextMenuItems]="contextMenuItems()"
      (onUpdateContextMenuItem)="contextMenuRegistration.set($event)"
    >
      <div table-actions>
        <p-buttonGroup>
          @if (
            canChangeStatus(RegistrationStatusEnum.validated) &&
            project.data()?.validation
          ) {
            <p-button
              label="Validate"
              i18n-label
              icon="pi pi-check-circle"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.validated })
              "
            />
          }
          @if (canChangeStatus(RegistrationStatusEnum.included)) {
            <p-button
              label="Include"
              i18n-label
              icon="pi pi-check"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.included })
              "
            />
          }
          @if (canChangeStatus(RegistrationStatusEnum.declined)) {
            <p-button
              label="Decline"
              i18n-label
              icon="pi pi-times"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.declined })
              "
            />
          }
          @if (canChangeStatus(RegistrationStatusEnum.paused)) {
            <p-button
              label="Pause"
              i18n-label
              icon="pi pi-pause"
              rounded
              outlined
              (click)="changeStatus({ status: RegistrationStatusEnum.paused })"
            />
          }
          @if (canSendMessage()) {
            <p-button
              label="Message"
              i18n-label
              icon="pi pi-envelope"
              rounded
              outlined
              (click)="sendMessage()"
            />
          }
          @if (canChangeStatus(RegistrationStatusEnum.deleted)) {
            <p-button
              label="Delete"
              i18n-label
              icon="pi pi-trash"
              rounded
              outlined
              (click)="changeStatus({ status: RegistrationStatusEnum.deleted })"
            />
          }
        </p-buttonGroup>
      </div>
    </app-query-table>
  </p-card>
</app-page-layout>

<app-send-message-dialog
  #sendMessageDialog
  [projectId]="projectId()"
/>
<app-change-status-dialog
  #changeStatusDialog
  [projectId]="projectId()"
  [previewRegistration]="previewRegistration()"
/>
