<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="person?.registrationProgramId">
      {{
        'page.program.program-people-affected.edit-person-affected-popup.popup-title'
          | translate
            : {
                pa: person.personAffectedSequence
              }
      }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ng-container *ngIf="!loading">
    <h2>{{ person?.name }}</h2>

    <section class="ion-margin-vertical ion-padding-bottom">
      <strong
        >{{
          'page.program.program-people-affected.column.status' | translate
        }}:</strong
      >
      {{ 'entity.registration.status.' + person?.status | translate }}
    </section>

    <section
      style="max-width: 80%"
      class="ion-margin-vertical ion-padding-bottom"
    >
      <div>
        <app-update-property-item
          type="number"
          [label]="
            'page.program.program-people-affected.edit-person-affected-popup.properties.paymentAmountMultiplier.label'
              | translate
          "
          [explanation]="
            'page.program.program-people-affected.edit-person-affected-popup.properties.paymentAmountMultiplier.explanation'
              | translate
          "
          [value]="attributeValues?.paymentAmountMultiplier"
          (updated)="
            updatePaAttribute(
              'paymentAmountMultiplier',
              $event.value,
              $event?.reason?.message,
              false
            )
          "
          [inProgress]="inProgress?.paymentAmountMultiplier || false"
          [isDisabled]="
            !canUpdateRegistrationAttributeFinancial ||
            program?.paymentAmountMultiplierFormula
          "
          [showSubmit]="
            canUpdateRegistrationAttributeFinancial &&
            !program?.paymentAmountMultiplierFormula
          "
          prop="paymentAmountMultiplier"
          class="ion-margin-vertical"
        ></app-update-property-item>

        <ng-container *ngIf="showMaxPaymentsField()">
          <app-update-property-item
            *ngIf="attributeValues?.maxPayments !== undefined"
            type="number"
            [label]="
              canViewPaymentData
                ? ('page.program.program-people-affected.edit-person-affected-popup.properties.maxPayments.label-payments'
                  | translate
                    : {
                        alreadyReceivedPayments: person?.paymentCount || 0
                      })
                : ('page.program.program-people-affected.edit-person-affected-popup.properties.maxPayments.label-no-payments'
                  | translate)
            "
            [explanation]="
              'page.program.program-people-affected.edit-person-affected-popup.properties.maxPayments.explanation'
                | translate
            "
            [value]="attributeValues?.maxPayments"
            (updated)="
              updatePaAttribute(
                'maxPayments',
                $event.value,
                $event?.reason?.message,
                false
              )
            "
            [inProgress]="inProgress?.maxPayments || false"
            [isDisabled]="!canUpdateRegistrationAttributeFinancial"
            [showSubmit]="canUpdatePaData"
            prop="maxPayments"
            class="ion-margin-vertical"
          ></app-update-property-item>
        </ng-container>

        <ng-container *ngIf="canViewPersonalData">
          <app-update-property-item
            *ngIf="attributeValues?.phoneNumber !== undefined"
            type="tel"
            [label]="
              'page.program.program-people-affected.edit-person-affected-popup.properties.phoneNumber.label'
                | translate
            "
            [explanation]="
              'page.program.program-people-affected.edit-person-affected-popup.properties.phoneNumber.explanation'
                | translate
            "
            [value]="attributeValues?.phoneNumber"
            (updated)="
              updatePaAttribute(
                'phoneNumber',
                $event.value,
                $event?.reason?.message,
                false
              )
            "
            [inProgress]="inProgress?.phoneNumber || false"
            [isDisabled]="!canUpdatePaData || !canUpdatePersonalData"
            [showSubmit]="canUpdatePaData && canUpdatePersonalData"
            class="ion-margin-vertical"
          ></app-update-property-item>
        </ng-container>

        <ng-container *ngIf="showScopeField">
          <app-update-property-item
            type="text"
            [label]="
              'page.program.program-people-affected.edit-person-affected-popup.properties.scope.label'
                | translate
            "
            [explanation]="
              'page.program.program-people-affected.edit-person-affected-popup.properties.scope.explanation'
                | translate
            "
            [value]="attributeValues?.scope"
            (updated)="
              updatePaAttribute(
                'scope',
                $event.value,
                $event?.reason?.message,
                false
              )
            "
            [isDisabled]="!canUpdatePaData"
            [showSubmit]="canUpdatePaData"
            [inProgress]="inProgress?.scope || false"
            class="ion-margin-vertical"
          ></app-update-property-item>
        </ng-container>

        <ng-container *ngIf="attributeValues.preferredLanguage">
          <app-update-property-item
            type="dropdown"
            [label]="
              'page.program.program-people-affected.edit-person-affected-popup.properties.preferredLanguage.label'
                | translate
            "
            [value]="attributeValues.preferredLanguage"
            [options]="availableLanguages"
            (updated)="
              updatePaAttribute(
                'preferredLanguage',
                $event.value,
                $event?.reason?.message,
                false
              )
            "
            [isDisabled]="!canUpdatePaData"
            [showSubmit]="canUpdatePaData"
            [inProgress]="inProgress?.preferredLanguage || false"
            class="ion-margin-vertical"
          ></app-update-property-item>
        </ng-container>

        <div
          *ngIf="
            (!canUpdatePaData || !canUpdatePaFsp) &&
            fspList.length === programFspLength &&
            person?.financialServiceProvider
          "
          class="ion-margin-vertical"
        >
          <strong
            >{{
              'page.program.program-people-affected.column.fspDisplayName'
                | translate
            }}:</strong
          >
          &nbsp;&nbsp;
          <code>{{ person?.fspDisplayName }}</code>
        </div>
        <app-update-fsp
          *ngIf="
            canUpdatePaData &&
            canUpdatePaFsp &&
            fspList.length === programFspLength &&
            person?.financialServiceProvider
          "
          [fspList]="fspList"
          [label]="
            'page.program.program-people-affected.column.fspDisplayName'
              | translate
          "
          [value]="person?.financialServiceProvider"
          [attributeValues]="attributeValues"
          [referenceId]="person?.referenceId"
          [programId]="programId"
          class="ion-margin-vertical"
        ></app-update-fsp>

        <ng-container *ngIf="canViewPersonalData && paTableAttributes">
          <app-update-property-item
            *ngFor="let paTableAttribute of paTableAttributes"
            [type]="paTableAttribute.type"
            [label]="paTableAttribute.label"
            [value]="attributeValues[paTableAttribute.name]"
            [isDisabled]="!canUpdatePaData || !canUpdatePersonalData"
            [showSubmit]="canUpdatePaData && canUpdatePersonalData"
            [options]="paTableAttribute.options"
            [pattern]="paTableAttribute.pattern"
            [explanation]="paTableAttribute.explanation"
            (updated)="
              updatePaAttribute(
                paTableAttribute.name,
                $event.value,
                $event?.reason?.message,
                true
              )
            "
            class="ion-margin-vertical"
          ></app-update-property-item>
        </ng-container>
      </div>
    </section>
  </ng-container>
</ion-content>
