<app-form-dialog
  #configurationDialog
  [header]="configurationDialogHeader()"
  headerIcon="pi pi-money-bill"
  [formGroup]="formGroup()"
  [mutation]="configureFsp"
  [mutationData]="formGroup().getRawValue()"
  proceedLabel="Integrate FSP"
  i18n-proceedLabel
>
  <p
    i18n
    class="mb-4"
  >
    For more information about how to integrate this FSP see the
    <app-manual-link />.
  </p>

  @for (fspFormField of fspFormFields(); track fspFormField.name) {
    <app-fsp-configuration-property-form-field
      [programId]="programId()"
      [formGroup]="formGroup()"
      [fspFormField]="fspFormField"
    />
  }
</app-form-dialog>
