<ion-content>
  <app-header [isIframeHeader]="true"></app-header>

  <ng-container *ngIf="recipients?.length === 0 && queryParamPhonenumber">
    <div class="ion-padding">
      <h4>{{ 'page.iframe.recipient.no-recipients-found' | translate }}</h4>
    </div>
  </ng-container>

  <ng-container *ngIf="!queryParamPhonenumber">
    <div class="ion-padding">
      <h4>{{ 'page.iframe.recipient.no-phone-number' | translate }}</h4>
    </div>
  </ng-container>

  <ng-container *ngIf="recipients?.length > 0">
    <app-banner [text]="searchResultText"></app-banner>

    <ion-accordion-group [value]="accordionGroupValue">
      <ion-accordion
        *ngFor="let recipient of recipients"
        [value]="recipient.id"
      >
        <ion-item slot="header">
          <ion-label color="secondary">
            {{ recipient.programTitle }} -
            <strong>{{ recipient.name }}</strong>
          </ion-label>
        </ion-item>

        <app-registration-profile
          [person]="recipient"
          [program]="recipient.program"
          slot="content"
        ></app-registration-profile>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>
</ion-content>
