<p-button
  label="Add project"
  i18n-label="@@add-project-label"
  outlined
  rounded
  icon="pi pi-plus"
  class="text-xs sm:text-base"
  (click)="formVisible.set(true)"
/>
<app-form-sidebar
  [(visible)]="formVisible"
  [formGroup]="formGroup"
  [mutation]="createProjectMutation"
>
  <h2 i18n="@@add-project-label">Add project</h2>
  <app-form-field-wrapper
    label="Kobo Asset ID"
    i18n-label
    [errorMessage]="formFieldErrors()('assetId')"
  >
    <input
      pInputText
      type="text"
      formControlName="assetId"
      autocomplete="off"
    />
  </app-form-field-wrapper>
  <app-form-field-wrapper
    label="Kobo Token"
    i18n-label
    [errorMessage]="formFieldErrors()('token')"
  >
    <p-password
      formControlName="token"
      autocomplete="off"
      [toggleMask]="true"
      [feedback]="false"
    />
  </app-form-field-wrapper>
</app-form-sidebar>
