<p-button
  label="Add project"
  i18n-label="@@add-project-label"
  outlined
  rounded
  icon="pi pi-plus"
  (click)="formVisible.set(true)"
/>
<app-form-sidebar
  [(visible)]="formVisible"
  [formGroup]="formGroup"
  [mutation]="createProjectMutation"
  formTitle="Add project"
  i18n-formTitle="@@add-project-label"
>
  <app-form-field-wrapper
    label="Kobo Asset ID"
    i18n-label
    [errorMessage]="formFieldErrors()('assetId')"
  >
    <input
      pInputText
      type="text"
      formControlName="assetId"
      autocomplete="one-time-code"
      class="font-mono"
    />
  </app-form-field-wrapper>
  <app-form-field-wrapper
    label="Kobo Token"
    i18n-label
    [errorMessage]="formFieldErrors()('token')"
  >
    <p-password
      formControlName="token"
      autocomplete="one-time-code"
      [toggleMask]="true"
      [feedback]="false"
    />
  </app-form-field-wrapper>
</app-form-sidebar>
