<ion-header>
  <ion-toolbar>
    <ion-title>{{
      inputProps?.titleTranslationKey
        ? (inputProps?.titleTranslationKey | translate)
        : ('common.confirm' | translate)
    }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2
    *ngIf="subHeader"
    [innerHTML]="subHeader"
  ></h2>
  <div
    *ngIf="message"
    [innerHTML]="message"
    class="ion-margin-vertical"
  ></div>

  <div
    *ngIf="inputProps?.explanation"
    [innerHTML]="inputProps?.explanation | translate"
    class="ion-margin-vertical"
  ></div>

  <div
    *ngIf="inputProps?.provideInput"
    class="ion-margin-vertical"
  >
    <div>
      <ion-label *ngIf="inputProps.inputConstraint?.length">
        {{
          'page.program.program-people-affected.edit-person-affected-popup.reason-popup.max-length'
            | translate
              : {
                  maxLength: inputProps.inputConstraint?.length
                }
        }}
      </ion-label>
      <ion-textarea
        name="message"
        #input="ngModel"
        [(ngModel)]="inputModel"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
        [required]="inputProps.inputRequired"
        [rows]="3"
        [autoGrow]="true"
        [maxLength]="inputProps.inputConstraint?.length"
        [value]="inputProps.defaultValue"
        [placeholder]="inputProps.placeholder"
        fill="outline"
        style="font-family: monospace"
        class="input-element-with-border"
      ></ion-textarea>
      <ion-note>
        {{ input?.value ? input?.value?.length : 0 }} (≤
        {{ inputProps.inputConstraint?.length }})
      </ion-note>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button
        fill="clear"
        color="danger"
        (click)="closeModal()"
      >
        {{ 'common.cancel' | translate }}
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        (click)="submitConfirm()"
        [disabled]="checkOkDisabled()"
      >
        {{
          inputProps?.okTranslationKey
            ? (inputProps?.okTranslationKey | translate)
            : ('common.ok' | translate)
        }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
