<app-header [title]="'page.create-program.pageTitle' | translate"></app-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="!isAdmin">
    {{ 'page.create-program.no-permission' | translate }}
  </ng-container>

  <form
    *ngIf="isAdmin"
    #createProgramForm="ngForm"
    (ngSubmit)="createProgram()"
    (keyup.enter)="createProgram()"
    style="width: 50%"
    class="ion-padding"
  >
    <ion-text
      *ngIf="errorMessage && !inProgress"
      color="danger"
      class="ion-padding-vertical"
      style="display: block"
    >
      {{ errorMessage }}
    </ion-text>

    <ion-input
      type="password"
      name="koboToken"
      [(ngModel)]="koboTokenValue"
      required="true"
      [label]="'page.create-program.form.kobo-token.label' | translate"
      labelPlacement="stacked"
      fill="outline"
      class="ion-margin-vertical"
    ></ion-input>

    <ion-input
      name="koboAssetId"
      [(ngModel)]="koboAssetIdValue"
      required="true"
      [label]="'page.create-program.form.kobo-asset-id.label' | translate"
      labelPlacement="stacked"
      fill="outline"
      class="ion-margin-vertical"
    ></ion-input>

    <div class="ion-text-end">
      <ion-button
        type="submit"
        [disabled]="!createProgramForm.valid"
      >
        {{ 'page.create-program.pageTitle' | translate }}

        <ion-spinner
          *ngIf="inProgress"
          slot="end"
        ></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>
