@if (fspNames().length > 0) {
  <div class="mt-4">
    <h2
      i18n
      class="text-base!"
    >
      Integrated FSPs
    </h2>

    <div
      class="mt-2 flex flex-wrap gap-2"
      data-testid="integrated-fsp-list"
    >
      @for (name of fspNames(); track $index) {
        <p-tag
          severity="info"
          value="{{ name }}"
          [rounded]="true"
        />
      }
    </div>
  </div>
}

<p
  i18n
  class="my-4"
>
  Your form must include the following required fields, using these
  <strong class="font-display">exact data column names</strong> (these would be
  the column headers in Excel).
</p>

<p-table
  [value]="requiredAttributes()"
  data-testid="required-attributes-table"
>
  <ng-template #header>
    <tr>
      <th
        i18n
        class="txt-body-s text-grey-700 px-2 py-1.5 font-semibold uppercase"
      >
        Field
      </th>
      <th
        i18n
        class="txt-body-s text-grey-700 px-2 py-1.5 font-semibold uppercase"
      >
        Data column name
      </th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-attribute
  >
    <tr>
      <td class="px-2">{{ attribute.label }}</td>
      <td class="px-2">
        {{ attribute.name }}

        <p-button
          (click)="copyToClipboard(attribute.name)"
          ariaLabel="Copy to clipboard"
          icon="pi pi-copy"
          class="hover:text-purple hover:cursor-pointer"
          [unstyled]="true"
          i18n-ariaLabel
          size="small"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
