<p-table
  [value]="requiredAttributes()"
  data-testid="required-attributes-table"
  class="mbs-4"
>
  <ng-template #header>
    <tr
      class="[&>th]:txt-body-s [&>th]:text-grey-700 [&>th]:px-2 [&>th]:py-1.5 [&>th]:font-semibold [&>th]:uppercase"
    >
      <th i18n>Field</th>
      <th i18n>Recommended type</th>
      <th i18n>Data column name</th>
    </tr>
  </ng-template>
  <ng-template
    #body
    let-attribute
  >
    <tr class="align-top text-sm font-bold [&>td]:inline-1/3">
      <td class="px-2">
        {{ attribute.label }}
        <span class="relative inset-bs-1">
          @if (attribute.infoTooltip) {
            <app-info-tooltip [message]="attribute.infoTooltip()" />
          }
        </span>
      </td>

      <td>
        {{ getTranslatedRecommendedAttributeType(attribute) }}

        @if (attribute.name === 'fsp') {
          <p
            i18n
            class="text-grey-700 mbs-2 font-normal"
          >
            Ask this in the form. Answer options must match these values
            exactly.
          </p>
        }
      </td>

      <td class="px-2">
        <div>
          {{ attribute.name }}
          <app-copy-to-clipboard-button [copyThis]="attribute.name" />

          @if (attribute.name === 'fsp' && programFspNames().length > 0) {
            <div class="mbs-2 space-y-2 [&>ul]:space-y-2">
              <div
                i18n
                class="text-grey-700 font-normal"
              >
                Answer values:
              </div>
              <ul>
                @for (name of programFspNames(); track name) {
                  <li>
                    {{ name }}
                    <app-copy-to-clipboard-button [copyThis]="name" />
                  </li>
                }
              </ul>
            </div>
          }
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-explainer
  [title]="dataColumnNamesExplainers.title"
  [items]="dataColumnNamesExplainers.items"
  [trackingEventName]="'Data column names'"
/>
