<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <play-text-audio [key]="(headingKey) ? headingKey : 'shared.more-info'"></play-text-audio>
    </ion-buttons>
    <ion-title>
      {{ (heading) ? heading : 'shared.more-info'|translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"
                  [title]="'shared.close-button'|translate"
                  [aria-label]="'shared.close-button'|translate"
      >
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen
             class="ion-padding"
>
  <div *ngIf="messageKey">
    <play-text-audio [key]="messageKey"></play-text-audio>
  </div>
  <div [innerHTML]="message"></div>
</ion-content>
