<ngx-datatable
  class="bootstrap ngx-datatable--full-height"
  [rows]="filteredRows"
  [columnMode]="'force'"
  [virtualization]="false"
  [rowHeight]="'auto'"
  [headerHeight]="50"
  [footerHeight]="50"
  [sorts]="[{ prop: 'username', dir: 'asc' }]"
  [messages]="{
    emptyMessage: 'ngx-datatable.empty-message' | translate,
    totalMessage: 'page.users.total-users' | translate,
    selectedMessage: 'ngx-datatable.selected-message' | translate
  }"
>
  <ngx-datatable-column
    prop="username"
    [name]="'page.users.table-headers.username' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <span [attr.title]="row.username">
        {{ row.username }}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="admin"
    [name]="'page.users.table-headers.user-type' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <span *ngIf="row?.admin === true">
        {{ 'entity.users.type.admin' | translate }}
      </span>
      <span *ngIf="row?.admin === false">
        {{ 'entity.users.type.regular' | translate }}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="active"
    [name]="'page.users.table-headers.status' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <ng-container>
        <span
          class="badge"
          [class.user-active]="row.active === true"
          [class.user-inactive]="row.active === false"
        >
          <ng-container *ngIf="row?.active === true">
            {{ 'entity.users.status.active' | translate }}
          </ng-container>
          <strong *ngIf="row?.active === false">
            {{ 'entity.users.status.inactive' | translate }}
          </strong>
        </span>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="lastLogin"
    [name]="'page.users.table-headers.last-login' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <time
        [attr.datetime]="row.lastLogin"
        [attr.title]="row.lastLogin | date: DateFormat.dateOnly : locale"
      >
        {{ row.lastLogin | date: DateFormat.dateOnly : locale }}
      </time>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
