<div
  #proxyScrollbar
  class="proxy-scrollbar"
  data-target-scroll-element-selector="datatable-body"
  data-target-width-element-selector="datatable-scroller"
>
  <div class="proxy-scrollbar--content"></div>
</div>
<ngx-datatable
  class="bootstrap data-table--max-height"
  [rows]="filteredRows"
  [columnMode]="'force'"
  [rowHeight]="45"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [headerHeight]="40"
  [footerHeight]="50"
  [sorts]="[{ prop: 'username', dir: 'asc' }]"
  [messages]="{
    emptyMessage: 'ngx-datatable.empty-message' | translate,
    totalMessage: 'page.users.total-users' | translate,
    selectedMessage: 'ngx-datatable.selected-message' | translate
  }"
>
  <!-- username -->
  <ngx-datatable-column
    prop="username"
    [name]="'page.users.table-headers.username' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row.username }}
    </ng-template>
  </ngx-datatable-column>

  <!-- user type -->
  <ngx-datatable-column
    prop="admin"
    [name]="'page.users.table-headers.user-type' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <span *ngIf="row?.admin === true">
        {{ 'entity.users.type.admin' | translate }}
      </span>
      <span *ngIf="row?.admin === false">
        {{ 'entity.users.type.regular' | translate }}
      </span>
    </ng-template>
  </ngx-datatable-column>

  <!-- status-->
  <ngx-datatable-column
    prop="active"
    [name]="'page.users.table-headers.status' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <ng-container>
        <ion-chip
          [disabled]="true"
          [class.active]="row.active === true"
          [class.inactive]="row.active === false"
        >
          <ion-label>
            <strong *ngIf="row?.active === true">
              {{ 'entity.users.status.active' | translate }}
            </strong>
            <strong *ngIf="row?.active === false">
              {{ 'entity.users.status.inactive' | translate }}
            </strong>
          </ion-label>
        </ion-chip>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <!-- last activity -->
  <ngx-datatable-column
    prop="lastLogin"
    [name]="'page.users.table-headers.last-login' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row.lastLogin | date: DateFormat.dateOnly }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
