<ion-grid>
  <ion-row>
    <ion-col size="2">
      <ion-button
        [title]="'header.home'|translate"
        [attr.aria-label]="'header.home'|translate"
        routerLink="/home"
        routerDirection="root"
        fill="clear"
        size="small"
        color="medium"
      >
        <ion-icon name="home" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <h1 class="ion-no-margin">
        {{ title }}
      </h1>
    </ion-col>
    <ion-col class="ion-text-right">
      <app-user-state></app-user-state>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="auto">
      <ion-button
        [routerLink]="['/program', programId, 'dashboard']"
        routerDirection="root"
        routerLinkActive
        #rlaDashboard="routerLinkActive"
        [fill]=" rlaDashboard.isActive ? 'solid' : 'outline'"
      >
        {{ 'header.dashboard'|translate }}
      </ion-button>
      <ion-button
        [disabled]="!showManageAidworkers"
        [routerLink]="['/program', programId, 'aid-workers']"
        routerDirection="root"
        routerLinkActive
        #rlaAidWorkers="routerLinkActive"
        [fill]=" rlaAidWorkers.isActive ? 'solid' : 'outline'"
      >
        {{ 'header.aid-workers'|translate }}
      </ion-button>
    </ion-col>
    <ion-col size="auto">
      {{ 'header.phases'|translate }}:
    </ion-col>
    <ion-col class="horizontal-scroll-container">
      <div class="ion-text-nowrap">
        <ion-button
          [routerLink]="['/program', programId, 'design']"
          routerDirection="root"
          routerLinkActive
          #rlaDesign="routerLinkActive"
          [fill]=" rlaDesign.isActive ? 'solid' : 'outline'"
        >
          {{ 'header.design'|translate }}
        </ion-button>
        <ion-button
          [routerLink]="['/program', programId, 'registration-validation']"
          routerDirection="root"
          routerLinkActive
          #rlaRegistrationValidation="routerLinkActive"
          [fill]=" rlaRegistrationValidation.isActive ? 'solid' : 'outline'"
        >
          {{ 'header.registration-validation'|translate }}
        </ion-button>
        <ion-button
          [routerLink]="['/program', programId, 'inclusion']"
          routerDirection="root"
          routerLinkActive
          #rlaInclusion="routerLinkActive"
          [fill]=" rlaInclusion.isActive ? 'solid' : 'outline'"
        >
          {{ 'header.inclusion'|translate }}
        </ion-button>
        <ion-button
          [routerLink]="['/program', programId, 'review-inclusion']"
          routerDirection="root"
          routerLinkActive
          #rlaReviewInclusion="routerLinkActive"
          [fill]=" rlaReviewInclusion.isActive ? 'solid' : 'outline'"
        >
          {{ 'header.review-inclusion'|translate }}
        </ion-button>
        <ion-button
          [routerLink]="['/program', programId, 'payment']"
          routerDirection="root"
          routerLinkActive
          #rlaPayment="routerLinkActive"
          [fill]=" rlaPayment.isActive ? 'solid' : 'outline'"
        >
          {{ 'header.payment'|translate }}
        </ion-button>
        <ion-button
          [routerLink]="['/program', programId, 'evaluation']"
          routerDirection="root"
          routerLinkActive
          #rlaEvaluation="routerLinkActive"
          [fill]=" rlaEvaluation.isActive ? 'solid' : 'outline'"
        >
          {{ 'header.evaluation'|translate }}
        </ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
