ion-header {
  border-bottom: 1px solid var(--ion-color-primary);

  &::after {
    background-image: none; //hide ion-header drop shadow
  }
}

.pop-over-container {
  background: #ffffff;
}

.popover-menu {
  --width: 332px;
  --height: 100%;
  --max-height: 100%;
  --backdrop-opacity: 0%;
  top: 16px;
  left: -12px;
}

.title-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

ion-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #0f1218;
}

ion-content {
  --padding-start: 20px;
}

.exit {
  color: #0f1218;
}

.hamburger-menu {
  color: #0f1218;
}
