<app-form-dialog
  #retryTransactionsConfirmationDialog
  header="Retry failed transaction(s)"
  i18n-header="@@retry-failed-transactions"
  headerIcon="pi pi-refresh"
  proceedLabel="Retry transactions"
  i18n-proceedLabel
  [mutation]="retryFailedTransactionsMutation"
  [mutationData]="{ dryRun: true }"
>
  <p i18n>
    You are about to retry {{ transactionCount() }} transaction(s). The
    transaction status will change to Processing until received by the
    registration.
  </p>
</app-form-dialog>
<app-form-dialog
  #dryRunWarningDialog
  header="Warning"
  i18n-header="@@generic-warning"
  headerClass="text-orange-700"
  headerIcon="pi pi-refresh"
  proceedLabel="Proceed"
  i18n-proceedLabel
  [mutation]="retryFailedTransactionsMutation"
  [mutationData]="{ dryRun: false }"
>
  @let data = dryRunResult();
  @if (data) {
    @if (data.nonApplicableCount > 0) {
      <strong i18n
        >There are {{ data.nonApplicableCount }} selected transaction(s) that
        are not on status 'Failed' and will not be retried.</strong
      >
    }
    <p
      i18n
      class="pt-2"
    >
      You are about to retry {{ data.applicableCount }} transaction(s). The
      transaction status will change to 'Processing' until received by the
      registration.
    </p>
  }
</app-form-dialog>
