<app-form-dialog
  #confirmationDialog
  header="Retry failed transaction(s)"
  i18n-header="@@retry-failed-transactions"
  headerIcon="pi pi-refresh"
  proceedLabel="Retry transactions"
  i18n-proceedLabel
  [mutation]="retryFailedTransactionsMutation"
  [mutationData]="{ dryRun: true }"
>
  <p>
    {{ transactionsToRetryText(transactionCount() | number)() }}
  </p>
</app-form-dialog>
<app-form-dialog
  #nonApplicableWarningDialog
  header="Warning"
  i18n-header="@@generic-warning"
  headerClass="text-orange-700"
  headerIcon="pi pi-refresh"
  proceedLabel="Proceed"
  i18n-proceedLabel
  [mutation]="retryFailedTransactionsMutation"
  [mutationData]="{ dryRun: false }"
>
  @let data = dryRunResult();
  @if (data) {
    @if (data.nonApplicableCount > 0) {
      <strong i18n
        >There are {{ data.nonApplicableCount | number }} selected
        transaction(s) that are not on status 'Failed' and will not be
        retried.</strong
      >
    }
    <p class="pt-2">
      {{ transactionsToRetryText(data.applicableCount | number)() }}
    </p>
  }
</app-form-dialog>
