<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="account">
      <ion-icon name="body"></ion-icon>
      <ion-label>{{ 'ACCOUNT'|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="validation" [disabled]="validationDisabled">
      <ion-icon name="phone-portrait"></ion-icon>
      <ion-label>{{ 'VALIDATION'|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" disabled>
      <ion-icon name="globe"></ion-icon>
      <ion-label>{{ 'WORLD'|translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
