// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// ----------------------------------------------------------------------------
// Additional elements:
// ----------------------------------------------------------------------------

.loading-indicator {
  display: flex;
  min-height: 100px;
  justify-content: center;
}
.loading-indicator--spinner {
  margin: auto;
}

// Add enough spacing to content-area to always have something to scroll
.scroll-spacing {
  min-height: 30vh;
}

// Additional text-utility
.ion-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

// ----------------------------------------------------------------------------

// Add tap-hint icon to all primary submit-buttons
ion-button.button-block.button-solid:not([disabled]) {
  position: relative;

  --tap-icon-width: 20px;
  --tap-icon-height: calc(var(--tap-icon-width) * 1.333);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    width: var(--tap-icon-width);
    height: var(--tap-icon-height);
    transform: translateY(-50%);
    background: transparent center center no-repeat;
    background-size: 100% auto;
    // Image inlined from: ../assets/icons/hand-tap-white.svg
    // Using: https://yoksel.github.io/url-encoder/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='302.115' height='391.936'%3E%3Cpath fill='%23fff' d='M52.193 129.983c-2.688-9.1-5.27-18.222-7.209-26.959a43.338 43.338 0 1163.984-27.631 211.671 211.671 0 0110.417 29.815 65.748 65.748 0 10-67.191 24.775z'/%3E%3Cpath fill='%23fff' d='M6.691 285.948c16.236-17.55 34.459-10.677 58.851-6.965 20.956 3.223 41.592-2.658 40.217-13.976-2.169-18.314-5.224-26.5-12.174-50.222-5.545-18.864-16.068-52.864-25.645-85.367-12.83-43.486-16.541-63.678.535-68.719 18.405-5.361 28.96 20.788 38.522 57.049 10.89 41.271 16.618 59.493 19.826 58.531 5.651-1.619-2.077-19.276 12.708-23.629 18.482-5.377 22.056 9.073 27.234 7.622 5.178-1.558 3.421-16.191 18.161-20.5 14.816-4.277 22.255 13.961 28.364 12.143 6.049-1.787 5.911-8.37 15.045-10.982 9.149-2.719 43.577 12.693 63.281 80.006 24.729 84.634-3.131 100.367 5.315 129.021l-110.386 41.975c-8.935-21.491-36.612-23.079-61.1-36.78-24.665-13.882-41.421-40.935-105.71-39.621-24.175.489-23.033-18.787-13.044-29.586z'/%3E%3C/svg%3E");

    [dir='rtl'] & {
      left: 8px;
      right: auto;
      transform: translateY(-50%) rotateY(180deg);
    }
  }
}

// Override default styles to emphasize where to input
// Make an exception for 'native' inputs in 'items':
*:not(ion-item) > ion-input,
ion-textarea {
  --background: #dfe5fe !important;
}

// Reset to normal color:
password-toggle-input ion-input {
  --background: transparent !important;
}

// InfoPopup triggered by MoreInfoButtons shouldn't take up the full screen
ion-modal.more-info-popup {
  --max-width: 90vw;
  --max-height: 80vh;
}

// UserMenu triggered by account-tab should look like a menu
ion-modal.user-menu-modal {
  --max-width: 20em;
  --max-height: calc(3 * 3.6em); // Height of 2 menu-items
  --border-radius: 0.25em;
}

ion-modal.multiple-registrations-menu-modal {
  --max-width: 20em;
  --max-height: calc(2 * 3.6em); // Height of 2 menu-items
  --border-radius: 0.25em;
}

// Make long text fit on buttons
// This is scoped to inside dialogue-turns ONLY, to limit the side-effects on other ion-button elements
dialogue-turn ion-button {
  // Get the same height as the fixed height:
  --padding-top: 0.786em;
  --padding-bottom: var(--padding-top); // Mirror the top value automatically
  height: auto !important;
  white-space: normal !important;

  // Adjust size for other button-types:
  &.button-has-icon-only {
    --padding-top: 0.643em;
  }
  &.button-small.button-has-icon-only,
  &.button-small {
    --padding-top: 0.35em;
  }
}

// Add generic margin to all paragraphs
dialogue-turn ion-card-content p {
  margin-bottom: var(--ion-margin, 16px) !important;
}

// Add top-border to sets of radio-buttons:
ion-radio-group ion-item:first-of-type:not(:last-of-type) {
  --border-width: 1px 0;
}

.system-notification {
  --max-width: 100%;
  --width: 100%;
  --box-shadow: none;
  --border-radius: none;
  --start: 0;
  --end: 0;
  --ion-safe-area-top: 104px; // override .toast-wrapper.toast-top inline style top rule
}
