// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// ----------------------------------------------------------------------------
// Additional elements:
// ----------------------------------------------------------------------------

.loading-indicator {
  display: flex;
  min-height: 100px;
  justify-content: center;
}
.loading-indicator--spinner {
  margin: auto;
}

// Add enough spacing to content-area to always have something to scroll
.scroll-spacing {
  min-height: 30vh;
}

// Additional text-utility
.ion-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

// ----------------------------------------------------------------------------

// Add tap-hint icon to all primary submit-buttons
ion-button.button-block.button-solid:not([disabled]) {
  position: relative;

  --tap-icon-width: 20px;
  --tap-icon-height: calc(var(--tap-icon-width) * 1.333);

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 8px;
    width: var(--tap-icon-width);
    height: var(--tap-icon-height);
    transform: translateY(-50%);
    background: transparent center center no-repeat;
    background-size: 100% auto;
    background-image: url('/assets/icons/hand-tap-white.svg');

    [dir='rtl'] & {
      left: 8px;
      right: auto;
      transform: translateY(-50%) rotateY(180deg);
    }
  }
}

// Override default styles to emphasize where to input
// Make an exception for 'native' inputs in 'items':
*:not(ion-item) > ion-input,
ion-textarea {
  --background: #dfe5fe !important;
}

// Reset to normal color:
password-toggle-input ion-input {
  --background: transparent !important;
}

// InfoPopup triggered by MoreInfoButtons shouldn't take up the full screen
ion-modal.more-info-popup {
  --max-width: 90vw;
  --max-height: 80vh;
}

// UserMenu triggered by account-tab should look like a menu
ion-modal.user-menu-modal {
  --max-width: 20em;
  --max-height: calc(3 * 3.6em); // Height of 2 menu-items
  --border-radius: 0.25em;
}

ion-modal.multiple-registrations-menu-modal {
  --max-width: 20em;
  --max-height: calc(2 * 3.6em); // Height of 2 menu-items
  --border-radius: 0.25em;
}

// Make long text fit on buttons
// This is scoped to inside dialogue-turns ONLY, to limit the side-effects on other ion-button elements
dialogue-turn ion-button {
  // Get the same height as the fixed height:
  --padding-top: 0.786em;
  --padding-bottom: var(--padding-top); // Mirror the top value automatically
  height: auto !important;
  white-space: normal !important;

  // Adjust size for other button-types:
  &.button-has-icon-only {
    --padding-top: 0.643em;
  }
  &.button-small.button-has-icon-only,
  &.button-small {
    --padding-top: 0.35em;
  }
}

// Add generic margin to all paragraphs
dialogue-turn ion-card-content p {
  margin-bottom: var(--ion-margin, 16px) !important;
}

// Add top-border to sets of radio-buttons:
ion-radio-group ion-item:first-of-type:not(:last-of-type) {
  --border-width: 1px 0;
}

.system-notification {
  --max-width: 100%;
  --width: 100%;
  --box-shadow: none;
  --border-radius: none;
  --start: 0;
  --end: 0;
  --ion-safe-area-top: 104px; // override .toast-wrapper.toast-top inline style top rule
}
