<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="tableFilterType.multipleChoice">
    <ion-grid class="table-filter--multiple-choice">
      <ion-row lines="none" class="ion-padding-horizontal ion-align-items-center table-filter--multiple-choice--item">
        <ion-col size="8">
          <ion-label class="ion-text-wrap">{{ 'page.program.program-people-affected.filter-btn.common.all-options' | translate }}</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-row class="ion-justify-content-end">
            <ion-label slot="end" color="medium">{{ state[type].totalCount }}</ion-label>
            <ion-checkbox [(ngModel)]="state[type].selectAll" (ionChange)="onSelectAll()" slot="end"></ion-checkbox>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let option of filterProps.allOptions" lines="none" class="ion-padding-horizontal ion-align-items-center table-filter--multiple-choice--item">
        <ion-col size="8">
          <ion-label class="ion-text-wrap">{{ option.label }}</ion-label>
        </ion-col>
        <ion-col size="4">
          <ion-row class="ion-justify-content-end">
            <ion-label color="medium">{{ option.count }}</ion-label>
            <ion-checkbox [(ngModel)]="state[type].options[option.name]"></ion-checkbox>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</ng-container>

<ion-footer class="ion-text-end ion-padding">
  <ion-button (click)="cancel()" size="small">{{'page.program.program-people-affected.filter-btn.common.cancel-btn' | translate}}</ion-button>
  <ion-button (click)="applyFilter()" size="small" class="ion-margin-start">{{'page.program.program-people-affected.filter-btn.common.apply-btn' | translate}}</ion-button>
</ion-footer>
