<ng-container [ngSwitch]="type">
  <ng-container *ngSwitchCase="tableFilterType.multipleChoice">
    <ion-item>
      <ion-checkbox [(ngModel)]="selectAll" (ionChange)="onSelectAll()" slot="start"></ion-checkbox>
      <ion-label>All</ion-label>
    </ion-item>
    <ion-item *ngFor="let option of filterProps.allOptions">
      <ion-checkbox [(ngModel)]="state[type][option.name]" slot="start"></ion-checkbox>
      <ion-label class="ion-text-wrap">{{ option.label }}</ion-label>
      <ion-label slot="end">{{ option.count }}</ion-label>
    </ion-item>
</ng-container>

<div class="ion-text-end ion-padding-horizontal">
  <ion-button (click)="cancel()">Cancel</ion-button>
  <ion-button (click)="applyFilter()">Apply</ion-button>
</div>
