<app-page-layout-payment
  [programId]="programId()"
  [paymentId]="paymentId()"
>
  <app-query-table
    #table
    [items]="transactions()"
    [isPending]="transactionsResponse.isPending()"
    [columns]="columns()"
    [localStorageKey]="localStorageKey()"
    [enableColumnManagement]="true"
    [contextMenuItems]="contextMenuItems()"
    (updateContextMenuItem)="contextMenuSelection.set($event)"
    [enableSelection]="true"
    [serverSideFiltering]="true"
    [serverSideTotalRecords]="totalTransactions()"
    (updatePaginateQuery)="paginateQuery.set($event)"
  >
    <div
      table-actions
      class="me-2 flex grow justify-end"
    >
      @if (canRetryTransactions()) {
        <p-button
          label="Retry failed transaction(s)"
          i18n-label="@@retry-failed-transactions"
          rounded
          outlined
          icon="pi pi-refresh"
          [iconPos]="rtlHelper.createPosition('start')()"
          (click)="retryFailedTransactions()"
        />
      }
    </div>
  </app-query-table>
</app-page-layout-payment>

<app-retry-transactions-dialog
  #retryTransactionsDialog
  [programId]="programId()"
  [paymentId]="paymentId()"
  [paginateQuery]="paginateQuery()"
/>

<app-activity-log-transaction-history-dialog
  #transactionHistoryDialog
  [programId]="programId()"
  [transactionId]="selectedTransactionId() ?? 0"
  [paymentDate]="selectedPaymentDate()"
  [showButton]="false"
/>
