<app-card-with-link
  (cardClicked)="reconfigureFsp.emit(configuration())"
  [title]="fspConfigurationLabel()"
  [menuItems]="menuItems()"
  [image]="fspImage()"
  i18n-subtitle
  [variant]="'fsp'"
>
  <ng-container card-subtitle>
    <div i18n>Click to reconfigure</div>
  </ng-container>

  <ng-container card-content>
    @if (requiredRegistrationAttributes().length > 0) {
      <p-accordion
        style="
          --p-content-border-radius: 0;
          --p-accordion-panel-border-width: 0;
          --p-accordion-header-first-top-border-radius: 0;
          --p-accordion-header-padding: 0;
          --p-accordion-content-padding: 0;
        "
      >
        <p-accordion-panel value="0">
          <p-accordion-header class="border-t pt-4">
            <div>
              <p
                i18n
                class="font-bold"
              >
                Form requirements
              </p>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <p
              i18n
              class="mb-4 font-normal"
            >
              Your form must include the following required fields in this
              <b>exact format</b>
              for this FSP integration in the data column name:
            </p>
            <p-table
              [value]="requiredRegistrationAttributes()"
              i18n-size
            >
              <ng-template #header>
                <tr>
                  <th
                    i18n
                    class="txt-body-s text-grey-700 px-2 py-1.5 font-semibold uppercase"
                  >
                    Question
                  </th>
                  <th
                    i18n
                    class="txt-body-s text-grey-700 px-2 py-1.5 font-semibold uppercase"
                  >
                    Data column name
                  </th>
                </tr>
              </ng-template>
              <ng-template
                #body
                let-attribute
              >
                <tr>
                  <td>{{ attribute.label }}</td>
                  <td class="relative">
                    {{ attribute.name }}
                    <p-button
                      (click)="copyToClipboard(attribute.name)"
                      ariaLabel="Copy to clipboard"
                      icon="pi pi-copy"
                      class="hover:text-purple hover:cursor-pointer"
                      [unstyled]="true"
                      i18n-ariaLabel
                      size="small"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    } @else {
      <p
        i18n
        class="font-bold"
      >
        FSP notes
      </p>
      <p i18n>There are no specific fields needed for this integration</p>
    }
  </ng-container>
</app-card-with-link>

<app-form-dialog
  #deleteConfigurationDialog
  [header]="deleteConfigurationDialogHeader()"
  headerIcon="pi pi-trash"
  proceedLabel="Remove FSP"
  i18n-proceedLabel="@@remove-fsp"
  [mutation]="deleteConfigurationMutation"
  [mutationData]="undefined"
  i18n
>
  You're about to remove the "{{ fspConfigurationLabel() }}" FSP configuration
  from your program. Payments with this FSP will not go through, Registrations
  with this FSP will not be paid unless changed to an integrated FSP.
</app-form-dialog>
