<app-card-with-link
  [title]="fspConfigurationLabel()"
  [image]="fspImage()"
  [menuItems]="menuItems()"
  [enableLink]="false"
>
  <ng-container card-subtitle>
    <div i18n>
      <app-colored-chip
        [label]="coloredChipProps().label"
        [variant]="coloredChipProps().variant"
      ></app-colored-chip>
    </div>
  </ng-container>

  <ng-container card-action>
    @if (configurationPending()) {
      <p-button
        (click)="reconfigureFsp.emit(configuration())"
        label="Integrate"
        i18n-label
        icon="pi pi-link"
        rounded
      />
    }
  </ng-container>

  <ng-container card-content>
    @if (requiredRegistrationAttributes().length > 0) {
      <p-accordion class="p-accordion-padding-reset relative z-10">
        <p-accordion-panel value="0">
          <p-accordion-header class="border-bs pbs-4">
            <div>
              <p
                i18n
                class="font-bold"
              >
                Form requirements
              </p>
            </div>
          </p-accordion-header>
          <p-accordion-content>
            <p
              i18n
              class="mbe-4 font-normal"
            >
              Your form must include the following required fields in this
              <b>exact format</b>
              for this FSP integration in the data column name:
            </p>
            <p-table [value]="requiredRegistrationAttributes()">
              <ng-template #header>
                <tr>
                  <th
                    i18n
                    class="txt-body-s text-grey-700 px-2 py-1.5 font-semibold uppercase inline-1/2"
                  >
                    Question
                  </th>
                  <th
                    i18n
                    class="txt-body-s text-grey-700 px-2 py-1.5 font-semibold uppercase inline-1/2"
                  >
                    Data column name
                  </th>
                </tr>
              </ng-template>
              <ng-template
                #body
                let-attribute
              >
                <tr>
                  <td class="px-2">{{ attribute.label }}</td>
                  <td class="relative px-2">
                    {{ attribute.name }}
                    <p-button
                      (click)="copyToClipboard(attribute.name)"
                      ariaLabel="Copy to clipboard"
                      i18n-ariaLabel="@@generic-copy-to-clipboard"
                      title="Copy to clipboard"
                      i18n-title="@@generic-copy-to-clipboard"
                      icon="pi pi-copy"
                      class="hover:text-purple hover:cursor-pointer"
                      [unstyled]="true"
                      size="small"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-accordion-content>
        </p-accordion-panel>
      </p-accordion>
    } @else {
      <div class="border-grey-300 border-bs pbs-4">
        <p
          i18n
          class="font-bold"
        >
          FSP notes
        </p>
        <p i18n>There are no specific fields needed for this integration</p>
      </div>
    }
  </ng-container>
</app-card-with-link>
