<section #startMeeting>
  <form *ngIf="questions?.length">
    <app-dialogue-turn [isSpoken]="true">
      <p>
        {{ 'validation.validate-fsp.introduction' | translate }}
      </p>
    </app-dialogue-turn>

    <app-q-and-a-set
      [questions]="questions"
      [answers]="customAttributeAnswers"
      [(isSubmitted)]="isSubmitted"
      [(isEditing)]="isEditing"
      [allQuestionsShown]="true"
      (submitAction)="saveCustomAttributes($event)"
      submitLabel="validation.validate-fsp.submit"
    ></app-q-and-a-set>

    <app-dialogue-turn
      *ngIf="showResultSuccess"
      [isSpoken]="showResultSuccess"
    >
      <p>
        {{ 'validation.validate-fsp.conclusion' | translate }}
      </p>
    </app-dialogue-turn>
    <app-dialogue-turn
      *ngIf="showResultError"
      [isSpoken]="showResultError"
    >
      <p>
        {{ 'validation.validate-fsp.generic-error' | translate }}
      </p>
    </app-dialogue-turn>
  </form>

  <app-dialogue-turn
    *ngIf="!fspQuestionAvailable"
    [isSpoken]="!fspQuestionAvailable"
  >
    <p>
      {{ 'validation.validate-fsp.no-fsp' | translate }}
    </p>
  </app-dialogue-turn>
  <app-dialogue-turn
    actor="self"
    *ngIf="backToMainMenu"
    [isSpoken]="backToMainMenu"
  >
    <ion-button
      (click)="complete()"
      [disabled]="backToMainMenuClicked"
      expand="block"
      style="flex-basis: 100%"
    >
      {{ 'validation.validate-fsp.back-menu' | translate }}
    </ion-button>
  </app-dialogue-turn>
</section>
