<ion-card *ngIf="person">
  <ion-card-header>
    <ion-card-title>
      {{ person.name }}
    </ion-card-title>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-note>
          {{
            'registration-details.personal-information-table.subtitle'
              | translate: { paNumber: person.registrationProgramId }
          }}
        </ion-note>
        <ion-button
          fill="outline"
          color="primary"
          size="small"
          shape="round"
          (click)="editPersonAffectedPopup()"
        >
          {{ 'registration-details.show-all' | translate }}
        </ion-button>
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <app-registration-page-table
      [itemList]="personalInfoTable"
    ></app-registration-page-table>
  </ion-card-content>
</ion-card>
