@if (hasExportOptions()) {
  <app-button-menu
    label="Export"
    i18n-label="@@export"
    [menuItems]="exportOptions()"
    [icon]="'pi pi-upload'"
    [outlined]="true"
  />
  <app-confirmation-dialog
    #exportlastPaymentsDialog
    [header]="lastPaymentsExportLabel()"
    headerIcon="pi pi-upload"
    [mutation]="exportPaymentsMutation"
    [mutationData]="
      getMutationData({
        type: ExportType.payment,
        withPaymentRange: true,
      })
    "
  >
    <p i18n>
      You're about to download an Excel file with all of the registrations
      included in the last {{ maxLastPaymentsNumber() }} payment(s).
    </p>
    <app-latest-export-date
      [projectId]="projectId()"
      [exportType]="ExportType.payment"
    />
  </app-confirmation-dialog>
  <app-confirmation-dialog
    #exportUnusedVouchersDialog
    header="Export unused vouchers"
    i18n-header
    headerIcon="pi pi-upload"
    [mutation]="exportPaymentsMutation"
    [mutationData]="
      getMutationData({
        type: ExportType.unusedVouchers,
      })
    "
  >
    <p i18n>This will download an Excel file with all unused voucher(s).</p>
    <p
      i18n
      class="mt-2"
    >
      Important Notice: The unused vouchers available for download are not in
      real-time. The report includes the date and time of each voucher's last
      external update.
    </p>
    <app-latest-export-date
      [projectId]="projectId()"
      [exportType]="ExportType.unusedVouchers"
    />
  </app-confirmation-dialog>
  <app-confirmation-dialog
    #exportDebitCardUsageDialog
    header="Export debit card usage"
    i18n-header
    headerIcon="pi pi-upload"
    [mutation]="exportPaymentsMutation"
    [mutationData]="
      getMutationData({
        type: ExportType.intersolveVisaCardDetails,
        withPaymentRange: true,
      })
    "
  >
    <p i18n>
      This will download an Excel file showing the balance of every card from
      the last {{ maxLastPaymentsNumber() }} payment(s).
    </p>
    <p
      i18n
      class="mt-2"
    >
      Important Notice: The card balances available for download are not in
      real-time. The report includes the date and time of each card's last
      external update.
    </p>
    <app-latest-export-date
      [projectId]="projectId()"
      [exportType]="ExportType.intersolveVisaCardDetails"
    />
  </app-confirmation-dialog>
}
