<section *ngIf="componentVisible">
  <h2>{{ 'page.program.program-details.section-people'|translate }}</h2>
  
  <p *ngIf="!enrolledPeople?.length && !showSensitiveData">
    {{ 'page.program.program-people.noConnections'|translate }}
  </p>
  <p *ngIf="!enrolledPeople?.length && showSensitiveData">
    {{ 'page.program.program-people.noConnectionsPrivacy'|translate }}
  </p>

  <ngx-datatable #people
                class="bootstrap"
                limit="50"
                columnMode="force"
                rowHeight="auto"
                headerHeight="50"
                footerHeight="50"
                reorderable="false"
                sortType="multi"
                selectionType="checkbox"
                loadingIndicator="true"
                [columns]="columns"
                [rows]="enrolledPeople"
                [selected]="selectedPeople"
                [messages]="tableMessages"
                (select)="updateSubmitWarning()"
  ></ngx-datatable>

  <confirm-prompt [disabled]="!enrolledPeople.length"
                  (confirm)="submitInclusion()"
                  [subHeader]="'page.program.program-people.submit-warningPrivacy'|translate"
                  [message]="submitWarning.message"
                  class="ion-float-end"
                  *ngIf="showSensitiveData"
  >
    {{ 'page.program.program-people.submitPrivacy'|translate }}
  </confirm-prompt>

  <confirm-prompt [disabled]="!enrolledPeople.length"
                  (confirm)="submitInclusion()"
                  [subHeader]="'page.program.program-people.submit-warning'|translate"
                  [message]="submitWarning.message"
                  class="ion-float-end"
                  *ngIf="!showSensitiveData"
  >
    {{ 'page.program.program-people.submit'|translate }}
  </confirm-prompt>

</section>
