<div class="flex flex-col min-block-screen">
  <app-header [programId]="programId()" />
  <div class="flex flex-1 flex-col">
    @if (pageLoadError()) {
      <div class="px-6 inline-full lg:px-24">
        <p-message
          severity="warn"
          class="my-6 inline-full"
          [closable]="true"
        >
          {{ pageLoadError() }}
        </p-message>
      </div>
    }
    @let lookupPhonenumber = registrationLookupService.phonenumber();
    @if (registrationLookupService.isActive() && lookupPhonenumber) {
      <app-registration-lookup-menu [phonenumber]="lookupPhonenumber" />
    } @else if (programId()) {
      <app-program-menu [programId]="programId()!" />
    }
    <div class="flex-1 p-6 lg:px-24">
      @if (pageTitle()) {
        @let parentTitle = parentPageTitle();
        @let parentLink = parentPageLink();

        <div class="mbe-6 flex items-center justify-between min-block-12">
          @if (parentTitle) {
            @if (isPending()) {
              <p-skeleton
                width="24rem"
                height="1.6rem"
              />
            } @else {
              <span class="txt-body-m me-auto inline-flex items-center">
                @if (parentLink) {
                  <a
                    [routerLink]="parentLink"
                    class="font-normal transition-colors hover:text-purple-700 focus:text-purple-700"
                    >{{ parentTitle }}</a
                  >
                } @else {
                  <span class="font-normal">{{ parentTitle }}</span>
                }
                <i
                  [class]="
                    'relative inset-bs-0.5 mx-2 text-sm ' +
                    rtlHelper.createRtlFriendlyChevronIcon('forward')()
                  "
                ></i>
                {{ pageTitle() }}
              </span>
            }
          } @else {
            <h1>
              {{ pageTitle() }}
            </h1>
          }

          <ng-content select="[header-actions]"></ng-content>
        </div>
      }

      <ng-content></ng-content>
    </div>

    <app-footer />
  </div>
</div>
