.full-width {
  width: 100%;
}

.ion-accordion-toggle-icon {
  --ionicon-stroke-width: 1px;
color: #0F1218;
}

.accordion-label {
  height: 40px;
}

.money-icon {
  width: 40px;
  height: 40px;
}

.transfer {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #0f1218;
  margin-left: 18.5px;
}

ion-chip {
  height: 20px;
  font-size: 14px;
  margin-left: 16px;

  &.success {
    --background: #e9f1ed;
    --color: #295741;
  }

  &.failed {
    --background: #faebef;
    --color: #8a0f32;
  }
}

.send-payment-button {
  font-weight: 600;
  font-size: 12px;
  color: #4f22d7;
  margin-left: 18px;
  --border-width: 1px;
}

.open-voucher-button {
  font-size: 12px;
  text-decoration-line: underline;
  color: #4f22d7;
  margin-left: 16px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  text-decoration-line: underline;
  color: #0f1218;
  margin-left: 18.5px;
}

.accordion-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #0f1218;
}

.text-bold {
  font-weight: 600;
}

.popup-button {
  padding: 0.2em 0.4em;
  font-size: inherit;
  background: transparent;
  border: 1px solid #bbb;
  border-radius: 0.3em;
  width: 160px;
  height: 50px;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: var(--ion-color-primary);
    border-color: currentColor;
  }

  &.no-action:hover,
  &.no-action:focus,
  &.no-action {
    cursor: default;
    color: inherit;
    border-color: inherit;
  }

  &.is-error {
    color: var(--ion-color-danger);
    border-color: var(--ion-color-danger);
  }
}
