<ion-header>
  <ion-toolbar>
    <ion-title>
      {{
        'page.program.program-people-affected.payment-history-popup.title'
          | translate
      }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon name="close" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>{{ paDisplayName }}</h3>
  <ion-grid>
    <ion-col>
      <ion-row *ngFor="let paymentRow of paymentRows" class="full-width ion-justify-content-between ion-padding-bottom ion-margin-vertical">
        <div>
          <h5 class="ion-no-margin">Payment #{{ paymentRow.lastPaymentIndex }}</h5>
          <span *ngIf="paymentRow.transaction?.status">{{ 'page.program.program-payout.last-payment.' + paymentRow.transaction?.status | translate }}</span>
        </div>
        <button
          type="button"
          (click)="rowClick(paymentRow)"
          [ngClass]="{
            'is-error': paymentRow.transaction?.status !== 'success',
            'no-action': paymentRow.transaction?.status === 'success',
            'ion-no-padding popup-button': true
          }"
        >
          {{ paymentRow.text }}
          <div style="display: flex;" class="ion-justify-content-center ion-align-items-center">
            {{ paymentRow.amount }}
            <span *ngIf="paymentRow.hasMessageIcon || paymentRow.hasMoneyIconTable">&nbsp;</span>
            <ion-icon
              *ngIf="paymentRow.hasMessageIcon"
              name="mail"
              size="small"
              aria-hidden="true"
            ></ion-icon>
            <ion-icon
              *ngIf="paymentRow.hasMoneyIconTable"
              name="cash"
              size="small"
              aria-hidden="true"
            ></ion-icon>
          </div>
        </button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
