<section #login>
  <dialogue-turn>
    {{ 'personal.login.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self">
    {{ 'personal.login.login'|translate }}
    <br>
    <form method="POST" (submit)="doLogin($event)" *ngIf="!isLoggedIn">
      <ion-item>
        <ion-input type="email"
                    name="email"
                    inputmode="email"
                    autocomplete="username email"
                    autocapitalize="off"
                    autofocus="true"
                    clearInput="true"
                    required
                    [placeholder]="emailPlaceholder"
                    [(ngModel)]="email" 
                    ngDefaultControl
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password"
                    name="password"
                    autocomplete="current-password"
                    autocapitalize="off"
                    clearInput="true"
                    clearOnEdit="false"
                    required
                    [placeholder]="passwordPlaceholder"
                    [(ngModel)]="password" 
                    ngDefaultControl
        ></ion-input>
      </ion-item>

      <ion-button type="submit"
                  expand="block"
      >
        {{ 'personal.login.login-button'|translate }}
      </ion-button>
    </form>
    <ion-button expand="block" [hidden]="!isLoggedIn">
      {{ 'personal.login.logout-button'|translate }}
    </ion-button>
  </dialogue-turn>
  <dialogue-turn [hidden]="!isLoggedIn">
    {{ 'personal.login.conclusion'|translate }}
  </dialogue-turn>
  <dialogue-turn [hidden]="!wrongCredentials">
    {{ 'personal.login.wrong-credentials'|translate }}
  </dialogue-turn>
</section>
   