<section #scanQr>
  <dialogue-turn isSpoken="true">
    {{ 'validation.scan-qr.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self"
                 isSpoken="true"
  >
    <ion-button expand="block"
                [disabled]="didResult || returnMainMenu"
                (click)="scanQrCode()">
      {{ 'validation.scan-qr.scan-button'|translate }}
    </ion-button>
    <ion-button expand="block"
                [disabled]="didResult || returnMainMenu"
                (click)="backMainMenu()">
      {{ 'validation.scan-qr.main-menu'|translate }}
    </ion-button>
  </dialogue-turn>
  <dialogue-turn *ngIf="scanError"
                 [isSpoken]="scanError"
  >
    {{ 'validation.scan-qr.error'|translate }}
  </dialogue-turn>
  <dialogue-turn *ngIf="unknownDidCombination"
                 [isSpoken]="unknownDidCombination"
  >
      {{ 'validation.scan-qr.unknownDidCombination'|translate }}
    </dialogue-turn>
  <dialogue-turn *ngIf="didResult"
                 [isSpoken]="didResult"
  >
    {{ 'validation.scan-qr.conclusion'|translate }}
  </dialogue-turn>
</section>
