<section #scanQr>
  <dialogue-turn isSpoken="true">
    {{ 'validation.scan-qr.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self"
                 isSpoken="true"
  >
    <ion-button expand="block"
                [disabled]="paDataResult || returnMainMenu"
                (click)="doScan()">
      {{ 'validation.scan-qr.scan-button'|translate }}
    </ion-button>
    <ion-button expand="block"
                [disabled]="paDataResult || returnMainMenu"
                (click)="backMainMenu()">
      {{ 'validation.scan-qr.main-menu'|translate }}
    </ion-button>
  </dialogue-turn>
  <dialogue-turn *ngIf="scanError"
                 [isSpoken]="scanError"
  >
    {{ 'validation.scan-qr.error'|translate }}
  </dialogue-turn>

  <dialogue-turn *ngIf="unknownReferenceIdCombination"
                 [isSpoken]="unknownReferenceIdCombination"
  >
      {{ 'validation.scan-qr.unknownReferenceIdCombination'|translate }}
  </dialogue-turn>
  <dialogue-turn *ngIf="paDataResult"
                 [isSpoken]="paDataResult"
  >
    {{ 'validation.scan-qr.conclusion'|translate }}
  </dialogue-turn>
</section>
