<section>
  <dialogue-turn
    actor="self"
    *ngIf="showSavePa"
  >
    <ion-button
      type="button"
      (click)="savePaToQueue()"
      [disabled]="disableSavePa"
    >
      {{ 'personal.next-pa.save-pa' | translate }}
    </ion-button>
  </dialogue-turn>
  <dialogue-turn
    [isSpoken]="showAddAnotherPa"
    [isConnected]="true"
    actor="self"
    *ngIf="showAddAnotherPa"
  >
    <ion-button
      type="button"
      (click)="addNewPa()"
    >
      {{ 'personal.next-pa.new-pa' | translate }}
    </ion-button>
  </dialogue-turn>
</section>
