<section>
  <app-dialogue-turn
    *ngIf="showSavePa"
    [isSpoken]="showSavePa"
    actor="self"
  >
    <ion-button
      type="button"
      (click)="savePaToQueue()"
      [disabled]="disableSavePa"
    >
      {{ 'personal.next-pa.save-pa' | translate }}
    </ion-button>
  </app-dialogue-turn>
  <app-dialogue-turn
    *ngIf="showAddAnotherPa"
    [isSpoken]="showAddAnotherPa"
    [isConnected]="showSavePa && showAddAnotherPa"
    actor="self"
  >
    <ion-button
      type="button"
      (click)="addNewPa()"
    >
      {{ 'personal.next-pa.new-pa' | translate }}
    </ion-button>
  </app-dialogue-turn>
</section>
