<p-table
  #table
  [value]="items()"
  [loading]="isPending()"
  [showLoader]="false"
  (onStateSave)="onStateSave($event)"
  [lazy]="serverSideFiltering()"
  (onLazyLoad)="onLazyLoadEvent($event)"
  [totalRecords]="totalRecords()"
  [filterDelay]="serverSideFiltering() ? 500 : 0"
  [filterLocale]="locale"
  [rowHover]="contextMenuItems()"
  [sortField]="initialSortField()"
  [sortOrder]="initialSortOrder()"
  [contextMenu]="contextMenu()"
  (contextMenuSelectionChange)="updateContextMenuItem.emit($event)"
  [globalFilterFields]="globalFilterFields()"
  [paginator]="true"
  [paginatorLocale]="locale"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 40, 80, 100]"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="currentPageReportTemplate()"
  stateStorage="local"
  [stateKey]="localStorageKey()"
  [expandedRowKeys]="expandedRowKeys()"
  [selection]="selectedItems()"
  [selectAll]="selectAll()"
  [selectionMode]="enableSelection() ? 'multiple' : null"
  (selectionChange)="onSelectionChange($event)"
  (selectAllChange)="onSelectAllChange($event)"
  (onFilter)="resetSelection()"
  [columns]="visibleColumns()"
  [dataKey]="'id'"
  data-testid="query-table"
>
  <ng-template pTemplate="caption">
    <div class="flex min-h-11 items-center overflow-x-auto">
      <ng-content select="[table-actions]"></ng-content>
      <span class="ms-auto"></span>
      @if (isFiltered()) {
        <p-button
          label="Clear filters"
          i18n-label="@@query-table--clear-filters"
          [outlined]="true"
          rounded
          severity="contrast"
          icon="pi pi-filter-slash"
          [iconPos]="rtlHelper.createPosition('start')()"
          (click)="clearAllFilters()"
          class="me-2"
        />
      }
      @if (globalFilterFields() || serverSideFiltering()) {
        <app-query-table-global-search
          [globalFilterValue]="globalFilterValue()"
          [(globalFilterVisible)]="globalFilterVisible"
          (filterChange)="table.filterGlobal($event, 'contains')"
        />
      }
      @if (enableColumnManagement()) {
        <app-query-table-column-management
          [columns]="columns()"
          [(visibleColumns)]="visibleColumns"
          (resetColumnVisibility)="updateColumnVisibility(true)"
          [selectedColumnsStateKey]="selectedColumnsStateKey()"
        />
      }
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      @if (enableSelection()) {
        <th style="width: 0">
          <p-tableHeaderCheckbox />
        </th>
      }
      @if (expandableRowTemplate()) {
        <th style="width: 0">
          <p-button
            type="button"
            data-testid="expand-all-rows-button"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            aria-label="Toggle all"
            i18n-aria-label="@@query-table--toggle-all"
            title="Toggle all"
            i18n-title="@@query-table--toggle-all"
            [icon]="
              areAllRowsExpanded()
                ? 'pi pi-chevron-down'
                : rtlHelper.createRtlFriendlyChevronIcon('forward')()
            "
            (click)="areAllRowsExpanded() ? collapseAll() : expandAll()"
          />
        </th>
      }
      @for (column of visibleColumns(); track $index) {
        @let columnSortField = getColumnSortField(column);
        @let columnFilterField = getColumnFilterField(column);
        @let columnMatchMode = getColumnMatchMode(column).toString();
        @let columnMatchModeOptions = getColumnMatchModeOptions(column);
        @let isColumnFiltered = getIsColumnFiltered(column);

        <th [pSortableColumn]="columnSortField">
          <div class="flex items-center text-nowrap">
            <ng-container>{{ column.header }}</ng-container>

            @if (columnSortField) {
              <p-sortIcon
                [field]="columnSortField"
                class="ms-2 me-0 mt-1"
              />
            }

            @if (columnFilterField) {
              <p-columnFilter
                #columnFilter
                [type]="getColumnType(column)"
                [field]="columnFilterField"
                [matchMode]="columnMatchMode"
                display="menu"
                [showOperator]="false"
                [showAddButton]="false"
                [showMatchModes]="!!columnMatchModeOptions"
                [matchModeOptions]="columnMatchModeOptions"
                (onShow)="
                  onShowColumnFilter(columnFilterField, getColumnType(column))
                "
                [ngClass]="{
                  '[&_.p-button]:text-purple [&_.p-button]:bg-purple-100':
                    isColumnFiltered,
                }"
              >
                @if (column.type === 'multiselect') {
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-multiSelect
                      [ngModel]="value"
                      [options]="column.options"
                      (onChange)="filter($event.value)"
                      [optionLabel]="'label'"
                      [optionValue]="'value'"
                      placeholder="Choose option(s)"
                      i18n-placeholder="
                        @@query-table--filter-multiselect-placeholder"
                      class="[&_.p-multiselect-option]:text-nowrap"
                    >
                      <ng-template
                        let-option
                        #item
                      >
                        <span
                          class="inline-flex shrink-0 items-center gap-1 overflow-visible"
                        >
                          @if (option.icon) {
                            <i [ngClass]="option.icon"></i>
                          }
                          {{ option.label }}
                          @if (option.count !== undefined) {
                            ({{ option.count }})
                          }
                        </span>
                      </ng-template>
                    </p-multiSelect>
                  </ng-template>
                }
              </p-columnFilter>
              @if (isColumnFiltered) {
                <p-button
                  icon="pi pi-filter-slash"
                  text
                  rounded
                  aria-label="Clear filter"
                  i18n-aria-label="@@query-table--clear-filter"
                  title="Clear filter"
                  i18n-title="@@query-table--clear-filter"
                  (onClick)="clearColumnFilter($event, columnFilter)"
                />
              }
            }
          </div>
        </th>
      }
      @if (contextMenuItems()) {
        <!-- Extra column for the ellipsis button -->
        <th i18n="@@query-table--actions-column">Actions</th>
      }
    </tr>
  </ng-template>

  <ng-template
    pTemplate="body"
    let-item
    let-expanded="expanded"
  >
    <tr
      [pContextMenuRow]="item"
      [ngClass]="{ 'bg-purple-50': expanded }"
    >
      @if (enableSelection()) {
        <td style="width: 0">
          @if (selectAll()) {
            <p-checkbox
              [value]="true"
              [binary]="true"
              [ngModel]="true"
              [disabled]="true"
            />
          } @else {
            <p-tableCheckbox [value]="item" />
          }
        </td>
      }
      @if (expandableRowTemplate()) {
        <td style="width: 0">
          <p-button
            type="button"
            [pRowToggler]="item"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            aria-label="Toggle row"
            i18n-aria-label="@@query-table--toggle-row"
            title="Toggle row"
            i18n-title="@@query-table--toggle-row"
            [icon]="
              expanded
                ? 'pi pi-chevron-down'
                : rtlHelper.createRtlFriendlyChevronIcon('forward')()
            "
          />
        </td>
      }
      @for (column of visibleColumns(); track $index) {
        <td>
          @if (column.component) {
            <ng-container
              *ngComponentOutlet="
                column.component;
                inputs: {
                  value: item,
                  context: tableCellContext(),
                }
              "
            />
          } @else {
            @let cellText = getCellText(column, item);
            @if (column.type === 'multiselect') {
              @if (column.displayAsChip) {
                @let chipData = column.getCellChipData?.(item);
                @if (chipData) {
                  <app-colored-chip
                    [label]="chipData.chipLabel"
                    [variant]="chipData.chipVariant"
                  />
                } @else if (cellText) {
                  <app-colored-chip
                    [label]="cellText"
                    [variant]="'blue'"
                  />
                }
              } @else {
                <span class="inline-flex items-center">
                  @let icon = getMultiSelectCellIcon(column, item);
                  @if (icon) {
                    <span class="me-2 inline leading-0">
                      <i [ngClass]="[icon, 'mt-0.25 text-xl']"></i>
                    </span>
                  }
                  <span>{{ cellText }}</span>
                </span>
              }
            } @else {
              @let routerLink = column.getCellRouterLink?.(item);
              @if (routerLink) {
                <a
                  [routerLink]="routerLink"
                  class="hover:underline focus:underline"
                >
                  {{ cellText }}
                </a>
              } @else {
                {{ cellText }}
              }
            }
          }
        </td>
      }
      @if (contextMenuItems()) {
        <td class="w-0 py-0 pe-2 text-end">
          <p-button
            text
            plain
            icon="pi pi-ellipsis-h"
            title="More actions"
            i18n-title="@@generic-more-actions"
            aria-label="More actions"
            i18n-aria-label="@@generic-more-actions"
            (click)="toggleMoreActionsMenu($event, item)"
          />
        </td>
      }
    </tr>
  </ng-template>

  <ng-template pTemplate="loadingbody">
    @for (row of [].constructor(table.rows); track $index) {
      <tr data-testid="query-table-loading">
        @if (enableSelection()) {
          <td style="width: 0">
            <p-checkbox [disabled]="true" />
          </td>
        }

        @if (expandableRowTemplate()) {
          <td style="width: 0"></td>
        }

        @for (column of [].constructor(visibleColumns().length); track $index) {
          <td>
            <app-skeleton-inline />
          </td>
        }

        @if (contextMenuItems()) {
          <td style="width: 0"></td>
        }
      </tr>
    }
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr
      data-testid="query-table-empty"
      class="hover:bg-white"
    >
      <td [attr.colspan]="totalColumnCount()">
        <div class="w-full py-6 text-start">
          @if (isFiltered()) {
            <div class="flex items-center">
              <i class="pi pi-filter me-2 inline text-xl"></i>

              <strong i18n="@@query-table--no-results">No results</strong>
            </div>

            <p
              i18n="@@query-table--no-results-filters"
              class="my-4"
            >
              There are no records that match the selected filters, clear some
              or all filters to continue.
            </p>

            <p-button
              label="Clear filters"
              i18n-label="@@query-table--clear-filters"
              link
              (click)="clearAllFilters()"
            />
          } @else {
            @let emptyMessageTemplate = emptyMessage();
            @if (emptyMessageTemplate) {
              <ng-container
                [ngTemplateOutlet]="emptyMessageTemplate"
              ></ng-container>
            } @else {
              <div class="flex items-center">
                <i class="pi pi-exclamation-circle me-2 inline text-xl"></i>

                <strong i18n="@@query-table--no-results">No results</strong>
              </div>

              <p
                i18n="@@query-table--no-results-text"
                class="mt-4"
              >
                There are no records to display.
              </p>
            }
          }
        </div>
      </td>
    </tr>
  </ng-template>

  @if (expandableRowTemplate()) {
    <ng-template
      #expandedrow
      let-item
    >
      <tr>
        <td></td>
        <td [attr.colspan]="totalColumnCount() - 1">
          @defer {
            <ng-container
              *ngComponentOutlet="
                expandableRowTemplate()!;
                inputs: { value: item, context: tableCellContext() }
              "
            />
          }
        </td>
      </tr>
    </ng-template>
  }
</p-table>

@if (contextMenuItems()) {
  <!-- Opened when right-clicking on a row -->
  <p-contextMenu
    [model]="contextMenuItems()"
    #contextMenu
    popup
    (onShow)="showContextMenu()"
    appendTo="body"
  />
  <!-- Opened when clicking on the ellipsis button -->
  <!-- We can't re-use the same #contextMenu element because of a bug with keyboard events (AB#29766) -->
  <p-menu
    #extraOptionsMenu
    [model]="contextMenuItems()"
    popup
  />
}
