<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col
        *ngIf="!isIframeHeader"
        size="1"
      >
        <ion-button
          class="menu-button"
          [id]="'menu-trigger' + menuId"
          fill="clear"
          size="large"
          color="medium"
          [title]="'header.menu' | translate"
          [attr.aria-label]="'header.menu' | translate"
        >
          <ion-icon
            class="hamburger-menu"
            name="menu-outline"
            slot="icon-only"
            aria-hidden="true"
          ></ion-icon>
        </ion-button>
        <ion-popover
          [trigger]="'menu-trigger' + menuId"
          triggerAction="click"
          [dismissOnSelect]="true"
          class="popover-menu"
        >
          <ng-template>
            <ion-content class="pop-over-container">
              <ion-list>
                <ion-list-header lines="full">
                  <ion-label class="title-label">{{
                    'header.menu' | translate
                  }}</ion-label>
                  <ion-button
                    fill="clear"
                    size="large"
                    color="medium"
                    [title]="'common.close' | translate"
                    [attr.aria-label]="'common.close' | translate"
                  >
                    <ion-icon
                      slot="icon-only"
                      class="exit"
                      name="close-outline"
                      aria-hidden="true"
                    ></ion-icon>
                  </ion-button>
                </ion-list-header>
                <ion-item
                  lines="full"
                  [routerLink]="['/', AppRoutes.home]"
                >
                  <ion-label>{{ 'header.home' | translate }}</ion-label>
                </ion-item>
                <ion-item
                  *ngIf="isAdmin"
                  lines="full"
                  [routerLink]="['/', AppRoutes.createProgram]"
                >
                  <ion-label>{{
                    'header.create-program' | translate
                  }}</ion-label>
                </ion-item>
                <ion-item
                  *ngIf="isAdmin"
                  lines="full"
                  [routerLink]="['/', AppRoutes.users]"
                >
                  <ion-label>{{ 'header.users' | translate }}</ion-label>
                </ion-item>
                <ion-item
                  lines="full"
                  [routerLink]="['/', AppRoutes.help]"
                >
                  <ion-label>{{ 'header.help' | translate }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <ion-col
        *ngIf="!isIframeHeader"
        size="4"
      >
        <h1 class="ion-no-margin">
          {{ title }}
        </h1>
        <ion-note *ngIf="subtitle">
          {{ subtitle }}
          &nbsp;
          <!-- 'placeholder' to reserve vertical space for async-loaded programTitlePortal -->
        </ion-note>
      </ion-col>
      <ion-col [size]="isIframeHeader ? 4 : 1">
        <ion-row
          [ngClass]="{
            'ion-justify-content-center': !isIframeHeader,
            'ion-justify-content-start ion-align-items-center': isIframeHeader
          }"
        >
          <div id="logo-container">
            <img
              src="./assets/img/121-logo.512.webp"
              alt="121"
            />
          </div>
          <ng-container *ngIf="isIframeHeader">
            <ion-text color="secondary">
              <h1 class="ion-no-margin">
                {{ 'page.login.portalTitle' | translate }}
              </h1>
            </ion-text>
          </ng-container>
        </ion-row>
      </ion-col>
      <ion-col [size]="isIframeHeader ? 8 : 6">
        <ion-row class="ion-justify-content-end ion-align-items-center">
          <app-language-switcher class="ion-margin-end"></app-language-switcher>
          <app-user-state
            [showUserStateActions]="!isIframeHeader"
          ></app-user-state>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
