<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col
        *ngIf="!isIframeHeader"
        size="1"
      >
        <ion-button
          class="menu-button"
          [id]="'menu-trigger' + menuId"
          fill="clear"
          size="large"
          color="medium"
        >
          <ion-icon
            class="hamburger-menu"
            name="menu-outline"
            slot="icon-only"
          ></ion-icon>
        </ion-button>
        <ion-popover
          [trigger]="'menu-trigger' + menuId"
          triggerAction="click"
          [dismissOnSelect]="true"
          class="popover-menu"
        >
          <ng-template class="menu-list">
            <ion-content class="pop-over-container">
              <ion-list>
                <ion-list-header lines="full">
                  <ion-label class="title-label">{{
                    'header.menu' | translate
                  }}</ion-label>
                  <ion-button
                    fill="clear"
                    size="large"
                    color="medium"
                  >
                    <ion-icon
                      slot="icon-only"
                      class="exit"
                      name="close-outline"
                      [dismissOnSelect]="true"
                    ></ion-icon>
                  </ion-button>
                </ion-list-header>
                <ion-item
                  lines="full"
                  [routerLink]="['/', appRoute.home]"
                >
                  <ion-label>{{ 'header.home' | translate }}</ion-label>
                </ion-item>
                <ion-item
                  *ngIf="isAdmin"
                  lines="full"
                  [routerLink]="['/', appRoute.users]"
                >
                  <ion-label>{{ 'header.users' | translate }}</ion-label>
                </ion-item>
                <ion-item
                  lines="full"
                  [routerLink]="['/', appRoute.help]"
                >
                  <ion-label>{{ 'header.help' | translate }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-col>
      <ion-col
        *ngIf="!isIframeHeader"
        size="4"
      >
        <h1 class="ion-no-margin">
          {{ title }}
        </h1>
        <ion-note *ngIf="subtitle">
          {{ subtitle }}
          &nbsp;
          <!-- 'placeholder' to reserve vertical space for async-loaded programTitlePortal -->
        </ion-note>
      </ion-col>
      <ion-col [size]="isIframeHeader ? '6' : '2'">
        <ion-row
          [ngClass]="{
            'ion-justify-content-center': !isIframeHeader,
            'ion-justify-content-start ion-align-items-center': isIframeHeader
          }"
        >
          <div id="logo-container">
            <img
              src="./assets/img/121-logo.512.webp"
              alt="121"
            />
          </div>
          <ng-container *ngIf="isIframeHeader">
            <ion-text color="secondary">
              <h1 class="ion-no-margin">121 Portal</h1>
            </ion-text>
          </ng-container>
        </ion-row>
      </ion-col>
      <ion-col [size]="isIframeHeader ? '6' : '5'">
        <ion-row class="ion-justify-content-end ion-align-items-center">
          <app-language-switcher class="ion-margin-end"></app-language-switcher>
          <app-user-state
            [showUserStateActions]="!isIframeHeader"
          ></app-user-state>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
