<div
  style="
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 48px;
  "
  class="ion-align-items-center ion-margin-vertical"
>
  <ion-spinner
    *ngIf="isLoading"
    size="large"
    style="margin: 0 16px 0 16px"
    color="medium"
  ></ion-spinner>

  <ion-icon
    *ngIf="!isLoading"
    name="funnel"
    color="black"
    aria-hidden="true"
    style="margin: 0 16px 0 16px"
  ></ion-icon>

  <ion-select
    *ngIf="!isLoading"
    interface="popover"
    [value]="undefined"
    [(ngModel)]="textFilterOption"
    [placeholder]="
      'page.program.table-filter-row.select-column-to-filter' | translate
    "
    class="table--text-filter--select ion-margin-end"
  >
    <ion-select-option
      *ngFor="let filterOption of tableFiltersPerColumn"
      [value]="filterOption.name"
    >
      {{ filterOption.label }}
    </ion-select-option>
  </ion-select>

  <ng-container *ngIf="showInput()">
    <ion-input
      [placeholder]="
        'page.program.program-people-affected.filter-placeholder' | translate
      "
      [attr.title]="
        'page.program.program-people-affected.filter-placeholder' | translate
      "
      [attr.aria-label]="
        'page.program.program-people-affected.filter-placeholder' | translate
      "
      (keyup.enter)="applyFilter()"
      [(ngModel)]="filterRowsVisibleQuery"
      [clearInput]="true"
      class="table--text-filter--input"
      [disabled]="isLoading"
    >
    </ion-input>

    <ion-button
      fill="outline"
      [disabled]="disableApplyButton()"
      (click)="applyFilter()"
    >
      {{ 'page.program.table-filter-row.apply-filter' | translate }}
    </ion-button>
  </ng-container>
</div>
<div
  style="display: flex; flex-direction: row"
  class="ion-align-items-center ion-margin-vertical"
>
  <ion-chip
    *ngFor="let filter of textFilter | async"
    size="small"
  >
    <ion-label>
      {{
        'page.program.program-people-affected.column.' + filter.name
          | translate
      }}:
      <strong>{{ filter.value }}</strong>
    </ion-label>

    <ion-button
      fill="clear"
      size="small"
      color="medium"
      class="ion-no-margin ion-no-padding"
      (click)="removeTextFilter(filter.name)"
      [attr.aria-label]="
        'page.program.table-filter-row.remove-filter' | translate
      "
      [attr.title]="'page.program.table-filter-row.remove-filter' | translate"
    >
      <ion-icon
        name="close"
        size="small"
        slot="icon-only"
        aria-hidden="true"
      ></ion-icon>
    </ion-button>
  </ion-chip>
</div>
