:host {
  display: block;
  min-height: 100%; // Ensure to always fill the viewport; So the top filter-row stays in the same place
}

/*
 * ngx-datatable + related components
 ***************************************************************************/

.proxy-scrollbar {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.proxy-scrollbar--content {
  height: 1px;
}

/*
 * table-contents
 ***************************************************************************/
.registration-details-link {
  color: #000;

  &:hover,
  &:focus {
    font-weight: bold;
  }
}

.popup-button {
  padding: 0.2em 0.4em;
  font-family: var(--ion-font-family);
  font-size: inherit;
  background: transparent;
  border: 1px solid #bbb;
  border-radius: 0.3em;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: var(--ion-color-primary);
    border-color: currentColor;
  }
}

.payment-history-button {
  width: 90px;
}

.status-pop-up {
  margin-top: 0;
  color: var(--ion-color-primary);
  text-transform: uppercase;
  height: 30px;

  &.is-error {
    color: var(--ion-color-danger);
    border-color: currentColor;
  }
}

.no-message {
  display: block;
}
.no-message:first-letter {
  text-transform: uppercase;
}

.checkmark {
  font-size: 170%;

  &.true {
    color: var(--ion-color-success);
    background-color: white;
  }
}

/*
 * Ionic Checkbox
 ***************************************************************************/
.checkbox-disabled {
  opacity: 1;
}
