<ion-row
  class="ion-align-items-center ion-justify-content-between ion-margin-bottom"
>
  <div>
    <ion-row>
      <select
        data-testid="program-people-affected-bulk-actions"
        name="bulkActions"
        [title]="
          'page.program.program-people-affected.choose-action' | translate
        "
        (change)="selectAction($event)"
        class="styled-select ion-margin-end"
        [(ngModel)]="action"
      >
        <option value="">
          <ng-container *ngIf="!hasEnabledActions()">{{
            'page.program.program-people-affected.no-actions' | translate
          }}</ng-container>
          <ng-container *ngIf="hasEnabledActions()">{{
            'page.program.program-people-affected.choose-action' | translate
          }}</ng-container>
        </option>

        <ng-container *ngFor="let action of bulkActions">
          <option
            *ngIf="action.enabled"
            [value]="action.id"
            [disabled]="action.id === BulkActionEnum.divider"
            [attr.data-payment-id]="
              action.id === BulkActionEnum.doPayment
                ? action.data?.paymentId
                : null
            "
          >
            {{ action.label | translate }}
          </option>
        </ng-container>
      </select>
      <app-confirm-prompt
        [disabled]="applyBtnDisabled || isInProgress"
        (confirm)="
          applyAction({
            message: $event?.message,
            messageTemplateKey: $event?.messageTemplateKey
          })
        "
        [subHeader]="
          'page.program.program-people-affected.submit-warning' | translate
        "
        [message]="submitWarning | async"
        [inputProps]="getCurrentBulkAction()?.confirmConditions"
        [submitPaymentProps]="submitPaymentProps"
        [action]="action"
        class="ion-float-end"
      >
        {{ 'page.program.program-people-affected.apply-action' | translate }}
      </app-confirm-prompt>
      <ion-spinner
        *ngIf="isInProgress"
        color="primary"
        class="ion-margin-start"
      ></ion-spinner>
    </ion-row>
  </div>
  <div class="util--flex-row ion-align-items-center">
    <span *ngIf="displayImportRegistration">
      <app-bulk-import
        data-testid="registration-validation-bulk-import-button"
        *appIfPermissions="[
          Permission.RegistrationCREATE,
          Permission.RegistrationImportTemplateREAD
        ]"
        [programId]="programId"
      ></app-bulk-import>
    </span>
    <app-export-select
      data-testid="table-filter-data-export-button"
      *appIfPermissions="[Permission.RegistrationPersonalEXPORT]"
      [programId]="programId"
      [currentProgramTab]="currentProgramTab"
      [showValidation]="showValidation"
    ></app-export-select>
  </div>
</ion-row>

<app-table-filter-row
  #tableFilterRow
  [isLoading]="isLoading"
  [allFilters]="tableFiltersPerColumn"
  [programId]="programId"
  [currentProgramTab]="currentProgramTab"
  [filteredCount]="pageMetaData?.totalItems"
  [showValidation]="program?.validation"
/>

<div
  #proxyScrollbar
  class="proxy-scrollbar"
  data-target-scroll-element-selector="datatable-body"
  data-target-width-element-selector="datatable-scroller"
>
  <div class="proxy-scrollbar--content"></div>
</div>

<ngx-datatable
  #people
  class="bootstrap"
  [scrollbarH]="true"
  [headerHeight]="95"
  [footerHeight]="50"
  [reorderable]="false"
  [externalSorting]="true"
  (sort)="onSort($event)"
  [loadingIndicator]="isLoading"
  [columns]="columns"
  [rows]="visiblePeopleAffected"
  selectionType="checkbox"
  [selected]="selectedPeople"
  (select)="onSelect($event.selected)"
  [rowHeight]="65"
  [externalPaging]="true"
  [count]="pageMetaData?.totalItems"
  [offset]="pageMetaData?.currentPage"
  [limit]="pageMetaData?.itemsPerPage"
  (page)="setPage($event)"
  [messages]="{
    emptyMessage: 'ngx-datatable.empty-message' | translate,
    totalMessage: 'ngx-datatable.total-message' | translate,
    selectedMessage: 'ngx-datatable.selected-message' | translate
  }"
>
  <ngx-datatable-column
    prop="selected"
    [minWidth]="75"
    [width]="75"
    [frozenLeft]="true"
    headerClass="ion-align-self-end"
    [headerCheckboxable]="false"
  >
    <ng-template ngx-datatable-header-template>
      <label>
        <input
          type="checkbox"
          [checked]="selectAllChecked"
          [disabled]="!selectAllCheckboxVisible"
          [ngStyle]="selectAllCheckboxVisible ? {} : { visibility: 'hidden' }"
          (change)="onSelectAll()"
        />
        {{ 'page.program.program-people-affected.column.select' | translate }}
      </label>
    </ng-template>

    <ng-template
      ngx-datatable-cell-template
      let-row="row"
      let-value="value"
      let-onCheckboxChangeFn="onCheckboxChangeFn"
    >
      <input
        type="checkbox"
        (change)="onCheckboxChangeFn($event)"
        [checked]="isRowSelected(row.referenceId)"
        *ngIf="row.checkboxVisible"
        [disabled]="row.checkboxDisabled"
      />
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="registrationProgramId"
    [name]="
      'page.program.program-people-affected.column.personAffectedSequence'
        | translate
    "
    [minWidth]="130"
    [width]="130"
    frozenLeft="true"
    [comparator]="paComparator"
    [draggable]="columnDefaults.draggable"
    [resizeable]="columnDefaults.resizeable"
    [sortable]="columnDefaults.sortable"
    [headerClass]="columnDefaults.headerClass"
  >
    <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-row="row"
    >
      <div
        data-testid="pa-table-cell"
        class="ion-align-items-center"
        style="display: flex"
      >
        <button
          data-testid="information-popup-button"
          *ngIf="canViewPersonalData"
          type="button"
          data-testid="information-popup-button"
          class="ion-no-padding popup-button"
          (click)="editPersonAffectedPopup(row, programId)"
          [attr.title]="
            ('page.program.program-people-affected.edit-person-affected-popup.edit-icon-title'
              | translate) +
            (row.hasNote
              ? ' - ' +
                ('page.program.program-people-affected.edit-person-affected-popup.has-notes-title'
                  | translate)
              : '')
          "
          [attr.aria-label]="
            ('page.program.program-people-affected.edit-person-affected-popup.edit-icon-title'
              | translate) +
            (row.hasNote
              ? ' - ' +
                ('page.program.program-people-affected.edit-person-affected-popup.has-notes-title'
                  | translate)
              : '')
          "
        >
          <ion-icon
            name="information"
            size="small"
            aria-hidden="true"
          ></ion-icon>
          <ion-icon
            *ngIf="row.hasNote"
            name="document"
            color="warning"
            size="small"
            aria-hidden="true"
          ></ion-icon>
        </button>
        &nbsp;&nbsp;
        <a
          class="registration-details-link ion-text-nowrap"
          [routerLink]="['..', 'registration', row.id]"
        >
          <span>{{ value }}</span>
        </a>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngFor="let column of columns"
    [prop]="column.prop"
    [name]="column.name"
    [width]="column.width"
    [minWidth]="column.minWidth"
    [maxWidth]="column.maxWidth"
    [draggable]="column.draggable"
    [resizeable]="column.resizable"
    [sortable]="column.sortable"
    [comparator]="column.comparator"
    [canAutoResize]="column.canAutoResize"
    [headerClass]="column.headerClass"
    [cellClass]="column.cellClass"
    [frozenLeft]="column.frozenLeft"
  >
    <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-row="row"
    >
      <ng-container *ngIf="value === true || value === false">
        <span
          [title]="
            value
              ? ('page.program.program-people-affected.column.custom-attribute-true'
                | translate)
              : ('page.program.program-people-affected.column.custom-attribute-false'
                | translate)
          "
        >
          <ion-checkbox
            color="success"
            mode="ios"
            [disabled]="!canUpdatePaData"
            [checked]="value"
            (ionChange)="onCheckboxChange(row, column, !value)"
          ></ion-checkbox>
        </span>
      </ng-container>
      <ng-container
        *ngIf="
          value !== true &&
          value !== false &&
          value &&
          !isColumnWithSpecialFormatting(column.prop)
        "
      >
        <span [attr.title]="value"> {{ value }} </span>
      </ng-container>
      <ng-container *ngIf="column.prop === 'lastMessageStatus'">
        <button
          *ngIf="
            row.lastMessageStatus !==
            (
              'page.program.program-people-affected.last-message.no-message'
              | translate
            ).toLowerCase()
          "
          class="ion-no-padding popup-button status-pop-up"
          [ngClass]="{
            'is-error': hasMessageError(row.lastMessageStatus)
          }"
          (click)="openMessageHistoryPopup(row, programId)"
        >
          {{ value }}
        </button>
        <span
          *ngIf="
            row.lastMessageStatus.toLowerCase() ===
            (
              'page.program.program-people-affected.last-message.no-message'
              | translate
            ).toLowerCase()
          "
          class="no-message"
        >
          {{ value }}
        </span>
      </ng-container>
      <ng-container *ngIf="column.prop === 'status'">
        <span
          class="badge"
          [ngClass]="'registration-status-' + row.registrationStatus"
          >{{ value }}</span
        >
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name=""
    [width]="emptySeparatorWidth"
    [minWidth]="emptySeparatorWidth"
    [maxWidth]="emptySeparatorWidth"
    [resizeable]="false"
    [sortable]="false"
    headerClass="no-border"
    cellClass="no-border"
    [frozenLeft]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="
      showInclusionScore() && currentProgramTab === ProgramTab.peopleAffected
    "
    prop="inclusionScore"
    [name]="
      'page.program.program-people-affected.column.inclusionScore' | translate
    "
    minWidth="80"
    [draggable]="columnDefaults.draggable"
    [resizeable]="columnDefaults.resizeable"
    [sortable]="columnDefaults.sortable"
    [headerClass]="columnDefaults.headerClass"
  ></ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="currentProgramTab === ProgramTab.payment"
    prop="paymentHistoryColumn"
    [name]="paymentHistoryColumn?.name || ''"
    [minWidth]="paymentHistoryColumn?.minWidth"
    [sortable]="paymentHistoryColumn?.sortable"
    [headerClass]="paymentHistoryColumn?.headerClass"
  >
    <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-row="row"
    >
      <ng-container *ngIf="value">
        <button
          type="button"
          [attr.title]="
            'page.program.program-people-affected.transaction.show-status'
              | translate
          "
          [attr.aria-label]="
            'page.program.program-people-affected.transaction.show-status'
              | translate
          "
          (click)="paymentHistoryPopup(row)"
          [ngClass]="{
            'ion-no-padding popup-button status-pop-up payment-history-button': true
          }"
        >
          {{ value }}
        </button>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-curPage="curPage"
    >
      <div class="ion-padding">
        {{
          'ngx-datatable.selection-summary'
            | translate
              : {
                  selectedCount: selectedCount | number: '1.0-0',
                  totalCount: pageMetaData?.totalItems || 0 | number: '1.0-0'
                }
        }}
      </div>
      <datatable-pager
        class="datatable-pager"
        [pagerLeftArrowIcon]="'datatable-icon-left'"
        [pagerRightArrowIcon]="'datatable-icon-right'"
        [pagerPreviousIcon]="'datatable-icon-prev'"
        [pagerNextIcon]="'datatable-icon-skip'"
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!(rowCount / pageSize > 1)"
        (change)="people.onFooterPage($event)"
      >
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
