<app-card-with-link
  [href]="paymentLink(projectId(), paymentId())"
  [title]="paymentTitle()"
>
  <ng-container card-content>
    <app-card-summary-metrics-container
      [summaryMetrics]="summaryMetrics()"
    ></app-card-summary-metrics-container>
  </ng-container>
  <ng-container card-footer>
    <div class="min-h-8 text-end">
      @if (cardIndex() === 0) {
        @if (paymentInProgress.isPending()) {
          <app-skeleton-inline width="8rem" />
        } @else if (paymentInProgress.data()?.inProgress) {
          <app-colored-chip
            variant="orange"
            label="In progress"
            i18n-label
            [icon]="'pi pi-spinner animate-spin'"
          ></app-colored-chip>
        }
      }
    </div>
  </ng-container>
</app-card-with-link>
