# Logs
logs
*.log
.DS_Store

npm-debug.log*

# Dependency directory
node_modules
.config/configstore

# Optional npm cache directory
.npm

#IDEs
.idea

# code testing coverage
coverage

# generated assets
dist
