<p-table
  #table
  [value]="items()"
  [loading]="isPending()"
  [showLoader]="false"
  (onStateSave)="onStateSave($event)"
  [lazy]="serverSideFiltering()"
  (onLazyLoad)="onLazyLoadEvent($event)"
  [totalRecords]="totalRecords()"
  [filterDelay]="serverSideFiltering() ? 500 : 0"
  [filterLocale]="locale"
  (onFilter)="selectAll.set(false)"
  [rowHover]="contextMenuItems()"
  [sortField]="initialSortField()"
  [sortOrder]="initialSortOrder()"
  [contextMenu]="contextMenu()"
  (contextMenuSelectionChange)="updateContextMenuItem.emit($event)"
  [globalFilterFields]="globalFilterFields()"
  [paginator]="true"
  [paginatorLocale]="locale"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 40, 80, 100]"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="currentPageReportTemplate()"
  stateStorage="local"
  [stateKey]="localStorageKey()"
  [expandedRowKeys]="expandedRowKeys()"
  [selection]="selectedItems()"
  [selectAll]="selectAll()"
  [selectionMode]="enableSelection() ? 'multiple' : null"
  (selectionChange)="onSelectionChange($event)"
  (selectAllChange)="onSelectAllChange($event)"
  [columns]="visibleColumns()"
  [dataKey]="'id'"
>
  <ng-template pTemplate="caption">
    <div class="flex min-h-11 items-center">
      <ng-content select="[table-actions]"></ng-content>
      <span class="ms-auto"></span>
      @if (isFiltered()) {
        <p-button
          label="Clear all filters"
          i18n-label="@@table-clear-filters"
          [outlined]="true"
          rounded
          severity="secondary"
          icon="pi pi-filter-slash"
          (click)="clearAllFilters()"
          class="me-2"
        />
      }
      @if (globalFilterFields() || serverSideFiltering()) {
        <app-query-table-global-search
          [globalFilterValue]="globalFilterValue()"
          [(globalFilterVisible)]="globalFilterVisible"
          (filterChange)="table.filterGlobal($event, 'contains')"
        />
      }
      @if (enableColumnManagement()) {
        <app-query-table-column-management
          [columns]="columns()"
          [(visibleColumns)]="visibleColumns"
          (resetColumnVisibility)="resetColumnVisibility()"
        />
      }
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      @if (enableSelection()) {
        <th style="width: 0">
          <p-tableHeaderCheckbox />
        </th>
      }
      @if (expandableRowTemplate()) {
        <th style="width: 0">
          <p-button
            type="button"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="
              areAllRowsExpanded()
                ? 'pi pi-chevron-down'
                : 'pi pi-chevron-right'
            "
            (click)="areAllRowsExpanded() ? collapseAll() : expandAll()"
          />
        </th>
      }
      @for (column of visibleColumns(); track $index) {
        @let columnSortField = getColumnSortField(column);
        @let columnFilterField = getColumnFilterField(column);
        @let columnMatchMode = getColumnMatchMode(column);

        <th
          [pSortableColumn]="columnSortField"
          style="min-width: 14rem"
        >
          <div class="flex items-center">
            <ng-container>{{ column.header }}</ng-container>

            @if (columnSortField) {
              <p-sortIcon
                [field]="columnSortField"
                class="me-0 ms-2 mt-1"
              />
            }

            @if (columnFilterField) {
              @if (column.type === 'multiselect') {
                <p-columnFilter
                  [field]="columnFilterField"
                  [matchMode]="columnMatchMode"
                  display="menu"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                >
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-multiSelect
                      [ngModel]="value"
                      [options]="column.options"
                      (onChange)="filter($event.value)"
                      [optionLabel]="'label'"
                      [optionValue]="'value'"
                      placeholder="Choose option(s)"
                      i18n-placeholder
                    >
                    </p-multiSelect>
                  </ng-template>
                </p-columnFilter>
              } @else {
                <p-columnFilter
                  [type]="getColumnType(column)"
                  [field]="columnFilterField"
                  display="menu"
                  [matchMode]="columnMatchMode"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                />
              }
            }
          </div>
        </th>
      }
      @if (contextMenuItems()) {
        <!-- Extra column for the ellipsis button -->
        <th i18n>Actions</th>
      }
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-item
    let-expanded="expanded"
  >
    <tr [pContextMenuRow]="item">
      @if (enableSelection()) {
        <td style="width: 0">
          @if (selectAll()) {
            <p-checkbox
              [value]="true"
              [binary]="true"
              [ngModel]="true"
              [disabled]="true"
            />
          } @else {
            <p-tableCheckbox [value]="item" />
          }
        </td>
      }
      @if (expandableRowTemplate()) {
        <td style="width: 0">
          <p-button
            type="button"
            [pRowToggler]="item"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
      }
      @for (column of visibleColumns(); track $index) {
        <td>
          @if (column.component) {
            <ng-container
              *ngComponentOutlet="
                column.component;
                inputs: {
                  value: item,
                  context: tableCellContext(),
                }
              "
            />
          } @else {
            @let cellText = getCellText(column, item);
            @if (column.type === 'multiselect') {
              @if (column.getCellChipData) {
                @let chipData = column.getCellChipData(item);
                <app-colored-chip
                  [label]="chipData.chipLabel"
                  [variant]="chipData.chipVariant"
                />
              } @else if (cellText) {
                <app-colored-chip
                  [label]="cellText"
                  [variant]="'grey'"
                />
              }
            } @else {
              @let routerLink =
                column.getCellRouterLink
                  ? column.getCellRouterLink(item)
                  : undefined;

              @if (routerLink) {
                <a
                  [routerLink]="routerLink"
                  class="hover:underline focus:underline"
                  >{{ cellText }}</a
                >
              } @else {
                {{ cellText }}
              }
            }
          }
        </td>
      }
      @if (contextMenuItems()) {
        <td class="w-0 py-0 pe-2 text-end">
          <p-button
            text
            plain
            icon="pi pi-ellipsis-h"
            (click)="
              updateContextMenuItem.emit(item);
              extraOptionsMenu()?.toggle($event)
            "
          />
        </td>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    @for (row of [].constructor(table.rows); track $index) {
      <tr data-testid="query-table-loading">
        @if (enableSelection()) {
          <td style="width: 0">
            <p-checkbox [disabled]="true" />
          </td>
        }

        @if (expandableRowTemplate()) {
          <td style="width: 0"></td>
        }

        @for (column of [].constructor(visibleColumns().length); track $index) {
          <td>
            <app-skeleton-inline />
          </td>
        }

        @if (contextMenuItems()) {
          <td style="width: 0"></td>
        }
      </tr>
    }
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr data-testid="query-table-empty">
      <td [attr.colspan]="totalColumnCount()">
        <div class="w-full py-6 text-center">
          @if (isFiltered()) {
            <i class="pi pi-filter mb-5 inline text-xl"></i>

            <p
              i18n
              class="mb-2 font-bold"
            >
              No results found
            </p>
            <p
              i18n
              class="mb-8"
            >
              There are no records that match the selected filters, clear some
              or all filters to continue.
            </p>

            <p-button
              label="Clear all filters"
              i18n-label="@@table-clear-filters"
              link
              (click)="clearAllFilters()"
            />
          } @else {
            @let emptyMessageTemplate = emptyMessage();
            @if (emptyMessageTemplate) {
              <ng-container
                [ngTemplateOutlet]="emptyMessageTemplate"
              ></ng-container>
            } @else {
              <i class="pi pi-exclamation-circle mb-3 inline text-xl"></i>
              <p
                i18n
                class="mb-2 font-bold"
              >
                No results
              </p>
              <p i18n>There are no records to display.</p>
            }
          }
        </div>
      </td>
    </tr>
  </ng-template>
  @if (expandableRowTemplate()) {
    <ng-template
      pTemplate="rowexpansion"
      let-item
    >
      <tr>
        <td></td>
        <td [attr.colspan]="totalColumnCount() - 1">
          @defer {
            <ng-container
              *ngComponentOutlet="
                expandableRowTemplate()!;
                inputs: { value: item, context: tableCellContext() }
              "
            />
          }
        </td>
      </tr>
    </ng-template>
  }
</p-table>
@if (contextMenuItems()) {
  <!-- Opened when right-clicking on a row -->
  <p-contextMenu
    [model]="contextMenuItems()"
    #contextMenu
    popup
    appendTo="body"
  />
  <!-- Opened when clicking on the ellipsis button -->
  <!-- We can't re-use the same #contextMenu element because of a bug with keyboard events (AB#29766) -->
  <p-menu
    #extraOptionsMenu
    [model]="contextMenuItems()"
    popup
  />
}
