<p-card
  class="[&_.p-card-content]:flex-end group shadow-clickable-cards relative h-full border border-transparent transition-colors *:h-full focus-within:border-purple-500 hover:border-purple-500 [&_.p-card-title]:grow [&_.p-card-title]:ps-0"
  data-testid="card-with-link"
>
  <ng-template pTemplate="title">
    <div class="flex flex-row items-center">
      @if (image()) {
        <div class="ms-1 me-5 w-24">
          <img
            [src]="image()"
            alt=""
            aria-hidden="true"
            role="presentation"
            class="mx-auto h-14 object-contain"
          />
        </div>
      }
      <div>
        @if (!!title()) {
          @if (!enableLink()) {
            <ng-container *ngTemplateOutlet="cardTitle"></ng-container>
          } @else {
            <a
              [routerLink]="href()"
              (click)="cardClicked.emit()"
              (keydown.enter)="cardClicked.emit()"
              (keydown.space)="cardClicked.emit()"
              [tabindex]="!href() ? 0 : null"
              class="group-focus-within:text-purple group-hover:text-purple cursor-pointer transition-colors after:absolute after:inset-0 after:block"
            >
              <ng-container *ngTemplateOutlet="cardTitle"></ng-container>
            </a>
          }
          @if (subtitle()) {
            <div class="txt-body-m font-normal">
              {{ subtitle() }}
            </div>
          }
        }
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <ng-content select="[card-content]"></ng-content>
  </ng-template>
  <ng-template pTemplate="footer">
    <ng-content select="[card-footer]"></ng-content>
  </ng-template>
</p-card>

<ng-template #cardTitle>
  @if (loading()) {
    <app-skeleton-inline />
  } @else {
    <span
      class="line-clamp-2 text-ellipsis"
      [title]="title()"
    >
      {{ title() }}
      @if (!!titleColoredChipLabel()) {
        <app-colored-chip
          [label]="titleColoredChipLabel() ?? ''"
          [variant]="titleColoredChipColor()"
        ></app-colored-chip>
      }
    </span>
  }
</ng-template>
