<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button type="button"
                  fill="clear"
                  shape="round"
                  size="large"
                  [routerLink]="['/program', programId]"
                  routerDirection="back"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'page.programs.program-people.pageTitle'|translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-button (click)="submitInclusion()">
    {{ 'page.programs.program-people.submit'|translate }}
  </ion-button>
  <div class="ion-padding">
    <!-- Theme classes dark, material, bootstrap -->
    <ngx-datatable  #people
      [limit]="50"
      [rows]="enrolledPeople"
      [rowHeight]="auto"
      [columns]="columns"
      [columnMode]="'flex'"
      [columnWidth]="30"
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [selected]="selected"
      [selectionType]="'checkbox'"
    >
    </ngx-datatable>

  </div>

</ion-content>