<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button type="button"
                  fill="clear"
                  shape="round"
                  size="large"
                  [routerLink]="['/program', programId]"
                  routerDirection="back"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'page.programs.program-people.pageTitle'|translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <ngx-datatable #people
                 class="bootstrap"
                 limit="50"
                 columnMode="force"
                 rowHeight="auto"
                 headerHeight="50"
                 footerHeight="50"
                 reorderable="false"
                 sortType="multi"
                 selectionType="checkbox"
                 loadingIndicator="true"
                 [columns]="columns"
                 [rows]="enrolledPeople"
                 [selected]="selectedPeople"
                 [messages]="tableMessages"
  ></ngx-datatable>

  <ion-button (click)="submitInclusion()"
              class="ion-float-end"
  >
    {{ 'page.programs.program-people.submit'|translate }}
  </ion-button>

</ion-content>
