<section>
  <app-dialogue-turn [isSpoken]="true">
    {{ 'validation.find-by-phone.introduction' | translate }}
  </app-dialogue-turn>

  <app-dialogue-turn
    actor="self"
    [isSpoken]="true"
  >
    <p>{{ 'validation.find-by-phone.enter-phone' | translate }}</p>
    <app-phone-number-input
      #phoneNumberInput
      ngDefaultControl
      [(ngModel)]="inputPhonenumber"
      [required]="true"
      [placeholder]="phonenumberPlaceholder"
      [name]="questionName"
      [disabled]="
        0 || paDataResult || returnMainMenu || peopleAffectedFound.length > 1
      "
      (ionChange)="changePhoneNumber()"
    ></app-phone-number-input>

    <br />

    <ion-button
      expand="block"
      [disabled]="
        inputPhonenumber === '' ||
        paDataResult ||
        returnMainMenu ||
        peopleAffectedFound.length > 1
      "
      (click)="findPaByPhone()"
    >
      {{ 'validation.find-by-phone.find-phone' | translate }}
    </ion-button>
    <ion-button
      expand="block"
      [disabled]="paDataResult || returnMainMenu"
      (click)="backMainMenu()"
    >
      {{ 'validation.find-by-phone.main-menu' | translate }}
    </ion-button>
  </app-dialogue-turn>
  <app-dialogue-turn
    *ngIf="noPeopleAffectedFound"
    [isSpoken]="noPeopleAffectedFound"
    [isConnected]="true"
  >
    {{ 'validation.find-by-phone.error' | translate }}
  </app-dialogue-turn>

  <ng-container *ngIf="peopleAffectedFound.length">
    <app-dialogue-turn [isSpoken]="true">
      {{ 'validation.find-by-phone.multiple-found' | translate }}
    </app-dialogue-turn>
    <app-dialogue-turn
      actor="self"
      [isSpoken]="true"
    >
      <form (submit)="submitPaChoice()">
        <ion-radio-group
          (ionChange)="changePaChoice($event)"
          [disabled]="paChoice"
          [value]="paChoice"
        >
          <ion-item
            *ngFor="let pa of peopleAffectedFound"
            color="light"
            lines="full"
            class="ion-no-padding"
          >
            <ion-item
              lines="none"
              color="light"
              class="ion-no-padding"
              style="width: 100%"
            >
              <ion-label class="ion-text-wrap ion-padding-end">
                <strong>
                  {{ 'validation.find-by-phone.name' | translate }}:
                </strong>
                {{ pa.name + ' (' + pa.programTitle + ')' }}
              </ion-label>
              <ion-radio
                [value]="pa.referenceId"
                [disabled]="
                  (paChoice && isDisabled) || paDataResult || returnMainMenu
                "
              ></ion-radio>
            </ion-item>
          </ion-item>
        </ion-radio-group>
        <ion-row
          *ngIf="paChoice"
          class="ion-nowrap ion-align-items-center ion-margin-top"
        >
          <ion-button
            type="submit"
            expand="block"
            style="flex-basis: 100%"
            [disabled]="paDataResult"
          >
            {{ 'shared.submit-button' | translate }}
          </ion-button>
        </ion-row>
      </form>
    </app-dialogue-turn>
  </ng-container>

  <app-dialogue-turn
    *ngIf="paDataResult"
    [isSpoken]="paDataResult"
    [isConnected]="true"
  >
    {{ 'validation.find-by-phone.conclusion' | translate }}
  </app-dialogue-turn>
</section>
