<dialogue-turn>
  <p>
    <play-text-audio
      key="personal.consent-question.question"
      class="ion-float-start ion-margin-end"
    ></play-text-audio>
    <span
      [innerHTML]="
        'personal.consent-question.question'
          | translate
            : {
                ngo: '<strong>' + instanceInformation?.displayName + '</strong>'
              }
      "
    ></span>
  </p>

  <more-info-button
    *ngIf="instanceInformation?.dataPolicy"
    buttonKey="personal.consent-question.more-info-personal-information"
    [message]="instanceInformation?.dataPolicy"
    headingKey="personal.consent-question.more-info-personal-information"
  ></more-info-button>
</dialogue-turn>
<dialogue-turn actor="self">
  <p>
    <play-text-audio
      key="personal.consent-question.answer"
      class="ion-float-start ion-margin-end"
    ></play-text-audio>
    <span [innerHTML]="'personal.consent-question.answer' | translate"></span>
  </p>
  <ion-radio-group
    (ionChange)="changeConsent($event.detail.value)"
    [value]="
      userConsent === true
        ? consentChoices.agree
        : userConsent === false
        ? consentChoices.disagree
        : ''
    "
  >
    <ion-item
      color="light"
      lines="full"
      class="ion-no-padding"
    >
      <play-text-audio
        key="personal.consent-question.agree"
        slot="start"
        class="ion-no-margin ion-margin-end"
      ></play-text-audio>
      <ion-item
        lines="none"
        color="light"
        class="ion-no-padding"
        style="width: 100%"
      >
        <ion-label class="ion-text-wrap ion-padding-end">
          {{ 'personal.consent-question.agree' | translate }}
        </ion-label>
        <ion-radio
          [value]="consentChoices.agree"
          [disabled]="isDisabled"
        ></ion-radio>
      </ion-item>
    </ion-item>
    <ion-item
      color="light"
      class="ion-no-padding"
      lines="full"
    >
      <play-text-audio
        key="personal.consent-question.disagree"
        slot="start"
        class="ion-no-margin ion-margin-end"
      ></play-text-audio>
      <ion-item
        lines="none"
        color="light"
        class="ion-no-padding"
        style="width: 100%"
      >
        <ion-label class="ion-text-wrap ion-padding-end">
          {{ 'personal.consent-question.disagree' | translate }}
        </ion-label>
        <ion-radio
          [value]="consentChoices.disagree"
          [disabled]="isDisabled"
        ></ion-radio>
      </ion-item>
    </ion-item>
  </ion-radio-group>
  <ion-row
    *ngIf="(consentChoice || userConsent) && !isDisabled"
    class="ion-nowrap ion-align-items-center ion-margin-top"
  >
    <play-text-audio
      key="shared.submit-button"
      size="default"
    ></play-text-audio>
    <ion-button
      type="button"
      (click)="submitConsent()"
      [disabled]="isDisabled || !consentChoice"
      expand="block"
      style="flex-basis: 100%"
    >
      {{ 'shared.submit-button' | translate }}
    </ion-button>
  </ion-row>
</dialogue-turn>
