<app-dialogue-turn>
  <p>
    <span
      [innerHTML]="
        'personal.consent-question.question'
          | translate
            : {
                ngo: '<strong>' + instanceInformation?.displayName + '</strong>'
              }
      "
    ></span>
  </p>

  <app-more-info-button
    *ngIf="instanceInformation?.dataPolicy"
    buttonKey="personal.consent-question.more-info-personal-information"
    [message]="instanceInformation?.dataPolicy"
    headingKey="personal.consent-question.more-info-personal-information"
  ></app-more-info-button>
</app-dialogue-turn>
<app-dialogue-turn actor="self">
  <p>
    <span [innerHTML]="'personal.consent-question.answer' | translate"></span>
  </p>
  <ion-radio-group
    (ionChange)="changeConsent($event.detail.value)"
    [value]="
      userConsent === true
        ? consentChoices.agree
        : userConsent === false
          ? consentChoices.disagree
          : ''
    "
  >
    <ion-item
      lines="full"
      color="light"
      class="ion-no-padding"
      style="width: 100%"
      [disabled]="isDisabled"
    >
      <ion-radio [value]="consentChoices.agree">
        <ion-text class="ion-text-wrap">
          {{ 'personal.consent-question.agree' | translate }}
        </ion-text>
      </ion-radio>
    </ion-item>
    <ion-item
      lines="full"
      lines="none"
      color="light"
      class="ion-no-padding"
      style="width: 100%"
      [disabled]="isDisabled"
    >
      <ion-radio [value]="consentChoices.disagree">
        <ion-text class="ion-text-wrap">
          {{ 'personal.consent-question.disagree' | translate }}
        </ion-text>
      </ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-row
    *ngIf="(consentChoice || userConsent) && !isDisabled"
    class="ion-nowrap ion-align-items-center ion-margin-top"
  >
    <ion-button
      type="button"
      (click)="submitConsent()"
      [disabled]="isDisabled || !consentChoice"
      expand="block"
      style="flex-basis: 100%"
    >
      {{ 'shared.submit-button' | translate }}
    </ion-button>
  </ion-row>
</app-dialogue-turn>
