<app-card-editable
  header="De-duplication"
  i18n-header
  editPencilTitle="Edit"
  i18n-editPencilTitle
  [canEdit]="canEditAttributes()"
  [(isEditing)]="isEditing"
  [formGroup]="formGroup"
  [mutation]="updateDuplicationAttibutesMutation"
  [mutationData]="{ formData: formGroup.getRawValue() }"
  [attr.data-testid]="'registration-questions-card'"
>
  <p
    i18n
    class="mbe-4"
  >
    Select the fields you would like to use as duplication indicators - if these
    fields are found to match in 2 or more registrations, the registrations will
    be flagged as duplicates.
  </p>

  @if (isEditing()) {
    <app-form-field-wrapper
      label="Duplication fields:"
      [isRequired]="false"
      i18n-label
    >
      <p-multiselect
        class="wrapped-chip-multiselect"
        [options]="programRegistrationAttributes()"
        [optionLabel]="'labelToShow'"
        [optionValue]="'name'"
        formControlName="duplicationFields"
        placeholder="Select 1 or more fields"
        i18n-placeholder
        [loading]="program.isPending()"
        [maxSelectedLabels]="100"
        [showToggleAll]="false"
        [display]="'chip'"
        [filter]="false"
        [appendTo]="'body'"
        [attr.data-testid]="'deduplication-settings-multiselect'"
      >
      </p-multiselect>
    </app-form-field-wrapper>
  } @else {
    <app-data-list
      [data]="dataListData()"
      [forceOneColumn]="true"
    ></app-data-list>
  }
</app-card-editable>
