<section #selectProgram>
  <dialogue-turn
    *ngIf="programs?.length > 0"
    [isSpoken]="programs?.length > 0"
    [isConnected]="true"
  >
    <p>
      <play-text-audio
        key="personal.select-program.introduction"
        class="ion-float-start ion-margin-end"
      ></play-text-audio>
      {{ 'personal.select-program.introduction' | translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn
    actor="self"
    *ngIf="programs?.length > 0"
    [isSpoken]="programs?.length > 0"
  >
    <form (submit)="submitProgram()">
      <ion-radio-group
        (ionChange)="changeProgram($event)"
        [value]="programChoice"
      >
        <ion-item
          *ngFor="let program of programs"
          color="light"
          lines="full"
          class="ion-no-padding"
        >
          <ion-button
            type="button"
            color="primary"
            shape="round"
            fill="solid"
            class="program-info ion-margin-end"
            (click)="openAboutProgramPopup(program)"
          >
            <ion-icon
              name="information"
              size="small"
              slot="icon-only"
              aria-hidden="true"
            ></ion-icon>
          </ion-button>
          <ion-item
            lines="none"
            color="light"
            class="ion-no-padding"
            style="width: 100%"
          >
            <ion-label class="ion-text-wrap ion-padding-end">
              {{ program.titlePaApp }}
              <ng-container *ngIf="program.description">
                <br />
                <ion-note class="ion-text-wrap">
                  {{ program.description }}
                </ion-note>
              </ng-container>
            </ion-label>
            <ion-radio
              [value]="program.id"
              [disabled]="isDisabled"
            ></ion-radio>
          </ion-item>
        </ion-item>
      </ion-radio-group>
      <ion-row
        *ngIf="programChoice && !isDisabled"
        class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio
          key="shared.submit-button"
          size="default"
        ></play-text-audio>
        <ion-button
          type="submit"
          expand="block"
          style="flex-basis: 100%"
        >
          {{ 'shared.submit-button' | translate }}
        </ion-button>
      </ion-row>
    </form>
  </dialogue-turn>
  <dialogue-turn
    *ngIf="!programs?.length"
    [isSpoken]="!programs?.length"
  >
    <p>
      <play-text-audio
        key="personal.select-program.no-published-programs"
        class="ion-float-start ion-margin-end"
      ></play-text-audio>
      {{ 'personal.select-program.no-published-programs' | translate }}
    </p>
  </dialogue-turn>
</section>
