<p-card
  styleClass="[&_.p-card-content]:flex-end group relative h-full border border-transparent *:h-full focus-within:border-purple-500 hover:border-purple-500 [&_.p-card-title]:flex-grow"
>
  <ng-template pTemplate="title">
    <a
      [routerLink]="projectLink(id())"
      class="after:absolute after:inset-0 after:block group-focus-within:text-purple group-hover:text-purple"
    >
      @if (project.isPending()) {
        <app-skeleton-inline />
      } @else {
        <span
          class="line-clamp-2 text-ellipsis"
          [title]="project.data()?.titlePortal | translatableString"
        >
          {{ project.data()?.titlePortal | translatableString }}
        </span>
      }
    </a>
  </ng-template>
  <ng-template pTemplate="content">
    <dl class="flex flex-wrap divide-y border-b border-grey-100">
      <div class="basis-1/2 border-t border-grey-100 px-1 py-2">
        <app-project-metric-container
          [pending]="metrics.isPending()"
          [value]="metrics.data()?.targetedPeople"
          label="Target registrations"
          i18n-label
        ></app-project-metric-container>
      </div>
      <div class="basis-1/2 border-s border-grey-100 px-1 py-2">
        <app-project-metric-container
          [pending]="metrics.isPending()"
          [value]="metrics.data()?.includedPeople"
          label="Included registrations"
          i18n-label
        ></app-project-metric-container>
      </div>
      <div class="basis-1/2 border-t border-grey-100 px-1 py-2">
        <app-project-metric-container
          [pending]="metrics.isPending()"
          [value]="
            (metrics.data()?.totalBudget
              | currency
                : project.data()?.currency ?? 'EUR'
                : 'symbol-narrow'
                : '1.0-0') || '-'
          "
          label="Budget"
          i18n-label
        ></app-project-metric-container>
      </div>
      <div class="basis-1/2 border-s border-t border-grey-100 px-1 py-2">
        <app-project-metric-container
          [pending]="metrics.isPending()"
          [value]="
            (metrics.data()?.spentMoney
              | currency
                : project.data()?.currency ?? 'EUR'
                : 'symbol-narrow'
                : '1.0-0') || '-'
          "
          label="Cash disbursed"
          i18n-label
        ></app-project-metric-container>
      </div>
    </dl>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="text-end">
      <span class="text-grey-700 txt-system-s">
        @if (payments.isPending()) {
          <app-skeleton-inline width="8rem" />
        } @else {
          @if (getLastPayment()) {
            <ng-container i18n>Last payment: </ng-container>
            {{ getLastPayment()!.paymentDate | date: 'dd-MM-yyyy' }}
          } @else {
            <ng-container i18n>No payments yet</ng-container>
          }
        }
      </span>
    </div>
  </ng-template>
</p-card>
