<!-- content -->
<form (ngSubmit)="assignTeamMember()">
  <ion-grid class="ion-no-margin ion-padding">
    <ion-row>
      <ion-label class="label">{{
        'page.program-team.popup.team-member' | translate
      }}</ion-label>
    </ion-row>
    <ion-row class="search-wrapper">
      <ion-searchbar
        [ngClass]="{ 'invalid-ion-select-searchbar': isUserAlreadyTeamMember }"
        class="team-member-searchbar ion-padding"
        name="searchQuery"
        [(ngModel)]="searchQuery"
        (ionInput)="search($event)"
        [debounce]="1000"
        searchIcon="undefined"
        placeholder="{{
          'page.program-team.popup.team-member-placeholder' | translate
        }}"
      >
      </ion-searchbar>
      <div *ngIf="isUserAlreadyTeamMember">
        <app-warning-label
          [warningText]="
            'page.program-team.popup.add.already-member' | translate
          "
        ></app-warning-label>
      </div>
      <ng-container *ngIf="showSearchResults">
        <ion-list class="ion-no-margin">
          <ion-item
            [button]="true"
            *ngFor="let user of searchResults"
            (click)="updateSearchbarValue(user)"
          >
            {{ user.username }}
          </ion-item>
        </ion-list>
      </ng-container>
    </ion-row>
    <ion-row>
      <ion-label class="label">{{
        'page.program-team.popup.role' | translate
      }}</ion-label>
    </ion-row>
    <ion-row>
      <ion-select
        [ngClass]="{ 'invalid-ion-select-searchbar': showRolesWarning() }"
        placeholder="{{
          'page.program-team.popup.roles-placeholder' | translate
        }}"
        label-placement="start"
        fill="outline"
        toggleIcon="chevron-down-outline"
        [multiple]="true"
        interface="popover"
        [(ngModel)]="selectedRoleNames"
        name="selectedRoles"
        [interfaceOptions]="{ cssClass: 'rolesDropdown' }"
      >
        <ion-select-option
          *ngFor="let role of rolesList"
          value="{{ role.role }}"
        >
          {{ role.label.trim() }}
        </ion-select-option>
      </ion-select>
      <div *ngIf="showRolesWarning()">
        <app-warning-label
          [warningText]="'page.program-team.popup.roles-required' | translate"
        ></app-warning-label>
      </div>
    </ion-row>
    <ion-row
      *ngIf="enableScope"
      class="ion-margin-top"
    >
      <ion-label class="label">{{
        'page.program-team.table-headers.scope' | translate
      }}</ion-label>
      <ion-input
        type="text"
        fill="outline"
        [(ngModel)]="scope"
        name="scope"
        placeholder="{{
          'page.program-team.popup.scope-placeholder' | translate
        }}"
      ></ion-input>
      <ion-note
        class="ion-text-justify"
        [innerHTML]="'page.program-team.popup.scope-explanation' | translate"
      ></ion-note>
    </ion-row>
  </ion-grid>
  <div class="buttons">
    <!-- cancel button -->
    <ion-button
      (click)="closeModal()"
      [attr.title]="'common.cancel' | translate"
      [attr.aria-label]="'common.cancel' | translate"
      fill="clear"
    >
      <u
        ><strong>{{ 'common.cancel' | translate }}</strong></u
      >
    </ion-button>

    <!-- add user button -->
    <ion-button
      type="submit"
      shape="round"
      fill="solid"
      class="button"
      item-end
      [disabled]="!isFormComplete()"
      >{{ 'page.program-team.popup.add.confirm' | translate }}</ion-button
    >
  </div>
</form>
