<app-page-layout-registration
  [programId]="programId()"
  [registrationId]="registrationId()"
>
  <div class="px-2">
    @if (!registrationAttributes.isSuccess()) {
      <p-skeleton height="24rem" />
    } @else {
      @if (!isEditing()) {
        @if (canUpdatePersonalInformation()) {
          <div class="text-end">
            <p-button
              label="Edit information"
              i18n-label
              (click)="isEditing.set(true)"
              icon="pi pi-pencil"
              [iconPos]="rtlHelper.createPosition('start')()"
              outlined
              rounded
            />
          </div>
        }
        @if (hasKoboImages()) {
          <div class="grid gap-4 lg:grid-cols-2">
            <app-data-list
              [data]="textDataList()"
              [forceOneColumn]="true"
            />
            <app-image-list [images]="koboImages()" />
          </div>
        } @else {
          <app-data-list [data]="dataList()" />
        }
      } @else {
        <app-edit-personal-information
          #editPersonalInformation
          [programId]="programId()"
          [registrationId]="registrationId()"
          [attributeList]="editableAttributeList()"
          [forceOneColumn]="hasKoboImages()"
          (cancelEditing)="isEditing.set(false)"
          (registrationUpdated)="onRegistrationUpdated()"
        >
          @if (hasKoboImages()) {
            <app-image-list [images]="koboImages()" />
          }
        </app-edit-personal-information>
      }
    }
  </div>
</app-page-layout-registration>
