<ion-card *ngIf="showPaymentInfo()">
  <ion-card-header>
    <ion-card-title>
      {{ 'registration-details.payment-overview.title' | translate }}
    </ion-card-title>
    <ion-card-subtitle>
      <ion-row class="ion-justify-content-between">
        <ion-note>{{
          'registration-details.payment-overview.subtitle' | translate
        }}</ion-note>
        <ion-button
          fill="outline"
          color="primary"
          size="small"
          shape="round"
          (click)="paymentHistoryPopup()"
          >{{ 'registration-details.show-all' | translate }}</ion-button
        >
      </ion-row>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <app-registration-page-table
      [itemList]="paymentsTable"
    ></app-registration-page-table>
  </ion-card-content>
</ion-card>
