<app-page-layout-registration
  [programId]="programId()"
  [registrationId]="registrationId()"
>
  <div class="px-2">
    @if (currentCard()) {
      <div class="my-auto ms-auto flex">
        @if (currentCardHasAction()('pause')) {
          <p-button
            label="Pause card"
            i18n-label="@@debit-card-actions-pause-card"
            rounded
            outlined
            icon="pi pi-pause"
            [iconPos]="rtlHelper.createPosition('start')()"
            class="ms-auto"
            (click)="pauseConfirmationDialog.show()"
          />
        }
        @if (currentCardHasAction()('unpause')) {
          <p-button
            label="Unpause card"
            i18n-label="@@debit-card-actions-unpause-card"
            rounded
            outlined
            icon="pi pi-play"
            [iconPos]="rtlHelper.createPosition('start')()"
            class="ms-auto"
            (click)="unpauseConfirmationDialog.show()"
          />
        }
        @if (currentCardHasAction()('replace')) {
          <p-button
            label="Replace card"
            i18n-label="@@debit-card-actions-replace-card"
            rounded
            outlined
            icon="pi pi-refresh"
            [iconPos]="rtlHelper.createPosition('start')()"
            class="ms-4"
            (click)="replaceConfirmationDialog.show()"
          />
        }
      </div>
      <app-data-list
        [data]="walletWithCurrentCardListData()"
        data-testid="wallet-current-card-list"
      />
    }
    @if (oldCards().length > 0) {
      <div class="py-1"></div>
      <p-accordion data-testid="old-card-list">
        @for (oldCard of oldCards(); track $index) {
          <p-accordion-panel
            [value]="$index"
            class="[&_.p-accordioncontent]:px-1 [&_.p-accordionheader]:px-0 [&_.p-accordionheader]:text-black"
          >
            <p-accordion-header
              ><span class="flex items-center gap-1">
                <strong i18n>Old card:</strong>
                <span class="font-normal">
                  {{ oldCard.tokenCode }}
                </span>
                <app-colored-chip
                  [variant]="oldCard.chipVariant"
                  [label]="oldCard.chipLabel"
                /> </span
            ></p-accordion-header>
            <p-accordion-content>
              <app-data-list
                class="text-black"
                [data]="oldCard.dataList"
                [hideBottomBorder]="true"
              />
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    }
  </div>
</app-page-layout-registration>
<app-form-dialog
  #pauseConfirmationDialog
  header="Pause card"
  headerIcon="pi pi-pause"
  i18n-header="@@debit-card-actions-pause-card"
  acceptLabel="Pause card"
  i18n-acceptLabel="@@debit-card-actions-pause-card"
  [mutation]="changeCardPauseStatusMutation"
  [mutationData]="{ pauseStatus: true }"
>
  <p i18n>
    You're about to pause debit card number {{ currentCard()?.tokenCode }}.
  </p>
  <p i18n="@@generic-message-will-be-sent">
    A message will be sent to the registration about this update.
  </p>
</app-form-dialog>
<app-form-dialog
  #unpauseConfirmationDialog
  header="Unpause card"
  headerIcon="pi pi-play"
  i18n-header="@@debit-card-actions-unpause-card"
  acceptLabel="Unpause card"
  i18n-acceptLabel="@@debit-card-actions-unpause-card"
  [mutation]="changeCardPauseStatusMutation"
  [mutationData]="{ pauseStatus: false }"
>
  <p i18n>
    You're about to unpause debit card number {{ currentCard()?.tokenCode }}.
  </p>
  <p i18n="@@generic-message-will-be-sent">
    A message will be sent to the registration about this update.
  </p>
</app-form-dialog>
<app-form-dialog
  #replaceConfirmationDialog
  header="Replace card"
  headerIcon="pi pi-refresh"
  i18n-header="@@debit-card-actions-replace-card"
  acceptLabel="Replace card"
  i18n-acceptLabel="@@debit-card-actions-replace-card"
  [mutation]="replaceCardMutation"
  [mutationData]="undefined"
>
  <p i18n>
    You're about to replace debit card number {{ currentCard()?.tokenCode }}.
    This will block the current card and a new card will be issued.
  </p>
  <p i18n="@@generic-message-will-be-sent">
    A message will be sent to the registration about this update.
  </p>
</app-form-dialog>
