<p-dialog
  [(visible)]="responseDialogVisible"
  [style]="{ width: dialogWidth() }"
  (onHide)="resetDialogState()"
  [draggable]="false"
  appendTo="body"
  #confirmDialog
  [modal]="true"
>
  <ng-template pTemplate="header">
    <div class="flex items-center gap-2">
      <h3>
        <i [class]="headerIcon()"></i>
        {{ dialogTitle() }}
      </h3>
    </div>
  </ng-template>

  @if (importState() === ImportStates.NotInitiated) {
    <div>
      <p i18n>Import existing registrations from your Kobo form.</p>
      <p i18n>
        The system will create registrations with the status
        <app-colored-chip
          [variant]="'blue'"
          [label]="'New'"
        />
      </p>
      <p i18n>The import takes about 1 minute per 100 records.</p>
    </div>

    <div class="mt-5 flex justify-end gap-4">
      <p-button
        (click)="responseDialogVisible.set(false)"
        severity="secondary"
        label="Cancel"
        [rounded]="true"
        i18n-label
      />
      <p-button
        [loading]="importExistingSubmissions.isPending()"
        (click)="importExistingSubmissions.mutate()"
        label="Import registrations"
        [rounded]="true"
        i18n-label
      />
    </div>
  }

  @if (
    importState() === ImportStates.ImportedWithoutErrors ||
    importState() === ImportStates.ImportedWithErrors
  ) {
    <div>
      <p>
        <span i18n> Successfully imported submissions from Kobo form </span>
        <span>”{{ koboIntegration.data()?.name }}”</span>
      </p>

      <div class="mt-4 space-y-2">
        <p
          i18n
          class="font-bold"
        >
          {{ importExistingSubmissions.data()?.numberOfSubmissionsImported }}
          total submissions
        </p>

        <app-colored-chip
          [label]="
            submissionCountTranslations().numberOfSubmissionsImportedChipLabel
          "
          [variant]="'green'"
          [icon]="'pi pi-check'"
          class="block"
          i18n-icon
        />
      </div>
    </div>
  }

  @if (importState() === ImportStates.ImportedWithoutErrors) {
    <div class="mt-5 flex justify-end gap-4">
      <p-button
        label="Close"
        i18n-label="@@generic-close"
        (click)="closeDialog()"
        [rounded]="true"
      />
    </div>
  }

  @if (importState() === ImportStates.ImportedWithErrors) {
    <div>
      <div class="mt-4 space-y-2">
        <app-colored-chip
          [label]="
            submissionCountTranslations().numberOfSubmissionsFailedChipLabel
          "
          [variant]="'red'"
          [icon]="'pi pi-exclamation-triangle'"
          class="block"
        />

        <app-form-error
          [error]="'Below are the errors corresponding to the failed submissions. Correct the submissions in the kobo form and try again.'"
        />
      </div>

      <app-query-table
        [items]="detailedImportErrors() ?? []"
        [columns]="detailedErrorsColumns()"
        [initialSortField]="'id'"
        [isPending]="false"
      >
      </app-query-table>
      <div class="mt-5 flex justify-end gap-4">
        <p-button
          (click)="importState.set(ImportStates.NotInitiated)"
          label="Try again"
          i18n-label
          [rounded]="true"
        />
      </div>
    </div>
  }
</p-dialog>
