<!-- We are not using 'form' here because this component is already rendered within a form -->
<div [formGroup]="formGroup">
  @if (showAreYouSureCheckbox()) {
    <div class="mt-4 w-full">
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label>
        <p-checkbox
          formControlName="confirmAction"
          [binary]="true"
        />
        <span
          i18n
          class="ps-2"
          >I understand this action can not be undone.</span
        >
      </label>
    </div>
  }
  <app-form-error [error]="formFieldErrors()('confirmAction')" />
  <app-change-status-submit-buttons
    [isMutating]="isMutating()"
    (cancelClick)="cancelClick()"
    (approveClick)="validateFormGroupOrPreventSubmit($event)"
  />
</div>
