@for (image of images(); track index; let index = $index) {
  @let isAvailable = isImageAvailable({ imageUrl: image.imageUrl });

  @if (isAvailable) {
    <p-dialog
      [modal]="false"
      [draggable]="true"
      [closeOnEscape]="false"
      [resizable]="true"
      [dismissableMask]="false"
      [blockScroll]="false"
      [maximizable]="true"
      [visible]="openImageIndexes().has(index)"
      [appendTo]="'body'"
      [style]="{ width: '42rem', height: '42rem' }"
      (onMaximize)="isMaximized = !isMaximized"
      (onHide)="closeDialog({ imageIndex: index })"
      [styleClass]="isMaximized ? '' : 'cursor-move'"
      [contentStyleClass]="'cursor-default'"
      [resizable]="true"
      class="shadow-2xl"
    >
      <ng-template #header>
        <div>
          <i class="pi pi-image me-2"></i>
          <strong>{{ image.label | translatableString }}:</strong>
        </div>
      </ng-template>

      <app-image-viewer
        [imageUrl]="downloadedImageObjectUrls()[index] ?? image.imageUrl"
      />
    </p-dialog>
  }
}
