<div style="display: flex;"
     class="ion-align-items-center ion-justify-content-end"
>
  <ion-spinner *ngIf="isInProgress"
               color="primary"
  ></ion-spinner>

  <confirm-prompt *ngIf="btnAvailable"
                  [disabled]="selectedPhase !== activePhase || !phaseReady || isInProgress || currentUserRole !== userRoleEnum.ProgramManager"
                  (confirm)="advancePhase(activePhaseId)"
                  [subHeader]="btnText"
                  class="ion-margin-start"
  >
    {{ btnText }}
  </confirm-prompt>
</div>
