<ng-template #icon>
  <i
    class="pi pi-info-circle cursor-help"
    [class.text-sm]="infoTooltipData().inline"
    [class.text-xs]="!infoTooltipData().inline"
    tabindex="0"
    [pTooltip]="infoTooltipData().message"
    [tooltipPosition]="rtlHelper.createPosition('end')()"
    (mouseover)="handleMouseOver($event)"
    (mouseout)="handleMouseOut($event)"
    (focus)="handleFocus($event)"
    (blur)="handleMouseOut($event)"
    (keydown.enter)="handleEnterKey($event)"
    (focusout)="handleFocusOut($event)"
  ></i>
</ng-template>

@if (infoTooltipData().inline) {
  <ng-container *ngTemplateOutlet="icon"></ng-container>
} @else {
  <sup>
    <ng-container *ngTemplateOutlet="icon"></ng-container>
  </sup>
}
