/*
 * Tools - above the table
 ***************************************************************************/
.filter-input {
  border: 1px solid #d1d4d7;
  border-radius: 4px;

  min-width: 20em;
  max-width: 30%;
}

/*
 * ngx-datatable + related components
 ***************************************************************************/

.data-table--max-height {
  height: 72vh;
}

.proxy-scrollbar {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.proxy-scrollbar--content {
  height: 1px;
}

/*
 * table-contents
 ***************************************************************************/
.popup-button {
  padding: 0.2em 0.4em;
  font-family: var(--ion-font-family);
  font-size: inherit;
  background: transparent;
  border: 1px solid #bbb;
  border-radius: 0.3em;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    color: var(--ion-color-primary);
    border-color: currentColor;
  }
}

.status-pop-up {
  margin-top: 0;
  color: var(--ion-color-primary);
  text-transform: uppercase;
  height: 30px;

  &.is-error {
    color: var(--ion-color-danger);
    border-color: currentColor;
  }
}

.checkmark {
  font-size: 170%;

  &.true {
    color: var(--ion-color-success);
    background-color: white;
  }
}
