<ion-row
  class="ion-align-items-center ion-justify-content-between ion-margin-bottom"
>
  <div>
    <ion-row>
      <select
        name="bulkActions"
        [title]="
          'page.program.program-people-affected.choose-action' | translate
        "
        (change)="selectAction($event)"
        class="styled-select ion-margin-end"
        [(ngModel)]="action"
      >
        <option value="">
          <ng-container *ngIf="!hasEnabledActions()">{{
            'page.program.program-people-affected.no-actions' | translate
          }}</ng-container>
          <ng-container *ngIf="hasEnabledActions()">{{
            'page.program.program-people-affected.choose-action' | translate
          }}</ng-container>
        </option>

        <ng-container *ngFor="let action of bulkActions">
          <option
            *ngIf="action.enabled"
            [value]="action.id"
            [disabled]="action.id === BulkActionEnum.divider"
          >
            {{ action.label }}
          </option>
        </ng-container>
      </select>
      <app-confirm-prompt
        [disabled]="applyBtnDisabled"
        (confirm)="applyAction($event)"
        [subHeader]="
          'page.program.program-people-affected.submit-warning' | translate
        "
        [message]="submitWarning.message"
        [inputProps]="getCurrentBulkAction()?.confirmConditions"
        [submitPaymentProps]="submitPaymentProps"
        [action]="action"
        class="ion-float-end"
      >
        {{ 'page.program.program-people-affected.apply-action' | translate }}
      </app-confirm-prompt>

      <ion-spinner
        *ngIf="isInProgress"
        color="primary"
        class="ion-margin-start"
      ></ion-spinner>
    </ion-row>
  </div>
  <div>
    <ion-row
      *ngIf="program"
      class="ion-align-items-center"
    >
      <ion-button
        class="ion-padding-end"
        (click)="refreshData()"
      >
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
      <ion-item
        lines="none"
        style="border: 1px solid #d1d4d7; border-radius: 4px; height: 40px"
        class="ion-align-items-start"
      >
        <ion-icon
          name="funnel"
          [attr.title]="
            'page.program.program-people-affected.filter-placeholder'
              | translate
          "
          aria-hidden="true"
          size="small"
          slot="start"
          class="ion-margin-end"
          style="height: 40px; margin-top: 0px; margin-bottom: 0opx"
          color="black"
        ></ion-icon>
        <ion-select
          style="min-height: 40px; margin-right: 8px"
          interface="popover"
          (ionChange)="selectTextFilterOption($event.detail.value)"
          placeholder="Select..."
        >
          <ion-select-option
            *ngFor="let filterOption of tableFiltersDropdownOptions"
            value="{{ filterOption.name }}"
            >{{ filterOption.label }}</ion-select-option
          >
        </ion-select>
        <ion-input
          [placeholder]="
            'page.program.program-people-affected.filter-placeholder'
              | translate
          "
          [attr.title]="
            'page.program.program-people-affected.filter-placeholder'
              | translate
          "
          [attr.aria-label]="
            'page.program.program-people-affected.filter-placeholder'
              | translate
          "
          (ionInput)="applyFilter($event.detail.value)"
          [debounce]="1000"
          [value]="filterRowsVisibleQuery"
          [clearInput]="true"
          class="filter-input"
        >
        </ion-input>
      </ion-item>

      <ion-label class="ion-margin-start">
        {{
          'page.program.program-people-affected.filter-btn.common.filter-by'
            | translate
        }}
      </ion-label>

      <ng-container *ngFor="let tableFilter of tableFilters">
        <app-table-filter
          *ngIf="showTableFilter(tableFilter.prop)"
          [buttonLabel]="
            'page.program.program-people-affected.filter-btn.btn-label.' +
              tableFilter.prop | translate
          "
          [type]="tableFilter.type"
          [description]="
            'page.program.program-people-affected.filter-btn.' +
              tableFilter.description | translate
          "
          (filter)="applyTableFilter(tableFilter.prop, $event)"
          [filterProps]="{
            allOptions: tableFilterState[tableFilter.prop]?.visible,
            currentSelection: tableFilterState[tableFilter.prop]?.selected
          }"
        ></app-table-filter>
      </ng-container>
    </ion-row>
  </div>
</ion-row>
<div
  #proxyScrollbar
  class="proxy-scrollbar"
  data-target-scroll-element-selector="datatable-body"
  data-target-width-element-selector="datatable-scroller"
>
  <div class="proxy-scrollbar--content"></div>
</div>
<ngx-datatable
  #people
  class="bootstrap"
  [scrollbarH]="true"
  [headerHeight]="95"
  [footerHeight]="50"
  [reorderable]="false"
  sortType="single"
  [sorts]="[{ prop: 'pa', dir: 'asc' }]"
  [loadingIndicator]="isLoading"
  [columns]="columns"
  [rows]="visiblePeopleAffected"
  selectionType="checkbox"
  [displayCheck]="isRowSelectable"
  [selected]="selectedPeople"
  (select)="onSelect($event.selected)"
  [selectCheck]="isRowSelectable"
  [rowHeight]="65"
  [externalPaging]="true"
  [count]="pageMetaData?.totalItems"
  [offset]="pageMetaData?.currentPage"
  [limit]="pageMetaData?.itemsPerPage"
  (page)="setPage($event)"
>
  <ngx-datatable-column
    prop="selected"
    [minWidth]="75"
    [width]="75"
    [frozenLeft]="true"
    headerClass="ion-align-self-end"
  >
    <ng-template
      ngx-datatable-header-template
      let-value="value"
      let-allRowsSelected="allRowsSelected"
      let-selectFn="selectFn"
    >
      <label>
        <input
          type="checkbox"
          [checked]="headerChecked"
          [disabled]="!headerSelectAllVisible"
          [ngStyle]="headerSelectAllVisible ? {} : { visibility: 'hidden' }"
          (change)="selectFn(!allRowsSelected)"
        />
        {{ 'page.program.program-people-affected.column.select' | translate }}
      </label>
    </ng-template>

    <ng-template
      ngx-datatable-cell-template
      let-row="row"
      let-value="value"
      let-isSelected="isSelected"
      let-onCheckboxChangeFn="onCheckboxChangeFn"
    >
      <input
        type="checkbox"
        [checked]="isSelected"
        (change)="onCheckboxChangeFn($event)"
        *ngIf="row.checkboxVisible"
      />
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="pa"
    [name]="
      'page.program.program-people-affected.column.personAffectedSequence'
        | translate
    "
    [minWidth]="130"
    [width]="130"
    frozenLeft="true"
    [comparator]="paComparator"
    [draggable]="columnDefaults.draggable"
    [resizeable]="columnDefaults.resizeable"
    [sortable]="columnDefaults.sortable"
    [headerClass]="columnDefaults.headerClass"
  >
    <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-row="row"
    >
      <div
        class="ion-align-items-center"
        style="display: flex"
      >
        <button
          *ngIf="canViewPersonalData"
          type="button"
          class="ion-no-padding popup-button"
          (click)="editPersonAffectedPopup(row, programId)"
          [attr.title]="
            ('page.program.program-people-affected.edit-person-affected-popup.edit-icon-title'
              | translate) +
            (row.hasNote
              ? ' - ' +
                ('page.program.program-people-affected.edit-person-affected-popup.has-notes-title'
                  | translate)
              : '')
          "
          [attr.aria-label]="
            ('page.program.program-people-affected.edit-person-affected-popup.edit-icon-title'
              | translate) +
            (row.hasNote
              ? ' - ' +
                ('page.program.program-people-affected.edit-person-affected-popup.has-notes-title'
                  | translate)
              : '')
          "
        >
          <ion-icon
            name="information"
            size="small"
            aria-hidden="true"
          ></ion-icon>
          <ion-icon
            *ngIf="row.hasNote"
            name="document"
            color="warning"
            size="small"
            aria-hidden="true"
          ></ion-icon>
        </button>
        &nbsp;&nbsp;
        <a
          class="registration-details-link ion-text-nowrap"
          [routerLink]="['..', 'registration', row.id]"
        >
          <span>{{ value }}</span>
        </a>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngFor="let column of columns"
    [prop]="column.prop"
    [name]="column.name"
    [width]="column.width"
    [minWidth]="column.minWidth"
    [maxWidth]="column.maxWidth"
    [draggable]="column.draggable"
    [resizeable]="column.resizable"
    [sortable]="column.sortable"
    [comparator]="column.comparator"
    [canAutoResize]="column.canAutoResize"
    [headerClass]="column.headerClass"
    [cellClass]="column.cellClass"
    [frozenLeft]="column.frozenLeft"
  >
    <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-row="row"
    >
      <ng-container *ngIf="value === true || value === false">
        <span
          [title]="
            value
              ? ('page.program.program-people-affected.column.custom-attribute-true'
                | translate)
              : ('page.program.program-people-affected.column.custom-attribute-false'
                | translate)
          "
        >
          <ion-checkbox
            color="success"
            mode="ios"
            [disabled]="!canUpdatePaData"
            [checked]="value"
            (ionChange)="onCheckboxChange(row, column, !value)"
          ></ion-checkbox>
        </span>
      </ng-container>
      <ng-container
        *ngIf="
          value !== true &&
          value !== false &&
          value &&
          column.prop !== 'lastMessageStatus' &&
          column.prop !== 'name'
        "
      >
        <span [attr.title]="value"> {{ value }} </span>
      </ng-container>
      <ng-container *ngIf="column.prop === 'lastMessageStatus'">
        <button
          *ngIf="
            row.lastMessageStatus !==
            ('page.program.program-people-affected.last-message.no-message'
              | translate).toLowerCase()
          "
          class="ion-no-padding popup-button status-pop-up"
          [ngClass]="{
            'is-error': hasMessageError(row.lastMessageStatus)
          }"
          (click)="openMessageHistoryPopup(row, programId)"
        >
          {{ value }}
        </button>
        <span
          *ngIf="
            row.lastMessageStatus.toLowerCase() ===
            (
              'page.program.program-people-affected.last-message.no-message'
              | translate
            ).toLowerCase()
          "
          class="no-message"
        >
          {{ value }}
        </span>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name=""
    [width]="emptySeparatorWidth"
    [minWidth]="emptySeparatorWidth"
    [maxWidth]="emptySeparatorWidth"
    [resizeable]="false"
    [sortable]="false"
    headerClass="no-border"
    cellClass="no-border"
    [frozenLeft]="true"
  >
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="
      showInclusionScore() &&
      [phaseEnum.registrationValidation, phaseEnum.inclusion].includes(
        thisPhase
      )
    "
    prop="inclusionScore"
    [name]="
      'page.program.program-people-affected.column.inclusionScore' | translate
    "
    minWidth="80"
    [draggable]="columnDefaults.draggable"
    [resizeable]="columnDefaults.resizeable"
    [sortable]="columnDefaults.sortable"
    [headerClass]="columnDefaults.headerClass"
  ></ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="thisPhase === phaseEnum.payment"
    prop="paymentHistoryColumn"
    [name]="paymentHistoryColumn?.name || ''"
    [minWidth]="paymentHistoryColumn?.minWidth"
    [sortable]="paymentHistoryColumn?.sortable"
    [headerClass]="paymentHistoryColumn?.headerClass"
  >
    <ng-template
      ngx-datatable-cell-template
      let-value="value"
      let-row="row"
    >
      <ng-container *ngIf="value">
        <button
          *ngIf="row.paymentHistory?.paymentIndex"
          type="button"
          [attr.title]="
            'page.program.program-people-affected.transaction.show-status'
              | translate
          "
          [attr.aria-label]="
            'page.program.program-people-affected.transaction.show-status'
              | translate
          "
          (click)="paymentHistoryPopup(row)"
          [ngClass]="{
            'is-error': hasError(row),
            'ion-no-padding popup-button status-pop-up payment-history-button': true
          }"
        >
          {{ value }}
        </button>
        <span *ngIf="!row.paymentHistory?.paymentIndex">
          {{ value }}
        </span>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
