.status-pop-up {
  background: transparent;
  border: 1px solid currentColor;
  font-family: var(--ion-font-family);
  font-size: inherit;

  &:hover,
  &:focus {
    color: var(--ion-color-primary);
  }

  &.is-error {
    color: var(--ion-color-danger);
  }
}
