/*
 * Tools - above the table
 ***************************************************************************/
.filter-input {
  --placeholder-color: --ion-color-medium;

  border: 1px solid var(--ion-color-medium);
  min-width: 20em;
  max-width: 30%;
}

/*
 * ngx-datatable + related components
 ***************************************************************************/

.data-table--max-height {
  height: 72vh;
}

.proxy-scrollbar {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
.proxy-scrollbar--content {
  height: 1px;
}

/*
 * table-contents
 ***************************************************************************/
.popup-button {
  padding: 0.2em 0.4em;
  font-family: var(--ion-font-family);
  font-size: inherit;
  background: transparent;
  border: 1px solid #bbb;
  border-radius: 0.3em;

  &:hover,
  &:focus {
    color: var(--ion-color-primary);
    border-color: currentColor;
  }
}

.status-pop-up {
  &.is-error {
    color: var(--ion-color-danger);
    border-color: currentColor;
  }
}

.payment-cell-money-line {
  display: inline-block;
  vertical-align: middle;
}

.payment-cell-no-popup {
  cursor: default;
}
