<app-header
  [title]="'page.program.tab.people-affected.label' | translate"
></app-header>
<div
  class="util--flex-row ion-justify-content-between ion-align-items-end ion-padding-end"
>
  <app-program-navigation></app-program-navigation>
  <ion-grid class="ion-no-padding ion-margin-bottom">
    <ion-row>
      <ion-col class="ion-justify-content-end">
        <app-disable-registration
          *appIfPermissions="[Permission.ProgramUPDATE]"
          [programId]="programId"
        ></app-disable-registration>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-content class="ion-padding">
  <app-program-people-affected
    #table
    *appIfPermissions="[Permission.RegistrationREAD]"
    [programId]="programId"
    [thisPhase]="thisPhase"
    [displayImportRegistration]="true"
  ></app-program-people-affected>
</ion-content>
