.sub-category {
  display: inline-block;
}

.position-relative {
  position: relative;
}

ion-card {
  width: 150px;
  height: 150px;
  display: inline-block;
  background: #ffc001;
  cursor: pointer;
  overflow: visible;
  vertical-align: top;

  ion-img {
    height: 85px;
    width: 85px;
    margin: auto;
    padding: 5%;
  }

  ion-card-title {
    font-weight: normal;
    overflow: hidden;
    white-space: normal;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}

ion-card-content {
  visibility: hidden;
  position: absolute;
  margin: 10px;

  &.vertical-text {
    visibility: visible;
    margin-top: 0;
    padding-top: 0;
  }

  &.horizontal-text {
    visibility: visible;
    top: 0;
    left: 150px;
  }
}
