<div
  class="sub-category"
  [ngClass]="{
    'as-header': !showBottomDescription || showRightDescription
  }"
>
  <ion-card
    class="sub-category--icon ion-no-margin"
  >
    <ion-card-header>
      <ion-img
        [src]="subCategory.subCategoryIcon"
        [alt]="subCategory.subCategoryName"
        class="sub-category--img"
      ></ion-img>
      <ion-card-title class="sub-category--label ion-text-center">
        {{ subCategory.subCategoryName }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <div
    *ngIf="showRightDescription || showBottomDescription"
    class="sub-category--description ion-padding"
  >
    <ion-text>
      {{ subCategory.subCategoryDescription }}
    </ion-text>
  </div>
</div>
