.sub-category {
  display: flex;

  .sub-category--icon {
    flex: 0 0 auto;
  }
  .sub-category--description {
    flex: 1 1 auto;
  }

  // Alternative view as header of the page
  &.as-header {
    .sub-category--icon {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.sub-category--icon {
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: top;

  background: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);

  cursor: pointer;
  overflow: visible;
}

.sub-category--img {
  max-width: 56%;
  height: auto;
  max-height: 56%;
  margin: auto;
}

.sub-category--label {
  font-weight: bold;
  overflow: hidden;
  white-space: normal;
  text-transform: uppercase;
  font-size: 0.8rem;
}
