@if (content()) {
  <div
    class="mbe-6 flex items-center rounded-2xl border p-4 inline-full"
    [ngClass]="wrapperVariant()"
    [attr.data-testid]="'notification-banner'"
  >
    @if (content(); as content) {
      @if (iconVariant()) {
        <span
          class="me-2 text-xl"
          [ngClass]="iconVariant()"
        ></span>
      }
      <div class="leading-tight">
        <strong>{{ content.title }}</strong>
        <span>&nbsp;-&nbsp;</span>
        <span class="text-black">{{ content.description }}</span>
      </div>
    }
  </div>
} @else {
  <div
    class="mbe-6 flex items-center rounded-2xl border p-4 inline-full"
    [ngClass]="wrapperVariant()"
  >
    <ng-content></ng-content>
  </div>
}
