<div
  class="flex items-center rounded-2xl border p-4 inline-full"
  [ngClass]="wrapperColorVariantClass()"
>
  @if (content()) {
    @if (content(); as content) {
      @if (iconVariant()) {
        <span
          class="me-2 text-xl"
          [ngClass]="iconVariant()"
        ></span>
      }
      <div class="leading-tight">
        <strong>{{ content.title }}</strong>
        @if (content.description) {
          <span>&nbsp;-&nbsp;</span>
          <span class="text-black">{{ content.description }}</span>
        }
      </div>
    }
  } @else {
    <ng-content></ng-content>
  }
</div>
