<app-page-layout-project-settings [projectId]="projectId()">
  <app-fsp-configuration-list
    [projectId]="projectId()"
    [(forceShowNewFspList)]="forceShowNewFspList"
    (addFspConfiguration)="
      showFspConfigurationDialog({
        fsp: $event,
      })
    "
    (reconfigureFspConfiguration)="
      showFspConfigurationDialog({
        fsp: $event.fspName,
        fspConfiguration: $event,
      })
    "
  />
</app-page-layout-project-settings>

<app-fsp-configuration-form-dialog
  #fspConfigurationFormDialog
  [projectId]="projectId()"
  (configurationCompleted)="configurationCompleted()"
/>
