<div class="p-explainer-accordion">
  <p-accordion [value]="null">
    <p-accordion-panel
      value="0"
      [unstyled]="true"
    >
      <p-accordion-header
        [unstyled]="true"
        class="p-accordion-header"
      >
        <p>
          <span
            class="pi pi-question-circle"
            aria-hidden="true"
          ></span>
          <span>
            {{ title() }}
          </span>
        </p>
      </p-accordion-header>

      <p-accordion-content>
        <ul>
          @for (item of items(); track $index) {
            <li [attr.index]="$index + 1">
              <p>{{ item.content }}</p>
              @if (item.imageUrl) {
                <img
                  src="{{ item.imageUrl }}"
                  alt=""
                />
              }
            </li>
          }
        </ul>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
