
<ion-button *ngIf="!isDisabled || alwaysVisible"
            type="button"
            color="primary"
            shape="round"
            fill="solid"
            [size]="size ? size : 'small'"
            [attr.title]="buttonLabel"
            [attr.aria-label]="buttonLabel"
            (click)="toggleState()"
            [ngClass]="{
              'is-for-submit': (type === buttonTypes.forSubmit),
              'is-thin': (type === buttonTypes.forSubmit) || (type === buttonTypes.forRadio),
              'play-text-audio': true
            }"
>
  <ion-icon [name]="iconName"
            size="small"
            slot="icon-only"
  ></ion-icon>
</ion-button>
