.play-text-audio {
  display: inline-block;
  vertical-align: middle;

  --padding-start: 0.35em;
  --padding-end: 0.35em;
  --padding-top: 0.35em;
  --padding-bottom: 0.35em;
}

.ear-icon {
  width: 1.385em;
}
