
<ion-button *ngIf="!isDisabled || alwaysVisible"
            type="button"
            color="primary"
            shape="round"
            fill="solid"
            [size]="size ? size : 'small'"
            [attr.title]="buttonLabel"
            [attr.aria-label]="buttonLabel"
            (click)="toggleState()"
            class="play-text-audio"
>
  <img *ngIf="iconName === 'play'" 
       src="./assets/icons/ear-outline-white.svg" 
       class="ear-icon"
  >
  <ion-icon *ngIf="iconName !== 'play'" 
            [name]="iconName"
            size="small"
            slot="icon-only"
  ></ion-icon>
</ion-button>
