
<ion-button *ngIf="!isDisabled || alwaysVisible"
            type="button"
            color="primary"
            shape="round"
            fill="solid"
            [size]="size ? size : 'small'"
            [attr.title]="buttonLabel"
            [attr.aria-label]="buttonLabel"
            (click)="toggleState()"
            class="play-text-audio"
>
  <img
    *ngIf="iconName === 'play'"
    [src]="'/assets/icons/ear-outline-white.svg'"
    class="ear-icon"
    width="18"
    height="18"
    aria-hidden="true"
  >
  <ion-icon *ngIf="iconName !== 'play'"
            [name]="iconName"
            size="small"
            slot="icon-only"
            aria-hidden="true"
  ></ion-icon>
</ion-button>
