services:
  121db:
    container_name: 121db
    image: 'postgres:14'
    init: true
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DBNAME}
    volumes:
      - './postgresql.conf:/etc/postgresql.conf'
      - './${INIT_SQL_FILE:-init.sql}:/docker-entrypoint-initdb.d/init.sql'
    ports:
      - '5438:5432'
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD-SHELL',
          "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DBNAME}'",
        ]
      interval: 10s
      timeout: 3s
      retries: 3

  121-redis:
    container_name: 121queue
    # Version 4.0.x & 6.0.x are supported by Azure Cache for Redis
    image: 'redis:6.0-alpine'
    ports:
      - '6379:6379'

  mock-service:
    container_name: mock-service
    build:
      context: mock-service
      target: production
    init: true
    env_file: .env
    environment:
      - GLOBAL_121_VERSION
    ports:
      - '${PORT_MOCK_SERVICE}:${PORT_MOCK_SERVICE}'
    stdin_open: true
    tty: true
    restart: on-failure

  121-service:
    container_name: 121-service
    build:
      context: 121-service
      target: production
    init: true
    env_file: .env
    environment:
      - GLOBAL_121_VERSION
    ports:
      - '${PORT_121_SERVICE}:${PORT_121_SERVICE}'
    stdin_open: true
    tty: true
    depends_on:
      121-redis:
        condition: service_started
        required: true
      121db:
        condition: service_healthy
        required: true
        restart: true
    restart: on-failure

  azurite:
    container_name: azurite
    image: mcr.microsoft.com/azure-storage/azurite:3.35.0
    ports:
      - '10000:10000' # Blob service
    volumes:
      - ./azurite_data:/data
    command: 'azurite --blobHost 0.0.0.0 --blobPort 10000 --queueHost 0.0.0.0 --queuePort 10001'
