# The settings from this file will override the values from `docker-compose.yml`
# When run via:
#     docker compose -f docker-compose.yml -f docker-compose.development.yml

# For use on macOS:
# See: https://www.docker.com/blog/user-guided-caching-in-docker-for-mac/
# To speed up the start-up process, use: ':cached' flag on volume definitions

# For debugging:
#
# Make the service boot and wait:
#     command: "tail -f /dev/null"
#

services:
  121-service:
    build:
      target: development
    ports:
      - '${PORT_121_SERVICE}:${PORT_121_SERVICE}'
      - '9229:9229'
    volumes:
      - '121_service_node_modules:/home/node/app/node_modules'
      - './121-service:/home/node/app'
    command: 'npm run start:dev'
  mock-service:
    build:
      context: .
      dockerfile: mock-service/Dockerfile
      target: development
    volumes:
      - 'mock_service_node_modules:/home/node/app/node_modules'
      - '.:/home/node/app'
    restart: unless-stopped

volumes:
  121_service_node_modules:
  mock_service_node_modules:
