<ion-header>
  <ion-toolbar>
    <ion-title
      color="secondary"
      style="font-weight: 600"
    >
      <span class="ion-text-uppercase">
        {{
          'page.program.program-people-affected.message-history-popup.message-title'
            | translate
        }}
      </span>
      - {{ person?.personAffectedSequence }} - {{ person?.name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngFor="let activity of messageHistory">
    <app-registration-activity-detail
      [activity]="activity"
      [locale]="locale"
      style="border-bottom: 1px solid var(--fiveten-neutral-200)"
    >
      <div body>
        <ng-container>
          <app-registration-activity-detail-accordion
            [activity]="activity"
          ></app-registration-activity-detail-accordion>
        </ng-container>
      </div>
    </app-registration-activity-detail>
  </div>
</ion-content>
