<ion-header>
  <ion-toolbar>
    <ion-title
      color="secondary"
      style="font-weight: 600"
    >
      {{
        'page.program.program-people-affected.message-history-popup.message-title'
          | translate
          | uppercase
      }}
      - {{ person?.personAffectedSequence }} - {{ person?.name }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <div
      *ngFor="let message of messageHistory; let i = index"
      class="ion-margin-bottom ion-padding-horizontal"
    >
      <ion-col>
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <div
              style="
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              "
            >
              {{
                'page.program.program-people-affected.message-history-popup.content-type.' +
                  message.contentType | translate
              }}
              ({{
                'page.program.program-people-affected.message-history-popup.type.' +
                  message.type | translate
              }})
            </div>
            <div>
              <ion-note
                class="ion-text-end"
                style="font-weight: 400"
              >
                {{ message.created | date: DateFormat.dayAndTime }}</ion-note
              >
            </div>
          </ion-col>
          <ion-col size="3">
            <ion-row class="ion-justify-content-end">
              <ion-chip
                class="ion-justify-content-center"
                [ngClass]="'chip-' + chipStatus[message.status]"
                >{{
                  'page.program.program-people-affected.message-history-popup.chip-status.' +
                    chipStatus[message.status] | translate
                }}</ion-chip
              >
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <details>
              <summary>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    background-color: var(--ion-color-light);
                  "
                  class="ion-padding"
                >
                  <div style="flex: 1 1 auto">
                    <ion-label>
                      <strong>
                        {{
                          'page.program.program-people-affected.message-history-popup.accordion-header'
                            | translate
                        }}
                      </strong>
                    </ion-label>
                  </div>
                  <ion-icon
                    name="caret-down"
                    class="details-closed"
                  ></ion-icon>
                  <ion-icon
                    name="caret-up"
                    class="details-open"
                  ></ion-icon>
                </div>
              </summary>
              <div
                [innerText]="
                  message.body ||
                    'page.program.program-people-affected.message-history-popup.image-string'
                    | translate
                "
                class="ion-padding"
              ></div>
            </details>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-note *ngIf="message.errorCode">
            {{
              'page.program.program-people-affected.message-history-popup.status-line.code'
                | translate
            }}<a
              [href]="errorCodeUrl + message.errorCode"
              target="_blank"
              rel="external noopener noreferrer"
              >{{ message.errorCode }}</a
            ></ion-note
          >
        </ion-row>
      </ion-col>
    </div>
  </ion-list>
</ion-content>
