<app-button-menu
  label="Export"
  i18n-label="@@export"
  [menuItems]="exportOptions()"
  [icon]="'pi pi-upload'"
  [outlined]="true"
/>

<app-form-dialog
  #exportSelectedDialog
  header="Export selected registrations"
  i18n-header
  headerIcon="pi pi-upload"
  [mutation]="exportByTypeMutation"
  [mutationData]="{
    type: ExportType.registrations,
    paginateQuery: exportSelectedActionData()?.query,
    format: exportRegistrationsFormGroup.getRawValue().format,
  }"
  [formGroup]="exportRegistrationsFormGroup"
>
  <p i18n>
    You're about to download a file for
    <strong
      >{{ exportSelectedActionData()?.count }} selected registration(s)</strong
    >.
  </p>
  <p class="mt-2">
    <ng-container i18n>
      Only the columns that are currently visible in the table will be included.
      You can learn how to show or hide columns in the
    </ng-container>
    <a
      href="https://manual.121.global/"
      target="_blank"
      title="Opens in a new window"
      i18n-title="@@generic-opens-in-new-window"
      class="p-button p-button-link"
    >
      <ng-container i18n>manual</ng-container>
      <span class="p-button-icon pi pi-external-link text-sm"></span>
    </a>
    .
  </p>

  <strong
    i18n
    class="my-2 inline-block"
    >Select export format:</strong
  >
  <div class="mb-4 space-y-2">
    @for (format of ['xlsx', 'csv']; track $index) {
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label class="flex cursor-pointer items-center">
        <p-radioButton
          [value]="format"
          formControlName="format"
        />
        <span
          class="ms-2 uppercase"
          i18n
          >{{ format }}</span
        >
      </label>
    }
  </div>
</app-form-dialog>
<app-form-dialog
  #exportDataChangesDialog
  header="Export status & data changes"
  i18n-header
  headerIcon="pi pi-upload"
  [mutation]="exportByTypeMutation"
  [mutationData]="{
    type: 'registration-data-changes',
    fromDate: dataChangesFormGroup.getRawValue().fromDate ?? undefined,
    toDate: dataChangesFormGroup.getRawValue().toDate ?? undefined,
  }"
  [formGroup]="dataChangesFormGroup"
>
  <p i18n>
    You're about to download an Excel file for all status & data changes.
  </p>
  <p
    i18n
    class="mt-2"
  >
    Optionally pass a start date and/or an end date to filter the data changes.
    The export is limited to 100,000 data changes. Adapt your dates if needed.
  </p>

  <div class="mt-4 flex w-full flex-row gap-4 [&>*]:w-1/2">
    <app-form-field-wrapper
      label="Start Date"
      i18n-label
    >
      <p-datepicker
        formControlName="fromDate"
        [maxDate]="dataChangesFormGroup.getRawValue().toDate"
        [showClear]="true"
        appendTo="body"
      />
    </app-form-field-wrapper>

    <app-form-field-wrapper
      label="End Date"
      i18n-label
    >
      <p-datepicker
        formControlName="toDate"
        [minDate]="dataChangesFormGroup.getRawValue().fromDate"
        [showClear]="true"
        appendTo="body"
      />
    </app-form-field-wrapper>
  </div>
</app-form-dialog>
<app-form-dialog
  #exportAccountVerificationDialog
  header="Export account number verification"
  i18n-header
  headerIcon="pi pi-upload"
  [mutation]="exportCBEVerificationReportMutation"
  [mutationData]="undefined"
>
  <p i18n>
    The data in this report is based on data that is imported every night from
    CBE. If you changed data today this will not be reflected in the report.
  </p>
</app-form-dialog>
