<app-page-layout
  pageTitle="Change password"
  i18n-pageTitle="@@page-title-change-password"
>
  <div class="w-full shrink-0 bg-white p-4">
    <div class="max-w-xl">
      <app-form-default
        [formGroup]="formGroup"
        submitButtonText="Change password"
        i18n-submitButtonText
        [mutation]="changePasswordMutation"
      >
        <app-form-field-wrapper
          label="Current Password"
          i18n-label
          [errorMessage]="formFieldErrors()('currentPassword')"
        >
          <p-password
            formControlName="currentPassword"
            autocomplete="current-password"
            [toggleMask]="true"
            [feedback]="false"
            pAutoFocus
            autofocus
          />
        </app-form-field-wrapper>
        <app-form-field-wrapper
          label="New Password"
          i18n-label
          [errorMessage]="formFieldErrors()('newPassword')"
        >
          <p-password
            formControlName="newPassword"
            autocomplete="new-password"
            [toggleMask]="true"
            [feedback]="false"
          />
        </app-form-field-wrapper>
        <app-form-field-wrapper
          label="Confirm Password"
          i18n-label
          [errorMessage]="formFieldErrors()('confirmPassword')"
        >
          <p-password
            formControlName="confirmPassword"
            [toggleMask]="true"
            [feedback]="false"
          />
        </app-form-field-wrapper>
      </app-form-default>
    </div>
  </div>
</app-page-layout>
