<app-page-layout>
  <div class="mb-6 flex items-end pt-6">
    <h1
      i18n="@@page-title-change-password"
      class="min-w-48 text-3xl"
    >
      Change password
    </h1>
  </div>
  <div
    class="mt-4 flex w-full shrink-0 flex-col justify-center gap-6 bg-white p-4"
  >
    <div class="max-w-xl">
      <app-dynamic-form
        [formGroup]="changePasswordForm"
        [fields]="changePasswordFields"
        submitButtonText="Change password"
        i18n-submitButtonText
        [isSubmitting]="changePasswordMutation.isPending()"
        (onSubmit)="onChangePassword()"
        [formError]="changePasswordFormError()"
      />
    </div>
  </div>
</app-page-layout>
