<section #startMeeting>
  <ion-button id="getPrefilledAnswersIdentity" (click)="getPrefilledAnswersIdentity(did)">API: GET prefilled answers</ion-button>
  <br>
  <dialogue-turn>
    {{ 'personal.validate-identity.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self" [hidden]="!answers">
    <ion-button [hidden]="!verificationPostponed" expand="block" (click)="getPrefilledAnswersIdentity(did)">{{ 'personal.validate-identity.refresh-button'|translate }}</ion-button>
    <ion-list>
      <ion-item *ngFor="let answer of answers"
                class="ion-no-padding ion-text-wrap"
      >
        <ion-label>{{answer.attribute}}: <strong>{{answer.answer}}</strong></ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="postponeVerification()">{{ 'personal.validate-identity.postpone-button'|translate }}</ion-button>
    <ion-button expand="block" (click)="issueIdentityCredential(did)">{{ 'personal.validate-identity.confirm-button'|translate }}</ion-button>
  </dialogue-turn>
  <dialogue-turn actor="self" [hidden]="!credentialIssued">
    {{ 'personal.validate-identity.conclusion'|translate }}
  </dialogue-turn>
</section>
       