<ion-item style="--inner-padding-end: 0;">
  <ion-label
    position="stacked"
    (click)="passwordInput.setFocus()"
  >
    {{ label }}
  </ion-label>
  <div
    style="display: flex; width: 100%;"
    class="ion-align-items-center"
  >
    <ion-input
      #passwordInput
      [type]="inputType"
      [name]="name"
      [(ngModel)]="ngModel"
      ngDefaultControl
      [disabled]="disabled"
      [autocomplete]="autocomplete"
      [minlength]="minLength"
      required
      (ionChange)="onChange()"
      debounce="1000"
    ></ion-input>
    <ion-button
      *ngIf="!disabled"
      type="button"
      fill="clear"
      size="small"
      (click)="toggleInputType()"
      [title]="isPassword() ? this.labelShow : this.labelHide"
      [attr.aria-label]="isPassword() ? this.labelShow : this.labelHide"
    >
      <ion-icon *ngIf="isPassword()" slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
      <ion-icon *ngIf="!isPassword()" slot="icon-only" name="eye-off" aria-hidden="true"></ion-icon>
    </ion-button>
  </div>
</ion-item>
