<p-accordion [multiple]="true">
  @for (image of images(); track index; let index = $index) {
    @let isAvailable = isImageAvailable({ imageUrl: image.imageUrl });
    <p-accordion-panel
      [value]="index.toString()"
      [attr.data-testid]="image.dataTestId"
      class="border-grey-300 border-be"
    >
      <p-accordion-header
        class="px-2 py-[0.927rem] text-black"
        [class]="!isAvailable ? 'pointer-events-none [&_.p-icon]:hidden!' : ''"
      >
        <span class="flex items-center gap-2">
          <i class="pi pi-image"></i>
          <span class="font-semibold"
            >{{ image.label | translatableString }}:</span
          >
          <app-colored-chip
            [label]="isAvailable ? availableChipLabel : notAvailableChipLabel"
            [variant]="
              isAvailable ? availableChipVariant : notAvailableChipVariant
            "
          />
        </span>
      </p-accordion-header>
      <p-accordion-content class="px-2 pbs-0">
        @if (isAvailable) {
          <a
            [href]="image.imageUrl"
            target="_blank"
            class="text-purple break-all"
            >{{ image.imageUrl }}</a
          >
        }
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
