<app-query-table
  #table
  [items]="registrations()"
  [isPending]="registrationsResponse.isPending() || project.isPending()"
  [columns]="columns()"
  [localStorageKey]="localStorageKey()"
  [serverSideFiltering]="true"
  [serverSideTotalRecords]="totalRegistrations()"
  (updatePaginateQuery)="paginateQuery.set($event)"
  [enableSelection]="true"
  [contextMenuItems]="contextMenuItems()"
  (updateContextMenuItem)="contextMenuRegistration.set($event)"
  [enableColumnManagement]="true"
>
  <div table-actions>
    @if (showSelectionInHeader()) {
      @let selectedItemsCount = table.selectedItemsCount();
      @if (selectedItemsCount) {
        <p class="font-normal txt-body-m">
          <b i18n>Registrations selected:</b> {{ selectedItemsCount }}
        </p>
      }
    }
    <ng-content select="[table-actions]"></ng-content>
  </div>
  <ng-template #tableEmptyMessage>
    <i class="pi pi-user-plus mb-5 inline text-3xl"></i>
    <p
      i18n
      class="mb-4 font-bold"
    >
      Welcome to {{ project.data()?.titlePortal | translatableString }}
    </p>
    <p
      i18n
      class="mt-2"
    >
      There are no registrations in this project yet.<br />
      For information about importing registrations to your project check out
      the
      <a
        href="https://new.manual.121.global/"
        target="_blank"
        title="Opens in a new window"
        i18n-title="@@generic-opens-in-new-window"
      >
        121 Manual
        <span
          class="p-button-icon p-button-icon-right pi pi-external-link ml-1 text-sm"
        ></span> </a
      >.
    </p></ng-template
  >
</app-query-table>
