<app-query-table
  #table
  [items]="registrations()"
  [isPending]="registrationsResponse.isPending() || project.isPending()"
  [columns]="columns()"
  [localStorageKey]="localStorageKey()"
  [serverSideFiltering]="true"
  [serverSideTotalRecords]="totalRegistrations()"
  (onUpdatePaginateQuery)="paginateQuery.set($event)"
  [enableSelection]="true"
  (onUpdateSelection)="tableSelection.set($event)"
  [contextMenuItems]="contextMenuItems()"
  (onUpdateContextMenuItem)="contextMenuRegistration.set($event)"
  [enableColumnManagement]="true"
>
  <div table-actions>
    @if (showSelectionInHeader()) {
      @let selectedItemsCount = table.selectedItemsCount();
      @if (selectedItemsCount) {
        <p class="font-normal txt-body-m">
          <b i18n>Registrations selected:</b> {{ selectedItemsCount }}
        </p>
      }
    }
    <ng-content select="[table-actions]"></ng-content>
  </div>
</app-query-table>
