<!-- Accordion -->
<ion-accordion>
  <ion-item slot="header">
    <ion-grid class="ion-justify-content-start">
      <ion-row class="accordion-label">
        <!-- Money Icon -->
        <ion-icon
          class="money-icon"
          name="cash-outline"
        ></ion-icon>

        <!-- Transfer index -->
        <ion-text class="transfer"
          >Transfer #{{ paymentRow.paymentIndex }}
        </ion-text>
        <!-- Transfer status -->
        <ng-container>
          <ion-chip
            *ngIf="paymentRow.transaction?.status"
            [class.success]="paymentRow.transaction?.status === 'success'"
            [class.failed]="paymentRow.transaction?.status === 'error'"
            [class.waiting]="paymentRow.transaction?.status === 'waiting'"
          >
            <ion-label>
              {{
                'page.program.program-payout.last-payment.' +
                  paymentRow.transaction?.status | translate
              }}
            </ion-label>
          </ion-chip>
          <!-- Single payment Transfer status -->
          <ion-chip
            *ngIf="!paymentRow.transaction && !hasErrorCheck(paymentRow)"
            [ngClass]="'waiting'"
          >
            <ion-label>
              {{
                'page.program.program-people-affected.transaction.not-yet-sent'
                  | translate
              }}
            </ion-label>
          </ion-chip>
        </ng-container>
        <!-- Open voucher button -->
        <ng-container>
          <ion-button
            class="open-voucher-button"
            fill="clear"
            size="small"
            *ngIf="
              paymentRow.transaction &&
              !hasErrorCheck(paymentRow) &&
              hasVoucherSupportCheck(paymentRow.transaction.fsp)
            "
            (click)="rowClick.emit(paymentRow)"
            >{{
              'page.program.program-people-affected.transaction.open-voucher'
                | translate
            }}
          </ion-button>
        </ng-container>

        <!-- Retry payment button -->
        <ng-container>
          <ion-button
            class="send-payment-button"
            shape="round"
            fill="outline"
            size="small"
            *ngIf="hasErrorCheck(paymentRow) && !hasWaitingCheck(paymentRow)"
            (click)="rowClick.emit(paymentRow)"
          >
            {{
              'page.program.program-people-affected.transaction.retry'
                | translate
            }}
          </ion-button>
        </ng-container>

        <!-- Single payment send again button -->
        <ng-container>
          <ion-button
            class="send-payment-button"
            shape="round"
            fill="outline"
            size="small"
            *ngIf="!paymentRow.transaction && !hasErrorCheck(paymentRow)"
            (click)="rowClick.emit(paymentRow)"
          >
            {{
              'page.program.program-people-affected.transaction.send-payment'
                | translate
            }}
          </ion-button>
        </ng-container>
      </ion-row>

      <!-- Transaction Date -->
      <ion-row class="accordion-label-two">
        <ion-text class="date">
          {{ paymentRow.sentDate | date : DateFormat.dateOnly }}
        </ion-text>
      </ion-row>
    </ion-grid>
    <ion-icon
      name="chevron-down-outline"
      class="ion-accordion-toggle-icon"
      size="small"
    >
    </ion-icon>
  </ion-item>

  <!-- Accordion content -->
  <div slot="content">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-list>
            <!-- sent -->
            <ion-item>
              <ion-label class="accordion-text text-bold"
                >{{
                  'page.program.program-people-affected.transaction.sent'
                    | translate
                }}:
              </ion-label>
              <ion-label
                class="accordion-text ion-text-right"
                *ngIf="paymentRow.transaction"
              >
                {{ paymentRow.sentDate | date : DateFormat.dayAndTime }}
              </ion-label>
            </ion-item>

            <!-- amount -->
            <ion-item>
              <ion-label class="accordion-text text-bold"
                >{{
                  'page.program.program-people-affected.transaction.amount'
                    | translate
                }}:
              </ion-label>
              <ion-label
                class="accordion-text ion-text-right"
                *ngIf="paymentRow.transaction?.status"
                >{{ paymentRow.amount }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="6">
          <ion-list>
            <!-- fsp -->
            <ion-item>
              <ion-label class="accordion-text text-bold"
                >{{
                  'page.program.program-people-affected.transaction.fsp'
                    | translate
                }}:
              </ion-label>
              <app-tooltip
                [value]="paymentRow.transaction?.fspName"
              ></app-tooltip>
              <ion-label
                id="hover-trigger"
                class="accordion-text ion-text-right"
                *ngIf="paymentRow.transaction?.status"
              >
                {{ paymentRow.transaction?.fspName }}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-accordion>
