<section #selectLanguage>
  <dialogue-turn>
    <ng-container *ngFor="let language of languages">
      <play-text-audio [key]="language.key" class="ion-float-end ion-margin-start"></play-text-audio>
      <div [innerHTML]="language.key|translate"
           class="ion-margin-bottom"
      ></div>
    </ng-container>
    <p>
      <more-info-button buttonKey="personal.select-language.more-info"
                        messageKey="personal.select-language.info-message"
                        headingKey="personal.select-language.more-info"
      ></more-info-button>
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="!isDisabled"
                 [isSpoken]="!isDisabled"
  >
    <form (submit)="submitLanguage()">
      <ion-radio-group (ionChange)="changeLanguage($event)">
        <ion-item *ngFor="let language of languages"
                  color="light"
                  class="ion-no-padding ion-text-wrap"
                  lines="full"
        >
          <play-text-audio [key]="'personal.select-language.language.' + language.id"
                           type="forRadio"
                           slot="start"
                           class="ion-no-margin ion-margin-end"
          ></play-text-audio>
          <ion-label>{{ language.language }}</ion-label>
          <ion-radio [value]="language.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-row *ngIf="languageChoice"
               class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button"
                         type="forSubmit"
                         size="default"
        ></play-text-audio>
        <ion-button type="submit"
                    expand="block"
                    style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </form>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
  >
    <ion-item color="light"
              class="ion-no-padding ion-text-wrap"
    >
      <ion-label>{{ languageChoiceName }}</ion-label>
      <ion-radio checked="true" disabled="true"></ion-radio>
    </ion-item>
  </dialogue-turn>
  <dialogue-turn *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
  >
    <play-text-audio key="personal.select-language.result" class="ion-float-end ion-margin-start"></play-text-audio>
    <p [innerHTML]="'personal.select-language.result'|translate:{ language:languageChoiceName }"></p>
  </dialogue-turn>
</section>
