<section #selectLanguage>
  <dialogue-turn>
    <p *ngFor="let language of languages">
      <play-text-audio [key]="language.introductionKey" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ language.introduction|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self">
    <form (submit)="submitLanguage()">
      <ion-radio-group
        (ionChange)="changeLanguage($event)"
        [disabled]="languageChoice && isDisabled"
      >
        <ion-item *ngFor="let language of languages"
                  color="light"
                  lines="full"
                  class="ion-no-padding"
        >
          <play-text-audio [key]="language.languageKey"
                           slot="start"
                           class="ion-no-margin ion-margin-end"
          ></play-text-audio>
          <ion-label class="ion-text-wrap ion-padding-end">
            {{ language.language }}
          </ion-label>
          <ion-radio
            [value]="language.id"
            [checked]="language.id === languageChoice"
            [disabled]="languageChoice && isDisabled"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-row *ngIf="languageChoice && !isDisabled"
               class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button"
                         size="default"
        ></play-text-audio>
        <ion-button type="submit"
                    expand="block"
                    style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </form>
  </dialogue-turn>
  <dialogue-turn *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
  >
    <p>
      <play-text-audio key="personal.select-language.result" class="ion-float-start ion-margin-end"></play-text-audio>
      <span [innerHTML]="'personal.select-language.result'|translate:{ language:'<strong>'+languageChoiceName+'</strong>' }"></span>
    </p>
  </dialogue-turn>
  <dialogue-turn isConnected="true"
                 *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
  >
    <p>
      <play-text-audio key="personal.select-language.intro" class="ion-float-start ion-margin-end">
      </play-text-audio>
      {{ 'personal.select-language.intro'|translate }}
    </p>
    <more-info-button buttonKey="personal.select-language.more-info"
                      messageKey="personal.select-language.info-message"
                      headingKey="personal.select-language.more-info"
    ></more-info-button>
  </dialogue-turn>
</section>
