<p-toolbar>
  <ng-template pTemplate="start">
    <p-button
      icon="pi pi-bars"
      title="Menu"
      i18n-title="@@header-menu"
      ariaLabel="Menu"
      i18n-ariaLabel="@@header-menu"
      plain
      rounded
      text
      class="lg:mr-9 [&_button:focus]:bg-white [&_button:not(:hover,:focus)]:text-white"
      (click)="sidebarVisible.set(true)"
      [attr.aria-controls]="sidebarVisible() ? 'menu' : null"
      [attr.aria-expanded]="sidebarVisible()"
      data-testid="sidebar-toggle"
    />
    <app-logo [projectId]="projectId()" />
  </ng-template>
  <ng-template pTemplate="end">
    @if (!!userName()) {
      <div class="flex items-center lg:px-20">
        <app-button-menu
          label="Account"
          i18n-label="Top-right user-menu@@header-user-menu"
          [icon]="'pi pi-user'"
          [menuItems]="userMenuOptions()"
          class="[&_.p-button-label]:duration-0 [&_button:focus]:bg-white [&_button:not(:hover,:focus)]:text-white"
          [plain]="true"
          [text]="true"
          [size]="'small'"
        >
          <p
            menu-start
            class="mb-2 border-b border-b-grey-300 px-3 py-2"
          >
            <ng-container i18n>
              Logged in as: <strong>{{ userName() }}</strong>
            </ng-container>
          </p>
        </app-button-menu>
      </div>
    }
  </ng-template>
</p-toolbar>
<p-drawer
  #sideBar
  [(visible)]="sidebarVisible"
  [closeOnEscape]="true"
  [showCloseIcon]="false"
  (onShow)="sideBar.el.nativeElement.querySelector('#menu').focus()"
>
  <ng-template pTemplate="headless">
    <div
      id="menu"
      class="flex h-full w-full flex-col"
      data-testid="sidebar"
      pFocusTrap
      [pFocusTrapDisabled]="!sidebarVisible()"
      [tabIndex]="-1"
    >
      <div>
        <p-button
          label="Close"
          i18n-label="@@generic-close"
          icon="pi pi-times"
          iconPos="left"
          plain
          text
          (click)="sidebarVisible.set(false)"
          [pAutoFocus]="sidebarVisible()"
        />
      </div>
      <div class="mb-auto">
        @for (sidebarLink of sidebarLinks(); track $index) {
          <a
            [routerLink]="sidebarLink.routerLink"
            [routerLinkActive]="[
              'font-bold',
              'pointer-events-none',
              'focus:text-black',
            ]"
            [ariaCurrentWhenActive]="'page'"
            class="block w-full rounded-none border-t border-grey-300 px-6 py-4 font-display hover:text-purple focus:bg-grey-300 focus:text-purple"
          >
            {{ sidebarLink.label }}
          </a>
        }
        <a
          href="https://manual.121.global/"
          [attr.rel]="'help'"
          class="inline-flex w-full items-center border-t border-grey-300 px-6 py-4 font-display hover:text-purple focus:bg-grey-300 focus:text-purple"
          target="_blank"
          title="Opens in a new window"
          i18n-title="@@generic-opens-in-new-window"
        >
          <ng-container i18n>Manual</ng-container>
          <span
            class="p-button-icon p-button-icon-right pi pi-external-link ml-2 text-sm"
          ></span>
        </a>
        <a
          href="mailto:support@121.global"
          class="inline-flex w-full items-center border-t border-grey-300 px-6 py-4 font-display hover:text-purple focus:bg-grey-300 focus:text-purple"
          target="_blank"
          title="Opens in a new window"
          i18n-title="@@generic-opens-in-new-window"
        >
          <ng-container i18n>Email Support</ng-container>
          <span
            class="p-button-icon p-button-icon-right pi pi-external-link ml-2 text-sm"
          ></span>
        </a>
      </div>
      <div class="px-6">
        <app-language-switcher />
        <small class="block text-center text-grey-500">
          <app-health-widget />
        </small>
      </div>
    </div>
  </ng-template>
</p-drawer>
