@layer tailwind-base, primeng, tailwind-utilities;

// Please take note of the order in which these are imported
@import 'tailwindcss/base.css' layer(tailwind-base);

@import 'primeng/resources/primeng.css';
@import 'primeng/resources/themes/aura-light-blue/theme.css';
@import 'primeicons/primeicons.css';

@import 'tailwindcss/components.css' layer(tailwind-utilities);
@import 'tailwindcss/utilities.css' layer(tailwind-utilities);

html {
  font-size: 14px;
}

body {
  @apply bg-grey-100 font-body text-black;
  overflow-y: scroll; /* Always show scrollbars to avoid page skipping about */
}

@layer tailwind-base {
  h1 {
    @apply font-bold txt-h-1;
  }

  h2 {
    @apply font-bold txt-h-2;
  }

  h3 {
    @apply font-bold txt-h-3;
  }

  label {
    @apply font-semibold;
  }

  strong,
  b {
    @apply font-semibold;
  }

  p a {
    @apply text-blue-500;
    @apply underline;
  }
}

// For now we're just overriding some defaults here
// instead of extending the whole theme, while we wait
// for PrimeNG v18 to be released with the new theming system.

:root {
  // primeng uses this variable on all of its components by default
  --font-family: theme(fontFamily.body);
}

$toolbar-height: 48px;

@layer primeng {
  .p-button {
    .p-button-label {
      @apply txt-system-bold-m;
    }

    &.p-button-sm {
      @apply txt-system-s;
    }

    &.p-button-link {
      @apply p-0;
    }
  }

  .p-card {
    @apply text-black;

    .p-card-title {
      @apply text-black txt-h-2;
    }
  }

  .p-tabmenu .p-tabmenu-nav,
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border-color: transparent;
  }

  .p-sidebar {
    color: inherit;

    .p-sidebar-header {
      @apply pl-3;
      height: $toolbar-height - 2;

      .p-sidebar-icon {
        margin-inline-start: 0;
        height: 33px;
        width: 33px;
      }
    }

    .p-sidebar-content {
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }

  .p-toolbar {
    @apply rounded-none border-x-0 border-t-0 border-b-purple bg-navy py-0;
    height: $toolbar-height;
    flex-wrap: nowrap !important;

    .p-toolbar-group-left {
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .p-toast-message-content {
    border: none;
  }

  // apply these styles only when the table is inside a card
  .p-card .p-datatable {
    .p-datatable-header {
      @apply px-0 pb-4 pt-0;
    }

    .p-paginator {
      @apply border-b-0 pb-0 pt-4;

      .p-paginator-current {
        @apply me-auto ms-0 ps-0 txt-system-s;
      }
    }
  }
}
