<ion-header>
  <ion-toolbar>
    <!-- Pop up title -->
    <ion-title>
      {{ 'page.program-team.popup.title' | translate }}
    </ion-title>

    <!-- Exit cancel button -->
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content class="ion-padding">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-label class="label">{{
        'page.program-team.popup.team-member' | translate
      }}</ion-label>
    </ion-row>
    <ion-row>
      <ion-searchbar
        #searchbar
        [(ngModel)]="searchQuery"
        (ionInput)="search($event)"
        [debounce]="1000"
        id="search-trigger"
        placeholder="{{
          'page.program-team.popup.team-member-placeholder' | translate
        }}"
        search-icon="'undefined'"
      >
      </ion-searchbar>
    </ion-row>
    <ion-popover
      trigger="search-trigger"
      [dismissOnSelect]="true"
      show-backdrop="false"
      backdrop-dismiss="true"
      size="cover"
    >
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item
              [button]="true"
              *ngFor="let user of searchResults"
              (click)="updateSearchbarValue(user.user_username)"
            >
              {{ user.user_username }}
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    <ion-row>
      <ion-label class="label">{{
        'page.program-team.popup.role' | translate
      }}</ion-label>
    </ion-row>
    <ion-row>
      <ion-select
        placeholder="{{
          'page.program-team.popup.roles-placeholder' | translate
        }}"
        [multiple]="true"
        interface="popover"
        [interfaceOptions]="{ cssClass: 'dropdown' }"
      >
        <ion-select-option
          *ngFor="let role of rolesList"
          value="{{ role.role }}"
        >
          {{ role.label.trim() }}
        </ion-select-option>
      </ion-select>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="buttons">
  <!-- cancel button -->
  <ion-button
    (click)="closeModal()"
    [attr.title]="'common.cancel' | translate"
    [attr.aria-label]="'common.cancel' | translate"
    fill="clear"
  >
    <u
      ><strong>{{
        'page.program-team.popup.cancel-button' | translate
      }}</strong></u
    >
  </ion-button>

  <!-- add user button -->
  <ion-button
    (click)="successPopup($event)"
    shape="round"
    fill="solid"
    class="button"
    item-end
    >{{ 'page.program-team.popup.add-users-button' | translate }}</ion-button
  >
</div>
