// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* NGX Datatable CSS */
@import 'assets/styles/ngx-datatable/_ngx-datatable.component.scss';
@import '~assets/styles/ngx-datatable/_icons.css';
@import 'assets/styles/ngx-datatable/_bootstrap.scss';
// Custom overrides only:
@import 'assets/styles/ngx-datatable/_bootstrap-overrides.scss';

// Workaround for touch-screen laptops
// See: https://github.com/ionic-team/ionic-framework/issues/19942#issuecomment-621944260
// See: https://github.com/ionic-team/ionic-framework/blob/4.11.x/core/src/components/app/app.scss
@media (any-pointer: fine) {
  html.plt-mobile ion-app {
    user-select: auto;
  }
}

// Default styles for a 'styled' select:
.styled-select {
  padding: 0.45em;
  border: 2px solid var(--ion-color-tertiary);
  background: var(--ion-color-tertiary);
  color: var(--ion-color-secondary);
  border-radius: 4px;

  option {
    color: var(--ion-color-secondary);
  }
}

.horizontal-scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.top-header {
  border-bottom: 1px solid #c2c2c2;
  &::after {
    background-image: none;
  }
}

ion-button {
  text-transform: none;
}

.input-item {
  display: flex;
  flex-direction: column;
  background-color: white;

  &.divider-bottom {
    border-bottom: 1px solid var(--ion-color-light);
  }

  .input-item--contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
  }

  ion-input {
    border: 1px solid #b3bcd0;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;

    &:not(.auth-field) {
      &.has-value {
        &.ion-invalid {
          border-color: var(--ion-color-danger);
        }
      }

      &.has-focus {
        &.ion-valid {
          border-color: var(--ion-color-success);
        }
      }
    }

    &.auth-field {
      &.ion-dirty {
        &:not(.has-focus) {
          &.ion-valid {
            border-color: var(--ion-color-success);
          }
          &.ion-invalid {
            border-color: var(--ion-color-danger);
          }
        }
      }
    }

    input {
      --padding-start: 8px;
      --padding-end: 8px;
    }
  }

  .validation-message {
    min-height: 36px;
  }
}

#logo-container {
  margin: 0 4px 0 0;
  padding: 0;
  width: 48px;
}

.full-height {
  height: 100%;
}

// Hide tooltip of ion-icon title
ion-icon {
  pointer-events: none;
}

#portal-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;

  h1 {
    margin-top: 10px;
    margin-left: 4px;
    letter-spacing: 3px;
  }
}

.auth-form-container {
  max-width: 339px;
  margin: auto;
  border: 1px solid #b3bcd0;
  border-radius: 0;
}

.auth-button {
  width: 100%;
}

.auth-label {
  font-size: 1.2em;
  color: var(--ion-color-medium);
}

.phase-navigation {
  --phase-navigation--indicator-size: 2px;

  display: inline-block;
  position: relative;
}
.phase-navigation--indicator {
  display: block;
  position: absolute;
  top: 90%;
  left: 0.85em;
  right: 0.85em;
  border-top: var(--phase-navigation--indicator-size) solid
    var(--ion-color-secondary);
}
