// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* NGX Datatable CSS */
@import 'assets/styles/ngx-datatable/_ngx-datatable.component.scss';
@import '~assets/styles/ngx-datatable/_icons.css';
@import 'assets/styles/ngx-datatable/_bootstrap.scss';
// Custom overrides only:
@import 'assets/styles/ngx-datatable/_bootstrap-overrides.scss';

// Workaround for touch-screen laptops
// See: https://github.com/ionic-team/ionic-framework/issues/19942#issuecomment-621944260
// See: https://github.com/ionic-team/ionic-framework/blob/4.11.x/core/src/components/app/app.scss
@media (any-pointer: fine) {
  html.plt-mobile ion-app {
    user-select: auto;
  }
}

// Default styles for a 'styled' select:
.styled-select {
  padding: 0.45em;
  border: 1px solid var(--ion-color-medium);
  border-radius: var(--ion-border-radius);
}

.horizontal-scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

ion-button {
  text-transform: none;
}

.update-property-item {
  display: flex;
  flex-direction: column;
  background-color: white;

  &.divider-bottom {
    border-bottom: 1px solid var(--ion-color-light);
  }

  .update-property-item--contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
  }

  ion-input {
    border: 1px solid #b3bcd0;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;

    &.has-value {
      &.ion-invalid {
        border-color: var(--ion-color-danger);
      }
    }

    &.has-focus {
      &.ion-valid {
        border-color: var(--ion-color-success);
      }
    }

    input {
      --padding-start: 8px;
      --padding-end: 8px;
    }
  }
}

.full-height {
  height: 100%;
}

// Hide tooltip of ion-icon title
ion-icon {
  pointer-events: none;
}
