export const SECRET = 'secret-key';
export const USERCONFIG = {
  passwordAdmin: 'password',
  usernameAdmin: 'admin',
  emailAdmin: 'admin@example.org',
  passwordAidWorker: 'password',
  usernameAidWorker: 'aidworker',
  emailAidWorker: 'aidworker@example.org',
}
