export const SECRET = 'secret-key';
export const USERCONFIG = {
  passwordAdmin: 'string',
  usernameAdmin: 'string',
  emailAdmin: 'admin@test.nl',
  passwordFieldworker: 'password',
  usernameFieldworker: 'fieldworker',
  emailFieldworker: 'fieldworker@test.nl',
}
