<div #globalFilterContainer>
  @if (globalFilterVisible() || !!globalFilterValue()) {
    <p-iconField
      iconPosition="left"
      [autofocus]="true"
    >
      <p-inputIcon styleClass="pi pi-search" />
      <input
        #globalFilterInput
        pInputText
        [pAutoFocus]="true"
        type="text"
        [value]="globalFilterValue() ?? ''"
        (input)="filterChange.emit(globalFilterInput.value)"
        placeholder="Filter by keyword"
        i18n-placeholder="@@table-quick-search"
      />
      @if (globalFilterValue()) {
        <p-button
          icon="pi pi-times"
          (click)="filterChange.emit(undefined)"
          text
          severity="contrast"
          class="absolute end-0 top-1/2 -translate-y-1/2"
          styleClass="bg-transparent hover:text-purple-700 focus:text-purple-700"
        />
      }
    </p-iconField>
  } @else {
    <p-button
      icon="pi pi-search"
      (click)="globalFilterVisible.set(true)"
      text
      severity="contrast"
      size="large"
      title="Filter by keyword"
      i18n-title="@@table-quick-search"
      aria-label="Filter by keyword"
      i18n-aria-label="@@table-quick-search"
    />
  }
</div>
