<section *ngIf="componentVisible">
  <h2>{{ 'page.program.program-details.section-details'|translate }}</h2>

  <ion-list lines="full">
    <ion-item>
      <ion-button (click)="openProgramJson()">
        {{ 'page.program.program-details.all'|translate }}
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let item of programArray">
      <ion-label>
        <strong>{{ item.key }}:</strong>
        <pre>{{ item.value | json }}</pre>
      </ion-label>
    </ion-item>
  </ion-list>
</section>