<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'PROGRAMS'|translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding">
    <ion-item *ngFor="let item of items">
      <ion-label position="stacked">
        {{ item.title }}
      </ion-label>
      <ion-note>
        {{ item.description }}
      </ion-note>
      <ion-note slot="end">
        {{ item.updated|date:"dd-MM-y - H:m" }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
