<p-dialog
  #dialog
  styleClass="md:min-w-[46rem]"
  [(visible)]="dialogVisible"
  [modal]="true"
  [closeOnEscape]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <i class="pi pi-envelope me-2"></i>
      <ng-container i18n="@@send-message">Send message</ng-container>
    </h3>
  </ng-template>

  <form
    class="block w-full"
    [formGroup]="formGroup"
    (ngSubmit)="onFormSubmit()"
    (keydown.control.enter)="onFormSubmit()"
    (keydown.meta.enter)="onFormSubmit()"
  >
    <div class="space-y-4">
      @let previewMessageData = previewData();

      @if (!previewMessageData) {
        <p data-testid="send-message-dialog-preview">
          <ng-container i18n="@@send-message-dialog-preview"
            >You're about to <strong>send a message</strong> to
            {{ actionData()?.count }} registration(s).</ng-container
          >
          <br />
          <ng-container i18n
            >Select a message from the template messages or write a custom
            message.</ng-container
          >
        </p>

        <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
        <label class="flex cursor-pointer items-center">
          <p-radioButton
            [value]="'template'"
            formControlName="messageType"
          />
          <span
            class="ms-2"
            i18n
            >Template message</span
          >
        </label>

        @if (formGroup.value.messageType === 'template') {
          <div>
            <p-select
              formControlName="messageTemplateKey"
              [options]="messageTemplates.data()"
              [loading]="messageTemplates.isPending()"
              placeholder="Choose message"
              i18n-placeholder
              optionValue="type"
              appendTo="body"
            />
            <app-form-error [error]="formFieldErrors()('messageTemplateKey')" />
          </div>
        }

        <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
        <label class="flex cursor-pointer items-center">
          <p-radioButton
            [value]="'custom'"
            formControlName="messageType"
          />
          <span
            class="ms-2"
            i18n="@@message-content-type-custom"
            >Custom message</span
          >
        </label>

        @if (formGroup.value.messageType === 'custom') {
          <div>
            <app-custom-message-control
              formControlName="customMessage"
              [programId]="programId()"
              [error]="formFieldErrors()('customMessage')"
            />
          </div>
        }
        <div class="flex justify-end gap-x-2">
          <p-button
            label="Cancel"
            i18n-label="@@generic-cancel"
            outlined
            rounded
            severity="contrast"
            (click)="dialogVisible.set(false)"
          />
          <p-button
            label="Continue to preview"
            i18n-label
            rounded
            (click)="onProceedToPreview()"
          />
        </div>
      } @else {
        <p class="mb-7">
          <ng-container i18n="@@send-message-dialog-preview"
            >You're about to <strong>send a message</strong> to
            {{ actionData()?.count }} registration(s).</ng-container
          >
        </p>
        <app-custom-message-preview
          [programId]="programId()"
          [previewRegistration]="this.actionData()?.previewItem"
          [messageData]="previewMessageData"
        ></app-custom-message-preview>
        <p
          i18n
          class="mt-7"
        >
          Are you sure you want to send this message?
        </p>
        <app-form-error [error]="sendMessageMutation.error()?.message" />
        <div class="flex justify-end gap-x-2">
          <p-button
            label="Go back"
            i18n-label="@@generic-go-back"
            outlined
            rounded
            [disabled]="sendMessageMutation.isPending()"
            (click)="previewData.set(undefined)"
          />
          <p-button
            label="Send message"
            i18n-label="@@send-message"
            rounded
            [loading]="sendMessageMutation.isPending()"
            type="submit"
          />
        </div>
      }
    </div>
  </form>
</p-dialog>
