<app-card-with-link
  title="KoboToolbox"
  i18n-title
  [titleColoredChipLabel]="titleColoredChipLabel()"
  [titleColoredChipColor]="'green'"
  (cardClicked)="
    isKoboIntegrated() ? undefined : koboConfigurationDialog.show()
  "
  [subtitle]="cardSubtitle()"
  [image]="'assets/registration-data/kobo-toolbox.svg'"
  [enableLink]="!isKoboIntegrated()"
>
  <ng-container card-content>
    @if (isKoboIntegrated()) {
      <div class="absolute inset-e-4 top-2">
        <app-ellipsis-menu [menuItems]="menuItems()" />
      </div>

      <a
        [href]="externalFormUrl()"
        [rel]="'external'"
        target="_blank"
        title="Opens in a new window"
        i18n-title="@@generic-opens-in-new-window"
        class="inline-block [&_span:first-child]:underline hover:[&_span:first-child]:no-underline focus:[&_span:first-child]:no-underline"
        ><span>{{ koboIntegration.data()?.name ?? externalFormUrl() }}</span>
        <span class="p-button-icon pi pi-external-link ms-1 text-sm"></span>
      </a>
    }
  </ng-container>
  <ng-container card-footer>
    @if (isKoboIntegrated()) {
      <p
        i18n
        class="text-end"
      >
        Last updated:
        <span>{{ koboIntegration.data()?.dateDeployed | date }}</span>
      </p>
    }
  </ng-container>
</app-card-with-link>

<app-form-dialog
  #koboConfigurationDialog
  header="Link with KoboToolbox"
  i18n-header
  headerIcon="pi pi-link"
  [formGroup]="koboConfigurationFormGroup"
  [mutation]="koboConfigurationMutation"
  [mutationData]="undefined"
  proceedLabel="Continue"
  i18n-proceedLabel
>
  <p
    i18n
    class="mb-3"
  >
    For more information about how to integrate Kobo see <app-manual-link />
  </p>

  <app-form-field-wrapper
    label="Kobo form URL"
    i18n-label
    [errorMessage]="koboConfigurationFormFieldErrors()('fullKoboFormUrl')"
  >
    <small
      i18n="Do NOT translate the URL!@@integrate-kobo-form-url-explanation"
      class="text-grey-700 mb-2 block text-sm"
    >
      The full URL from the form's page in KoboToolbox, i.e:
      https://kobo.ifrc.org/#/forms/XXXXXX/summary
    </small>

    <input
      pInputText
      type="url"
      inputmode="url"
      formControlName="fullKoboFormUrl"
      (input)="onFormUrlUpdate($event)"
    />
  </app-form-field-wrapper>
  <app-form-field-wrapper
    label="API key"
    i18n-label
    [errorMessage]="koboConfigurationFormFieldErrors()('token')"
  >
    <small
      i18n="@@integrate-kobo-form-api-key-explanation"
      class="text-grey-700 mb-2 block text-sm"
    >
      In KoboToolbox, go to "Account Settings" (top-right menu), sub-page
      "Security".<br />
      Make sure to click "Display" next to the API Key before copying.
    </small>

    <input
      autocomplete="off"
      pInputText
      type="text"
      formControlName="token"
      class="font-mono"
    />
  </app-form-field-wrapper>
</app-form-dialog>

<app-form-dialog
  #linkKoboDialog
  header="Link with KoboToolbox"
  i18n-header
  headerIcon="pi pi-link"
  [mutation]="linkKoboMutation"
  [mutationData]="undefined"
  proceedLabel="Continue"
  i18n-proceedLabel="@@generic-continue"
>
  @if (!!koboFormName()) {
    <p i18n>You're about to link this program with this Kobo form:</p>
    <div class="bg-grey-100 p-2">
      <p>
        <strong>{{ koboFormName() }}</strong>
      </p>
    </div>
  } @else {
    <p>{{ koboConfigurationMutation.data()?.message }}</p>
  }
</app-form-dialog>
