<div
  class="grid grid-cols-1 gap-x-5 md:grid-cols-2"
  [ngClass]="{
    '-mb-[2px] [clip-path:inset(0_0_2px_0)]': hideBottomBorder(),
  }"
>
  @for (item of data(); track $index) {
    <p
      [attr.data-testid]="dataTestId() + '-personal-information'"
      class="border-grey-300 border-b px-2 py-4"
      [ngClass]="{
        'col-span-2': item.fullWidth,
      }"
    >
      @if (item.loading) {
        <div class="py-1">
          <p-skeleton [width]="skeletonWidth()" />
        </div>
      } @else {
        <strong class="me-1">{{ item.label | translatableString }}:</strong>
        @if (item.tooltip) {
          <app-info-tooltip [message]="item.tooltip" />
        }
        @if (item.chipLabel && item.chipVariant) {
          <app-colored-chip
            [variant]="item.chipVariant"
            [label]="item.chipLabel"
          />
        }
        @if (item.value !== undefined && item.value !== null) {
          <span>
            @switch (item.type) {
              @case ('boolean') {
                @if (item.value) {
                  <span i18n="@@generic-boolean-true">Yes</span>
                } @else {
                  <span i18n="@@generic-boolean-false">No</span>
                }
              }
              @case ('currency') {
                {{
                  item.value
                    | currency
                      : item.currencyCode ?? undefined
                      : 'symbol-narrow'
                      : item.currencyFormat
                }}
              }
              @case ('date') {
                {{ item.value | date }}
              }
              @case ('number') {
                {{ item.value | number }}
              }
              @case ('options') {
                {{ optionItemValue(item) }}
              }
              @default {
                @let routerLink = item.routerLink;

                @if (routerLink) {
                  <a
                    [routerLink]="routerLink"
                    class="text-black"
                    >{{ item.value | translatableString }}</a
                  >
                } @else {
                  {{ item.value | translatableString }}
                }
              }
            }
          </span>
        } @else if (!item.chipLabel) {
          —
        }
      }
    </p>
  }
</div>
