<div
  class="grid grid-cols-1 gap-x-5"
  [ngClass]="{
    '-mb-[2px] [clip-path:inset(0_0_2px_0)]': hideBottomBorder(),
    'md:grid-cols-2': !forceOneColumn(),
  }"
>
  @for (item of data(); track $index) {
    <div
      [attr.data-testid]="item?.dataTestId"
      [attr.data-testid-category]="'data-list-item'"
      class="border-grey-300 flex items-center border-b px-2 py-4"
      [ngClass]="{
        'col-span-2': item.fullWidth,
      }"
    >
      @if (item.loading) {
        <p-skeleton
          [width]="skeletonWidth()"
          class="py-1"
        />
      } @else {
        <div class="me-1">
          <strong>{{ item.label | translatableString }}:</strong>
          @if (item.tooltip) {
            <app-info-tooltip [message]="item.tooltip" />
          }
        </div>
        @if (item.chipLabel && item.chipVariant) {
          <app-colored-chip
            [variant]="item.chipVariant"
            [label]="item.chipLabel"
          />
        }
        @if (item.value !== undefined && item.value !== null) {
          <span class="me-1">
            @switch (item.type) {
              @case ('boolean') {
                @if (item.value) {
                  <span
                    i18n="@@generic-boolean-true"
                    class="ms-1"
                    >Yes</span
                  >
                } @else {
                  <span
                    i18n="@@generic-boolean-false"
                    class="ms-1"
                    >No</span
                  >
                }
              }
              @case ('currency') {
                {{
                  item.value
                    | currency
                      : item.currencyCode ?? undefined
                      : 'symbol-narrow'
                      : item.currencyFormat
                }}
              }
              @case ('date') {
                {{ item.value | date: 'longDate' }}
              }
              @case ('number') {
                {{ item.value | number }}
              }
              @case ('options') {
                {{ optionItemValue(item) }}
              }
              @default {
                @let routerLink = item.routerLink;

                @if (routerLink) {
                  <a
                    [routerLink]="routerLink"
                    class="text-black"
                    >{{ item.value | translatableString }}</a
                  >
                } @else {
                  {{ item.value | translatableString }}
                }
              }
            }
          </span>
          @if (item.detailAction && item.detailAction.component) {
            <span class="ms-auto">
              <ng-container
                *ngComponentOutlet="
                  item.detailAction.component;
                  inputs: item.detailAction.inputs
                "
              ></ng-container>
            </span>
          }
        } @else if (!item.chipLabel) {
          —
        }
      }
    </div>
  }
</div>
