<app-page-layout
  pageTitle="All projects"
  i18n-pageTitle="@@page-title-all-projects"
>
  <div header-actions>
    @if (canCreateProjects) {
      <p-button
        label="Add project"
        i18n-label="@@add-project-label"
        outlined
        rounded
        icon="pi pi-plus"
        [iconPos]="rtlHelper.createPosition('start')()"
        (click)="createProjectDialog.show()"
      />
      <app-create-project-dialog #createProjectDialog />
    }
  </div>

  <app-card-grid
    [empty]="assignedProjects.length === 0"
    emptyTitle="No Projects found"
    i18n-emptyTitle
    emptySubtitle="You are not assigned to any project(s) yet, contact the admin/supervisor to start using the 121 portal."
    i18n-emptySubtitle
  >
    @for (id of assignedProjects; track $index) {
      <li>
        <app-project-summary-card
          [id]="id"
          class="h-full"
        />
      </li>
    }
  </app-card-grid>
</app-page-layout>
