<ion-content>
  <ion-list lines="full">
    <ion-item button="true"
              [disabled]="!isLoggedIn"
              (click)="logout()"
              detail="true"
              detail-icon="log-out"
    >
      {{ 'account.logout'|translate }}
    </ion-item>
    <ion-item button="true" 
              disabled
              detail="true"
              detail-icon="key"
    >
      {{ 'account.change-password'|translate }}
    </ion-item>
    <ion-item button="true"
              [disabled]="!isLoggedIn"
              (click)="deletePrompt()"
              detail="true"
              detail-icon="trash"
    >
      {{ 'account.delete-digital-id'|translate }}
    </ion-item>
    <ion-button (click)="close()"
                expand="block"
    >
      {{ 'shared.close-button'|translate }}
    </ion-button>
  </ion-list>
</ion-content>
