<ion-content>
  <ion-list
    lines="full"
    class="ion-no-padding"
  >
    <ion-item
      button="true"
      [disabled]="!isLoggedIn"
      (click)="deleteData()"
      detail="true"
      detail-icon="trash"
      [attr.aria-label]="'account.delete-data'|translate"
      class="ion-margin-bottom"
    >
      {{ 'account.delete-data'|translate }}
    </ion-item>
    <ion-button
      type="button"
      (click)="close()"
      expand="block"
    >
      <ion-icon
        name="close"
        size="small"
        slot="start"
        aria-hidden="true"
      ></ion-icon>
      {{ 'shared.close-button'|translate }}
    </ion-button>
  </ion-list>
</ion-content>
