<ion-content>
  <ion-list lines="full">
    <ion-item button="true"
              [disabled]="!isLoggedIn"
              (click)="logout()"
              detail="true"
              detail-icon="log-out"
              class="ion-text-nowrap"
    >
      <ion-text>
        {{ 'account.logout'|translate }}
      </ion-text>
      <ion-text class="ion-margin-start ion-text-ellipsis">
        <strong>{{ username }}</strong>
      </ion-text>
    </ion-item>
    <ion-item button="true"
              disabled
              detail="true"
              detail-icon="key"
    >
      {{ 'account.change-password'|translate }}
    </ion-item>
    <ion-item button="true"
              [disabled]="!isLoggedIn"
              (click)="deletePrompt()"
              detail="true"
              detail-icon="trash"
    >
      {{ 'account.delete-digital-id'|translate }}
    </ion-item>
    <ion-button type="button"
                (click)="close()"
                expand="block"
    >
      <ion-icon name="close" size="small"></ion-icon>
      {{ 'shared.close-button'|translate }}
    </ion-button>
  </ion-list>
</ion-content>
