<section #initialNeeds>
    <dialogue-turn>
      <p>
        {{ 'personal.initial-needs.introduction'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn actor="self">
      <form (ngSubmit)="submitNeeds(needs)">
        <ion-label>{{ 'personal.initial-needs.input-label'|translate }}</ion-label>
        <ion-textarea name="needs"
                      [(ngModel)]="needs"
                      ngDefaultControl
                      auto-grow="true"
                      spellcheck="true"
                      wrap="soft"
                      rows="3"
                      placeholder="{{ 'personal.initial-needs.input-placeholder'|translate }}"
                      [disabled]="isDisabled"
         ></ion-textarea>
         <p class="ion-margin-top">
           <ion-button type="submit"
                       *ngIf="!isDisabled"
                       expand="block"
                       [disabled]="isDisabled"
           >{{ 'personal.initial-needs.submit'|translate }}</ion-button>
         </p>
      </form>
    </dialogue-turn>
    <dialogue-turn *ngIf="needsReceived"
                   [isSpoken]="needsReceived"
    >
      <p>
        {{ 'personal.initial-needs.conclusion'|translate }}
      </p>
    </dialogue-turn>
  </section>
