<section>
  <dialogue-turn *ngIf="!downloadReady"
                 isSpoken="!downloadReady"
  >
    {{ 'validation.download-data.downloading'|translate }}
  </dialogue-turn>
  <div class="loading-indicator"
       [hidden]="downloadReady" 
  >
    <ion-spinner name="dots" 
                 class="loading-indicator--spinner"
    >
    </ion-spinner>
  </div>
  <dialogue-turn *ngIf="downloadReady"
                 [isSpoken]="downloadReady"      
  >
    <div
      [innerHTML]="'validation.download-data.download-result'|translate:{ nrDownloaded:'<strong>'+nrDownloaded+'</strong>' }"
      class="ion-margin-bottom">
    </div>
  </dialogue-turn>
</section>