<section>
  <app-dialogue-turn
    *ngIf="!downloadReady && !downloadAborted"
    [isSpoken]="!downloadReady && !downloadAborted"
  >
    {{ 'validation.download-data.downloading' | translate }}
  </app-dialogue-turn>
  <div
    *ngIf="!(downloadReady || downloadAborted)"
    class="loading-indicator"
  >
    <ion-spinner
      name="dots"
      class="loading-indicator--spinner"
    >
    </ion-spinner>
  </div>
  <app-dialogue-turn
    *ngIf="downloadReady"
    [isSpoken]="downloadReady"
  >
    <div
      [innerHTML]="
        'validation.download-data.download-result'
          | translate: { nrDownloaded: '<strong>' + nrDownloaded + '</strong>' }
      "
      class="ion-margin-bottom"
    ></div>
  </app-dialogue-turn>
  <app-dialogue-turn
    *ngIf="downloadAborted"
    [isSpoken]="downloadAborted"
  >
    {{ 'validation.download-data.download-aborted' | translate }}
  </app-dialogue-turn>
</section>
