# Logs
logs
*.log
.DS_Store
npm-debug.log*

# Dependency directory
node_modules

# Generated assets / caches
.npm
dist
coverage
swagger-spec.json

#IDEs
.idea

# (local) Configuration files + Secrets
ormconfig.json
src/secrets.ts
Dockerfile
