# Logs
logs
*.log
.DS_Store
npm-debug.log*

# Dependency directory
node_modules
.config/configstore

# Generated assets / caches
.npm
dist
coverage
swagger-spec.json

#IDEs
.idea

# certificates
# database certificate
cert/DigiCertGlobalRootCA.crt.pem
# nedbank integration certificate
cert/APIMTPP_redcross_sandbox.pfx

# Compodoc documentation
documentation

# AppMap
tmp
sql_warning.txt
