audit=false
fund=false
update-notifier=false

# This is necessary for Typescript@5.5beta to play well with the current version of ts-node
# It can/should be removed once Typescript@5.5 is released: https://github.com/microsoft/TypeScript/issues/57475
legacy-peer-deps=true
