audit=false
engine-strict=true
fund=false
update-notifier=false

# This is necessary for:
# - Typescript@5.5beta to play well with the current version of ts-node; See: https://github.com/microsoft/TypeScript/issues/57475
# - @automock/jest@2 to play well with jest@30
legacy-peer-deps=true
