{
  "type": "postgres",
  "host": "121db",
  "port": 5432,
  "username": "global121",
  "password": "<secret>",
  "database": "global121",
  "schema": "121-service",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "migrationsTableName": "custom_migration_table",
  "migrations": [
    "migration/*.ts"
  ],
  "cli": {
    "migrationsDir": "migration"
  },
  "dropSchema": false,
  "synchronize": true
}
