{
  "type": "postgres",
  "host": "121db",
  "port": 5432,
  "username": "global121",
  "password": "<secret>",
  "database": "global121",
  "schema": "121-service",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "dropSchema": true,
  "synchronize": true
}
