<app-header
  [title]="'page.program.tab.payment.label' | translate"
></app-header>

<div
  class="util--flex-row ion-justify-content-between ion-align-items-start ion-no-padding ion-margin-vertical util--page-margin-horizontal"
>
  <app-program-tabs-navigation
    [programId]="programId"
  ></app-program-tabs-navigation>
</div>

<ion-content class="ion-no-padding ion-no-margin">
  <app-program-payout
    *appIfPermissions="[Permission.PaymentREAD]"
    [programId]="programId"
  ></app-program-payout>

  <div class="util--page-margin-horizontal">
    <app-program-people-affected
      #table
      *appIfPermissions="[Permission.RegistrationREAD]"
      [programId]="programId"
      [currentProgramTab]="currentProgramTab"
    ></app-program-people-affected>
  </div>
</ion-content>
