<div>
  <span
    *ngFor="let phase of ProgramTabs"
    class="navigation-button"
  >
    <ion-button
      [disabled]="phase.disabled"
      [routerLink]="['/program', programId, phase.name]"
      routerLinkActive
      #rlaPhase="routerLinkActive"
      [color]="rlaPhase.isActive ? 'primary' : 'secondary'"
      fill="clear"
      size="small"
    >
      {{ phase.labelKey | translate }}
    </ion-button>

    <span
      *ngIf="rlaPhase.isActive"
      class="navigation-button--indicator"
    ></span>
  </span>
</div>
