<section>
  <h2>
    {{ 'page.programs-list.pageTitle' | translate }}
  </h2>
  <ion-note *ngIf="!items">
    {{ 'page.programs-list.not-available' | translate }}
  </ion-note>
  <ion-row style="width: 100%">
    <ion-col
      *ngFor="let program of items"
      size-xs="12"
      size-sm="6"
      size-md="6"
      size-lg="4"
      size-xl="4"
    >
      <app-program-card
        [program]="program"
        [programStats]="getProgramStatsById(program.id)"
      ></app-program-card>
    </ion-col>
  </ion-row>
</section>
