<section>
  <h2>
    {{ 'page.programs-list.pageTitle'|translate }}
  </h2>
  <ion-note *ngIf="!items">
    {{ 'page.programs-list.not-available'|translate }}
  </ion-note>
  <ion-list *ngIf="items">
    <ion-item
      *ngFor="let program of items"
      detail="true"
      button="true"
      [routerLink]="['/program', program.id, 'dashboard']"
    >
      <ion-label>
        {{ program.title }}<br>
        <ion-note>
          {{ program.description }}
        </ion-note>
        <ion-note class="ion-float-end ion-padding-end">
          {{ program.updated|date:"yyyy-MM-dd, HH:mm" }}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>
</section>
