<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'MENU'|translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                {{ 'HOME'|translate }}
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" routerLink="/programs">
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label>
                {{ 'page.programs.PROGRAMS'|translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <div style="position: absolute; bottom: 0; left: 0; right: 0; top: auto;">
          <ion-segment (ionChange)="switchLanguage($event)" [value]="currentLanguage">
            <ion-segment-button value="nl">
              <ion-label>NL</ion-label>
            </ion-segment-button>
            <ion-segment-button value="en">
              <ion-label>EN</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>

      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
