<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'MENU'|translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerDirection]="'root'" routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                {{ 'HOME'|translate }}
              </ion-label>
            </ion-item>
            <ion-item [routerDirection]="'root'" routerLink="/programs">
              <ion-icon slot="start" name="list"></ion-icon>
              <ion-label>
                {{ 'PROGRAMS'|translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
