<div class="mt-8 bg-navy px-6 text-white">
  <div
    class="container flex flex-wrap justify-between gap-6 py-12 md:flex-nowrap"
  >
    <div class="md:w-1/3">
      <h3 class="mb-4">About 121 Portal</h3>
      <p>
        The 121 Platform makes CVA (Cash and Voucher Assistance) easier, safer
        and faster which enables humanitarian organizations to maximize their
        impact and provide adequate response during a disaster or conflict.
      </p>
      <p class="mt-8">&#64; 510 2024</p>
    </div>
    <div>
      <h3 class="mb-4">Find out more</h3>
      <ul>
        <li class="mb-2 [&:not(:hover)]:underline">
          <a
            href="https://121.global"
            target="_blank"
            >121.global</a
          >
        </li>
        <li class="mb-2 [&:not(:hover)]:underline">
          <a
            href="https://510.global"
            target="_blank"
            >510.global</a
          >
        </li>
        <li class="mb-2 [&:not(:hover)]:underline">
          <a
            href="https://data.ifrc.org"
            target="_blank"
            >data.ifrc.org</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4">Helpful links</h3>
      <ul>
        <li class="mb-2 [&:not(:hover)]:underline">
          <a
            href="https://github.com/global-121/121-platform/"
            target="_blank"
            >Open Source Code</a
          >
        </li>
        <li class="mb-2 [&:not(:hover)]:underline">
          <a
            [href]="apiDocumentationUrl"
            target="_blank"
            >API Documentation</a
          >
        </li>
        <li class="mb-2 [&:not(:hover)]:underline">
          <a
            href="https://manual.121.global/"
            target="_blank"
            >User Manual</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h3 class="mb-4">Questions or feedback? Contact us</h3>
      <a
        href="mailto:support@510.global"
        class="p-button p-button-rounded p-button-outlined p-button-secondary [&:not(:hover)]:text-white"
        >support&#64;510.global</a
      >
      <div class="mt-6 flex gap-3">
        <a
          href="https://www.linkedin.com/company/510global/"
          target="_blank"
        >
          <i class="pi pi-linkedin text-2xl text-white"></i>
        </a>
        <a
          href="https://www.instagram.com/510redcross/"
          target="_blank"
        >
          <i class="pi pi-instagram text-2xl text-white"></i>
        </a>
        <a
          href="https://x.com/RedCross510"
          target="_blank"
        >
          <i class="pi pi-twitter text-2xl text-white"></i>
        </a>
      </div>
    </div>
  </div>
</div>
