<p-button
  label="Start payment"
  i18n-label
  (click)="openStartPaymentDialog()"
  icon="pi pi-send"
  [iconPos]="rtlHelper.createPosition('start')()"
  rounded
></p-button>

<!-- TODO: don't use form-dialog for something that doesn't need input -->
<app-form-dialog
  #startPaymentDialog
  header="Start payment"
  i18n-header
  headerIcon="pi pi-send"
  [mutation]="startPaymentMutation"
  [mutationData]="undefined"
  proceedLabel="Start payment"
  i18n-proceedLabel
>
  <p>
    <span i18n
      >Click start payment to initiate the payment through your FSP(s).</span
    >
  </p>
  <app-data-list
    [data]="dataList()"
    [forceOneColumn]="true"
  />
</app-form-dialog>

<p-dialog
  [modal]="true"
  [(visible)]="duplicateErrorDialogVisible"
  [closable]="false"
  [closeOnEscape]="false"
  styleClass="max-inline-lg"
>
  <ng-template pTemplate="header">
    <h3 class="text-red-700">
      <i class="pi pi-exclamation-triangle me-2"></i>
      <ng-container i18n="@@session-expired-title">Error</ng-container>
    </h3>
  </ng-template>
  <div class="flex flex-col gap-4">
    <p i18n>
      <strong>
        There are {{ duplicateCount() }} duplicate registration(s) included in
        your payment.
      </strong>
    </p>
    <p i18n>
      Payments cannot start if there are duplicate registrations. Filter and
      resolve duplicates in the registration table to continue.
    </p>
    <div class="flex justify-end">
      <p-button
        label="Close"
        i18n-label
        (click)="duplicateErrorDialogVisible.set(false)"
        rounded
        severity="primary"
      />
    </div>
  </div>
</p-dialog>
