<ng-template #contentContainer>
  <ng-content></ng-content>
</ng-template>

<ion-button
  data-testid="confirm-prompt-button-default"
  *ngIf="!isPopoverExportButton"
  type="button"
  [disabled]="disabled"
  (click)="showPrompt()"
  [size]="size"
  [fill]="fill"
  [color]="color"
  [shape]="shape || 'default'"
  [class]="class"
>
  <ng-container *ngTemplateOutlet="contentContainer"></ng-container>
</ion-button>

<ion-item
  *ngIf="isPopoverExportButton"
  lines="none"
  size="small"
  [button]="true"
  (click)="showPrompt()"
  class="ion-no-padding ion-no-margin"
  style="font-size: 0.8em; --inner-padding-start: 1em; --min-height: 2.5em"
>
  <ng-container *ngTemplateOutlet="contentContainer"></ng-container>
</ion-item>
