<ion-row>
  <div class="ion-no-padding ion-margin-end">
    <app-confirm-prompt
      [disabled]="isInProgress || isTableLoading"
      (confirm)="importPeopleAffected($event)"
      [subHeader]="
        'page.program.bulk-import.registered.confirm-message' | translate
      "
      [message]="message"
      [filePickerProps]="filePickerProps"
      class="ion-no-margin"
      fill="outline"
      color="primary"
    >
      <ion-icon
        name="cloud-upload"
        slot="start"
        aria-hidden="true"
      ></ion-icon>
      {{ 'page.program.bulk-import.registered.btn-text' | translate }}
    </app-confirm-prompt>
  </div>
  <ion-spinner
    *ngIf="isInProgress"
    color="primary"
    class="ion-margin-start"
  ></ion-spinner>
</ion-row>
