<form
  class="block w-full"
  [formGroup]="formGroup()"
  (ngSubmit)="onFormSubmit()"
  (keydown.control.enter)="onFormSubmit()"
  (keydown.meta.enter)="onFormSubmit()"
>
  <div class="flex flex-col gap-2">
    <ng-content></ng-content>
    <app-form-error
      [error]="mutation().isError() && mutation().failureReason()?.message"
    />
    <p-button
      [label]="submitButtonText()"
      type="submit"
      rounded
      [loading]="mutation().isPending()"
      styleClass="w-full"
    />
  </div>
</form>
