<ion-row
  class="ion-justify-content-between ion-align-items-center ion-margin-bottom"
>
  <ion-text>
    <h1 class="ion-padding-start ion-no-margin">
      {{ 'registration-details.activity-overview.title' | translate }}
    </h1>
  </ion-text>
  <ng-container *ngIf="canUpdatePersonalData">
    <ion-button
      id="bottom-start"
      fill="outline"
      color="primary"
      size="medium"
      shape="round"
    >
      {{ 'registration-details.activity-overview.actions' | translate }} &nbsp;
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
    <ion-popover
      trigger="bottom-start"
      side="bottom"
      alignment="start"
      [showBackdrop]="false"
      [dismissOnSelect]="true"
    >
      <ng-template>
        <app-popover-content>
          <ion-list>
            <ion-item
              button
              (click)="openAddNoteModal()"
              lines="none"
            >
              {{
                'registration-details.activity-overview.action.add-note'
                  | translate
              }}
            </ion-item>
          </ion-list>
        </app-popover-content>
      </ng-template>
    </ion-popover>
  </ng-container>
</ion-row>

<div
  style="
    background-color: var(--fiveten-neutral-100);
    border: 1px solid var(--fiveten-neutral-100);
    border-radius: 0.25rem;
  "
>
  <div>
    <ion-row style="width: 100%">
      <ion-col
        [size]="12"
        class="horizontal-scroll-container"
      >
        <div class="ion-text-nowrap">
          <ion-button
            *ngFor="let filter of activityOverviewButtons"
            (click)="activityOverviewFilter = filter"
            fill="clear"
            size="small"
            [disabled]="getFilterCount(filter) === 0"
            [color]="
              activityOverviewFilter === filter ? 'primary' : 'secondary'
            "
            [ngClass]="{
              'is-active': activityOverviewFilter === filter,
              'activity-overview--button': true
            }"
          >
            {{
              'registration-details.activity-overview.filters.' + filter
                | translate
            }}
            ({{ getFilterCount(filter) }})
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div
    class="ion-no-padding"
    style="background-color: var(--fiveten-neutral-100)"
  >
    <ng-container *ngFor="let activity of getFilteredActivityOverview()">
      <app-registration-activity-detail
        [activity]="activity"
        [locale]="locale"
        class="ion-margin"
        style="
          border: 1px solid var(--fiveten-neutral-200);
          border-radius: 0.25rem;
          background-color: white;
        "
      >
        <div
          [ngSwitch]="activity.type"
          body
        >
          <ng-container *ngSwitchCase="RegistrationActivityType.payment">
            <app-registration-activity-detail-accordion
              [activity]="activity"
              [enableSinglePayment]="
                enableSinglePayment(activity.paymentRowDetail)
              "
              [person]="person"
              [program]="program"
              [canViewVouchers]="canViewVouchers"
              [canDoSinglePayment]="canDoSinglePayment"
              [lastPaymentId]="lastPaymentId"
            ></app-registration-activity-detail-accordion>
          </ng-container>
          <ng-container *ngSwitchCase="RegistrationActivityType.message">
            <app-registration-activity-detail-accordion [activity]="activity">
            </app-registration-activity-detail-accordion>
          </ng-container>
          <ng-container *ngSwitchCase="RegistrationActivityType.changeData">
            <strong>{{
              'registration-details.activity-overview.activities.data-changes.old'
                | translate
            }}</strong
            >{{ activity.description.oldValue }}<br />
            <strong>{{
              'registration-details.activity-overview.activities.data-changes.new'
                | translate
            }}</strong
            >{{ activity.description.newValue }}<br />
            <ng-container *ngIf="activity.description.reason">
              <strong>{{
                'registration-details.activity-overview.activities.data-changes.reason'
                  | translate
              }}</strong
              >{{ activity.description.reason }}
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchDefault>{{
            activity.description
          }}</ng-container>
        </div>
      </app-registration-activity-detail>
    </ng-container>
  </div>
</div>
