<ion-row class="ion-justify-content-between ion-align-items-center">
  <ion-text>
    <h1 class="ion-padding-start ion-no-margin">
      {{ 'registration-details.activity-overview.title' | translate }}
    </h1>
  </ion-text>
  <ng-container *ngIf="canUpdatePersonalData">
    <ion-button
      id="bottom-start"
      fill="outline"
      color="primary"
      size="medium"
      shape="round"
    >
      {{ 'registration-details.activity-overview.actions' | translate }} &nbsp;
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
    <ion-popover
      trigger="bottom-start"
      side="bottom"
      alignment="start"
      [showBackdrop]="false"
      [dismissOnSelect]="true"
    >
      <ng-template>
        <app-popover-content>
          <ion-list>
            <ion-item
              button
              (click)="openAddNoteModal()"
              lines="none"
            >
              {{
                'registration-details.activity-overview.action.add-note'
                  | translate
              }}
            </ion-item>
          </ion-list>
        </app-popover-content>
      </ng-template>
    </ion-popover>
  </ng-container>
</ion-row>

<ion-card>
  <ion-item
    color="light"
    lines="full"
  >
    <ion-row style="width: 100%">
      <ion-col
        [size]="12"
        class="horizontal-scroll-container"
      >
        <div class="ion-text-nowrap">
          <ion-button
            *ngFor="let filter of activityOverviewButtons"
            (click)="activityOverviewFilter = filter"
            fill="clear"
            size="small"
            [disabled]="getFilterCount(filter) === 0"
            [color]="
              activityOverviewFilter === filter ? 'primary' : 'secondary'
            "
            [ngClass]="{
              'is-active': activityOverviewFilter === filter,
              'activity-overview--button': true
            }"
          >
            {{
              'registration-details.activity-overview.filters.' + filter
                | translate
            }}
            ({{ getFilterCount(filter) }})
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-card-content class="ion-no-padding">
    <ion-list class="ion-no-padding">
      <ion-item
        *ngFor="let item of getFilteredActivityOverview()"
        style="
          font-size: 14px;
          --padding-start: 0;
          --padding-end: 0;
          --inner-padding-end: 0;
        "
      >
        <ion-grid>
          <!-- Other tabs -->
          <ion-row *ngIf="item.type !== 'payment' && item.type !== 'message'">
            <div class="ion-padding-horizontal">
              <div style="height: 100%; display: flex; align-items: center">
                <ion-icon
                  [name]="getIconName(item.type)"
                  size="large"
                  [attr.aria-hidden]="true"
                ></ion-icon>
              </div>
            </div>
            <ion-col>
              <ion-row class="ion-justify-content-between">
                <ion-row>
                  <ion-label class="ion-margin-end">
                    <strong
                      >{{ item.label | uppercase
                      }}<span *ngIf="item.subLabel"> - </span>
                      {{ item.subLabel }}</strong
                    >
                  </ion-label>
                  <ion-note>
                    <small>
                      {{
                        item.date | date: DateFormat.dayAndTimeReverse : locale
                      }}
                    </small>
                  </ion-note>
                </ion-row>
              </ion-row>
              <div>
                <ion-text
                  class="activity-overview--item--description"
                  [innerHTML]="item.description"
                ></ion-text>
              </div>
              <div>
                <!-- messages-->
                <ion-chip
                  *ngIf="item.type === 'message'"
                  class="ion-justify-content-center"
                  [ngClass]="'chip-' + chipStatus[item.status]"
                  >{{
                    'page.program.program-people-affected.message-history-popup.chip-status.' +
                      chipStatus[item.status] | translate
                  }}</ion-chip
                >
              </div>
            </ion-col>

            <ion-label
              *ngIf="item.chipText"
              class="ion-text-right ion-float-right"
              ><ion-chip class="chip">
                <b>
                  {{ item.chipText }}
                </b>
              </ion-chip>
            </ion-label>
          </ion-row>

          <!-- payments -->
          <div
            *ngIf="item.type === 'payment'"
            style="width: 100%"
          >
            <!-- Accordion -->
            <ion-accordion-group [multiple]="true">
              <app-payment-history-accordion
                [paymentRow]="item.paymentRowDetail"
                [enableSinglePayment]="
                  enableSinglePayment(item.paymentRowDetail)
                "
                [person]="person"
                [program]="program"
                [paymentRows]="enableSinglePayment(paymentRow)"
                [canViewVouchers]="canViewVouchers"
                [canDoSinglePayment]="canDoSinglePayment"
                [lastPaymentId]="lastPaymentId"
              ></app-payment-history-accordion>
            </ion-accordion-group>
          </div>

          <!-- messages -->
          <div
            *ngIf="item.type === 'message'"
            style="width: 100%"
          >
            <app-message-history-item
              [message]="item.messageSource"
            ></app-message-history-item>
          </div>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
