<div
  style="width: 100%"
  class="util--flex-row ion-align-items-center ion-justify-content-between"
>
  <div
    class="tfr--create-filters util--flex-row ion-align-items-center ion-justify-content-between ion-margin-top"
    [ngClass]="{
      'is-loading': isLoading,
    }"
  >
    <div
      class="util--flex-row ion-align-items-center"
      style="flex-basis: 80%"
    >
      <span
        class="ion-align-items-center ion-margin-horizontal"
        style="white-space: nowrap"
      >
        <ion-icon
          name="funnel"
          color="dark"
          aria-hidden="true"
        ></ion-icon>

        {{ 'page.program.table-filter-row.filter-label' | translate }}
      </span>

      <app-select-typeahead
        [items]="allFilters"
        [(selection)]="textFilterOption"
        [placeholder]="
          'page.program.table-filter-row.select-column-to-filter' | translate
        "
        [multiple]="false"
        [fullWidth]="true"
        [disabled]="isLoading"
        class="tfr--text-filter--select"
      ></app-select-typeahead>
      <ng-container *ngIf="showInput()">
        <ion-input
          [placeholder]="
            'page.program.table-filter-row.filter-placeholder' | translate
          "
          [attr.title]="
            'page.program.table-filter-row.filter-placeholder' | translate
          "
          [attr.aria-label]="
            'page.program.table-filter-row.filter-placeholder' | translate
          "
          [type]="getFilterInputType()"
          [(ngModel)]="filterRowsVisibleQuery"
          [disabled]="isLoading"
          [clearInput]="true"
          (keyup.enter)="applyFilter()"
          class="tfr--text-filter--input"
        >
        </ion-input>

        <ion-button
          fill="outline"
          [disabled]="disableApplyButton()"
          (click)="applyFilter()"
        >
          {{ 'page.program.table-filter-row.apply-filter' | translate }}
        </ion-button>
      </ng-container>
    </div>

    <div
      style="border-left: 1px solid var(--ion-color-fiveten-neutral-300)"
      class="util--flex-row ion-align-items-center ion-padding-horizontal"
    >
      <ion-label class="ion-text-nowrap">
        {{ 'page.program.table-filter-row.filter-by' | translate }}
      </ion-label>
      &nbsp;
      <app-status-table-filter
        data-testid="table-filter-status"
        #statusTableFilter
        *ngIf="programId"
        [programId]="programId"
        [currentProgramTab]="currentProgramTab"
      ></app-status-table-filter>
    </div>
  </div>
</div>

<div
  class="tfr--active-filters util--flex-row ion-justify-content-between ion-align-items-center"
  [ngClass]="{
    'is-loading': isLoading,
  }"
>
  <div
    *ngIf="(textFilter | async).length"
    class="ion-align-items-center"
  >
    <ion-text
      class="ion-margin-end"
      style="font-size: 0.875rem"
    >
      {{ 'page.program.table-filter-row.filtered-results' | translate }}:
      {{ filteredCount }}
    </ion-text>

    <ion-chip
      *ngFor="let filter of textFilter | async"
      size="small"
      class="tfr--active-filters-chip"
      (click)="handleFilterLabelClick(filter)"
    >
      <ion-label>
        {{ filter.label }}:
        <strong>{{ filter.value }}</strong>
      </ion-label>

      <ion-button
        fill="clear"
        size="small"
        color="medium"
        class="ion-no-margin ion-no-padding"
        (click)="removeTextFilter(filter.name)"
        [attr.aria-label]="
          'page.program.table-filter-row.remove-filter' | translate
        "
        [attr.title]="'page.program.table-filter-row.remove-filter' | translate"
      >
        <ion-icon
          name="close"
          size="small"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-chip>
  </div>
  <div
    *ngIf="(textFilter | async).length > 0"
    class="ion-align-flex-end"
  >
    <ion-button
      (click)="clearAllFilters()"
      size="small"
      shape="round"
      class="tfr--clear-filters-btn"
    >
      {{ 'page.program.table-filter-row.clear-all' | translate }}
    </ion-button>
  </div>
</div>
