<form
  method="POST"
  #updatePropertyForm="ngForm"
  (ngSubmit)="doUpdate()"
>
  <div
    class="input-item update-property-item"
  >
    <label class="input-item--label text-bold">
      {{ label }}
    </label>
    <div class="input-item--contents">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="'number'">
              <ion-input
                ngDefaultControl
                name="propertyInput"
                [(ngModel)]="propertyModel"
                [value]="value"
                [placeholder]="placeholder"
                type="number"
                inputmode="numeric"
                min="1"
                pattern="[0-9]+"
                appOnlyAllowedInput
                [disabled]="isDisabled"
              ></ion-input>
            </ng-container>
            <ng-container *ngSwitchCase="'tel'">
              <ion-input
                ngDefaultControl
                name="propertyInput"
                [(ngModel)]="propertyModel"
                [value]="value"
                [placeholder]="placeholder"
                type="tel"
                inputmode="tel"
                pattern="[0-9]+"
                appOnlyAllowedInput
                [disabled]="isDisabled"
              ></ion-input>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <ion-input
                ngDefaultControl
                name="propertyInput"
                [(ngModel)]="propertyModel"
                [value]="value"
                [placeholder]="placeholder"
                type="text"
                [disabled]="isDisabled"
              ></ion-input>
            </ng-container>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="10" class="ion-no-padding">
          <ion-note
            *ngIf="explanation"
            class="ion-margin-bottom"
          >
          {{ explanation }}
        </ion-note>
      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <ng-container *ngIf="showSubmit">
          <ion-button
            *ngIf="!inProgress"
            type="submit"
            class="ion-margin-start ion-float-right text-bold ion-text-uppercase"
            fill=clear
          >
          {{ 'common.save'|translate }}
        </ion-button>
        <ion-spinner
          *ngIf="inProgress"
          color="primary"
          class="ion-margin-start ion-float-right"
        ></ion-spinner>
      </ng-container>
    </ion-col>
  </ion-row>
  </div>
</div>
</form>
