<form
  method="POST"
  #updatePropertyForm="ngForm"
  (ngSubmit)="doUpdate()"
>
  <div
    class="input-item update-property-item divider-bottom ion-padding"
    [attr.disabled]="isDisabled"
  >
    <label class="input-item--label">
      {{ label }}
    </label>
    <div class="input-item--contents">
      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'number'">
          <ion-input
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            type="number"
            inputmode="numeric"
            min="1"
            pattern="[0-9]+"
            appOnlyAllowedInput
          ></ion-input>
        </ng-container>
        <ng-container *ngSwitchCase="'tel'">
          <ion-input
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            type="tel"
            inputmode="tel"
            pattern="[0-9]+"
            appOnlyAllowedInput
          ></ion-input>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ion-input
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            type="text"
          ></ion-input>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="showSubmit">
        <ion-button
          *ngIf="!inProgress"
          type="submit"
          class="ion-margin-start"
        >
          {{ 'common.update'|translate }}
        </ion-button>
        <ion-spinner
          *ngIf="inProgress"
          color="primary"
          class="ion-margin-start"
        ></ion-spinner>
      </ng-container>
    </div>
    <ion-note
      *ngIf="explanation"
      class="ion-margin-bottom"
    >
      {{ explanation }}
    </ion-note>
  </div>
</form>
