<form
  method="POST"
  #updatePropertyForm="ngForm"
  (ngSubmit)="doUpdate()"
>
  <div
    class="fake-ion-item"
    [attr.disabled]="isDisabled"
  >
    <div class="fake-ion-item--contents">
      <label for="fieldID" class="fake-ion-item--label">
        {{ label }}
      </label>
      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'number'">
          <ion-input
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            type="number"
            inputmode="numeric"
            min="1"
          ></ion-input>
        </ng-container>
        <ng-container *ngSwitchCase="'tel'">
          <ion-input
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            type="tel"
            inputmode="tel"
            pattern="[0-9]*"
          ></ion-input>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <ion-input
            id="fieldID"
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            type="text"
          ></ion-input>
        </ng-container>
      </ng-container>
      <ion-note
        *ngIf="explanation"
        class="ion-margin-bottom"
      >
        {{ explanation }}
      </ion-note>
    </div>
    <ion-row
      slot="end"
      class="ion-align-items-center ion-align-self-stretch"
    >
      <ion-button
        *ngIf="!inProgress"
        type="submit"
        size="small"
      >
        {{ 'common.update'|translate }}
      </ion-button>
      <ion-spinner
        *ngIf="inProgress"
        color="primary"
        size="default"
      ></ion-spinner>
    </ion-row>
  </div>
</form>
