<app-header [title]="'registration-details.pageTitle' | translate"></app-header>
<div class="ion-margin-vertical util--page-margin-horizontal">
  <app-program-tabs-navigation
    [programId]="programId"
  ></app-program-tabs-navigation>
</div>

<ion-content class="ion-no-padding ion-no-margin">
  <ion-spinner
    color="primary"
    *ngIf="loading"
  ></ion-spinner>

  <ng-container *ngIf="!loading">
    <ion-text *ngIf="!person">
      {{ 'registration-details.error' | translate }}
    </ion-text>

    <app-registration-profile
      *ngIf="person"
      [person]="person"
      [program]="program"
      [addHorizontalMargins]="true"
    ></app-registration-profile>
  </ng-container>
</ion-content>
