# These environment variables can be used to configure the production build
# See usage in: src/environments/environment.prod.ts.template.js
#
# You can set them in a file, when you copy this example file to `.env`
#     cp .env.example .env
#

NG_PRODUCTION=true

# Feature-switches:

# APIs:

# Third-party tokens:
# Google Sheets API
GOOGLE_SHEETS_API_URL=
GOOGLE_SHEETS_SHEET_ID=
