<section #scanQr>
  <dialogue-turn>
    {{ 'personal.scan-qr.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self">
    <ion-button expand="block" (click)="scanQrCode()">{{ 'personal.scan-qr.scan-button'|translate }}</ion-button>
  </dialogue-turn>
  <dialogue-turn [hidden]="!scanError">
    {{ 'personal.scan-qr.error'|translate }}
  </dialogue-turn>
    <dialogue-turn [hidden]="!unknownDidCombination">
      {{ 'personal.scan-qr.unknownDidCombination'|translate }}
    </dialogue-turn>
  <dialogue-turn [hidden]="!didResult">
    {{ 'personal.scan-qr.conclusion'|translate }}
  </dialogue-turn>
</section>
