<ion-content>
  <ion-list
    lines="full"
    class="ion-no-padding"
  >
    <ion-item>
      <ion-label
        >{{ 'multiple-registration-mode.toggle' | translate }}
      </ion-label>
      <ion-toggle
        [(ngModel)]="registrationMode.multiple"
        (ngModelChange)="storeMode()"
      ></ion-toggle>
    </ion-item>
    <ion-button
      type="button"
      (click)="close()"
      expand="block"
    >
      <ion-icon
        name="close"
        size="small"
        slot="start"
        aria-hidden="true"
      ></ion-icon>
      {{ 'shared.close-button' | translate }}
    </ion-button>
  </ion-list>
</ion-content>
