<app-page-layout-program-settings [programId]="programId()">
  <p-card class="mbe-4">
    <div class="mbe-1 flex items-center gap-x-2 min-block-9">
      <h2 i18n="@@page-title-program-settings-registration-integration">
        Registration integration
      </h2>
    </div>
    <div class="mbe-6">
      <p i18n>
        Select a registration tool you want to integrate to the program.
      </p>
      <p i18n>
        For more information about how to link a registration tool see
        <app-manual-link />
      </p>
    </div>

    @if (!isKoboIntegrated()) {
      <div class="mbs-4 flex gap-2">
        <div class="shrink-0 font-bold">1.</div>
        <div>
          <p
            i18n
            class="font-bold"
          >
            Your registration form must include the following required fields
            based on the program's FSPs:
          </p>
          <p i18n>Use these exact data column names</p>
        </div>
      </div>

      @if (!koboIntegration.isPending()) {
        <app-required-attributes
          [programId]="programId()"
          [isKoboIntegrated]="isKoboIntegrated()"
        ></app-required-attributes>
      }

      <div class="mbs-6 mbe-3 flex gap-2">
        <div class="shrink-0 font-bold">2.</div>
        <div>
          <p
            i18n
            class="font-bold"
          >
            Link your registration tool:
          </p>
        </div>
      </div>
    }

    <app-kobo-integration-card
      [programId]="programId()"
      class="inline-1/2"
    >
    </app-kobo-integration-card>
  </p-card>

  @if (isKoboIntegrated()) {
    <app-registration-questions-card [programId]="programId()" />
  }

  <app-deduplication-card [programId]="programId()"></app-deduplication-card>
</app-page-layout-program-settings>
