// Light
.skeleton-text--light {
  --background-rgb: var(--ion-color-dark-contrast-rgb);
}

//
ion-card {
  background: #ffffff;
  box-shadow: none;

  &.referral-data-unavailable-card {
    width: 300px;
    margin: 5% auto;
  }
}
.introduction--content {
  white-space: pre-line;
}

a {
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #3171e0;
  }
}

ion-footer {
  .nested-button-with-label {
    white-space: pre-wrap;

    ion-text {
      margin-left: 4px;
      color: var(--ion-color-dark);
      font-family: var(--ion-font-family-header);
    }
  }

  .icon-as-button {
    background: var(--ion-color-primary);
    fill: var(--ion-color-primary-contrast);
    padding: 6px;
    border-radius: 10px;
  }

  .button-icon--whatsapp-image {
    height: 50px;
    width: 50px;
  }
}
