<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <ion-text *ngIf="!loading">
        {{ isSupportedRegion() ? referralPageData.referralPageTitle : "Helpful
        Information" }}
      </ion-text>
      <ion-skeleton-text
        *ngIf="loading"
        animated
        style="width: 50%; margin: auto"
      ></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isSupportedRegion()">
  <ion-card *ngIf="!category">
    <ion-card-header>
      <ion-card-title>
        <ion-text *ngIf="!loading">
          {{ referralPageData.referralPageGreeting }}
        </ion-text>
        <ion-skeleton-text
          *ngIf="loading"
          animated
          style="width: 20%"
        ></ion-skeleton-text>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-text *ngIf="!loading">
          {{ referralPageData.referralPageInstructions }}
        </ion-text>
        <ion-skeleton-text
          *ngIf="loading"
          animated
          style="width: 0%"
        ></ion-skeleton-text>
        <ion-skeleton-text
          *ngIf="loading"
          animated
          style="width: 100%"
        ></ion-skeleton-text>
        <ion-skeleton-text
          *ngIf="loading"
          animated
          style="width: 80%"
        ></ion-skeleton-text>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <div *ngIf="!loading">
    <div>
      <div *ngIf="!category">
        <category
          *ngFor="let _category of categories"
          [category]="_category"
          (click)="clickCategory(_category)"
        ></category>
      </div>
      <div *ngIf="category && !subCategory">
        <category
          [category]="category"
          [showDescription]="true"
          (click)="goBack()"
        ></category>
      </div>
      <div *ngIf="category && !subCategory">
        <sub-category
          *ngFor="let _subCategory of subCategories | categoryFilter: category"
          [subCategory]="_subCategory"
          [showRightDescription]="false"
          [showBottomDescription]="true"
          (click)="clickSubCategory(_subCategory)"
        ></sub-category>
      </div>
      <div *ngIf="category && subCategory">
        <sub-category
          [subCategory]="subCategory"
          [showRightDescription]="true && !offer"
          [showBottomDescription]="false"
          (click)="goBack()"
        ></sub-category>
      </div>
    </div>
    <div *ngIf="category && subCategory && !offer">
      <offer
        *ngFor="let _offer of offers | categoryFilter: category | subCategoryFilter: subCategory"
        [offer]="_offer"
        (click)="clickOffer(_offer)"
      ></offer>
    </div>
    <div *ngIf="category && subCategory && offer">
      <offer
        [offer]="offer"
        [showDetails]="true"
        [goBack]="goBack.bind(this)"
        (click)="clickOffer(offer)"
      ></offer>
    </div>
    <div
      *ngIf="categories?.length === 0 || subCategories?.length === 0 || offers?.length === 0"
    >
      <ion-card class="referral-data-unavailable-card ion-text-center">
        <ion-card-header>
          <ion-card-subtitle>Data Unavailable</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Please reach out to us at
          <a href="https://www.rodekruis.nl/">https://www.rodekruis.nl/</a>.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ion-spinner
    *ngIf="loading"
    name="crescent"
    class="ion-margin ion-padding"
  ></ion-spinner>
</ion-content>

<ion-content *ngIf="!isSupportedRegion()">
  <ion-card *ngIf="!category">
    <ion-card-header>
      <ion-card-title>
        The Netherlands Red Cross provides helpful information for
        <span *ngFor="let region of regions; first as isFirst; last as isLast"
          >{{ isFirst ? '' : (isLast ? ' and' : ',')}}
          <a [routerLink]="['/', toKebabCase(region)]"
            >{{ region | titlecase }}</a
          >{{ isLast ? '.' : ''}}</span
        >
      </ion-card-title>
      <ion-card-subtitle>
        Please choose a location to view the information.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer *ngIf="isSupportedRegion()">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="category">
      <ion-back-button
        [defaultHref]="getRegionHref()"
        (click)="goBack()"
        [text]="referralPageData.referralBackButtonLabel"
        *ngIf="!loading"
      ></ion-back-button>
    </ion-buttons>

    <ion-buttons class="ion-justify-content-center" *ngIf="category">
      <ion-button
        (click)="showCategories()"
        class="main-screen-button ion-text-start"
      >
        <ion-icon name="albums"></ion-icon>
        <ion-text>{{referralPageData.referralMainScreenButtonLabel}}</ion-text>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="!loading">
      <ion-button
        href="tel:{{referralPageData.referralPhoneNumber}}"
        *ngIf="referralPageData.referralPhoneNumber"
        target="_blank"
        rel="noopener"
      >
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button
        [href]="referralPageData.referralWhatsAppLink"
        *ngIf="referralPageData.referralWhatsAppLink"
        target="_blank"
        rel="noopener"
      >
        <ion-img
          class="whatsapp-image"
          src="assets/icons/whatsapp.png"
        ></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
