ion-header {
  --ion-background-color: #ffc001;
}

ion-content {
  --ion-background-color: #f6f0eb;
}

ion-card {
  background: #ffffff;
  box-shadow: none;
  white-space: pre-line;

  &.referral-data-unavailable-card {
    width: 300px;
    margin: 5% auto;
  }
}

a {
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #3171e0;
  }
}
