// Light
.skeleton-text--light {
  --background-rgb: var(--ion-color-dark-contrast-rgb);
}

//
ion-card {
  background: #ffffff;
  box-shadow: none;

  &.referral-data-unavailable-card {
    width: 300px;
    margin: 5% auto;
  }
}
.introduction--content {
  white-space: pre-line;
}

a {
  text-decoration: underline;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #3171e0;
  }
}

ion-footer {
  ion-button {
    &.main-screen-button {
      white-space: pre-wrap;

      ion-text {
        margin-left: 4px;
      }
    }

    ion-img.whatsapp-image {
      height: 50px;
      width: 50px;
    }
  }
}
