<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      <ion-text *ngIf="!loading">
        {{ isSupportedRegion() ? referralPageData.referralPageTitle : "Helpful Information" }}
      </ion-text>
      <ion-skeleton-text
        *ngIf="loading"
        animated
        style="width: 50%; line-height: 1; margin: auto;"
      ></ion-skeleton-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  *ngIf="isSupportedRegion()"
  color="dark"
  class="ion-padding"
>
  <div
    *ngIf="!category"
  >
    <div *ngIf="loading">
      <h2><ion-skeleton-text animated class="skeleton-text--light" style="width: 25%; line-height: 1;"></ion-skeleton-text></h2>
      <div class="introduction--content ion-margin-vertical">
        <br>
        <ion-skeleton-text animated class="skeleton-text--light" width="100%"></ion-skeleton-text>
        <ion-skeleton-text animated class="skeleton-text--light" width="100%"></ion-skeleton-text>
        <ion-skeleton-text animated class="skeleton-text--light" width="80%"></ion-skeleton-text>
      </div>
    </div>
    <div *ngIf="!loading">
      <h2>{{ referralPageData.referralPageGreeting }}</h2>
      <div class="introduction--content ion-margin-vertical">
        <ion-text>
          {{ referralPageData.referralPageInstructions }}
        </ion-text>
      </div>
    </div>
  </div>
  <div *ngIf="!loading">
    <div>
      <div
        *ngIf="!category"
        style="margin: 0 -10px;"
      >
        <category
          *ngFor="let _category of categories"
          [category]="_category"
          (click)="clickCategory(_category)"
        ></category>
      </div>
      <div
        *ngIf="category && !subCategory"
        class="ion-margin-bottom"
      >
        <category
          [category]="category"
          [showDescription]="true"
          (click)="goBack()"
          class="ion-margin-bottom"
        ></category>
      </div>
      <div *ngIf="category && !subCategory">
        <sub-category
          *ngFor="let _subCategory of subCategories | categoryFilter: category"
          [subCategory]="_subCategory"
          [showRightDescription]="false"
          [showBottomDescription]="true"
          (click)="clickSubCategory(_subCategory)"
          class="ion-margin-end"
        ></sub-category>
      </div>
      <div
        *ngIf="category && subCategory"
        class="ion-margin-bottom"
      >
        <sub-category
          [subCategory]="subCategory"
          [showRightDescription]="true && !offer"
          [showBottomDescription]="false"
          (click)="goBack()"
        ></sub-category>
      </div>
    </div>
    <div *ngIf="category && subCategory && !offer">
      <offer
        *ngFor="let _offer of offers | categoryFilter: category | subCategoryFilter: subCategory"
        [offer]="_offer"
        (click)="clickOffer(_offer)"
        class="ion-margin-bottom"
      ></offer>
    </div>
    <div *ngIf="category && subCategory && offer">
      <offer
        [offer]="offer"
        [showDetails]="true"
        [goBack]="goBack.bind(this)"
        (click)="clickOffer(offer)"
      ></offer>
    </div>
    <div *ngIf="categories?.length === 0 || subCategories?.length === 0 || offers?.length === 0">
      <ion-card class="referral-data-unavailable-card ion-text-center">
        <ion-card-header>
          <ion-card-subtitle>Data Unavailable</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Please reach out to us at
          <a href="https://www.rodekruis.nl/">https://www.rodekruis.nl/</a>.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <ion-spinner
    *ngIf="loading"
    name="crescent"
    color="light"
    class="ion-margin ion-padding"
  ></ion-spinner>
</ion-content>

<ion-content
  *ngIf="!isSupportedRegion()"
  color="dark"
>
  <ion-card *ngIf="!category">
    <ion-card-header>
      <ion-card-title>
        The Netherlands Red Cross provides helpful information for
        <span
          *ngFor="let region of regions; first as isFirst; last as isLast">{{ isFirst ? '' : (isLast ? ' and' : ',')}}
          <a [routerLink]="['/', toKebabCase(region)]">{{ region | titlecase }}</a>{{ isLast ? '.' : ''}}</span>
      </ion-card-title>
      <ion-card-subtitle>
        Please choose a location to view the information.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

<ion-footer
  *ngIf="isSupportedRegion()"
  color="secondary"
>
  <ion-toolbar>
    <ion-buttons
      *ngIf="category"
      slot="start"
    >
      <ion-button
        (click)="goBack()"
        class="nested-button-with-label ion-text-start"
      >
        <ion-icon name="arrow-back" class="icon-as-button"></ion-icon>
        <ion-text>{{ referralPageData.referralBackButtonLabel }}</ion-text>
      </ion-button>

    </ion-buttons>

    <ion-buttons
      *ngIf="category"
      class="ion-justify-content-center"
    >
      <ion-button
        (click)="showCategories()"
        class="nested-button-with-label ion-text-start"
      >
        <ion-icon name="radio-button-on" class="icon-as-button"></ion-icon>
        <ion-text>{{ referralPageData.referralMainScreenButtonLabel }}</ion-text>
      </ion-button>
    </ion-buttons>

    <ion-buttons
      *ngIf="!loading"
      slot="end"
    >
      <ion-button
        *ngIf="referralPageData.referralPhoneNumber"
        [href]="'tel:' + referralPageData.referralPhoneNumber"
        target="_blank"
        rel="noopener"
        (click)="logContactClick('tel')"
      >
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="referralPageData.referralWhatsAppLink"
        [href]="referralPageData.referralWhatsAppLink"
        target="_blank"
        rel="noopener"
        (click)="logContactClick('whatsapp')"
      >
        <ion-img
          class="button-icon--whatsapp-image"
          src="assets/icons/whatsapp.png"
        ></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
