<div class="mt-4 mb-6 space-y-2">
  <p i18n>
    Custom messages are <b>not automatically translated</b> to the
    registration's preferred language.
  </p>

  <p>
    <strong i18n> Message: </strong>
    <app-info-tooltip
      message="Note that if you go over 160 characters the Person affected may receive the message as multiple texts, if they have a feature-(non-smart-)phone."
      i18n-message
    />
  </p>

  <p>
    <ng-container i18n
      >Use <code>&commat;</code> to add personalized fields.
    </ng-container>
    <ng-container i18n>Learn more in the <app-manual-link />.</ng-container>
  </p>

  <div>
    <textarea
      rows="5"
      pTextarea
      [(ngModel)]="customMessageInternalModel"
      [disabled]="customMessageDisabled()"
      [mentionConfig]="mentionConfig()"
      autocomplete="off"
      class="w-full"
      [ngClass]="{
        'ng-invalid ng-dirty': !!error(),
      }"
    ></textarea>

    <p class="txt-body-s w-full text-end">
      @if (customMessageInternalModel().length > 20) {
        {{ customMessageInternalModel().length }}
      } @else {
        (>20)
      }
      <ng-container i18n> characters.</ng-container>
    </p>
    <app-form-error [error]="error()" />
  </div>

  <p i18n>
    *Please make sure registration data is available for all used personalized
    fields.
  </p>
</div>
