<ion-header>
  <ion-toolbar>
    <!-- Pop up title -->
    <ion-title>
      {{ title }}
    </ion-title>

    <!-- Exit cancel button -->
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- content -->
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-icon
        name="checkmark-outline"
        color="success"
        size="large"
      ></ion-icon>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      {{ message }}
    </ion-row>
  </ion-grid>
</ion-content>
