<form
  #theForm="ngForm"
  (keydown.enter)="$event.preventDefault()"
>

  <div *ngFor="let question of questions; let i=index; first as isFirst;">
    <dialogue-turn
      actor="self"
      [isConnected]="!isFirst"
      [isSpoken]="isFirst || isSubmitted || isEditing"
    >
      <p>
        <ion-label [innerHTML]="question.label"></ion-label>
      </p>
      <div [ngSwitch]="question.answerType">
        <div *ngSwitchCase="answerType.Enum">
          <ion-radio-group
            [name]="question.name"
            (ionChange)="onAnswerChange(question.name,$event.target.value)"
            debounce="100"
          >
            <ion-item
              *ngFor="let option of question.options"
              color="light"
              lines="full"
              class="ion-no-padding"
            >
              <ion-label class="ion-text-wrap ion-padding-end">{{ option.label }}</ion-label>
              <ion-radio
                [value]="option.value"
                [checked]="(option.value === answers[question.name]?.value)"
                [disabled]="isSubmitted"
              ></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
        <div *ngSwitchCase="answerType.Number">
          <numeric-input
            #numInput
            ngDefaultControl
            [(ngModel)]="theFormModels[question.name]"
            required
            [name]="question.name"
            [disabled]="isSubmitted"
            (isValidChange)="onChangeWithValidation(question.name, numInput.value, numInput.isValid)"
          ></numeric-input>
        </div>
        <div *ngSwitchCase="answerType.Date">
          <date-input
            #dateInput
            ngDefaultControl
            [(ngModel)]="theFormModels[question.name]"
            required
            [name]="question.name"
            [disabled]="isSubmitted"
            (isValidChange)="onChangeWithValidation(question.name, dateInput.value, dateInput.isValid)"
          ></date-input>
        </div>
        <div *ngSwitchCase="answerType.phoneNumber">
          <phone-number-input
            #phoneNumberInput
            ngDefaultControl
            [(ngModel)]="theFormModels[question.name]"
            required
            [placeholder]="question.placeholder"
            [name]="question.name"
            [disabled]="isSubmitted"
            (isValidChange)="onChangeWithValidation(question.name, phoneNumberInput.value, phoneNumberInput.isValid)"
          ></phone-number-input>
        </div>
        <div *ngSwitchCase="answerType.email">
          <ion-input
            #emailInput="ngModel"
            ngDefaultControl
            [(ngModel)]="theFormModels[question.name]"
            type="email"
            inputmode="email"
            autocomplete="email"
            pattern="^[\w\-+]+(\.[\w\-+]+)*@(([\w\-]+\.)*[\w\-]+)\.[a-z]{2,}$"
            [title]="'q-and-a-set.validation.email'|translate"
            required
            [name]="question.name"
            [disabled]="isSubmitted"
            (ionChange)="onChangeWithValidation(question.name, emailInput.value, emailInput.valid && ((emailInput.dirty || emailInput.touched) || allQuestionsShown))"
            debounce="300"
          ></ion-input>
        </div>
        <div *ngSwitchDefault>
          <ion-input
            #defaultInput="ngModel"
            ngDefaultControl
            [(ngModel)]="theFormModels[question.name]"
            type="text"
            pattern=".*\S+.*"
            required
            [name]="question.name"
            [disabled]="isSubmitted"
            (ionChange)="onChangeWithValidation(question.name, defaultInput.value, defaultInput.valid && ((defaultInput.dirty || defaultInput.touched) || allQuestionsShown))"
            debounce="300"
          ></ion-input>
        </div>
      </div>
    </dialogue-turn>
    <div
      *ngIf="checkValidationErrors(question.name) && !isSubmitted"
      class="ion-margin-bottom ion-padding-bottom"
    >
      <dialogue-turn [isSpoken]="checkValidationErrors(question.name)">
        <p *ngIf="(question.answerType === answerType.phoneNumber)">
          {{ 'q-and-a-set.validation.phone-number'|translate }}
        </p>
        <p *ngIf="(question.answerType === answerType.Number)">
          {{ 'q-and-a-set.validation.number'|translate }}
        </p>
        <p *ngIf="(question.answerType === answerType.Date)">
          {{ 'q-and-a-set.validation.date'|translate }}
        </p>
        <p *ngIf="(question.answerType === answerType.email)">
          {{ 'q-and-a-set.validation.email'|translate }}
        </p>
        <p *ngIf="(question.answerType === answerType.Text)">
          {{ 'q-and-a-set.validation.required'|translate }}
        </p>
      </dialogue-turn>
    </div>
  </div>

  <dialogue-turn
    *ngIf="((theForm.invalid && (theForm.dirty || theForm.touched)) || checkValidationErrors()) && allQuestionsShown && !isSubmitted"
    [isSpoken]="((theForm.invalid && (theForm.dirty || theForm.touched)) || checkValidationErrors()) && allQuestionsShown && !isSubmitted"
  >
    <p>
      {{ 'q-and-a-set.validation.generic-error'|translate }}
    </p>
  </dialogue-turn>

  <dialogue-turn
    actor="self"
    isConnected="true"
    *ngIf="theForm.valid && !checkValidationErrors() && allQuestionsShown"
    [isSpoken]="theForm.valid && !checkValidationErrors() && allQuestionsShown"
  >
    <ion-row class="ion-nowrap ion-align-items-center">
      <ion-button
        type="button"
        (click)="doSubmit()"
        [disabled]="isSubmitted"
        expand="block"
        style="flex-basis:100%;"
      >
        {{ submitLabel|translate }}
      </ion-button>
    </ion-row>
  </dialogue-turn>

</form>
