<app-system-notification
  [message]="'system-notifications.compatible-browsers'|translate"
  color="tertiary"
  [delay]="500"
  #systemNotification
></app-system-notification>
<ion-content>
  <ion-grid class="util--full-height">
    <ion-row
      class="ion-justify-content-center ion-align-items-center util--full-height"
    >
      <div style="width: 100%; min-width: 20em; max-width: 24em">
        <ion-row class="ion-justify-content-between ion-align-items-center">
          <div
            id="portal-title"
            class="ion-margin"
          >
            <div id="logo-container">
              <img
                src="./assets/img/121-logo.512.webp"
                alt="121"
              />
            </div>
            <h1 class="text-uppercase">
              {{ 'page.login.portalTitle'|translate }}
            </h1>
          </div>
          <app-language-switcher></app-language-switcher>
        </ion-row>
        <ion-item
          *ngIf="errorStatusCode !== 0"
          color="danger"
          lines="none"
          class="login-notification ion-margin-vertical"
        >
          <ng-container
            color="warning"
            [ngSwitch]="errorStatusCode"
          >
            <small>
              <strong>
                <ion-text *ngSwitchCase="401">
                  {{ 'page.login.form.error-messages.401'|translate }}
                </ion-text>
                <ion-text *ngSwitchCase="500">
                  {{ 'page.login.form.error-messages.500'|translate }}
                </ion-text>
                <ion-text *ngSwitchDefault>
                  {{ 'common.unknown-error'|translate }}
                </ion-text>
              </strong>
            </small>
          </ng-container>
        </ion-item>
        <div class="ion-padding auth-form-container">
          <form
            method="POST"
            #loginForm="ngForm"
            (ngSubmit)="doLogin()"
            (keyup.enter)="doLogin()"
          >
            <div class="auth-item ion-margin-bottom email-field">
              <label
                color="medium"
                class="auth-label"
                (click)="emailInput.setFocus()"
              >
                {{ 'page.login.form.email.label'|translate }}
              </label>
              <div>
                <ion-input
                  #emailInput
                  type="email"
                  inputmode="email"
                  autocomplete="username email"
                  autocapitalize="off"
                  autofocus="true"
                  clearInput="true"
                  required
                  name="email"
                  [(ngModel)]="email"
                  ngDefaultControl
                  pattern=".+@.+\.[a-z]+"
                  minlength="4"
                  class="ion-margin-vertical"
                  [ngClass]="{
                    'invalid-border': showLoginFail.email || invalidEmail
                  }"
                  (ionBlur)="onEmailBlur()"
                  fill="outline"
                ></ion-input>
              </div>
              <div class="validation-message">
                <ion-text
                  *ngIf="invalidEmail"
                  color="danger"
                >
                  <small>
                    <strong>
                      {{
                      'page.login.form.error-messages.invalid-email'|translate
                      }}
                    </strong>
                  </small>
                </ion-text>
              </div>
            </div>
            <div
              class="auth-item ion-margin-bottom ion-padding-bottom password-field"
            >
              <label
                color="medium"
                class="auth-label"
                (click)="passwordInput.setFocus()"
              >
                {{ 'page.login.form.password.label'|translate }}
              </label>
              <ion-item
                class="ion-no-padding"
                lines="none"
                [ngClass]="{ 'invalid-border': showLoginFail.password || emptyPassword}"
              >
                <ion-row>
                  <ion-input
                    #passwordInput
                    [type]="inputType"
                    autocomplete="current-password"
                    autocapitalize="off"
                    clearInput="false"
                    clearOnEdit="false"
                    required
                    name="password"
                    [(ngModel)]="password"
                    ngDefaultControl
                    class="ion-margin-vertical"
                    (ionBlur)="onPasswordBlur()"
                    fill="outline"
                  >
                  </ion-input>
                  <ion-button
                    type="button"
                    color="secondary"
                    fill="clear"
                    size="small"
                    (click)="toggleInputType()"
                    [title]="isPassword() ? this.labelShow : this.labelHide"
                    [attr.aria-label]="isPassword() ? this.labelShow : this.labelHide"
                    style="position: absolute; inset-inline-end: 0"
                    class="ion-align-self-center"
                  >
                    <ion-icon
                      *ngIf="isPassword()"
                      slot="icon-only"
                      name="eye"
                      aria-hidden="true"
                    ></ion-icon>
                    <ion-icon
                      *ngIf="!isPassword()"
                      slot="icon-only"
                      name="eye-off"
                      aria-hidden="true"
                    ></ion-icon>
                  </ion-button>
                </ion-row>
              </ion-item>
              <div class="validation-message">
                <ion-text
                  *ngIf="emptyPassword"
                  color="danger"
                >
                  <small>
                    <strong>
                      {{
                      'page.login.form.error-messages.empty-password'|translate
                      }}
                    </strong>
                  </small>
                </ion-text>
              </div>
            </div>

            <div class="ion-margin-top ion-no-padding">
              <ion-button
                type="submit"
                expand="block"
                [disabled]="!loginForm?.form?.valid"
                class="auth-button"
                color="secondary"
              >
                {{ 'page.login.form.submit.label'|translate }}
              </ion-button>
            </div>
          </form>
        </div>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
