// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/* NGX Datatable CSS */
@import 'assets/styles/ngx-datatable/_ngx-datatable.component.scss';
@import 'assets/styles/ngx-datatable/_icons.css';
@import 'assets/styles/ngx-datatable/_bootstrap.scss';
// Custom overrides only:
@import 'assets/styles/ngx-datatable/_bootstrap-overrides.scss';

// Workaround for touch-screen laptops
// See: https://github.com/ionic-team/ionic-framework/issues/19942#issuecomment-621944260
// See: https://github.com/ionic-team/ionic-framework/blob/4.11.x/core/src/components/app/app.scss
@media (any-pointer: fine) {
  html.plt-mobile ion-app {
    user-select: auto;
  }
}

// Default styles for a 'styled' select:
.styled-select {
  padding: 0.45em;
  border-radius: 4px;

  option {
    &[disabled] {
      color: var(--ion-color-medium);
    }
  }
}

.horizontal-scroll-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

ion-button {
  text-transform: none;
  --box-shadow: none;
}

.input-item {
  background-color: white;

  &.divider-bottom {
    border-bottom: 1px solid var(--ion-color-light);
  }

  ion-input {
    --border: 1px solid #b3bcd0;
    --border-radius: 5px;
    margin-top: 8px;
    --padding-start: 8px;
    --padding-end: 8px;
  }

  &.update-property-item {
    ion-input {
      min-height: 38px;

      &.has-value {
        &.ion-invalid {
          border-color: var(--ion-color-danger);
        }
      }

      &.has-focus {
        &.ion-valid {
          border-color: var(--ion-color-success);
        }
      }
    }
  }
  .validation-message {
    min-height: 36px;
  }
}

.auth-item {
  &.email-field {
    ion-input {
      border: 1px solid #b3bcd0;
      border-radius: 5px;
      margin-top: 8px;
      --padding-start: 8px;
      --padding-end: 8px;
      --border-style: none;
    }

    ion-input {
      height: 50px;
      &.valid-border {
        border-color: var(--ion-color-success);
      }
      &.invalid-border {
        border-color: var(--ion-color-danger);
      }
    }
    .validation-message {
      min-height: 36px;
    }
  }

  &.password-field {
    ion-item {
      border: 1px solid #b3bcd0;
      border-radius: 5px;
      margin-top: 8px;
      --padding-start: 8px;
      --padding-end: 8px;

      ion-input {
        margin: 0;
        --border-style: none;

        input {
          width: 250px;
        }
      }
      &.valid-border {
        border-color: var(--ion-color-success);
      }
      &.invalid-border {
        border-color: var(--ion-color-danger);
      }
    }

    .validation-message {
      min-height: 36px;
    }
  }
}

#logo-container {
  margin: 0 4px 0 0;
  padding: 0;
  width: 48px;
}

.full-height {
  height: 100%;
}

#portal-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px;

  h1 {
    margin-top: 10px;
    margin-left: 4px;
    letter-spacing: 3px;
  }
}

.auth-form-container {
  max-width: 339px;
  margin: auto;
  border: 1px solid #b3bcd0;
  border-radius: 0;
}

.auth-button {
  width: 100%;
}

.auth-label {
  font-size: 1.2em;
  color: var(--ion-color-medium);
}

.login-notification {
  max-width: 339px;
  margin-left: auto;
  margin-right: auto;
}
.navigation-button {
  --navigation-button--indicator-size: 2px;

  display: inline-block;
  position: relative;
}
.navigation-button--indicator {
  display: block;
  position: absolute;
  top: 90%;
  left: 0.85em;
  right: 0.85em;
  border-top: var(--navigation-button--indicator-size) solid
    var(--ion-color-primary);
}

.text-bold {
  font-weight: bold;
}

.ml-auto {
  margin-left: auto;
}
.select-popover {
  &::part(content) {
    --width: fit-content;
    --max-width: 100%;

    ion-label {
      padding-right: 8px;
    }
  }
}

.table-filter-popover {
  --backdrop-opacity: 0%;

  &.table-filter-popover--multiple-choice {
    &::part(content) {
      --width: inherit;
      --min-width: 260px;
      --max-width: 400px;

      .table-filter-popover--multiple-choice--list {
        width: 100%;
        max-height: 360px;
        overflow-y: scroll;
        .table-filter-popover--multiple-choice--item {
          width: 100%;
          --inner-padding-top: 0;
          --inner-padding-bottom: 0;
        }
      }
    }
    .table-filter-popover--multiple-choice--note {
      border-top: 1px solid var(--ion-color-light);
    }
  }
}

.datatable-body-cell-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alert-no-max-height {
  --max-height: none;

  .alert-message {
    max-height: none;
  }
}

.status-failed-text {
  color: var(--ion-color-status-failed-text);
}

// for physical card list and popup in registration details page
.physical-card-status-chip {
  pointer-events: none;
  height: 20px;
  &.physical-card-status-chip-active {
    background-color: var(--fiveten-success-100);
    color: var(--fiveten-success-700);
  }
  &.physical-card-status-chip-blocked {
    background-color: var(--fiveten-error-100);
    color: var(--fiveten-error-700);
  }
  &.physical-card-status-chip-issued {
    background-color: var(--fiveten-navy-200);
    color: var(--fiveten-link-700);
  }
  &.physical-card-status-chip-paused {
    background-color: var(--fiveten-warning-100);
    color: var(--fiveten-warning-700);
  }
  &.physical-card-status-chip-unknown {
    background-color: var(--fiveten-warning-100);
    color: var(--fiveten-warning-700);
  }
  &.physical-card-status-chip-suspected-fraud {
    background-color: var(--fiveten-error-100);
    color: var(--fiveten-error-700);
  }
}
.chip {
  pointer-events: none;
  background-color: var(--fiveten-neutral-100);
  height: 27px;
}

ion-input.custom-border {
  &.invalid-border {
    --border-color: var(--ion-color-danger) !important;
  }
  &.regular-border.has-focus {
    --border-color: var(--ion-color-primary) !important;
  }
}

/*
	Component: Tabs
*/
.tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
  padding-left: 32px;
  border-bottom: 1px solid var(--fiveten-neutral-600);
}

.tab {
  --background: #f4f7fa;
  margin-right: 16px;
  --color-checked: #4f22d7;
}

.rolesDropdown {
  --box-shadow: none;
  ion-list {
    width: 365px;
    overflow-x: hidden;
    border: 2px solid var(--fiveten-neutral-200);
    border-radius: 5px;
    padding: 0px;
    --min-height: 30px;
  }
  ion-item {
    --min-height: 30px;
  }

  ion-checkbox {
    font-size: 14px;
    --border-width: 1px;
  }
}

.tooltip--popover {
  .popover-viewport {
    padding: 8px;
    overflow: hidden;

    ion-label {
      padding-inline-start: 0;
    }
  }
}

