<p-button
  icon="pi pi-cog"
  (click)="showColumnManagement()"
  text
  size="large"
  severity="contrast"
  title="Manage table"
  i18n-title="@@query-table-manage-table"
  aria-label="Manage table"
  i18n-aria-label="@@query-table-manage-table"
/>

<app-form-sidebar
  [(visible)]="formVisible"
  [formGroup]="formGroup"
  [mutation]="updateColumnVisibility"
  [modal]="false"
  formTitle="Manage table"
  i18n-formTitle="@@query-table-manage-table"
  submitButtonText="Apply"
  i18n-submitButtonText="@@generic-apply"
>
  <p-button
    label="Revert to default"
    i18n-label
    icon="pi pi-replay"
    [iconPos]="rtlHelper.createPosition('start')()"
    outlined
    rounded
    (click)="revertToDefault()"
  />
  <p
    i18n
    class="mt-5 mb-2 font-semibold"
  >
    Table columns:
  </p>

  @for (column of columns(); track $index) {
    <div class="flex w-full items-center gap-1">
      <!-- eslint-disable-next-line @angular-eslint/template/label-has-associated-control -->
      <label class="flex">
        <p-checkbox
          formControlName="selectedColumns"
          [value]="column"
          class="me-2"
        />
        <span>{{ column.header }}</span>
      </label>
    </div>
  }
</app-form-sidebar>
