<p-button
  label="Create new payment"
  i18n-label="@@create-payment"
  rounded
  icon="pi pi-money-bill"
  [iconPos]="rtlHelper.createPosition('start')()"
  [loading]="paymentStatus.isPending()"
  (click)="openDialog()"
/>

<app-fullscreen-stepper-dialog
  #createPaymentDialog
  [(dialogVisible)]="dialogVisible"
  [currentStep]="currentStep()"
  [proceedLabel]="proceedLabel()"
  [cannotProceed]="cannotProceed()"
  [queryParamStep]="'create-payment-step'"
  (goBack)="goBack()"
  (proceed)="createPayment()"
>
  <ng-template #header>
    <i class="pi pi-money-bill me-2"></i>
    <ng-container i18n="@@create-payment">Create new payment</ng-container>
    - {{ today | date: 'shortDate' }}
  </ng-template>
  <ng-template #step>
    <p
      i18n
      class="mb-5"
    >
      Below is a table of all
      <app-colored-chip
        [variant]="includedChipData.chipVariant"
        [label]="includedChipData.chipLabel"
      />
      registrations. Select registrations you would like to add to this payment.
    </p>
    <p-card>
      <app-registrations-table
        #registrationsTable
        [projectId]="projectId()"
        [localStorageKey]="
          'project-payment-registrations-table-' +
          projectId() +
          '-' +
          today.toISOString()
        "
        [overrideFilters]="overrideFilters"
        [showSelectionInHeader]="true"
      />
    </p-card>
  </ng-template>
  <ng-template #step>
    <div data-testid="create-payment-fsp-instructions">
      @if (paymentHasExcelFsp()) {
        <p i18n>Review payment summary and follow the next steps:</p>
        <ol class="mt-2 list-decimal ps-6">
          <li i18n>
            Click create payment, this will direct you to the payment page.
          </li>
          <li i18n>
            When you want the payment to start, click approve and start payment
            or instruct the designated user to do so.
          </li>
          <li i18n>
            Export the FSP instructions and save the exported XLSX-file in the
            format required by the Financial Service Provider.
          </li>
          <li i18n>
            Upload the file to the Financial Service Provider’s portal.
          </li>
        </ol>
      } @else {
        <p i18n>Review summary and click create payment.</p>
      }
      <p-card class="relative mt-5 block [&_.p-card-body]:py-2">
        <app-data-list [data]="paymentSummaryData()" />
        <div class="pt-4">
          <form [formGroup]="paymentFormGroup">
            <app-form-field-wrapper
              label="Add note"
              i18n-label
            >
              <input
                class="w-full"
                formControlName="note"
                placeholder="Optional"
                i18n-placeholder
                pInputText
              />
            </app-form-field-wrapper>
          </form>
        </div>
        @if (paymentHasIntegratedFsp()) {
          <app-ellipsis-menu [menuItems]="paymentSummaryMenuItems()" />
        }
      </p-card>
    </div>
  </ng-template>
</app-fullscreen-stepper-dialog>
