<div class="flex w-full content-between items-center">
  @if (!!overview()) {
    <span class="max-w-96 truncate">{{ overview() }}</span>
  }

  <div
    class="me-auto"
    [ngClass]="{
      'ms-2': !!overview(),
    }"
  >
    @if (chipData()) {
      <app-colored-chip
        [label]="chipData()!.chipLabel"
        [variant]="chipData()!.chipVariant"
      />
    }
  </div>

  @if (isIgnoreDuplicationType()) {
    <a
      [routerLink]="duplicateLink()"
      class="p-button p-button-rounded p-button-outlined p-button-sm"
      target="_blank"
    >
      <span class="pi-button-icon pi pi-external-link"></span>
      <span
        class="p-button-label"
        i18n
      >
        View registration
      </span>
    </a>
  }

  @if (canRetryTransfer()) {
    <p-button
      label="Retry transfer"
      i18n-label="@@retry-transfer"
      rounded
      size="small"
      (click)="retryTransfer()"
    />
  }
</div>

@let payment = paymentId();
@if (payment) {
  <app-retry-transfers-dialog
    #retryTransfersDialog
    [projectId]="context().projectId()"
    [paymentId]="payment"
  />
}
