<app-page-layout
  pageTitle="Registrations"
  i18n-pageTitle="@@page-title-project-registrations"
  [projectId]="projectId()"
>
  <div
    header-actions
    class="flex gap-x-2"
  >
    @if (canImport()) {
      <app-import-registrations-menu
        [projectId]="projectId()"
        [getActionData]="
          registrationsTable.getActionData.bind(registrationsTable)
        "
        (actionComplete)="onActionComplete()"
      />
    }
    @if (canExport()) {
      <app-export-registrations
        [projectId]="projectId()"
        [getActionData]="
          registrationsTable.getActionData.bind(registrationsTable)
        "
      />
    }
  </div>
  <p-card>
    <app-registrations-table
      #registrationsTable
      [projectId]="projectId()"
      [localStorageKey]="'project-registrations-table-' + projectId()"
      [contextMenuItems]="contextMenuItems()"
    >
      <div table-actions>
        <p-buttonGroup>
          @if (canChangeStatus()(RegistrationStatusEnum.validated)) {
            <p-button
              [label]="
                REGISTRATION_STATUS_VERB[RegistrationStatusEnum.validated]
              "
              [icon]="
                REGISTRATION_STATUS_ICON[RegistrationStatusEnum.validated]
              "
              [iconPos]="rtlHelper.createPosition('start')()"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.validated })
              "
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.included)) {
            <p-button
              [label]="
                REGISTRATION_STATUS_VERB[RegistrationStatusEnum.included]
              "
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.included]"
              [iconPos]="rtlHelper.createPosition('start')()"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.included })
              "
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.declined)) {
            <p-button
              [label]="
                REGISTRATION_STATUS_VERB[RegistrationStatusEnum.declined]
              "
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.declined]"
              [iconPos]="rtlHelper.createPosition('start')()"
              rounded
              outlined
              (click)="
                changeStatus({ status: RegistrationStatusEnum.declined })
              "
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.paused)) {
            <p-button
              [label]="REGISTRATION_STATUS_VERB[RegistrationStatusEnum.paused]"
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.paused]"
              [iconPos]="rtlHelper.createPosition('start')()"
              rounded
              outlined
              (click)="changeStatus({ status: RegistrationStatusEnum.paused })"
            />
          }
          @if (canSendMessage()) {
            <p-button
              label="Message"
              i18n-label
              icon="pi pi-envelope"
              [iconPos]="rtlHelper.createPosition('start')()"
              rounded
              outlined
              (click)="sendMessage()"
            />
          }
          @if (canChangeStatus()(RegistrationStatusEnum.deleted)) {
            <p-button
              [label]="REGISTRATION_STATUS_VERB[RegistrationStatusEnum.deleted]"
              [icon]="REGISTRATION_STATUS_ICON[RegistrationStatusEnum.deleted]"
              [iconPos]="rtlHelper.createPosition('start')()"
              rounded
              outlined
              (click)="changeStatus({ status: RegistrationStatusEnum.deleted })"
            />
          }
        </p-buttonGroup>
      </div>
      <ng-template #tableEmptyMessage>
        <div class="flex items-center">
          <i class="pi pi-user-plus me-3 inline text-xl"></i>

          <span
            i18n
            class="font-bold"
          >
            Welcome to {{ project.data()?.titlePortal | translatableString }}
          </span>
        </div>

        <ng-template #manualLink>
          <a
            href="https://manual.121.global/"
            target="_blank"
            title="Opens in a new window"
            i18n-title="@@generic-opens-in-new-window"
            class="p-button p-button-link gap-1"
            ><span i18n="@@generic-121-manual-title">121 Manual</span>
            <span class="p-button-icon pi pi-external-link text-sm"></span
          ></a>
        </ng-template>
        <p
          i18n
          class="mt-4"
        >
          There are no registrations in this project yet.<br />
          For information about importing registrations to your project check
          out the <ng-container [ngTemplateOutlet]="manualLink"></ng-container>.
        </p></ng-template
      >
    </app-registrations-table>
  </p-card>
</app-page-layout>

<app-send-message-dialog
  #sendMessageDialog
  [projectId]="projectId()"
  (actionComplete)="onActionComplete()"
/>

<app-change-status-dialog
  #changeStatusDialog
  [projectId]="projectId()"
  (actionComplete)="onActionComplete()"
/>
