<!--
  This is a one off component for images used inside the data list.

  Currently used for KOBO images, but can be used for other images in the future.
  It's kind of weird naming wise, because it can also 'mimic' a disabled input field.
  This is purely cosmetical, but needed to make sure there are no gaps in the data list
  when editing.
-->

@if (mode() === 'view') {
  <div class="flex items-center gap-2 inline-full">
    <strong>
      <i class="pi pi-image me-2"></i>
      {{ label() }}:
    </strong>
    <ng-content></ng-content>
  </div>
} @else {
  <app-form-field-wrapper [label]="label()">
    <div class="relative">
      <div
        class="from-grey-500/0 pointer-events-none absolute inset-y-px inset-e-20 bg-linear-to-r to-(--p-inputtext-disabled-background) inline-40"
      ></div>
      <input
        class="cursor-not-allowed"
        [value]="imageUrl()"
        autocomplete="off"
        formControlName=""
        type="text"
        pInputText
        readonly
        disabled
      />
      <ng-content></ng-content>
    </div>
  </app-form-field-wrapper>
}
