<app-page-layout
  pageTitle="Users"
  i18n-pageTitle="@@page-title-users"
>
  <div
    header-actions
    class="flex gap-x-2"
  >
    @if (canManageUsers()) {
      <p-button
        label="Add new user"
        i18n-label="@@add-user"
        rounded
        icon="pi pi-plus"
        [iconPos]="rtlHelper.createPosition('start')()"
        (click)="openForm('add')"
      />
      <app-add-user-dialog
        #addUserDialog
        [userToEdit]="formMode() === 'edit' ? selectedUser() : undefined"
      />
    }
  </div>
  <p-card>
    <app-query-table
      [items]="users.data() ?? []"
      [isPending]="users.isPending()"
      [columns]="columns()"
      localStorageKey="users-table"
      [contextMenuItems]="contextMenuItems()"
      (updateContextMenuItem)="selectedUser.set($event)"
      [globalFilterFields]="['displayName', 'username']"
      [initialSortField]="'displayName'"
    />
  </p-card>
</app-page-layout>
<app-form-dialog
  #resetPasswordConfirmationDialog
  header="Reset user password"
  i18n-header
  headerIcon="pi pi-refresh"
  proceedLabel="Reset password"
  i18n-proceedLabel="@@reset-password-button"
  [mutation]="resetPasswordMutation"
  [mutationData]="{ username: selectedUser()?.username }"
>
  <p i18n>
    You're about to reset
    <b>{{ selectedUser()?.displayName }}</b
    >'s password. The user will receive an email with the new password sent to
    their registered email address. Only proceed if the user has requested this
    action.
  </p>
</app-form-dialog>
