.filter-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.filter-input {
  min-width: 16em;
  max-width: 30%;
  min-height: 40px;
}

.button {
  --border-width: 0.5px;
  margin-inline-end: 20px;
}

.users-title {
  margin-bottom: 0px;
}
