<app-header [title]="'page.users.pageTitle' | translate"></app-header>
<ion-content class="ion-padding-vertical">
  <!--page title-->
  <section>
    <ion-item
      lines="none"
      color="light"
    >
      <ion-col class="ion-padding">
        <h2
          class="ion-no-margin ion-padding-top"
          class="users-title"
        >
          <strong> {{ 'page.users.pageTitle' | translate }} </strong>
        </h2>
        <p class="ion-no-margin">
          {{ 'page.users.page-description' | translate }}
        </p>
      </ion-col>
    </ion-item>

    <ion-segment
      (ionChange)="segmentChanged($event)"
      value="users"
      class="tab-bar"
    >
      <ion-segment-button
        data-testid="users-tab-button"
        value="users"
        class="tab-bar--tab"
      >
        <ion-label
          ><strong> {{ 'page.users.users-tab' | translate }}</strong></ion-label
        >
      </ion-segment-button>
      <ion-segment-button
        data-testid="users-roles-tab-button"
        value="roles"
        class="tab-bar--tab"
      >
        <ion-label
          ><strong>{{ 'page.users.roles-tab' | translate }}</strong></ion-label
        >
      </ion-segment-button>
    </ion-segment>

    <!--tab 1 users-->
    <div
      *ngIf="segment === 'users'"
      class="ion-padding"
    >
      <!--filter and add new user button-->
      <div class="filter-and-button">
        <!--filter-->
        <ion-item
          lines="none"
          style="border: 1px solid #d1d4d7; border-radius: 4px; height: 40px"
          class="ion-align-items-start ion-margin-start"
        >
          <ion-icon
            name="search"
            [attr.title]="'page.users.search' | translate"
            size="small"
            slot="start"
            class="ion-margin-end"
            style="height: 40px; margin-top: 0px; margin-bottom: 0opx"
            color="dark"
          ></ion-icon>
          <ion-input
            [placeholder]="'page.users.search' | translate"
            [attr.title]="'page.users.search' | translate"
            [attr.aria-label]="'page.users.search' | translate"
            (ionInput)="onInput($event.detail.value)"
            [debounce]="1000"
            [clearInput]="true"
            class="filter-input"
          >
          </ion-input>
        </ion-item>

        <!--add new user button-->
        <ion-button
          shape="round"
          fill="outline"
          class="button"
          [disabled]="true"
          item-end
          ><strong>{{
            'page.users.add-new-user' | translate
          }}</strong></ion-button
        >
      </div>

      <!--users table-->
      <div class="ion-padding">
        <app-users-table [filterValue]="filterInput"></app-users-table>
      </div>
    </div>

    <!--tab 2 roles-->
    <div
      *ngIf="segment === 'roles'"
      class="ion-padding"
    >
      <app-roles-list data-testid="roles-list-table"></app-roles-list>
    </div>
  </section>
</ion-content>
