<section #chooseCredentialType>
  <dialogue-turn>
    {{ 'personal.choose-credential-type.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self">
      <ion-radio-group [(ngModel)}]="credentialTypeChoice"
                       (ionChange)="changeCredentialType($event, 'apply-to-program')"
      >
        <ion-item *ngFor="let credentialType of credentialTypes"
                  color="light"
                  class="ion-no-padding ion-text-wrap"
                  [disabled]="credentialType.disabled || typeChosen"
        >
          <ion-label>{{ credentialType.credentialType }}</ion-label>
          <ion-radio value="{{ credentialType.id }}"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <p class="ion-margin-top">
        <ion-button *ngIf="!typeChosen"
                    (click)="submitCredentialType()"
                    [disabled]="typeChosen"
                    size="block"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </p>
  </dialogue-turn>
  <dialogue-turn *ngIf="programChosen">
    <p>
      {{ 'personal.choose-credential-type.conclusion-program'|translate }}
    </p>
    <p>
      <ion-button type="button" size="small">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        {{ 'personal.choose-credential-type.more-info-digital-id'|translate }}
      </ion-button>
    </p>

  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="programChosen"
  >
      <ion-radio-group [(ngModel)}]="credentialTypeChoiceNew"
                       (ionChange)="changeCredentialType($event, 'create-id')"
      >
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
        >
          <ion-label>{{ 'personal.choose-credential-type.option2'|translate }}</ion-label>
          <ion-radio value="create-id"
                     [disabled]="typeChosenNew"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <p class="ion-margin-top">
        <ion-button *ngIf="credentialTypeChoiceNew && !typeChosenNew"
                    (click)="submitCredentialTypeNew()"
                    [disabled]="typeChosenNew"
                    size="block"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </p>
  </dialogue-turn>
</section>
