<section #chooseCredentialType>
  <dialogue-turn>
    <p>
      {{ 'personal.choose-credential-type.introduction'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self">
      <ion-radio-group (ionChange)="changeCredentialType($event.detail.value)">
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
                  [disabled]="typeChosen"
        >
          <ion-label>{{ 'personal.choose-credential-type.apply-to-program'|translate }}</ion-label>
          <ion-radio value="apply-to-program"></ion-radio>
        </ion-item>
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
                  [disabled]="typeChosen"
        >
          <ion-label>{{ 'personal.choose-credential-type.create-id'|translate }}</ion-label>
          <ion-radio value="create-id"></ion-radio>
        </ion-item>
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
                  [disabled]="true || typeChosen"
        >
          <ion-label>{{ 'personal.choose-credential-type.delete-id'|translate }}</ion-label>
          <ion-radio value="delete-id"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <p class="ion-margin-top">
        <ion-button *ngIf="credentialTypeChoice && !typeChosen"
                    (click)="submitCredentialType()"
                    [disabled]="typeChosen"
                    expand="block"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </p>
  </dialogue-turn>
  <dialogue-turn *ngIf="programChosen"
                 [isSpoken]="programChosen"
  >
    <p>
      {{ 'personal.choose-credential-type.conclusion-program'|translate }}
    </p>
    <p>
      <ion-button type="button" size="small">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        {{ 'personal.choose-credential-type.more-info-digital-id'|translate }}
      </ion-button>
    </p>

  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="programChosen"
                 [isSpoken]="programChosen"
  >
      <ion-radio-group (ionChange)="changeCredentialType($event.detail.value)">
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
        >
          <ion-label>{{ 'personal.choose-credential-type.create-id'|translate }}</ion-label>
          <ion-radio value="create-id"
                     [disabled]="isDisabled"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <p class="ion-margin-top">
        <ion-button *ngIf="credentialTypeChoice === 'create-id' && !isDisabled"
                    (click)="submitCredentialTypeNew()"
                    [disabled]="isDisabled"
                    expand="block"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </p>
  </dialogue-turn>
</section>
