<app-button-menu
  label="Export"
  i18n-label="@@export"
  [menuItems]="exportOptions()"
  [icon]="'pi pi-upload'"
  [outlined]="true"
/>
<app-confirmation-dialog
  #exportFspPaymentListDialog
  [header]="fspPaymentListLabel()"
  headerIcon="pi pi-upload"
  [mutation]="exportFspPaymentListMutation"
  [mutationData]="exportFspPaymentListMutationData()"
>
  <p i18n>
    You're about to download an Excel file with the FSP instructions for this
    payment.
  </p>
</app-confirmation-dialog>
<app-confirmation-dialog
  #paymentReportDialog
  [header]="paymentReportLabel()"
  headerIcon="pi pi-upload"
  [mutation]="exportByTypeMutation"
  [mutationData]="{
    type: 'payments',
    paymentId: paymentId(),
  }"
>
  <p i18n>
    You're about to download an Excel file with all of the registrations
    included in this payment.
  </p>
</app-confirmation-dialog>
