<app-form-field-wrapper
  label="Financial service providers:"
  [isRequired]="false"
  [errorMessage]=""
  i18n-label
>
  <p-multiselect
    (ngModelChange)="selectedOptions.set($event); selectionChange.emit($event)"
    [loading]="programId() ? fspConfigurations.isPending() : false"
    [className]="'wrapped-chip-multiselect'"
    [options]="fspMultiselectOptions"
    [ngModel]="selectedOptions()"
    placeholder="Select FSPs"
    [maxSelectedLabels]="100"
    itemcheckboxicon="false"
    showToggleAll="false"
    optionValue="fspName"
    optionLabel="name"
    i18n-optionLabel
    i18n-placeholder
    i18n-optionValue
    display="chip"
    filter="false"
    i18n-display
  >
    <ng-template
      let-fsp
      #item
    >
      <div>{{ fsp.name | translatableString }}</div>
    </ng-template>
  </p-multiselect>
</app-form-field-wrapper>
