<app-form-field-wrapper
  label="Financial service providers:"
  i18n-label
  [errorMessage]=""
  [isRequired]="false"
>
  <p-multiselect
    [options]="fspMultiselectOptions"
    [ngModel]="selectedOptions()"
    (ngModelChange)="selectedOptions.set($event); selectionChange.emit($event)"
    placeholder="Select FSPs"
    i18n-placeholder
    optionLabel="name"
    i18n-optionLabel
    optionValue="fspName"
    i18n-optionValue
    display="chip"
    i18n-display
    [maxSelectedLabels]="100"
    [loading]="programId() ? fspConfigurations.isPending() : false"
    filter="false"
    showToggleAll="false"
    itemcheckboxicon="false"
    [className]="'wrapped-chip-multiselect'"
  >
    <ng-template
      let-fsp
      #item
    >
      <div>{{ fsp.name | translatableString }}</div>
    </ng-template>
  </p-multiselect>
</app-form-field-wrapper>
