<section *ngIf="!isCanceled">
  <dialogue-turn [actor]="ngo">
    <p>
      {{ 'personal.set-notification-number.introduction1'|translate }}
    </p>
    <ul>
      <li>
        {{ 'personal.set-notification-number.introduction2'|translate }}
      </li>
      <li>
        {{ 'personal.set-notification-number.introduction3'|translate }}
      </li>
      <li>
        {{ 'personal.set-notification-number.introduction4'|translate }}
      </li>
    </ul>
  </dialogue-turn>
  <dialogue-turn actor="self">
    <form (ngSubmit)="submitPhoneNumber(phone)">
      <ion-label>{{ 'personal.set-notification-number.input-label'|translate }}</ion-label>

      <phone-number-input name="phone"
                          [(ngModel)]="phone"
                          ngDefaultControl
                          [disabled]="isDisabled"
                          [(isValid)]="phoneNumberIsValid"
                          (ionFocus)="hasValidationError=false;"
      ></phone-number-input>

      <p class="ion-margin-top">
        <ion-button type="submit"
                    *ngIf="!isDisabled"
                    expand="block"
                    [disabled]="isDisabled || !phone"
        >{{ 'personal.set-notification-number.submit'|translate }}</ion-button>
      </p>
      <p class="ion-margin-top">
        <ion-button type="reset"
                    fill="outline"
                    expand="block"
                    (click)="skipPhone();"
                    *ngIf="!isDisabled"
                    [disabled]="isDisabled"
        >
          {{ 'personal.set-notification-number.skip'|translate }}
        </ion-button>
      </p>
    </form>

  </dialogue-turn>
  <dialogue-turn [actor]="ngo"
                 *ngIf="hasValidationError"
                 [isSpoken]="hasValidationError"
  >
    <p>
      {{ 'personal.set-notification-number.validation-error'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn [actor]="ngo"
                 *ngIf="choiceMade"
                 [isSpoken]="choiceMade"
  >
    <p *ngIf="!phoneSkipped"
       [innerHTML]="'personal.set-notification-number.conclusion-submitted'|translate:{ phone:phoneNumber }">
    </p>
    <p *ngIf="phoneSkipped">
      {{ 'personal.set-notification-number.conclusion-skipped'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn [actor]="ngo"
                 *ngIf="choiceMade && !useLocalStorage"
                 [isSpoken]="choiceMade && !useLocalStorage"
                 isConnected="true"
  >
    <p>
      {{ 'personal.set-notification-number.logout-info'|translate }}
    </p>
  </dialogue-turn>
</section>
