<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel'|translate"
        [attr.aria-label]="'common.cancel'|translate"
      >
        <ion-icon name="close" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  color="light"
  class="ion-padding"
>
  <div *ngIf="content">
    {{ content }}
  </div>
  <div *ngIf="imageUrl">
    <img [src]="imageUrl" alt="" style="width: 100%; height: auto;">
  </div>
</ion-content>
