<ion-header>
  <ion-toolbar>
    <ion-title>
      <ng-container *ngIf="titleError">
        {{ titleError }}
      </ng-container>
      <ng-container *ngIf="titleSinglePayment">
        {{ titleSinglePayment }}
      </ng-container>
      <ng-container *ngIf="titleMessageIcon && !titleError">
        <ion-icon
          *ngIf="titleMessageIcon"
          name="mail"
          size="small"
          aria-hidden="true"
          style="vertical-align: middle"
        >
        </ion-icon>
        {{ titleMessageIcon }}
        <br />
      </ng-container>
      <ng-container *ngIf="titleMoneyIcon && !titleError">
        <ion-icon
          name="cash"
          size="small"
          aria-hidden="true"
          style="vertical-align: middle"
        >
        </ion-icon>
        {{ titleMoneyIcon }}
      </ng-container>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon name="close" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <div *ngIf="content" [innerHTML]="content"></div>
  <div *ngIf="showRetryButton">
    <br />
    <ion-button (click)="retryPayment()">
      {{
        'page.program.program-people-affected.payment-status-popup.retry'
          | translate
      }}
    </ion-button>
    <ion-spinner
      *ngIf="isInProgress"
      color="primary"
      class="ion-margin-start"
    ></ion-spinner>
  </div>
  <div *ngIf="content && voucherButtons">
    <hr style="border-width: 1px 0 0 0" />
  </div>
  <div *ngIf="voucherButtons">
    <ion-button (click)="getBalance()">
      {{
        'page.program.program-people-affected.payment-status-popup.get-balance'
          | translate
      }}
    </ion-button>
    <br />
    <ion-button *ngIf="imageUrl" [href]="imageUrl" [download]="titleMoneyIcon">
      <ion-icon name="download" slot="start" aria-hidden="true"></ion-icon>
      {{
        'page.program.program-people-affected.payment-status-popup.download-voucher'
          | translate
      }}
    </ion-button>
    <ion-button *ngIf="sanitizedIimageUrl" (click)="printVoucher()">
      <ion-icon name="print" slot="start" aria-hidden="true"></ion-icon>
      {{
        'page.program.program-people-affected.payment-status-popup.print-voucher'
          | translate
      }}
    </ion-button>
  </div>
  <div *ngIf="sanitizedIimageUrl">
    <iframe
      id="voucherIframe"
      [src]="sanitizedIimageUrl"
      style="width: 100%; height: 450px; border: 0"
    ></iframe>
  </div>

  <div *ngIf="titleSinglePayment">
    <br />
    <ion-row class="ion-align-items-center">
      <ion-item class="ion-margin-end">
        <ion-label position="stacked">
          {{ 'page.program.program-details.fixedTransferValue' | translate }}
        </ion-label>
        <ion-input
          type="number"
          inputmode="decimal"
          min="0"
          step="5"
          size="4"
          required
          [(ngModel)]="singlePayoutDetails.amount"
          (ionChange)="updateTotalAmountMessage()"
          ngDefaultControl
        ></ion-input>
      </ion-item>

      <confirm-prompt
        [disabled]="isInProgress"
        (confirm)="singlePayment()"
        (cancel)="resetProgress()"
        [subHeader]="totalIncludedMessage"
        [message]="totalAmountMessage"
      >
        {{ singlePaymentPayout }}
      </confirm-prompt>
    </ion-row>
  </div>
</ion-content>
