<app-card-editable
  header="Registration questions"
  i18n-header
  editPencilTitle="Edit registration questions"
  i18n-editPencilTitle
  [canEdit]="false"
  [isEditing]="false"
  [formGroup]="formGroup"
  [mutation]="undefined"
  [mutationData]="formGroup.getRawValue()"
>
  <p
    i18n
    class="mb-4"
  >
    Below are the {{ programAttributes.data()?.length }} questions that will be
    displayed in the data table and on the profile page.<br />
    You can edit each column name to a shorter version.
  </p>

  <app-program-language-tabs
    [programId]="programId()"
    [(currentLanguage)]="currentLanguage"
    [languages]="programLanguages()"
  >
    <ng-template #languageTemplate>
      <p-table [value]="programAttributes.data() ?? []">
        <ng-template #header>
          <tr>
            <th
              i18n
              class="txt-body-s text-grey-700 w-1/2 font-semibold uppercase"
            >
              Data column name
              <app-info-tooltip
                [message]="'The data column name of the question.'"
              ></app-info-tooltip>
            </th>
            <th
              i18n
              class="txt-body-s text-grey-700 w-1/2 font-semibold uppercase"
            >
              Question label
              <app-info-tooltip
                [message]="`The label that will be shown in the registration page table header and registration's profile. The labels cand be edited by clicking on the pencil icon above.`"
              ></app-info-tooltip>
            </th>
          </tr>
        </ng-template>
        <ng-template
          #body
          let-attribute
        >
          <tr [formGroupName]="attribute.name">
            <td>{{ attribute.name }}</td>
            <td>
              {{
                attributeLabels()
                  ?.get(attribute.name)
                  ?.get(currentLanguage()) ?? attribute.name
              }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </app-program-language-tabs>
</app-card-editable>
