<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'common.confirm' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon name="close" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 *ngIf="subHeader" [innerHTML]="subHeader"></h2>
  <div *ngIf="message" [innerHTML]="message" class="ion-margin-vertical"></div>

  <div *ngIf="inputProps" class="ion-margin-vertical">
    <ion-item
      *ngIf="inputProps.checkbox"
      lines="none"
      style="--background: none"
    >
      <ion-label [innerHTML]="inputProps.checkbox"></ion-label>
      <ion-checkbox
        slot="start"
        [checked]="checked"
        (ionChange)="checkboxChange($event.detail.checked)"
      ></ion-checkbox>
    </ion-item>

    <div *ngIf="!inputProps.checkbox || (inputProps.checkbox && checked)">
      <div
        *ngIf="inputProps.explanation"
        [innerHTML]="inputProps.explanation"
        class="ion-margin-vertical"
      ></div>

      <ion-label>
        {{
          'common.confirm-message-label'
            | translate
              : {
                  minLength: inputProps.minLength
                }
        }}
      </ion-label>
      <ion-textarea
        name="message"
        #input="ngModel"
        [(ngModel)]="inputModel"
        [ngModelOptions]="{ standalone: true }"
        ngDefaultControl
        [required]="inputProps.inputRequired"
        rows="3"
        autoGrow="true"
        [minlength]="inputProps.minLength"
        [value]="inputProps.defaultValue"
        [placeholder]="inputProps.placeholder"
        style="
          font-family: monospace;
          border: 1px solid currentColor;
          height: 66px;
        "
      ></ion-textarea>
      <ion-note>
        {{ input?.value ? input?.value?.length : 0 }} (≥
        {{ inputProps.minLength }})
      </ion-note>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="clear" color="danger" (click)="closeModal()">
        {{ 'common.cancel' | translate }}
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        (click)="submitConfirm()"
        [disabled]="checkOkDisabled()"
      >
        {{ 'common.ok' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
