<section>
  <dialogue-turn [actor]="program?.ngo">
    <play-text-audio key="personal.select-fsp.introduction" class="ion-float-end ion-margin-start"></play-text-audio>
    <p>
      {{ 'personal.select-fsp.introduction'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="fsps"
                 [isSpoken]="fsps"
  >
    <form (submit)="submitFsp()">
      <ion-radio-group name="fsps"
                       (ionChange)="changeFsp($event)"
      >
        <ion-item *ngFor="let fsp of fsps"
                  color="light"
                  class="ion-no-padding ion-text-wrap"
        >
          <ion-label class="ion-text-wrap">
            {{ fsp.fsp }}
          </ion-label>
          <ion-radio [value]="fsp.id"
                     [checked]="(fsp.id === fspChoice)"
                     [disabled]="fspSubmitted"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-row *ngIf="fspChoice && !fspSubmitted"
               class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button"
                         type="forSubmit"
                         size="default"
        ></play-text-audio>
        <ion-button type="submit"
                    [disabled]="fspSubmitted || isDisabled"
                    expand="block"
                    style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </form>
  </dialogue-turn>
  <dialogue-turn [actor]="program?.ngo"
                 *ngIf="fspSubmitted"
                 [isSpoken]="fspSubmitted"
  >
    <play-text-audio key="personal.select-fsp.conclusion" class="ion-float-end ion-margin-start"></play-text-audio>
    <p [innerHTML]="'personal.select-fsp.conclusion'|translate:{ name:'<strong>'+chosenFsp?.fsp+'</strong>' }"></p>
  </dialogue-turn>

  <form *ngIf="questions?.length">
    <dialogue-turn isConnected="true"
                   isSpoken="true"
    >
      <play-text-audio key="personal.select-fsp.attributes.introduction" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.select-fsp.attributes.introduction'|translate }}
      </p>
    </dialogue-turn>

    <q-and-a-set [questions]="questions"
                 [answers]="customAttributeAnswers"
                 [(isSubmitted)]="isSubmitted"
                 [(isEditing)]="isEditing"
                 (submit)="submitCustomAttributes($event)"
                 submitLabel="personal.select-fsp.attributes.submit"
    ></q-and-a-set>

    <dialogue-turn [actor]="program?.ngo"
                   *ngIf="showResultSuccess"
                   [isSpoken]="showResultSuccess"
    >
      <play-text-audio key="personal.select-fsp.attributes.success" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.select-fsp.attributes.success'|translate }}
      </p>
    </dialogue-turn>
    <dialogue-turn [actor]="program?.ngo"
                   *ngIf="showResultError"
                   [isSpoken]="showResultError"
    >
      <play-text-audio key="personal.select-fsp.attributes.error" class="ion-float-end ion-margin-start"></play-text-audio>
      <p>
        {{ 'personal.select-fsp.attributes.error'|translate }}
      </p>
    </dialogue-turn>
  </form>

</section>
