
ion-tab-bar {
  border-bottom: none;
}

ion-tab-button {
  &#tab-button-personal {
    color: var(--ion-color-dark-contrast);
    background: var(--ion-color-dark-tint);

    &.tab-selected {
      background: var(--ion-color-dark);
    }
  }
 
  &#tab-button-tab1 {
    color: var(--ion-color-primary-contrast);
    background: var(--ion-color-primary-tint);

    &.tab-selected {
      background: var(--ion-color-primary);
    }
  }

}
