// Colors are aligned between AW-App and PA-App
// See: /interfaces/AW-App/src/app/tabs/tabs.page.scss
// See: /interfaces/PA-App/src/app/tabs/tabs.page.scss

ion-tab-bar {
  border-bottom: none;
}

ion-tab-button {
  &.tab-disabled {
    opacity: 0.6;
  }

  &#tab-button-personal {
    --color: var(--ion-color-dark-contrast);
    --color-selected: var(--ion-color-dark-contrast);
    --background: var(--ion-color-dark);
  }

  &#tab-button-tab1 {
    --color: var(--ion-color-dark-contrast);
    --color-selected: var(--ion-color-dark-contrast);
    --background: var(--ion-color-warning);
  }

  &#tab-button-tab2 {
    --background: #b5d0c4;
  }
}

.tab-button-person-icon {
  background: var(--ion-color-primary);
  color: white;
  border-radius: 50%;
  padding: 0.25em;
}
