<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button
      tab="personal"
      layout="label-hide"
      [title]="'tabs.you'|translate"
      [selected]="!multipleRegistrationMenuOpen"
    >
      <ion-icon
        name="chatbubbles"
        size="large"
        aria-hidden="true"
      ></ion-icon>
      <ion-label>{{ 'tabs.you'|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="multipleRegistration"
      (click)="openMultipleRegistrationsMenu()"
      layout="label-hide"
      [title]="'tabs.community'|translate"
      [selected]="multipleRegistrationMenuOpen"
    >
      <ion-icon
        name="people"
        size="large"
        aria-hidden="true"
      ></ion-icon>
      <ion-label>{{ 'tabs.community'|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button disabled layout="label-hide">
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button
      [disabled]="!isLoggedIn"
      (click)="openUserMenu()"
      layout="label-hide"
      [title]="'tabs.account'|translate"
    >
      <ion-icon
        name="person"
        size="large"
        class="tab-button-person-icon"
        aria-hidden="true"
      ></ion-icon>
      <ion-label>{{ 'tabs.account'|translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
