<app-query-table
  #table
  [items]="registrations()"
  [isPending]="registrationsResponse.isPending() || program.isPending()"
  [columns]="columns()"
  [localStorageKey]="localStorageKey()"
  [serverSideFiltering]="true"
  [serverSideTotalRecords]="totalRegistrations()"
  (updatePaginateQuery)="paginateQuery.set($event)"
  [enableSelection]="true"
  [contextMenuItems]="contextMenuItems()"
  (updateContextMenuItem)="contextMenuRegistration.set($event)"
  [enableColumnManagement]="true"
  initialSortField="registrationProgramId"
  [initialSortOrder]="-1"
>
  <div table-actions>
    @if (showSelectionInHeader()) {
      @let selectedItemsCount = table.selectedItemsCount();
      @if (selectedItemsCount) {
        <p class="txt-body-m font-normal">
          <b i18n>Registrations selected:</b> {{ selectedItemsCount }}
        </p>
      }
    }
    <ng-content select="[table-actions]"></ng-content>
  </div>
  @let emptyMessageTemplate = emptyMessage();
  @if (emptyMessageTemplate) {
    <ng-template #tableEmptyMessage>
      <ng-container [ngTemplateOutlet]="emptyMessageTemplate"></ng-container>
    </ng-template>
  }
</app-query-table>
