// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// Fix selector-bug from: '~@ionic/angular/css/float-elements.css'
// See: https://github.com/ionic-team/ionic-framework/issues/17012#issuecomment-500127886
[dir='rtl'] .ion-float-start {
  float: right !important;
}
[dir='rtl'] .ion-float-end {
  float: left !important;
}

// Make numeric input data stand out more
input[inputmode='tel'],
input[inputmode='numeric'] {
  font-family: monospace !important;
  font-feature-settings: 'tnum';
}
