<div
  class="metrics"
  [ngClass]="{ 'is-collapsed': isCollapsed }"
>
  <table class="metrics--table">
    <tbody>
      <ng-container *ngFor="let metric of metricList">
        <tr>
          <td class="metrics--cell-label">
            {{ metric.label | translate }}
          </td>
          <td class="metrics--cell-value ion-text-end">
            {{ metric.value }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div *ngIf="!isCollapsed">
    <app-refresh-data
      [lastUpdated]="lastUpdated"
      [locale]="locale"
      (refresh)="update()"
    ></app-refresh-data>
  </div>
</div>
