<ng-template
  #statContainer
  let-statAmount="statAmount"
  let-statName="statName"
  let-statLabel="statLabel"
>
  <div class="ion-padding">
    <ion-col>
      <ion-text color="dark">
        <h1>
          <strong>
            {{ statAmount }}
          </strong>
        </h1>
      </ion-text>
      <ion-text>
        <small>
          <strong>
            {{ statLabel }}
            <span *ngIf="['budget', 'spent'].includes(statName)">
              ({{ program.currency }})
            </span>
          </strong>
        </small>
      </ion-text>
    </ion-col>
  </div>
</ng-template>

<ion-card
  *ngIf="program"
  [routerLink]="['/program', program.id, appRoute.peopleAffected]"
>
  <!-- Hardcode registrationValidation this should change when other phase related changes are ready -->
  <ion-card-header>
    <ion-card-title color="primary">
      <strong class="program-title">{{ program.titlePortal }}</strong>
    </ion-card-title>
    <ion-card-subtitle color="medium">
      <small>
        <strong>
          {{ 'page.programs-list.card.updated' | translate }}
          {{ program.updated | date: DateFormat.dayAndTime : locale }}
        </strong>
      </small>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content
    class="porgram-card--central-content ion-no-padding ion-padding-vertical"
  >
    <div>
      <ion-grid class="ion-no-padding">
        <ion-row class="border-block-end">
          <ion-col class="border-inline-end">
            <ng-container
              *ngTemplateOutlet="
                statContainer;
                context: {
                  statAmount:
                    programStats?.targetedPeople > 0
                      ? (programStats?.targetedPeople | number: '1.0-0')
                      : '-',
                  statName: 'targeted',
                  statLabel: 'page.programs-list.card.targeted' | translate
                }
              "
            ></ng-container>
          </ion-col>
          <ion-col>
            <ng-container
              *ngTemplateOutlet="
                statContainer;
                context: {
                  statAmount:
                    programStats?.includedPeople > 0
                      ? (programStats?.includedPeople | number: '1.0-0')
                      : '-',
                  statName: 'included',
                  statLabel: 'page.programs-list.card.included' | translate
                }
              "
            ></ng-container>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="border-inline-end">
            <ng-container
              *ngIf="programStats?.totalBudget && programStats?.totalBudget > 0"
            >
              <ng-container
                *ngTemplateOutlet="
                  statContainer;
                  context: {
                    statAmount:
                      programStats?.totalBudget
                      | currency: program.currency : '' : '1.0-0' : locale,
                    statName: 'budget',
                    statLabel: 'page.programs-list.card.budget' | translate
                  }
                "
              ></ng-container>
            </ng-container>
          </ion-col>
          <ion-col>
            <ng-container
              *ngTemplateOutlet="
                statContainer;
                context: {
                  statAmount:
                    programStats?.spentMoney > 0
                      ? (programStats?.spentMoney
                        | currency: program.currency : '' : '1.0-0' : locale)
                      : '-',
                  statName: 'spent',
                  statLabel: 'page.programs-list.card.spent' | translate
                }
              "
            ></ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-card-content>
</ion-card>
