<section>
  <dialogue-turn [actor]="currentProgram?.ngo"
                 *ngIf="credentialReceived"
                 [isSpoken]="credentialReceived"
  >
    <p [innerHTML]="'personal.store-credential.done'|translate:{ ngo: currentProgram?.ngo }"></p>
  </dialogue-turn>
  <br>
  <br>
  <dialogue-turn actor="self"
                 *ngIf="credentialReceived"
                 [isSpoken]="credentialReceived"
                 isConnected="true"
  >
  <p>
      {{ 'personal.store-credential.received'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="credentialStored"
                 [isSpoken]="credentialStored"
                 isConnected="true"
  >
    <p>
      {{ 'personal.store-credential.stored'|translate }}
    </p>
  </dialogue-turn>

  <div *ngIf="isDebug && !isDisabled && !isListening"
       class="ion-text-center ion-padding"
  >
    <ion-button type="button"
                fill="outline"
                color="tertiary"
                *ngIf="!credentialReceived || !credentialStored"
                (click)="isListening=true;startListening()"
    >Start listening</ion-button>
  </div>

  <div *ngIf="isDebug && !isDisabled"
       class="ion-text-center ion-padding"
  >
    <ion-button type="button"
                fill="outline"
                color="tertiary"
                *ngIf="!credentialReceived || !credentialStored"
                (click)="credentialReceived=true;credentialStored=true;complete()"
    >Receive+Store Credential</ion-button>
  </div>


</section>
