<section>
  <dialogue-turn actor="NGO"
                 *ngIf="credentialReceived"
                 [isSpoken]="credentialReceived"
  >
    <p>
      {{ 'personal.store-credential.done'|translate }}
    </p>
  </dialogue-turn>
  <br>
  <br>
  <dialogue-turn actor="self"
                 *ngIf="credentialReceived"
                 [isSpoken]="credentialReceived"
                 isConnected="true"
  >
  <p>
      {{ 'personal.store-credential.received'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self"
                 *ngIf="credentialStored"
                 [isSpoken]="credentialStored"
                 isConnected="true"
  >
    <p>
      {{ 'personal.store-credential.stored'|translate }}
    </p>
  </dialogue-turn>
</section>
