<app-page-layout
  pageTitle="All programs"
  i18n-pageTitle="@@page-title-all-programs"
>
  <div header-actions>
    @if (canCreatePrograms) {
      <p-button
        label="Create new program"
        i18n-label="@@create-new-program-label"
        outlined
        rounded
        icon="pi pi-plus"
        [iconPos]="rtlHelper.createPosition('start')()"
        (click)="createProgramDialog.show()"
      />
      <app-create-program-dialog #createProgramDialog />
    }
  </div>

  @if (assignedPrograms.length === 0) {
    <app-info-card
      subtitle="You are not assigned to any program(s) yet, contact the admin/supervisor to start using the 121 portal."
      i18n-subtitle
      title="No Programs found"
      i18n-title
    />
  } @else {
    <app-card-grid>
      @for (id of assignedPrograms; track $index) {
        <li>
          <app-program-summary-card
            [id]="id"
            class="block-full"
          />
        </li>
      }
    </app-card-grid>
  }
</app-page-layout>
