<app-card-editable
  header="Basic information"
  i18n-header="@@card-title-project-settings-basic-information"
  editPencilTitle="Edit basic information"
  i18n-editPencilTitle
  [canEdit]="canEdit()"
  [(isEditing)]="isEditing"
  [formGroup]="formGroup()"
  [mutation]="updateProjectMutation"
  [mutationData]="formGroup()?.getRawValue()"
>
  <p
    i18n
    class="mb-4"
  >
    Enter the basic details of your project, these details will define your
    project's setup and structure.
  </p>

  @if (!isEditing()) {
    <app-data-list
      [data]="projectBasicInformationData()"
      data-testid="project-basic-information-data-list"
    />
  } @else {
    <app-project-form-name
      #projectFormName
      [project]="project.data()"
    />
    <app-project-form-information
      #projectFormInformation
      [project]="project.data()"
    />
  }
</app-card-editable>
