# Rules for all interfaces:
# -------------------------

# Build Configuration/secrets:
.env
environment.dev.ts
environment.prod.ts


## Third-party code:
node_modules/


## Temporary/Generated code/files:
.ionic/
www/
*.js.map
coverage/
.angular/

# IDE / Editor configurations
.vscode/*
!.vscode/settings.json

# IDE-specific files
*.sublime-project
*.sublime-workspace
.idea/
