# Rules for all interfaces:

## Third-party code:
node_modules/


# Ionic related files
.ionic/
www/
platforms/
plugins/
plugins/android.json
plugins/ios.json
*/resources/ios/
*/resources/android/
*.keystore
*.apk


## Temporary/Generated code/files:
# dist/
*.js.map
# .sourcemaps/
# .sass-cache/
coverage/


# IDE-specific files
*.sublime-project
*.sublime-workspace
.vscode/
.idea/
