# Rules for all interfaces:
# -------------------------

# Build Configuration/secrets:
.env
environment.prod.ts


## Third-party code:
node_modules/


# Ionic related files
.ionic/
www/

## Temporary/Generated code/files:
*.js.map
coverage/

# IDE / Editor configurations
.vscode/*
!.vscode/settings.json

# IDE-specific files
*.sublime-project
*.sublime-workspace
.idea/
