<app-page-layout-program-settings [programId]="programId()">
  <p-card>
    <div class="mbe-2 flex items-center gap-x-2 min-block-7.5">
      <h2
        i18n="@@page-title-program-settings-team"
        class="mbe-1"
      >
        Program team
      </h2>
      <div class="relative -inset-e-1 -inset-bs-1 ms-auto">
        @if (canManageAidworkers()) {
          <p-button
            label="Add user to team"
            i18n-label
            rounded
            [size]="'small'"
            outlined
            icon="pi pi-plus text-xs"
            [iconPos]="rtlHelper.createPosition('start')()"
            (click)="openForm('add')"
          />
        }
      </div>
    </div>

    <div class="mbe-6">
      <p i18n>Add users to your program team and assign roles to them.</p>
    </div>

    <app-query-table
      [items]="programUsers.data() ?? []"
      [isPending]="programUsers.isPending()"
      [columns]="columns()"
      localStorageKey="program-team-table"
      [contextMenuItems]="
        canManageAidworkers() ? contextMenuItems() : undefined
      "
      (updateContextMenuItem)="selectedUser.set($event)"
      [globalFilterFields]="['username', 'allRolesLabel', 'scope']"
      [initialSortField]="'username'"
    ></app-query-table>

    <app-add-program-team-user-dialog
      #addUserDialog
      [programId]="programId()"
      [enableScope]="enableScope()"
      [userToEdit]="formMode() === 'edit' ? selectedUser() : undefined"
    />
  </p-card>
</app-page-layout-program-settings>
<app-form-dialog
  #removeUserConfirmationDialog
  header="Remove user from team"
  i18n-header
  headerIcon="pi pi-trash"
  proceedLabel="Remove user"
  i18n-proceedLabel="@@remove-user-button"
  [mutation]="removeUserMutation"
  [mutationData]="{ userId: selectedUser()?.id }"
>
  <p i18n>
    You're about to remove
    <b>{{ selectedUser()?.username }}</b> ({{ selectedUser()?.allRolesLabel }})
    from your team.<br />They will not have access to the program anymore.
  </p>
</app-form-dialog>
