<app-card-with-link
  [href]="programLink(id())"
  [title]="program.data()?.titlePortal | translatableString"
  [loading]="program.isPending()"
>
  <ng-container card-content>
    <app-card-summary-metrics-container
      [summaryMetrics]="summaryMetrics()"
    ></app-card-summary-metrics-container>
  </ng-container>
  <ng-container card-footer>
    <div class="text-end">
      <span class="text-grey-700 txt-system-s">
        @if (payments.isPending()) {
          <app-skeleton-inline width="8rem" />
        } @else {
          @if (getLastPayment()) {
            <ng-container i18n>Last payment: </ng-container>
            {{ getLastPayment()!.paymentDate | date: 'shortDate' }}
          } @else {
            <ng-container i18n>No payments yet</ng-container>
          }
        }
      </span>
    </div>
  </ng-container>
</app-card-with-link>
