<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'PERSONAL'|translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="ion-padding-vertical">

  <details class="debug--container" *ngIf="isDebug">
    <summary class="debug--toggle">DEBUG:</summary>

    <ion-button (click)="sayHello()">Hello!</ion-button>


  </details>

  <dialogue-turn>
    <ion-button id="debugGetCountries" (click)="getCountries()">Test Get Countries API</ion-button>
  </dialogue-turn>
  <dialogue-turn actor="self">
    Select a country:
    <ion-radio-group [(ngModel)]="countryChoice">
      <ion-item *ngFor="let country of countries; index as i" color="light">
        <ion-label for="test1">{{ country.country }}</ion-label>
        <ion-radio id="test1" value="{{ country.id }}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </dialogue-turn>

  <dialogue-turn>
    <ion-button (click)="getProgramsByCountryId(countryChoice)">Test Programs API</ion-button>
  </dialogue-turn>

  <dialogue-turn actor="self">
    Select a program:
    <ion-radio-group>
      <ion-item *ngFor="let program of programs; index as i" color="light">
        <ion-label for="test1">Program #{{ program.id }}</ion-label>
        <ion-radio id="test1"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </dialogue-turn>



  <div *ngFor="let turn of conversation; index as i;">
    <dialogue-turn [actor]="turn.actor"
                   [isConnected]="turn.isConnected"
    >
      {{ turn.content }}
    </dialogue-turn>
  </div>

  <ion-button (click)="sayHello()">Hello!</ion-button>

</ion-content>
