<app-refresh-data
  [lastUpdated]="lastUpdated"
  (refresh)="update()"
></app-refresh-data>

<div class="chart-container">

  <tooltip [value]="'page.program.metrics.over-time.tooltip'|translate"></tooltip>
  <ngx-charts-bar-vertical-stacked
    [scheme]="'ocean'"
    [results]="chartData"
    [animations]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [legendTitle]="''"
    [legendPosition]="'bottom'"
    [showXAxisLabel]="true"
    [xAxisLabel]="'page.program.metrics.over-time.payment-label'|translate"
    [showYAxisLabel]="false"
    [showGridLines]="true"
    [showDataLabel]="false"
  ></ngx-charts-bar-vertical-stacked>

</div>
