<ion-card>
  <ion-card-header>
    <ion-card-title data-testid="physical-cards-overview-title">
      {{ 'registration-details.physical-cards-overview.title' | translate }}
    </ion-card-title>
  </ion-card-header>

  <ng-container *ngIf="showPhysicalCardOverview()">
    <ion-item *ngIf="loading">
      <ion-spinner color="primary"></ion-spinner>
    </ion-item>

    <ion-card-content
      *ngIf="!loading"
      class="ion-no-padding"
    >
      <ion-list>
        <!-- Wallet Number -->
        <ion-item>
          <ion-label class="label-card-overview">
            {{
              'registration-details.physical-cards-overview.wallet-number'
                | translate
            }}:
          </ion-label>
          <ion-label class="label-card-overview ion-text-end">
            <strong>
              {{ wallet?.tokenCode }}
            </strong>
          </ion-label>
        </ion-item>
        <!-- Current balance -->
        <ion-item>
          <ion-label class="label-card-overview">
            {{
              'registration-details.physical-cards-overview.current-balance'
                | translate
            }}:
          </ion-label>
          <ion-label class="label-card-overview ion-text-end">
            <strong>
              {{
                wallet?.balance / 100
                  | currency: currency : 'code' : '1.2-2' : locale
              }}
            </strong>
          </ion-label>
        </ion-item>

        <!-- Spend this month -->
        <ion-item>
          <ion-label class="label-card-overview">
            {{
              'registration-details.physical-cards-overview.spent-this-month'
                | translate
                  : {
                      maxAmount:
                        wallet?.maxToSpendPerMonth / 100
                        | currency: currency : 'code' : '1.2-2' : locale,
                    }
            }}:
          </ion-label>
          <ion-label class="label-card-overview ion-text-end">
            <strong>
              {{
                wallet?.spentThisMonth / 100
                  | currency: currency : 'code' : '1.2-2' : locale
              }}
            </strong>
          </ion-label>
        </ion-item>
        <!-- Last used -->
        <ion-item>
          <ion-label class="label-card-overview">
            {{
              'registration-details.physical-cards-overview.date-last-used'
                | translate
            }}:
          </ion-label>
          <ion-label class="label-card-overview ion-text-end">
            <strong>
              {{
                (wallet?.lastUsedDate
                  | date: DateFormat.dayAndTimeAlternative : locale) ||
                  'registration-details.physical-cards-overview.not-used-yet'
                  | translate
              }}
            </strong>
          </ion-label>
        </ion-item>
        <ion-item
          *ngFor="let card of wallet?.cards"
          button
          [detail]="true"
          [detail-icon]="'card'"
          (click)="openCardDetails(card)"
        >
          <ion-label
            class="label-card-overview util--half-margin-end"
            [title]="card.tokenCode"
          >
            {{
              'registration-details.physical-cards-overview.card-number'
                | translate
            }}:
            <code>{{ card.tokenCode }}</code>
          </ion-label>
          <span
            data-testid="physical-card-status-badge"
            class="badge"
            [ngClass]="
              'physical-card-status-' +
              card.status.replace(' ', '-').toLowerCase()
            "
          >
            {{ card.status }}
          </span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ng-container>
</ion-card>
