<app-page-layout
  [programId]="programId()"
  [parentPageLink]="allPaymentsLink()"
  parentPageTitle="All Payments"
  i18n-parentPageTitle
  [pageTitle]="paymentTitle()"
  [isPending]="payments.isPending()"
>
  <p-card styleClass="mb-5">
    <div class="flex items-center gap-x-4">
      <h1 class="me-auto">
        {{ paymentTitle() }}
        <app-colored-chip-payment-approval-status
          [isPaymentApproved]="
            paymentAggregateData()?.isPaymentApproved ?? false
          "
          [approvalsGiven]="paymentAggregateData()?.approvalsGiven ?? 0"
          [approvalsRequired]="paymentAggregateData()?.approvalsRequired ?? 0"
        />
      </h1>
      @if (showApprovePaymentButton()) {
        <app-approve-payment
          [programId]="programId()"
          [paymentId]="paymentId()"
          [fspList]="paymentFspList()"
          [transactionCount]="
            paymentTransactionCountByStatus(
              TransactionStatusEnum.pendingApproval
            )()
          "
          [totalPaymentAmount]="
            paymentTotalTransferValueByStatus(
              TransactionStatusEnum.pendingApproval
            )()
          "
          [approvedBadgeLabel]="statusBadgeLabel()"
        ></app-approve-payment>
      }
      @if (showStartPaymentButton()) {
        <app-start-payment
          [programId]="programId()"
          [paymentId]="paymentId()"
          [fspList]="paymentFspList()"
          [transactionCount]="
            paymentTransactionCountByStatus(TransactionStatusEnum.approved)()
          "
          [totalPaymentAmount]="
            paymentTotalTransferValueByStatus(TransactionStatusEnum.approved)()
          "
        ></app-start-payment>
      }

      @if (hasFspWithExportFileIntegration()) {
        <app-import-reconciliation-data
          [paymentId]="paymentId()"
          [programId]="programId()"
        />
      }
      <app-single-payment-export
        [programId]="programId()"
        [paymentId]="paymentId()"
        [hasExportFileIntegration]="hasFspWithExportFileIntegration()"
      />
    </div>
  </p-card>
  <div
    class="grid gap-5 [grid-template-areas:'chart_chart''metric1_metric2''table_table'] md:grid-cols-[1fr_24rem] md:[grid-template-areas:'chart_metric1''chart_metric2''table_table']"
  >
    @if (!paymentAggregateData()) {
      <p-skeleton
        class="[grid-area:chart]"
        height="100%"
      ></p-skeleton>
    } @else if (paymentAggregateData()?.pendingApproval?.count === 0) {
      <p-card
        class="[grid-area:chart] [&_.p-card]:h-full [&_.p-card-body]:h-full"
      >
        <p
          i18n
          class="txt-h-2 mb-6 font-medium"
        >
          Transactions data
        </p>
        <!-- ! required because Angular doesn't track type narrowing across @if/@else blocks -->
        <app-program-payment-chart
          [paymentDetails]="paymentAggregateData()!"
        ></app-program-payment-chart>
      </p-card>
    } @else {
      <p-card
        class="[grid-area:chart] [&_.p-card]:h-full [&_.p-card-body]:h-full"
      >
        <p
          i18n
          class="txt-h-2 mb-6 font-medium"
        >
          Approval flow
        </p>
        <div>
          @for (
            approvalStep of paymentAggregateData()?.approvalStatus;
            track $index
          ) {
            <div
              class="mb-6 flex flex-row"
              data-testid="approval-flow-row"
            >
              <span
                class="me-3 flex h-6.5 w-6.5 items-center justify-center rounded-full"
                [ngClass]="{
                  'bg-purple-700 text-white':
                    approvalStep.rank === firstPendingApprovalRank(),
                  'bg-purple-300 text-purple-700':
                    approvalStep.rank > firstPendingApprovalRank(),
                }"
              >
                @if (approvalStep.approved) {
                  <i class="pi pi-check-circle text-2xl text-green-500"></i>
                } @else {
                  {{ approvalStep.rank }}
                }
              </span>
              @for (
                approver of approvalStep.approvers;
                track $index;
                let lastElement = $last
              ) {
                <app-colored-chip
                  [label]="approver"
                  variant="grey"
                />
                @if (!lastElement) {
                  <span
                    i18n
                    class="mx-2"
                    >or</span
                  >
                }
              }
            </div>
          }
        </div>
      </p-card>
    }

    <app-metric-tile
      class="[grid-area:metric1]"
      [pending]="paymentStatus.isPending() || transactionsResponse.isPending()"
      [metricValue]="totalRegistrations()"
      metricLabel="Total registrations"
      i18n-metricLabel
      [chipIcon]="isPaymentInProgress() ? 'pi pi-spinner' : undefined"
      [chipVariant]="isPaymentInProgress() ? 'orange' : undefined"
      [chipLabel]="chipLabel()"
      i18n-chipLabel="@@inProgressChipLabel"
      [chipTooltip]="chipTooltip()"
      i18n-chipTooltip="@@inProgressChipTooltip"
    />
    <app-metric-tile
      class="[grid-area:metric2]"
      [pending]="false"
      [metricValue]="totalPaymentAmount()"
      metricLabel="Total amount"
      i18n-metricLabel
      [chipLabel]="successfulPaymentsAmount()"
      chipIcon="pi pi-check-circle"
      chipVariant="green"
      chipTooltip="Amount of money successfully transferred."
      i18n-chipTooltip
      metricTooltip="The total payment amount is calculated by summing up the transfer values of each included registration added to the payment."
      i18n-metricTooltip
    />

    <p-card
      class="overflow-x-auto [grid-area:table]"
      styleClass="[&_.p-card-body]:pt-3"
    >
      <app-payment-menu
        [programId]="programId()"
        [paymentId]="paymentId()"
      />
      <ng-content></ng-content>
    </p-card>
  </div>
</app-page-layout>
