<app-page-layout
  [programId]="programId()"
  [parentPageLink]="allPaymentsLink()"
  parentPageTitle="All Payments"
  i18n-parentPageTitle
  [pageTitle]="paymentTitle()"
  [isPending]="payments.isPending()"
>
  <p-card styleClass="mb-5">
    <div class="flex items-center gap-x-4">
      <h1 class="me-auto">
        {{ paymentTitle() }}
        <app-colored-chip
          [label]="statusBadgeLabel()"
          [variant]="statusBadgeColor()"
        />
      </h1>
      @if (showApprovePaymentButton() && canApprovePayment()) {
        <app-approve-payment
          [programId]="programId()"
          [paymentId]="paymentId()"
          [fspList]="paymentFspList()"
          [transactionCount]="paymentTransactionCount('approve')()"
          [totalPaymentAmount]="paymentTotalPaymentAmount('approve')()"
          [approvedBadgeLabel]="statusBadgeLabel()"
        ></app-approve-payment>
      }
      @if (showStartPaymentButton() && canStartPayment()) {
        <app-start-payment
          [programId]="programId()"
          [paymentId]="paymentId()"
          [fspList]="paymentFspList()"
          [transactionCount]="paymentTransactionCount('start')()"
          [totalPaymentAmount]="paymentTotalPaymentAmount('start')()"
        ></app-start-payment>
      }

      @if (hasFspWithExportFileIntegration()) {
        <app-import-reconciliation-data
          [paymentId]="paymentId()"
          [programId]="programId()"
        />
      }
      <app-single-payment-export
        [programId]="programId()"
        [paymentId]="paymentId()"
        [hasExportFileIntegration]="hasFspWithExportFileIntegration()"
      />
    </div>
  </p-card>
  <div
    class="grid gap-5 [grid-template-areas:'chart_chart''metric1_metric2''table_table'] md:grid-cols-[1fr_24rem] md:[grid-template-areas:'chart_metric1''chart_metric2''table_table']"
  >
    @let paymentDetails = this.payment.data();

    @if (!paymentDetails) {
      <p-skeleton
        class="[grid-area:chart]"
        height="100%"
      ></p-skeleton>
    } @else if (paymentDetails.pendingApproval.count === 0) {
      <p-card
        class="[grid-area:chart] [&_.p-card]:h-full [&_.p-card-body]:h-full"
      >
        <p
          i18n
          class="txt-h-2 mb-6 font-medium"
        >
          Transactions data
        </p>
        <app-program-payment-chart
          [paymentDetails]="paymentDetails"
        ></app-program-payment-chart>
      </p-card>
    } @else {
      <p-card
        class="[grid-area:chart] [&_.p-card]:h-full [&_.p-card-body]:h-full"
      >
        <p
          i18n
          class="txt-h-2 mb-6 font-medium"
        >
          Approval flow
        </p>
        @for (approver of paymentDetails.approvalStatus; track $index) {
          <div class="relative mb-4 flex items-center">
            <div class="z-10 me-3 flex flex-col items-center">
              <div
                class="flex h-7 w-7 items-center justify-center rounded-full border-2"
                [ngClass]="{
                  'border-green-500 bg-green-100 text-green-700':
                    approver.approved,
                  'border-purple-700 bg-purple-700 text-white':
                    !approver.approved &&
                    $index === firstPendingApprovalIndex(),
                  'text-grey-700 border-purple-300 bg-purple-300':
                    !approver.approved &&
                    $index !== firstPendingApprovalIndex(),
                }"
              >
                @if (approver.approved) {
                  <i class="pi pi-check text-green-500"></i>
                } @else {
                  {{ $index + 1 }}
                }
              </div>
            </div>
            <span>
              <app-colored-chip
                [label]="approver.username!"
                variant="grey"
              />
            </span>
          </div>
        }
      </p-card>
    }

    <app-metric-tile
      class="[grid-area:metric1]"
      [pending]="paymentStatus.isPending() || transactionsResponse.isPending()"
      [metricValue]="totalRegistrations()"
      metricLabel="Total registrations"
      i18n-metricLabel
      [chipIcon]="isPaymentInProgress() ? 'pi pi-spinner' : undefined"
      [chipVariant]="isPaymentInProgress() ? 'orange' : undefined"
      [chipLabel]="chipLabel()"
      i18n-chipLabel="@@inProgressChipLabel"
      [chipTooltip]="chipTooltip()"
      i18n-chipTooltip="@@inProgressChipTooltip"
    />
    <app-metric-tile
      class="[grid-area:metric2]"
      [pending]="false"
      [metricValue]="totalPaymentAmount()"
      metricLabel="Total amount"
      i18n-metricLabel
      [chipLabel]="successfulPaymentsAmount()"
      chipIcon="pi pi-check-circle"
      chipVariant="green"
      chipTooltip="Amount of money successfully transferred."
      i18n-chipTooltip
      metricTooltip="The total payment amount is calculated by summing up the transfer values of each included registration added to the payment."
      i18n-metricTooltip
    />

    <p-card
      class="overflow-x-auto [grid-area:table]"
      styleClass="[&_.p-card-body]:pt-3"
    >
      <app-payment-menu
        [programId]="programId()"
        [paymentId]="paymentId()"
      />
      <ng-content></ng-content>
    </p-card>
  </div>
</app-page-layout>
