<app-page-layout
  [projectId]="projectId()"
  [parentPageLink]="allPaymentsLink()"
  parentPageTitle="All Payments"
  i18n-parentPageTitle
  [pageTitle]="paymentTitle()"
  [isPending]="payments.isPending()"
>
  <p-card styleClass="mb-5">
    <div class="flex items-center gap-x-4">
      <h1 class="me-auto">
        {{ paymentTitle() }}
      </h1>
      @if (showStartPaymentButton() && canStartPayment()) {
        <app-start-payment
          [projectId]="projectId()"
          [paymentId]="paymentId()"
          [fspList]="startPaymentFspList()"
          [transactionCount]="startPaymentTransactionCount()"
          [totalPaymentAmount]="startPaymentTotalPaymentAmount()"
        ></app-start-payment>
      }

      @if (hasFspWithExportFileIntegration()) {
        <app-import-reconciliation-data
          [paymentId]="paymentId()"
          [projectId]="projectId()"
        />
      }
      <app-single-payment-export
        [projectId]="projectId()"
        [paymentId]="paymentId()"
        [hasExportFileIntegration]="hasFspWithExportFileIntegration()"
      />
    </div>
  </p-card>
  <div
    class="grid gap-5 [grid-template-areas:'chart_chart''metric1_metric2''table_table'] md:grid-cols-[1fr_24rem] md:[grid-template-areas:'chart_metric1''chart_metric2''table_table']"
  >
    @let paymentDetails = this.payment.data();

    @if (!paymentDetails) {
      <p-skeleton
        class="[grid-area:chart]"
        height="100%"
      ></p-skeleton>
    } @else {
      <p-card
        class="[grid-area:chart] [&_.p-card]:h-full [&_.p-card-body]:h-full"
      >
        <p
          i18n
          class="txt-h-2 mb-6 font-medium"
        >
          Transfers data
        </p>
        <app-project-payment-chart
          [paymentDetails]="paymentDetails"
        ></app-project-payment-chart>
      </p-card>
    }

    <app-metric-tile
      class="[grid-area:metric1]"
      [pending]="paymentStatus.isPending() || transactions.isPending()"
      [metricValue]="totalRegistrations()"
      metricLabel="Total registrations"
      i18n-metricLabel
      [chipIcon]="isPaymentInProgress() ? 'pi pi-spinner' : undefined"
      [chipVariant]="isPaymentInProgress() ? 'orange' : undefined"
      [chipLabel]="chipLabel()"
      i18n-chipLabel="@@inProgressChipLabel"
      [chipTooltip]="chipTooltip()"
      i18n-chipTooltip="@@inProgressChipTooltip"
    />
    <app-metric-tile
      class="[grid-area:metric2]"
      [pending]="false"
      [metricValue]="totalPaymentAmount()"
      metricLabel="Total amount"
      i18n-metricLabel
      [chipLabel]="successfulPaymentsAmount()"
      chipIcon="pi pi-check-circle"
      chipVariant="green"
      chipTooltip="Amount of money successfully transferred."
      i18n-chipTooltip
      metricTooltip="The total payment amount is calculated by summing up the transfer values of each included registration added to the payment."
      i18n-metricTooltip
    />

    <p-card
      class="overflow-x-auto [grid-area:table]"
      styleClass="[&_.p-card-body]:pt-3"
    >
      <app-payment-menu
        [projectId]="projectId()"
        [paymentId]="paymentId()"
      />
      <ng-content></ng-content>
    </p-card>
  </div>
</app-page-layout>
