<app-page-layout
  pageTitle=""
  i18n-pageTitle="@@page-title-project-registration-debit-cards"
  [projectId]="projectId()"
  [registrationId]="registrationId()"
>
  <div
    registration-page
    class="px-2"
  >
    <div class="my-auto ms-auto flex">
      @if (currentCardHasAction()('pause')) {
        <p-button
          label="Pause card"
          i18n-label="@@debit-card-actions-pause-card"
          rounded
          outlined
          icon="pi pi-pause"
          class="ml-auto"
          (click)="pauseConfirmationDialog.askForConfirmation()"
        />
      }
      @if (currentCardHasAction()('unpause')) {
        <p-button
          label="Unpause card"
          i18n-label="@@debit-card-actions-unpause-card"
          rounded
          outlined
          icon="pi pi-play"
          class="ml-auto"
          (click)="unpauseConfirmationDialog.askForConfirmation()"
        />
      }
      @if (currentCardHasAction()('reissue')) {
        <p-button
          label="Replace card"
          i18n-label="@@debit-card-actions-replace-card"
          rounded
          outlined
          icon="pi pi-refresh"
          class="ms-4"
          (click)="reissueConfirmationDialog.askForConfirmation()"
        />
      }
    </div>
    <app-data-list [data]="walletWithCurrentCardListData()" />
    @if (oldCards().length > 0) {
      <div class="py-1"></div>
      <p-accordion>
        @for (oldCard of oldCards(); track $index) {
          <p-accordionTab
            class="[&_.p-accordion-content]:px-1 [&_.p-accordion-header-link]:px-0 [&_.p-accordion-header-link]:text-black"
          >
            <ng-template pTemplate="header">
              <span class="flex items-center gap-1">
                <strong i18n>Old card:</strong>
                <span class="font-normal"> {{ oldCard.tokenCode }} </span>
                <app-colored-chip
                  [variant]="oldCard.chipVariant"
                  [label]="oldCard.chipLabel"
                />
              </span>
            </ng-template>
            <app-data-list
              class="text-black"
              [data]="oldCard.dataList"
              [hideBottomBorder]="true"
            />
          </p-accordionTab>
        }
      </p-accordion>
    }
  </div>
</app-page-layout>
<app-confirmation-dialog
  #pauseConfirmationDialog
  header="Pause card"
  i18n-header="@@debit-card-actions-pause-card"
  acceptLabel="Pause card"
  i18n-acceptLabel="@@debit-card-actions-pause-card"
  [mutation]="changeCardPauseStatusMutation"
  [mutationData]="{ pauseStatus: true }"
>
  <p i18n>
    You're about to pause debit card number {{ currentCard()?.tokenCode }}.
  </p>
  <p i18n="@@generic-message-will-be-sent">
    A message will be sent to the registration about this update.
  </p>
</app-confirmation-dialog>
<app-confirmation-dialog
  #unpauseConfirmationDialog
  header="Unpause card"
  i18n-header="@@debit-card-actions-unpause-card"
  acceptLabel="Unpause card"
  i18n-acceptLabel="@@debit-card-actions-unpause-card"
  [mutation]="changeCardPauseStatusMutation"
  [mutationData]="{ pauseStatus: false }"
>
  <p i18n>
    You're about to unpause debit card number {{ currentCard()?.tokenCode }}.
  </p>
  <p i18n="@@generic-message-will-be-sent">
    A message will be sent to the registration about this update.
  </p>
</app-confirmation-dialog>
<app-confirmation-dialog
  #reissueConfirmationDialog
  header="Replace card"
  i18n-header="@@debit-card-actions-replace-card"
  acceptLabel="Replace card"
  i18n-acceptLabel="@@debit-card-actions-replace-card"
  [mutation]="reissueCardMutation"
  [mutationData]="undefined"
>
  <p i18n>
    You're about to replace debit card number {{ currentCard()?.tokenCode }}.
    This will block the current card and a new card will be issued. A message
    will be sent to the registration about this update.
  </p>
  <p i18n="@@generic-message-will-be-sent">
    A message will be sent to the registration about this update.
  </p>
</app-confirmation-dialog>
