<app-page-layout
  pageTitle="Team"
  i18n-pageTitle="@@page-title-project-team"
  [projectId]="projectId()"
>
  <div
    header-actions
    class="flex gap-x-2"
  >
    @if (canManageAidworkers()) {
      <p-button
        label="Add team member"
        i18n-label="@@add-team-member"
        rounded
        icon="pi pi-plus"
        [iconPos]="rtlHelper.createPosition('start')()"
        (click)="openForm('add')"
      />
      <app-add-project-team-user-form
        [projectId]="projectId()"
        [enableScope]="enableScope()"
        [(formVisible)]="formVisible"
        [userToEdit]="formMode() === 'edit' ? selectedUser() : undefined"
      />
    }
  </div>
  <p-card>
    <app-query-table
      [items]="projectUsers.data() ?? []"
      [isPending]="projectUsers.isPending()"
      [columns]="columns()"
      localStorageKey="project-team-table"
      [contextMenuItems]="contextMenuItems()"
      (updateContextMenuItem)="selectedUser.set($event)"
      [globalFilterFields]="['username', 'allRolesLabel', 'scope']"
      [initialSortField]="'username'"
    />
  </p-card>
</app-page-layout>
<app-form-dialog
  #removeUserConfirmationDialog
  header="Remove user from team"
  i18n-header
  headerIcon="pi pi-trash"
  proceedLabel="Remove user"
  i18n-proceedLabel="@@remove-user-button"
  [mutation]="removeUserMutation"
  [mutationData]="{ userId: selectedUser()?.id }"
>
  <p i18n>
    You're about to remove
    <b>{{ selectedUser()?.username }}</b> ({{ selectedUser()?.allRolesLabel }})
    from your team.<br />They will not have access to the project anymore.
  </p>
</app-form-dialog>
