<p-button
  label="View transaction history"
  i18n-label
  (click)="dialogVisible.set(true)"
  outlined
  rounded
  size="small"
  data-testid="view-transaction-history-button"
/>
<p-dialog
  [header]="dialogHeader()"
  [modal]="true"
  [dismissableMask]="true"
  [(visible)]="dialogVisible"
  [style]="{ width: '70rem' }"
  appendTo="body"
>
  @defer {
    @if (transactionEventLog.isSuccess()) {
      <app-query-table
        [items]="transactionEvents()"
        [isPending]="false"
        [columns]="columns()"
        localStorageKey="transaction-history-table"
        [tableCellContext]="tableCellContext()"
        [initialSortField]="'created'"
        [initialSortOrder]="-1"
        data-testid="transaction-history-table"
      />
    } @else if (transactionEventLog.isPending()) {
      <p-skeleton height="24rem" />
    } @else {
      <p>{{ transactionEventLog.error()?.message }}</p>
    }
  }
</p-dialog>
