<app-card-with-link
  [image]="'assets/registration-data/kobo-toolbox.svg'"
  [titleColoredChipLabel]="titleColoredChipLabel()"
  [menuItems]="isKoboIntegrated() ? menuItems() : []"
  [attr.data-testid]="'kobo-integration-card'"
  [enableLink]="!isKoboIntegrated()"
  [titleColoredChipColor]="'green'"
  title="KoboToolbox"
  i18n-title
  (cardClicked)="
    isKoboIntegrated() ? undefined : koboConfigurationDialog.show()
  "
>
  <ng-container card-subtitle>
    @if (isKoboIntegrated()) {
      <div class="flex items-end justify-between">
        @if (externalFormUrl(); as formUrl) {
          <app-external-link
            [href]="formUrl"
            [label]="koboIntegration.data()?.name ?? formUrl"
          />
        }
        <p
          i18n
          class="text-grey-700 text-end text-sm"
        >
          Last updated: {{ koboIntegration.data()?.dateDeployed | date }}
        </p>
      </div>
    }

    @if (!isKoboIntegrated()) {
      <p i18n>Not integrated</p>
    }
  </ng-container>
</app-card-with-link>

<!-- DIALOGS -->

<app-kobo-configuration-dialog
  #koboConfigurationDialog
  [programId]="programId()"
/>

<app-kobo-import-existing-registration-dialog
  #koboImportExistingDialog
  [programId]="programId()"
/>
