<app-page-layout [projectId]="projectId()">
  <div class="grid w-full gap-4 md:grid-cols-10">
    <aside class="md:col-span-2">
      <h1
        i18n
        class="pb-6"
      >
        Project settings
      </h1>
      <ul class="space-y-3">
        @for (item of menuItems(); track $index) {
          <li>
            <a
              [routerLink]="item.routerLink"
              routerLinkActive="text-purple !border-l-purple"
              class="txt-body-m hover:text-purple focus:text-purple flex items-center gap-2 border-l border-l-transparent ps-1 font-semibold text-black"
            >
              <i [class]="item.icon"></i>
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
    </aside>
    <main class="md:col-span-6">
      <ng-content></ng-content>
    </main>
    <aside class="md:col-span-2"></aside>
  </div>
</app-page-layout>
