<p-card>
  <div class="mbe-1 flex items-center gap-x-2 min-block-9">
    <h2 i18n="@@page-title-program-settings-fsps">
      Financial Service Providers
    </h2>
  </div>

  <p
    i18n
    class="mbe-6"
  >
    Integrate the FSPs added to your program.
  </p>

  @if (fspConfigurations.data()?.length === 0) {
    <app-info-card
      subtitle="Inform the relevant user to add FSPs to your program on the Program Information page."
      i18n-subtitle
      title="No FSPs found"
      i18n-title
      [dataTestId]="'fsp-integration-no-fsps-card'"
    />
  }

  @if (notAllFspsIntegrated()) {
    <app-notification-banner
      [color]="'orange'"
      [content]="integrationRequiredBannerContent"
    />
  }

  @if (fspConfigurations.isPending()) {
    <app-skeleton-inline />
  } @else if (fspConfigurations.isSuccess()) {
    @let fspConfigs = fspConfigurations.data();
    @let fspConfigsFspNames =
      fspConfigs.map((programFsp) => programFsp.fspName);

    @if (fspConfigs.length > 0) {
      <div
        class="space-y-4"
        [attr.data-testid]="'integrated-fsp-list'"
      >
        @for (fspConfiguration of fspConfigs; track fspConfiguration.name) {
          <app-fsp-configuration-card
            [programFsps]="fspConfigsFspNames"
            [programId]="programId()"
            [configuration]="fspConfiguration"
            (reconfigureFsp)="reconfigureFspConfiguration.emit($event)"
            (addFspConfiguration)="addFspConfiguration.emit($event)"
            class="block"
          />
        }
      </div>
    }
  }
</p-card>
