<p-card class="[&_.p-card]:not-hover:border-grey-300 [&_.p-card]:border">
  <h2
    i18n
    class="mb-4"
  >
    Financial Service Providers
  </h2>

  <p
    i18n
    class="mb-6"
  >
    Choose an FSP from the FSPs integrated to this instance. You can add
    multiple FSPs to the same program. If you wish to integrate a new FSP,
    contact the 121 support team or talk to the account manager.
  </p>

  @if (fspConfigurations.isPending()) {
    <app-skeleton-inline />
  } @else if (fspConfigurations.isSuccess()) {
    @let fspConfigs = fspConfigurations.data();

    @if (fspConfigs.length > 0) {
      <div class="space-y-4">
        @for (fspConfiguration of fspConfigs; track fspConfiguration.name) {
          <app-fsp-configuration-card
            [programId]="programId()"
            [configuration]="fspConfiguration"
            (reconfigureFsp)="
              reconfigureFspConfiguration.emit(fspConfiguration)
            "
            class="block"
          />
        }
      </div>
    }

    @if (fspConfigs.length === 0 || forceShowNewFspList()) {
      @if (fspConfigs.length > 0) {
        <p
          i18n
          class="txt-body-m mt-8 mb-3 font-bold"
        >
          Choose another FSP:
        </p>
      }

      <div class="space-y-4">
        @for (fsp of configurableFsps(); track fsp.name) {
          <app-card-with-link
            [title]="fsp.defaultLabel | translatableString"
            subtitle="Click to integrate"
            i18n-subtitle
            (cardClicked)="addFspConfiguration.emit(fsp.name)"
            [image]="FSP_IMAGE_URLS[fsp.name]"
            class="block [&_.p-card-content]:hidden [&_.p-card-footer]:hidden [&_.p-card-title]:py-1"
          />
        }
      </div>
    } @else {
      <p-button
        label="Add another FSP"
        i18n-label
        icon="pi pi-plus"
        (click)="forceShowNewFspList.set(true)"
        outlined
        rounded
        styleClass="mt-6"
      />
    }
  }
</p-card>
