<form
  method="PUT"
  #updatePropertyForm="ngForm"
  (ngSubmit)="updateChosenFsp()"
>
  <div class="input-item ion-padding-vertical">
    <label class="input-item--label">
      <strong>{{ label }}</strong>
    </label>
    <div class="input-item--contents">
      <div>
        <ion-item class="ion-margin-bottom">
          <ion-select
            *ngIf="programFspConfigList?.length > 0"
            style="max-width: 100%"
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            interface="popover"
            (ionChange)="onFspSelectionChange($event)"
          >
            <ion-select-option
              *ngFor="let fspConfigItem of programFspConfigList"
              value="{{ fspConfigItem.name }}"
            >
              {{ fspConfigItem.translatedLabel }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <ion-row class="ion-justify-content-end">
        <ion-button
          *ngIf="!inProgress"
          [disabled]="!enableUpdateBtn"
          type="submit"
          size="default"
          class="ion-margin-start ion-text-uppercase"
          fill="clear"
        >
          <strong>{{ 'common.save' | translate }}</strong>
        </ion-button>
        <ion-spinner
          *ngIf="inProgress"
          color="primary"
          size="default"
          class="ion-margin-start"
        ></ion-spinner>
      </ion-row>
    </div>
  </div>
</form>
