<section>
  <app-dialogue-turn
    *ngIf="uploadDataStored && !uploadAborted && !uploadReady"
    [isSpoken]="uploadDataStored && !uploadAborted && !uploadReady"
  >
    <div
      [innerHTML]="
        'validation.upload-data.uploading'
          | translate: { nrStored: '<strong>' + nrStored + '</strong>' }
      "
      class="ion-margin-bottom"
    ></div>
  </app-dialogue-turn>
  <div
    *ngIf="!(!uploadDataStored || uploadReady)"
    class="loading-indicator"
  >
    <ion-spinner
      name="dots"
      class="loading-indicator--spinner"
    >
    </ion-spinner>
  </div>
  <app-dialogue-turn
    *ngIf="uploadReady && !uploadAborted"
    [isSpoken]="uploadReady && !uploadAborted"
  >
    {{ 'validation.upload-data.upload-result' | translate }}
  </app-dialogue-turn>
  <app-dialogue-turn
    *ngIf="!uploadDataStored"
    [isSpoken]="!uploadDataStored"
  >
    {{ 'validation.upload-data.no-upload-data-stored' | translate }}
  </app-dialogue-turn>
  <app-dialogue-turn
    *ngIf="uploadAborted"
    [isSpoken]="uploadAborted"
  >
    {{ 'validation.upload-data.upload-aborted' | translate }}
  </app-dialogue-turn>
</section>
