<p-card styleClass="relative">
  <h2>
    {{ configuration().name | translatableString }}
  </h2>
  <p-button
    text
    plain
    icon="pi pi-ellipsis-h"
    class="absolute end-4 top-2"
    (click)="menu.toggle($event)"
  />
  <p-menu
    #menu
    [model]="menuItems()"
    [popup]="true"
    appendTo="body"
  />
  <span i18n>Click to edit</span>
</p-card>

<app-confirmation-dialog
  i18n
  #deleteConfigurationDialog
  [header]="deleteConfigurationDialogTitle()"
  headerIcon="pi pi-trash"
  proceedLabel="Remove FSP"
  i18n-proceedLabel="@@remove-fsp"
  [mutation]="deleteConfigurationMutation"
  [mutationData]="undefined"
>
  You're about to remove {{ configuration().name | translatableString }} FSP
  from your project. Payments with this FSP will not go through, Registrations
  with this FSP will not be paid unless changed to an integrated FSP.
</app-confirmation-dialog>
