.accordion-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--ion-color-accordion-text);
}

.padding {
  padding: 7px 5px 5px 5px;
}

details {
  summary {
    list-style-type: none;
    ion-icon[name='chevron-down-outline'] {
      display: block;
    }
    ion-icon[name='chevron-up-outline'] {
      display: none;
    }
  }

  &[open] {
    summary {
      ion-icon[name='chevron-down-outline'] {
        display: none;
      }
      ion-icon[name='chevron-up-outline'] {
        display: block;
      }
    }
  }
}
