<!-- Accordion -->
<ng-container *ngIf="!enableSinglePayment">
  <div
    class="ion-justify-content-end ion-align-items-center"
    style="display: flex; flex: 1"
  ></div>
  <details>
    <summary>
      <div style="display: flex; flex-direction: row">
        <div style="flex: 1"></div>
        <div
          class="ion-justify-content-center ion-align-items-center"
          style="display: flex; flex: 2; cursor: pointer"
        >
          <ion-icon name="chevron-down-outline"></ion-icon>
          <ion-icon name="chevron-up-outline"></ion-icon>
        </div>
        <div
          class="ion-justify-content-end ion-align-items-center"
          style="display: flex; flex: 1"
        >
          <!-- Open voucher button -->
          <ion-button
            fill="clear"
            size="small"
            color="primary"
            *ngIf="
              paymentRow.transaction &&
              !hasErrorCheck(paymentRow) &&
              hasVoucherSupportCheck(paymentRow.transaction.fsp)
            "
            (click)="rowClick(paymentRow)"
            >{{
              'page.program.program-people-affected.transaction.open-voucher'
                | translate
            }}
          </ion-button>

          <!-- Retry payment button -->
          <ion-button
            shape="round"
            fill="outline"
            size="small"
            color="primary"
            *ngIf="hasErrorCheck(paymentRow)"
            (click)="rowClick(paymentRow)"
          >
            {{
              'page.program.program-people-affected.transaction.retry'
                | translate
            }}
          </ion-button>
        </div>
      </div>
    </summary>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col
          sizeXs="12"
          sizeMd="6"
        >
          <ion-list class="ion-no-padding">
            <!-- sent -->
            <ion-item>
              <ion-label class="accordion-text"
                ><strong
                  >{{
                    'page.program.program-people-affected.transaction.sent'
                      | translate
                  }}:</strong
                >
                <ion-text *ngIf="paymentRow.transaction">
                  {{
                    paymentRow.sentDate
                      | date: DateFormat.dayAndTimeReverse : locale
                  }}
                </ion-text>
              </ion-label>
            </ion-item>

            <!-- amount -->
            <ion-item>
              <ion-label class="accordion-text"
                ><strong
                  >{{
                    'page.program.program-people-affected.transaction.amount'
                      | translate
                  }}:</strong
                >
                <ion-text *ngIf="paymentRow.transaction?.status">
                  {{
                    paymentRow.amount
                      | currency
                        : paymentRow.currency
                        : 'symbol'
                        : '1.2-2'
                        : locale
                  }}
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col
          sizeXs="12"
          sizeMd="6"
        >
          <ion-list class="ion-no-padding">
            <!-- fsp -->
            <ion-item>
              <ion-label class="accordion-text"
                ><strong
                  >{{
                    'page.program.program-people-affected.transaction.fsp'
                      | translate
                  }}:</strong
                >
                <ion-text
                  id="hover-trigger"
                  *ngIf="paymentRow.transaction?.status"
                >
                  {{ paymentRow.transaction?.fspName }}
                </ion-text>
              </ion-label>
            </ion-item>

            <!-- custom attributes per FSP -->
            <ng-container
              *ngFor="let attribute of getCustomDataAttributesCheck(paymentRow)"
            >
              <ion-item>
                <ion-label class="accordion-text">
                  <strong>
                    {{
                      'page.program.program-people-affected.transaction.custom-data.' +
                        attribute | translate
                    }}:
                  </strong>
                  <ion-text
                    id="hover-trigger"
                    *ngIf="paymentRow.transaction?.status"
                    [title]="paymentRow.transaction?.customData?.[attribute]"
                  >
                    {{ paymentRow.transaction?.customData?.[attribute] }}
                  </ion-text>
                </ion-label>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </details>
</ng-container>

<!-- for single payments -->
<ng-container *ngIf="enableSinglePayment">
  <ion-item
    slot="header"
    lines="none"
    style="--padding-start: 0"
  >
    <ion-grid class="ion-no-padding">
      <div class="ion-text-right">
        <!-- Single payment send again button -->
        <ion-button
          shape="round"
          fill="outline"
          size="small"
          color="primary"
          *ngIf="enableSinglePayment"
          (click)="rowClick(paymentRow)"
        >
          {{
            'page.program.program-people-affected.transaction.send-payment'
              | translate
          }}
        </ion-button>
      </div>
    </ion-grid>
  </ion-item>
</ng-container>
