.ion-accordion-toggle-icon {
  --ionicon-stroke-width: 1px;
  color: var(--ion-color-accordion-text);
}

ion-chip {
  height: 20px;
  font-size: 14px;
  opacity: 1;
  margin: 0;

  &.success {
    --background: var(--ion-color-status-successful);
    --color: var(--ion-color-status-successful-text);
  }

  &.failed {
    --background: var(--ion-color-status-failed);
    --color: var(--ion-color-status-failed-text);
  }

  &.waiting {
    --background: var(--ion-color-status-waiting);
    --color: var(--ion-color-status-waiting-text);
  }
}

.send-payment-button {
  --border-width: 1px;

  font-weight: 600;
  font-size: 12px;
  color: var(--ion-color-purple-button);
  padding-inline-start: 10px;
}

.open-voucher-button {
  font-size: 12px;
  text-decoration-line: underline;
  color: var(--ion-color-purple-button);
}

.accordion-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--ion-color-accordion-text);
}

.text-bold {
  font-weight: 600;
}

ion-item::part(native) {
  box-sizing: content-box;
}

.padding {
  padding: 7px 5px 5px 5px;
}

.min-height {
  min-height: 40px;
}

.mx-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.chip {
  pointer-events: none;
  background-color: var(--fiveten-neutral-100);
  height: 27px;
}
