<!-- Accordion -->
<ng-container *ngIf="!enableSinglePayment">
  <ion-accordion class="ion-no-padding">
    <ion-item
      slot="header"
      lines="none"
      style="font-size: 14px; --padding-start: 0"
    >
      <!--Toggle icon-->
      <ion-icon
        name="chevron-down-outline"
        class="ion-accordion-toggle-icon"
        size="small"
        slot="end"
      >
      </ion-icon>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <div class="ion-padding-horizontal mx-auto">
            <!-- Money Icon -->
            <ion-icon
              class="money-icon ion-no-padding"
              name="cash-outline"
              size="large"
              [attr.aria-hidden]="true"
            ></ion-icon>
          </div>
          <ion-col class="padding">
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-row>
                <!-- Transfer index -->
                <ion-label class="ion-margin-end ion-text-uppercase">
                  <strong>
                    {{
                      'registration-details.payment-history.transfer'
                        | translate: { paymentNr: paymentRow.paymentIndex }
                    }}
                  </strong>
                </ion-label>

                <!-- Transaction Date -->
                <ion-note class="date">
                  <small>
                    {{
                      paymentRow.sentDate
                        | date: DateFormat.dayAndTimeReverse : locale
                    }}
                  </small>
                </ion-note>
              </ion-row>
            </ion-row>

            <ion-row
              class="ion-justify-content-start ion-align-items-center min-height"
            >
              <!-- Transfer status -->
              <ng-container>
                <ion-chip
                  [disabled]="true"
                  *ngIf="paymentRow.transaction?.status"
                  [class.success]="paymentRow.transaction?.status === 'success'"
                  [class.failed]="paymentRow.transaction?.status === 'error'"
                  [class.waiting]="paymentRow.transaction?.status === 'waiting'"
                >
                  <ion-label>
                    {{
                      'page.program.program-payout.last-payment.' +
                        paymentRow.transaction?.status | translate
                    }}
                  </ion-label>
                </ion-chip>
              </ng-container>

              <!-- Open voucher button -->
              <ng-container>
                <ion-button
                  class="open-voucher-button"
                  fill="clear"
                  size="small"
                  *ngIf="
                    paymentRow.transaction &&
                    !hasErrorCheck(paymentRow) &&
                    hasVoucherSupportCheck(paymentRow.transaction.fsp)
                  "
                  (click)="rowClick(paymentRow)"
                  >{{
                    'page.program.program-people-affected.transaction.open-voucher'
                      | translate
                  }}
                </ion-button>
              </ng-container>

              <!-- Retry payment button -->
              <ng-container>
                <ion-button
                  class="send-payment-button"
                  shape="round"
                  fill="outline"
                  size="small"
                  *ngIf="hasErrorCheck(paymentRow)"
                  (click)="rowClick(paymentRow)"
                >
                  {{
                    'page.program.program-people-affected.transaction.retry'
                      | translate
                  }}
                </ion-button>
              </ng-container>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- Accordion content -->
    <div slot="content">
      <ion-grid>
        <ion-row>
          <ion-col
            sizeXs="12"
            sizeMd="6"
          >
            <ion-list class="ion-no-padding">
              <!-- sent -->
              <ion-item>
                <ion-label class="accordion-text"
                  ><strong
                    >{{
                      'page.program.program-people-affected.transaction.sent'
                        | translate
                    }}:</strong
                  >
                  <ion-text
                    *ngIf="paymentRow.transaction"
                    class="padding"
                  >
                    {{
                      paymentRow.sentDate
                        | date: DateFormat.dayAndTimeReverse : locale
                    }}
                  </ion-text>
                </ion-label>
              </ion-item>

              <!-- amount -->
              <ion-item>
                <ion-label class="accordion-text"
                  ><strong
                    >{{
                      'page.program.program-people-affected.transaction.amount'
                        | translate
                    }}:</strong
                  >
                  <ion-text
                    *ngIf="paymentRow.transaction?.status"
                    class="padding"
                  >
                    {{
                      paymentRow.amount
                        | currency
                          : paymentRow.currency
                          : 'symbol'
                          : '1.2-2'
                          : locale
                    }}
                  </ion-text>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col
            sizeXs="12"
            sizeMd="6"
          >
            <ion-list class="ion-no-padding">
              <!-- fsp -->
              <ion-item>
                <ion-label class="accordion-text"
                  ><strong
                    >{{
                      'page.program.program-people-affected.transaction.fsp'
                        | translate
                    }}:</strong
                  >
                  <ion-text
                    id="hover-trigger"
                    *ngIf="paymentRow.transaction?.status"
                    class="padding"
                  >
                    {{ paymentRow.transaction?.fspName }}
                  </ion-text>
                </ion-label>
              </ion-item>

              <!-- custom attributes per FSP -->
              <ng-container
                *ngFor="
                  let attribute of getCustomDataAttributesCheck(paymentRow)
                "
              >
                <ion-item>
                  <ion-label class="accordion-text">
                    <strong>
                      {{
                        'page.program.program-people-affected.transaction.custom-data.' +
                          attribute | translate
                      }}:
                    </strong>
                    <ion-text
                      id="hover-trigger"
                      *ngIf="paymentRow.transaction?.status"
                      [title]="paymentRow.transaction?.customData?.[attribute]"
                      class="padding"
                    >
                      {{ paymentRow.transaction?.customData?.[attribute] }}
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ng-container>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-accordion>
</ng-container>

<!-- for single payments -->
<ng-container *ngIf="enableSinglePayment">
  <ion-item
    slot="header"
    lines="none"
    style="font-size: 14px; --padding-start: 0"
  >
    <ion-grid class="ion-no-padding">
      <ion-row>
        <div class="ion-padding-horizontal">
          <!-- Money Icon -->
          <ion-icon
            class="money-icon ion-no-padding"
            name="cash-outline"
            size="large"
            [attr.aria-hidden]="true"
          ></ion-icon>
        </div>
        <ion-col class="padding">
          <ion-row class="ion-justify-content-between ion-align-items-center">
            <ion-row>
              <!-- Transfer index -->
              <ion-label class="ion-margin-end ion-text-uppercase">
                <strong>
                  {{
                    'registration-details.payment-history.transfer'
                      | translate: { paymentNr: paymentRow.paymentIndex }
                  }}
                </strong>
              </ion-label>
            </ion-row>
          </ion-row>

          <ion-row
            class="ion-justify-content-start ion-align-items-center min-height"
          >
            <!-- Single payment Transfer status -->
            <ion-chip
              [disabled]="true"
              *ngIf="enableSinglePayment"
              [ngClass]="'waiting'"
            >
              <ion-label>
                {{
                  'page.program.program-people-affected.transaction.not-yet-sent'
                    | translate
                }}
              </ion-label>
            </ion-chip>

            <!-- Single payment send again button -->
            <ion-button
              class="send-payment-button"
              shape="round"
              fill="outline"
              size="small"
              *ngIf="enableSinglePayment"
              (click)="rowClick(paymentRow)"
            >
              {{
                'page.program.program-people-affected.transaction.send-payment'
                  | translate
              }}
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ng-container>
