<ng-template #selectInput>
  <ion-item class="ion-margin-bottom">
    <ion-select
      style="max-width: 100%"
      ngDefaultControl
      name="propertyInput"
      [(ngModel)]="propertyModel"
      [placeholder]="placeholder"
      interface="popover"
      class="ion-margin-top"
      [disabled]="isDisabled"
      [multiple]="type === answerType.MultiSelect"
    >
      <ion-select-option
        *ngFor="let option of translatedOptions()"
        value="{{ option.option }}"
      >
        {{ option.label }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ng-template>

<form
  method="POST"
  #updatePropertyForm="ngForm"
>
  <div class="input-item update-property-item">
    <label
      data-testid="update-property-item-label"
      class="input-item--label"
    >
      <strong>{{ label }}</strong>
    </label>
    <div class="input-item--contents">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ng-container [ngSwitch]="type">
            <ng-container *ngSwitchCase="answerType.Number">
              <ion-input
                ngDefaultControl
                name="propertyInput"
                [(ngModel)]="propertyModel"
                [value]="value"
                [placeholder]="placeholder"
                type="number"
                inputmode="numeric"
                min="1"
                pattern="[0-9]+"
                appOnlyAllowedInput
                [disabled]="isDisabled"
                fill="outline"
              ></ion-input>
            </ng-container>
            <ng-container *ngSwitchCase="answerType.PhoneNumber">
              <ion-input
                ngDefaultControl
                name="propertyInput"
                [(ngModel)]="propertyModel"
                [value]="value"
                [placeholder]="placeholder"
                type="tel"
                inputmode="tel"
                pattern="[0-9]+"
                appOnlyAllowedInput
                [disabled]="isDisabled"
                fill="outline"
              ></ion-input>
            </ng-container>
            <ng-container *ngSwitchCase="answerType.Enum">
              <ng-container
                *ngTemplateOutlet="
                  selectInput;
                  context: {
                    propertyModel: this.propertyModel,
                    placeholder: this.placeholder,
                    type: this.type
                  }
                "
              ></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="answerType.MultiSelect">
              <ng-container
                *ngTemplateOutlet="
                  selectInput;
                  context: {
                    propertyModel: this.propertyModel,
                    placeholder: this.placeholder,
                    type: this.type
                  }
                "
              ></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="answerType.Boolean">
              <ion-checkbox
                ngDefaultControl
                [(ngModel)]="propertyModel"
                name="propertyInput"
                [checked]="value"
                class="ion-margin-top"
                [disabled]="isDisabled"
              ></ion-checkbox>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <ion-input
                ngDefaultControl
                name="propertyInput"
                [(ngModel)]="propertyModel"
                [value]="value"
                [placeholder]="placeholder"
                type="text"
                [disabled]="isDisabled"
                fill="outline"
              ></ion-input>
            </ng-container>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col
          size="10"
          class="ion-no-padding"
        >
          <ion-note
            *ngIf="explanation"
            class="ion-margin-bottom explanation"
          >
            {{ explanation }}
          </ion-note>
        </ion-col>
        <ion-col
          size="2"
          class="ion-no-padding"
        >
          <ng-container *ngIf="showSubmit">
            <app-confirm-prompt
              *ngIf="!inProgress"
              [disabled]="disableSaveButton()"
              (confirm)="doUpdate($event)"
              [subHeader]="reasonSubheader"
              [inputProps]="reasonInputProps"
              [bypassModalComponent]="type === answerType.Boolean"
              class="ion-margin-start ion-float-right ion-text-uppercase"
              fill="clear"
              type="submit"
            >
              <strong>{{ 'common.save' | translate }}</strong>
            </app-confirm-prompt>
            <ion-spinner
              *ngIf="inProgress"
              color="primary"
              class="ion-margin-start ion-float-right"
            ></ion-spinner>
          </ng-container>
        </ion-col>
      </ion-row>
    </div>
  </div>
</form>
