<!--
  In my opinion this component does too much, it should only be a trigger for the image modal.
  But for the time being I guess this is fine...
-->

@if (mode() === 'edit') {
  <app-form-field-wrapper [label]="label() | translatableString">
    <div class="relative">
      <div
        i18n
        class="from-grey-500/0 pointer-events-none absolute inset-y-px inset-e-20 bg-linear-to-r to-(--p-inputtext-disabled-background) inline-40"
      ></div>
      <input
        class="cursor-not-allowed"
        [value]="imageUrl()"
        autocomplete="off"
        formControlName=""
        type="text"
        pInputText
        readonly
        disabled
      />

      @if (isAvailable()) {
        <p-button
          (click)="toggleViewer()"
          class="ms-auto"
          size="small"
          outlined
          rounded
          class="absolute inset-e-2 inset-bs-1/2 -translate-y-1/2"
        >
          @if (isOpen()) {
            <span class="pi pi-eye-slash"></span>
            <span i18n="@@image-viewer-hide">Hide</span>
          } @else {
            <span class="pi pi-eye"></span>
            <span i18n="@@image-viewer-show">Show</span>
          }
        </p-button>
      }
    </div>
  </app-form-field-wrapper>
} @else {
  <div class="flex items-center gap-2 inline-full">
    <strong>
      <i class="pi pi-image me-2"></i>
      {{ label() | translatableString }}:
    </strong>

    @if (isAvailable()) {
      <app-colored-chip
        label="Available"
        i18n-label="@@image-available"
        variant="green"
      />
    } @else {
      <app-colored-chip
        label="Not available"
        i18n-label="@@image-not-available"
        variant="red"
      />
    }

    @if (isAvailable()) {
      <p-button
        (click)="toggleViewer()"
        class="ms-auto"
        size="small"
        outlined
        rounded
      >
        @if (isOpen()) {
          <span class="pi pi-eye-slash"></span>
          <span i18n="@@image-viewer-hide">Hide</span>
        } @else {
          <span class="pi pi-eye"></span>
          <span i18n="@@image-viewer-show">Show</span>
        }
      </p-button>
    }
  </div>
}
