<!--
  In my opinion this component does too much, it should only be a trigger for the image modal.
  But for the time being I guess this is fine...
-->

@if (mode() === 'view') {
  <div class="flex items-center gap-2 inline-full">
    <strong>
      <i class="pi pi-image me-2"></i>
      {{ label() | translatableString }}:
    </strong>

    <app-colored-chip
      [label]="coloredChipProps().label"
      [variant]="coloredChipProps().variant"
    />

    @if (isAvailable()) {
      <ng-container *ngTemplateOutlet="modalTriggerButton"></ng-container>
    }
  </div>
} @else {
  <app-form-field-wrapper [label]="label() | translatableString">
    <div class="relative">
      <div
        class="from-grey-500/0 pointer-events-none absolute inset-y-px inset-e-20 bg-linear-to-r to-(--p-inputtext-disabled-background) inline-40"
      ></div>
      <input
        class="cursor-not-allowed"
        [value]="imageUrl()"
        autocomplete="off"
        formControlName=""
        type="text"
        pInputText
        readonly
        disabled
      />

      @if (isAvailable()) {
        <ng-container *ngTemplateOutlet="modalTriggerButton"></ng-container>
      }
    </div>
  </app-form-field-wrapper>
}

<ng-template #modalTriggerButton>
  <p-button
    (click)="toggleViewer()"
    class="ms-auto"
    size="small"
    outlined
    rounded
  >
    @if (isOpen()) {
      <span class="pi pi-eye-slash"></span>
      <span i18n="@@image-viewer-hide">Hide</span>
    } @else {
      <span class="pi pi-eye"></span>
      <span i18n="@@image-viewer-show">Show</span>
    }
  </p-button>
</ng-template>
