<ion-header>
  <app-header
    [title]="'page.program.phases.payment.label'|translate"
  ></app-header>
</ion-header>

<ion-content class="ion-padding">

  <app-phase-next
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="isReady"
  ></app-phase-next>

  <app-program-payout
    [programId]="programId"
    (isCompleted)="onReady($event)"
  ></app-program-payout>

  <app-program-people-affected
    [programId]="programId"
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
