<ion-header>
  <app-header
    [title]="'page.program.phases.payment.label'|translate"
  ></app-header>
</ion-header>

<ion-content class="ion-padding">

  <app-phase-next
    [programId]="programId"
    [thisPhaseName]="thisPhase"
    [phaseReady]="isReady"
  ></app-phase-next>

  <ion-row *ngIf="isIntersolve">
    <app-export-list
      [programId]="programId"
      [userRoles]="userRoles"
      [exportType]="enumExportType.unusedVouchers">
    </app-export-list>
  </ion-row>

  <app-program-payout
    [programId]="programId"
    (isCompleted)="onReady($event)"
  ></app-program-payout>

  <app-program-people-affected
    [programId]="programId"
    [userRoles]="userRoles"
    [thisPhase]="thisPhase"
    (isCompleted)="onReady($event)"
  ></app-program-people-affected>

</ion-content>
