<app-form-dialog
  #formDialog
  [formGroup]="formGroup"
  [mutation]="userMutation"
  [mutationData]="formGroup.getRawValue()"
  header="Add user to 121"
  i18n-header
  headerIcon="pi pi-plus"
  proceedLabel="Add user"
  i18n-proceedLabel
>
  <p class="mb-4">
    <ng-container i18n
      >Add a user to the 121 platform. Fill in the fields below to create a new
      user account.</ng-container
    ><br />
    <ng-template #manualLink>
      <a
        href="https://manual.121.global/"
        target="_blank"
        title="Opens in a new window"
        i18n-title="@@generic-opens-in-new-window"
        class="p-button p-button-link gap-1"
        ><span i18n="@@generic-121-manual-title">121 Manual</span>
        <span class="p-button-icon pi pi-external-link text-sm"></span
      ></a>
    </ng-template>
    <ng-container i18n="@@generic-more-info-in-manual">
      For more information see the
      <ng-container [ngTemplateOutlet]="manualLink"></ng-container>.
    </ng-container>
  </p>
  <app-form-field-wrapper
    label="Full name"
    i18n-label
    [errorMessage]="formFieldErrors()('displayNameValue')"
  >
    <input
      pInputText
      type="text"
      formControlName="displayNameValue"
      autocomplete="off"
      placeholder="Firstname Lastname"
      i18n-placeholder
    />
  </app-form-field-wrapper>
  <app-form-field-wrapper
    label="E-mail"
    i18n-label
    [errorMessage]="formFieldErrors()('usernameValue')"
  >
    <input
      pInputText
      type="email"
      formControlName="usernameValue"
      autocomplete="off"
      placeholder="username@example.org"
      i18n-placeholder
    />
  </app-form-field-wrapper>
</app-form-dialog>
