<section #viewAppointments>
  <dialogue-turn [hidden]="!noAppointments">
    {{ 'validation.view-appointments.no-appointments'|translate }}
  </dialogue-turn>
  <dialogue-turn [hidden]="noAppointments">
    {{ 'validation.view-appointments.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn [hidden]="noAppointments" actor="self">
    <ion-radio-group (ionChange)="changeTimeslot($event)">
      <ion-item *ngFor="let timeslot of appointments"
                color="light"
                class="ion-no-padding ion-text-wrap"
      >
      <ion-label class="ion-text-wrap">
        <p>
          {{ timeslot.startDate|date:dateFormat }}: {{ timeslot.startDate|date:timeFormat }}
          -
          <span *ngIf="!isSameDay(timeslot.startDate, timeslot.endDate)">
            <br>
            {{ timeslot.endDate|date:dateFormat }}:
          </span>
          {{ timeslot.endDate|date:timeFormat }}
        </p>
        <ion-note class="ion-text-wrap">
          {{ timeslot.location }}
        </ion-note>
      </ion-label>
        <ion-radio value="{{timeslot.timeslotId}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <br>
    <ion-button [hidden]="!timeslotChoice" 
                expand="block"
                (click)="submitTimeslot(timeslotChoice)">
      {{ 'validation.view-appointments.submit-button'|translate }}
    </ion-button>
  </dialogue-turn>
  <dialogue-turn [hidden]="!timeslotSelected">
    {{ 'validation.view-appointments.appointments'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self" [hidden]="!timeslotSelected">
    <ion-list>
      <ion-item *ngFor="let appointment of appointmentsByTimeslot; let i = index;"
                color="light"
                class="ion-no-padding ion-text-wrap"
      >
        <ion-label>Person Affected #{{i+1}}: {{appointment.status}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="backMainMenu()">{{ 'validation.view-appointments.main-menu'|translate }}</ion-button>
  </dialogue-turn>
</section>
   