<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'page.programs.program-details.pageTitle'|translate }} - {{programTitle}}
      <ion-button (click)="openModal()"
                  size="small"
      >
        {{ 'page.programs.program-details.more'|translate }}
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let item of program" class="ion-padding">
    {{item.key}}: {{item.value}}
  </ion-list>
</ion-content>
