<ion-header>
  <ion-toolbar>
    <!-- Pop up title -->
    <ion-title>
      {{
        'page.program.program-people-affected.payment-history-popup.title'
          | translate
      }}
    </ion-title>

    <!-- Exit cancel button -->
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- PA name -->
<ion-content
  class="ion-padding"
  lines="full"
>
  <h2>{{ paDisplayName }}</h2>

  <ng-container *ngFor="let activity of paymentRows">
    <app-registration-activity-detail
      [activity]="activity"
      [locale]="locale"
      style="border-bottom: 1px solid var(--fiveten-neutral-200)"
    >
      <div body>
        <app-registration-activity-detail-accordion
          [activity]="activity"
          [enableSinglePayment]="enableSinglePayment(activity.paymentRowDetail)"
          [person]="person"
          [program]="program"
          [canViewVouchers]="canViewVouchers"
          [canDoSinglePayment]="canDoSinglePayment"
          [lastPaymentId]="lastPaymentId"
        ></app-registration-activity-detail-accordion>
      </div>
    </app-registration-activity-detail>
  </ng-container>
</ion-content>
