<ngx-datatable
  class="bootstrap"
  [rows]="rows"
  [columnMode]="'force'"
  [virtualization]="false"
  [rowHeight]="'auto'"
  [scrollbarV]="true"
  [scrollbarH]="true"
  [headerHeight]="40"
  [footerHeight]="50"
  [sorts]="[{ prop: 'username', dir: 'asc' }]"
  [messages]="{
    emptyMessage: 'ngx-datatable.empty-message' | translate,
    totalMessage: 'page.program-team.team-members' | translate,
    selectedMessage: 'ngx-datatable.selected-message' | translate
  }"
>
  <ngx-datatable-column
    prop="username"
    [name]="'page.program-team.table-headers.name' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row.username }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="role"
    [name]="'page.program-team.table-headers.role' | translate"
    [sortable]="false"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <div *ngFor="let role of row.roles">
        {{ role.label }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="active"
    [name]="'page.program-team.table-headers.status' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <ng-container>
        <ion-chip
          [disabled]="true"
          [class.active]="row.active === true"
          [class.inactive]="row.active === false"
        >
          <ion-label>
            <strong *ngIf="row?.active === true">
              {{ 'entity.users.status.active' | translate }}
            </strong>
            <strong *ngIf="row?.active === false">
              {{ 'entity.users.status.inactive' | translate }}
            </strong>
          </ion-label>
        </ion-chip>
      </ng-container>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    *ngIf="enableScope"
    prop="scope"
    [name]="'page.program-team.table-headers.scope' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row.scope }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    prop="lastLogin"
    [name]="'page.program-team.table-headers.last-activity' | translate"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row.lastLogin | date: DateFormat.dateOnly }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="">
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <ion-button
        [disabled]="!canManageAidworkers"
        fill="clear"
        color="dark"
        size="small"
        (click)="toggleTeamMemberPopover($event, row)"
        class="meatball-menu-button"
      >
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
      <ion-popover
        [isOpen]="row.showTeamMemberPopover"
        [event]="popoverEvent"
        (didDismiss)="row.showTeamMemberPopover = false"
        [showBackdrop]="false"
      >
        <ng-template>
          <app-popover-content>
            <ion-list>
              <ion-item
                button
                (click)="editRole(row)"
              >
                {{ 'page.program-team.edit-team-member' | translate }}
              </ion-item>
              <ion-item
                button
                (click)="removeFromTeam(row)"
              >
                <ion-text color="danger">
                  {{ 'page.program-team.remove-team-member' | translate }}
                </ion-text>
              </ion-item>
            </ion-list>
          </app-popover-content>
        </ng-template>
      </ion-popover>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
