@let formControl = formGroup().get(fspFormField().name);
<app-form-field-wrapper
  [label]="label()"
  [labelTooltip]="labelTooltip()"
  [errorMessage]="
    formControl?.invalid && formControl?.touched && errorMessage()
  "
  [isRequired]="fspFormField().isRequired"
  [formGroup]="formGroup()"
>
  @if (fieldType() === 'select-attributes-multiple') {
    <p-multiselect
      [options]="programAttributes.data()"
      [formControlName]="fspFormField().name"
      [optionLabel]="'label'"
      [optionValue]="'name'"
      placeholder="Select 1 or more"
      i18n-placeholder
      [filter]="true"
      [showClear]="false"
    />
  } @else if (fieldType() === 'select-attribute') {
    <p-select
      [options]="programAttributes.data()"
      [formControlName]="fspFormField().name"
      [optionLabel]="'label'"
      [optionValue]="'name'"
      placeholder="Select 1"
      i18n-placeholder
      [filter]="true"
      [showClear]="false"
    />
  } @else {
    <input
      pInputText
      [formControlName]="fspFormField().name"
      [placeholder]="inputTextPlaceholder()"
      autocomplete="off"
    />
  }
  <ng-container slot="details">
    @if (
      fieldType() === 'select-attribute' ||
      fieldType() === 'select-attributes-multiple'
    ) {
      <p
        i18n
        class="text-grey-500 txt-system-s mt-1"
      >
        Import registration data to select columns
      </p>
    }
  </ng-container>
</app-form-field-wrapper>
