<ng-template #defaultFooterButtons>
  <div class="flex justify-end space-x-2">
    <p-button
      label="Cancel"
      i18n-label="@@generic-cancel"
      outlined
      rounded
      severity="contrast"
      (click)="dialogVisible.set(false)"
    />
    <p-button
      label="Approve"
      i18n-label="@@approve"
      rounded
      [disabled]="
        canSendMessage() &&
        formGroup.value.enableSendMessage &&
        messageTemplates.isPending()
      "
      [loading]="changeStatusMutation.isPending()"
      type="submit"
    />
  </div>
</ng-template>

<p-dialog
  #dialog
  closeOnEscape
  styleClass="md:min-w-[46rem]"
  [(visible)]="dialogVisible"
  [modal]="true"
  [dismissableMask]="true"
>
  <ng-template pTemplate="header">
    <h3>
      <i
        class="pi me-2"
        [class]="icon()"
      ></i>
      <ng-container i18n>{{ headerText() }} registration(s)</ng-container>
    </h3>
  </ng-template>

  <form
    class="block w-full"
    [formGroup]="formGroup"
    (ngSubmit)="onFormSubmit()"
  >
    @let previewMessageData = previewData();
    <div class="space-y-4">
      <p i18n>
        <!-- //##TODO: Make the content dynamic with mapping -->
        You're about to include {{ actionData()?.count }} registrations to your
        project. This means that they can be included in payments.
      </p>

      @if (!canSendMessage()) {
        <ng-template [ngTemplateOutlet]="defaultFooterButtons"></ng-template>
      } @else {
        <p-inputSwitch
          inputId="enableSendMessage"
          formControlName="enableSendMessage"
        />
        <label
          for="enableSendMessage"
          i18n
          >Send a message to registration(s)</label
        >
        @if (!formGroup.value.enableSendMessage) {
          <ng-template [ngTemplateOutlet]="defaultFooterButtons"></ng-template>
        } @else {
          @if (messageTemplates.isPending()) {
            <!-- We don't know if it will be template or custom yet -->
            <p>XXX: add skeleton</p>
          } @else if (formGroup.value.messageType === 'template') {
            <!-- Template message -->
            @if (previewMessageData) {
              <app-custom-message-preview
                [projectId]="projectId()"
                [previewRegistration]="actionData()?.previewItem"
                [messageData]="previewMessageData"
              ></app-custom-message-preview>
            }
            <ng-template
              [ngTemplateOutlet]="defaultFooterButtons"
            ></ng-template>
          } @else {
            <!-- Custom message -->
            @if (!previewMessageData) {
              <!-- Custom message without any input yet -->
              <div>
                <app-custom-message-control
                  formControlName="customMessage"
                  [projectId]="projectId()"
                  [error]="formFieldErrors()('customMessage')"
                />
                <div class="flex justify-end space-x-2">
                  <p-button
                    label="Cancel"
                    i18n-label="@@generic-cancel"
                    outlined
                    rounded
                    severity="contrast"
                    (click)="dialogVisible.set(false)"
                  />
                  <p-button
                    label="Continue to preview"
                    i18n-label
                    rounded
                    (click)="onProceedToPreview()"
                  />
                </div>
              </div>
            } @else {
              <!-- Custom message with input -->
              <div>
                <app-custom-message-preview
                  [projectId]="projectId()"
                  [previewRegistration]="actionData()?.previewItem"
                  [messageData]="previewMessageData"
                ></app-custom-message-preview>
                <app-form-error
                  [error]="changeStatusMutation.error()?.message"
                />
                <div class="flex justify-end space-x-2">
                  <p-button
                    label="Go back"
                    i18n-label="@@generic-go-back"
                    outlined
                    rounded
                    [disabled]="changeStatusMutation.isPending()"
                    (click)="previewData.set(undefined)"
                  />
                  <p-button
                    label="Approve"
                    i18n-label="@@approve"
                    rounded
                    [loading]="changeStatusMutation.isPending()"
                    type="submit"
                  />
                </div>
              </div>
            }
          }
        }
      }
    </div>
  </form>
</p-dialog>
