<section #mainMenu>
  <dialogue-turn>
    {{ 'validation.main-menu.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self">
    <ion-radio-group (ionChange)="changeOption($event)"
    >
      <ion-item *ngFor="let option of menuOptions"
                color="light"
                class="ion-no-padding ion-text-wrap"
                [disabled]="option.disabled"
      >
        <ion-label>{{ option.option }}</ion-label>
        <ion-radio value="{{ option.id }}"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <br>
    <ion-button [hidden]="!optionChoice" 
                expand="block"
                [disabled]="optionSelected"
                (click)="submitOption()">{{ 'shared.submit-button'|translate }}</ion-button>
  </dialogue-turn>
</section>
   