<section #mainMenu>
  <app-dialogue-turn [isSpoken]="true">
    {{ 'validation.main-menu.introduction' | translate }}
  </app-dialogue-turn>
  <app-dialogue-turn
    actor="self"
    [isSpoken]="true"
  >
    <ion-radio-group (ionChange)="changeOption($event)">
      <ng-container *ngFor="let option of menuOptions">
        <ion-item
          *ngIf="option.visible"
          color="light"
          class="ion-no-padding"
          [disabled]="
            option.disabled ||
            (option.connectionRequired && noConnection | async) ||
            optionSelected
          "
        >
          <ion-radio
            value="{{ option.id }}"
            labelPlacement="start"
          >
            <ion-text class="ion-text-wrap">
              {{ option.option }}
              &nbsp;
              <ion-badge
                *ngIf="option.counter"
                style="vertical-align: text-bottom"
                >{{ option.counter }}
              </ion-badge>
            </ion-text>
          </ion-radio>
        </ion-item>
      </ng-container>
    </ion-radio-group>
    <ion-button
      *ngIf="optionChoice && !optionSelected"
      expand="block"
      class="ion-margin-top"
      (click)="submitOption()"
    >
      {{ 'shared.submit-button' | translate }}
    </ion-button>
  </app-dialogue-turn>
</section>
