<section #mainMenu>
  <dialogue-turn isSpoken="true">
    {{ 'validation.main-menu.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self"
                 isSpoken="true"
  >
    <ion-radio-group (ionChange)="changeOption($event)">
      <ion-item *ngFor="let option of menuOptions"
                color="light"
                class="ion-no-padding"
                [disabled]="option.disabled || (option.connectionRequired && noConnection|async) || optionSelected"
      >
        <ion-label class="ion-text-wrap ion-padding-end">
          {{ option.option }}
          &nbsp;
          <ion-badge
            *ngIf="option.counter"
            style="vertical-align: text-bottom;"
          >{{ option.counter }}</ion-badge>
        </ion-label>
        <ion-radio value="{{ option.id }}"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button *ngIf="optionChoice && !optionSelected"
                expand="block"
                class="ion-margin-top"
                (click)="submitOption()"
    >
      {{ 'shared.submit-button'|translate }}
    </ion-button>
  </dialogue-turn>
</section>
