<section #selectProgram>
  <dialogue-turn
    *ngIf="programs?.length > 0"
    [isSpoken]="programs?.length > 0"
  >
    <p>
      {{ 'validation.select-program.introduction' | translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn
    actor="self"
    *ngIf="programs?.length > 0"
    [isSpoken]="programs?.length > 0"
  >
    <form (submit)="submitProgram()">
      <ion-radio-group
        (ionChange)="changeProgram($event)"
        [value]="programChoice"
      >
        <ion-item
          *ngFor="let program of programs"
          color="light"
          lines="full"
          class="ion-no-padding"
          [disabled]="isDisabled"
        >
          <ion-label class="ion-text-wrap ion-padding-end">
            {{ program.titlePaApp }}
          </ion-label>
          <ion-radio
            [value]="program.id"
            [disabled]="isDisabled"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-row
        *ngIf="programChoice && !isDisabled"
        class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <ion-button
          type="submit"
          expand="block"
          style="flex-basis: 100%"
        >
          {{ 'shared.submit-button' | translate }}
        </ion-button>
      </ion-row>
    </form>
  </dialogue-turn>
  <dialogue-turn
    *ngIf="!programs?.length"
    [isSpoken]="!programs?.length"
  >
    <p>
      {{ 'validation.select-program.no-published-programs' | translate }}
    </p>
  </dialogue-turn>
</section>
