# Used by the Azure CLI (See: ./download-logs.mjs)
AZURE_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000

# Used by Azure DevOps CLI (See: ./boards-to-copilot.mjs)
AZURE_DEVOPS_ORG=your-org
AZURE_DEVOPS_PROJECT=your-project
