<app-page-layout
  [programId]="programId()"
  [parentPageLink]="parentLink()"
  [parentPageTitle]="parentTitle()"
  [pageTitle]="registrationTitle()"
  [isPending]="registration.isPending()"
>
  @if (
    canViewPersonalData() &&
    (!registration.isSuccess() ||
      registration.data().duplicateStatus === 'duplicate')
  ) {
    <app-registration-duplicates-banner
      [programId]="programId()"
      [registrationReferenceId]="registration.data()?.referenceId"
    />
  }
  <p-card
    styleClass="[&_.p-card-content]:flex-end group relative h-full [&_.p-card-title]:flex-grow"
  >
    <div class="border-grey-300 flex w-full items-center gap-x-4 border-b pb-4">
      <h1 data-testid="registration-title">
        {{ registrationTitle() }}
      </h1>

      @if (registration.isSuccess() && canViewPersonalData()) {
        <app-colored-chip
          [variant]="duplicateChipData().chipVariant"
          [label]="duplicateChipData().chipLabel"
          data-testid="duplicate-chip"
        />
      }

      <div class="ms-auto">
        @if (!registration.isError()) {
          <app-button-menu
            label="Actions"
            i18n-label="@@actions"
            [menuItems]="actionMenuItems()"
            [icon]="'pi pi-user-edit'"
            [outlined]="true"
          />
        }
      </div>
    </div>

    <app-data-list
      [data]="registrationData()"
      data-testid="registration-summary-list"
    />

    <div class="mt-4 text-end">
      <span class="text-grey-700 txt-system-s">
        @if (registration.isPending()) {
          <app-skeleton-inline width="8rem" />
        } @else {
          <ng-container i18n>Registered: </ng-container>
          @if (registration.data()?.created) {
            {{ registration.data()?.created | date: 'shortDate' }}
          } @else {
            —
          }
        }
      </span>
    </div>
  </p-card>

  <p-card styleClass="mt-6 [&_.p-card-body]:pt-3">
    <app-registration-menu
      data-testid="registration-menu"
      [programId]="programId()"
      [registrationId]="registrationId()"
    />
    <ng-content></ng-content>
  </p-card>
</app-page-layout>

<app-send-message-dialog
  #sendMessageDialog
  [programId]="programId()"
/>

<app-change-status-dialog
  #changeStatusDialog
  [programId]="programId()"
/>

<app-add-note-dialog
  #addNoteDialog
  [programId]="programId()"
  [registrationId]="registrationId()"
/>

<app-ignore-duplication-dialog
  #ignoreDuplicationDialog
  [programId]="programId()"
  [registrationId]="registrationId()"
  [referenceId]="registration.data()?.referenceId ?? ''"
/>
