<div class="metrics" [ngClass]="{ 'is-collapsed': isCollapsed }">
  <table class="metrics--table">
    <thead>
      <th class="metrics--cell-icon">&nbsp;</th>
      <th class="metrics--cell-label ion-text-start">
        {{ 'page.program.metrics.header.metric' | translate }}
      </th>
      <th class="metrics--cell-value ion-text-end">
        {{ 'page.program.metrics.header.latest-value' | translate }}
      </th>
    </thead>
    <tbody>
      <ng-container *ngFor="let metric of metricList">
        <tr [class]="metric.group ? 'metrics--group-' + metric.group : ''">
          <td class="metrics--cell-icon">
            <ion-icon
              *ngIf="metric.icon"
              [name]="metric.icon"
              size="small"
            ></ion-icon>
          </td>
          <td class="metrics--cell-label">
            {{ metric.label | translate }}
          </td>
          <td class="metrics--cell-value ion-text-end">
            {{ metric.value }}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div *ngIf="!isCollapsed">
    <app-refresh-data
      [lastUpdated]="lastUpdated"
      (refresh)="update()"
    ></app-refresh-data>
  </div>
</div>
