.metrics {
  width: 100%;

  &.is-collapsed {
    .metrics--cell-label,
    .metrics--cell-value {
      display: none;
    }
  }
}

.metrics--table {
  width: 100%;
  font-size: 90%;
}

.metrics--cell-icon,
.metrics--cell-label,
.metrics--cell-value {
  padding: 0.4em 0.2em;
  border-block-end: 1px solid white;
}

.metrics--cell-icon {
  text-align: center;
  vertical-align: top;
  pointer-events: none;
}

.metrics--cell-value {
  padding-inline-start: 0.4em;
  border-inline-start: 1px solid white;
}

/*
  Metric Groups:
*/
.metrics--group-program-properties {
  background-color: gold;
}
.metrics--group-pa {
  background-color: rosybrown;
}
.metrics--group-financial {
  background-color: turquoise;
}
.metrics--group-aidworkers {
  background-color: goldenrod;
}
