<app-button-menu
  label="Export"
  i18n-label="@@export"
  [menuItems]="exportOptions()"
  [icon]="'pi pi-upload'"
  [outlined]="true"
  [attr.data-testid]="'export-payments-button'"
/>
<app-form-dialog
  #exportlastPaymentsDialog
  header="Export payments"
  i18n-header
  headerIcon="pi pi-upload"
  [mutation]="exportByTypeMutation"
  [mutationData]="{
    type: 'payments',
    fromDate: paymentRangeFormGroup.getRawValue().fromDate || undefined,
    toDate: paymentRangeFormGroup.getRawValue().toDate || undefined,
  }"
  [formGroup]="paymentRangeFormGroup"
>
  <p i18n>
    You're about to download an Excel file with all of the registrations
    included in payments.
  </p>
  <p
    i18n
    class="mt-2"
  >
    Optionally pass a start date and/or an end date to filter the payments. The
    export is limited to 100,000 records. Adapt your dates if needed.
  </p>

  <div class="mt-4 flex w-full flex-row gap-4 [&>*]:w-1/2">
    <app-form-field-wrapper
      label="Start Date"
      i18n-label
    >
      <p-datepicker
        formControlName="fromDate"
        [maxDate]="paymentRangeFormGroup.getRawValue().toDate"
        [showClear]="true"
        appendTo="body"
      />
    </app-form-field-wrapper>

    <app-form-field-wrapper
      label="End Date"
      i18n-label
    >
      <p-datepicker
        formControlName="toDate"
        [minDate]="paymentRangeFormGroup.getRawValue().fromDate"
        [showClear]="true"
        appendTo="body"
      />
    </app-form-field-wrapper>
  </div>
</app-form-dialog>
<app-form-dialog
  #exportUnusedVouchersDialog
  header="Export unused vouchers"
  i18n-header
  headerIcon="pi pi-upload"
  [mutation]="exportByTypeMutation"
  [mutationData]="{
    type: ExportType.unusedVouchers,
  }"
>
  <p i18n>This will download an Excel file with all unused voucher(s).</p>
  <p
    i18n
    class="mt-2"
  >
    Important Notice: The unused vouchers available for download are not in
    real-time. The report includes the date and time of each voucher's last
    external update.
  </p>
</app-form-dialog>
<app-form-dialog
  #exportDebitCardUsageDialog
  header="Export debit card usage"
  i18n-header
  headerIcon="pi pi-upload"
  [mutation]="exportByTypeMutation"
  [mutationData]="{
    type: ExportType.intersolveVisaCardDetails,
  }"
>
  <p i18n>
    This will download an Excel file showing the balance of every card. The
    export is limited to 100,000 records.
  </p>
  <p
    i18n
    class="mt-2"
  >
    Important Notice: The card balances available for download are not in
    real-time. The report includes the date and time of each card's last
    external update.
  </p>
</app-form-dialog>
