.metrics-states--table {
  margin: 0 auto;

  td,
  th {
    padding: 0.5em;
  }

  .state-col {
    border-left: 1px solid var(--ion-color-light-shade);
  }

  .col-header {
    text-align: right;
    vertical-align: bottom;
    border-bottom: 1px solid black;
  }

  .row-header {
    text-align: right;
    white-space: nowrap;
  }

  .cell-number {
    text-align: right;
    font-variant-numeric: tabular-nums;
  }

  .shaded {
    background-color: var(--ion-color-light-tint);
  }
}

.timeframe-select {
  display: block;
  width: 100%;
  min-width: 10em;
  font-weight: normal;
}
