
<table class="metrics-states--table">
  <caption>
    <div
      style="display: flex;"
      class="ion-align-items-center ion-justify-content-end"
    >
      <ion-note>
        {{ 'page.program.metrics.last-updated'|translate:{ date: lastUpdated } }}
      </ion-note>
      <ion-button
        size="small"
        fill="clear"
        color="medium"
        [title]="'common.update'|translate"
        [attr.aria-label]="'common.update'|translate"
        (click)="update()"
        id="metrics-update"
      >
        <ion-icon name="refresh" size="small" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </div>
  </caption>
  <colgroup>
    <col>
    <col [span]="paStates.length" class="state-col">
  </colgroup>
  <thead>
    <tr>
      <td></td>
      <th
        *ngFor="let col of paStates"
        scope="col"
        class="col-header"
        [attr.title]="col.explanation ? col.explanation : ''"
      >
        {{ col.label }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th
        scope="row"
        class="row-header"
      >
        {{ 'page.program.metrics.timeframe.payment'|translate }}
        <select
          name="time-payment"
          [(ngModel)]="chosenPayment"
          (change)="changeDataset(chosenPayment, 'forPayment')"
          class="styled-select timeframe-select"
          [title]="'page.program.metrics.timeframe.select-payment'|translate"
        >
          <option value="">
            {{ 'page.program.metrics.timeframe.select-payment'|translate }}
          </option>
          <option
            *ngFor="let item of pastPayments"
            [value]="item.value"
          >
            {{ 'page.program.metrics.timeframe.payment-option'|translate:{ number: item.id, date: item.date|date:'yyyy-MM-dd' } }}
          </option>
        </select>
      </th>
      <td
        *ngFor="let cell of paStates"
        class="cell-number"
      >{{ cell.forPayment }}</td>
    </tr>
    <tr>
      <th
        scope="row"
        class="row-header"
      >
        {{ 'page.program.metrics.timeframe.calendar-month'|translate }}
        <select
          name="time-calendar-month"
          [(ngModel)]="chosenMonth"
          (change)="changeDataset(chosenMonth, 'forMonth')"
          class="styled-select timeframe-select"
          [title]="'page.program.metrics.timeframe.select-calendar-month'|translate"
        >
          <option value="">
            {{ 'page.program.metrics.timeframe.select-calendar-month'|translate }}
          </option>
          <option
            *ngFor="let item of pastMonths"
            [value]="item.value"
          >
            {{ item.date|date:'yyyy-MM' }}
          </option>
        </select>
      </th>
      <td
        *ngFor="let cell of paStates"
        class="cell-number"
      >{{ cell.forMonth }}</td>
    </tr>
    <tr class="shaded">
      <th
        scope="row"
        class="row-header"
      >
        {{ 'page.program.metrics.timeframe.to-date'|translate }}
      </th>
      <td
        *ngFor="let cell of paStates"
        class="cell-number"
      >{{ cell.toDate }}</td>
    </tr>
  </tbody>
</table>
