<ion-header>
  <ion-toolbar>
    <ion-title
      color="secondary"
      style="font-weight: 600"
    >
      <ion-col style="top: 2px"
        ><ion-icon name="card-outline"></ion-icon
      ></ion-col>
      <ion-label>
        {{
          ('registration-details.physical-cards-overview.popup-title'
            | translate) + ': '
        }}

        {{ card?.tokenCode }}
      </ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon
          name="close"
          slot="icon-only"
          aria-hidden="true"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <!-- Status -->
    <ion-item>
      <ion-label class="card-key-value">
        {{ 'registration-details.physical-cards-overview.status' | translate }}:
      </ion-label>
      <ion-label class="ion-text-right"
        ><ion-chip
          class="physical-card-status-chip"
          [ngClass]="
            'physical-card-status-chip-' +
            card?.status.replace(' ', '-').toLowerCase()
          "
          >{{ card?.status }}</ion-chip
        ></ion-label
      >
    </ion-item>

    <!-- Explanation -->
    <ion-item>
      <ion-label class="card-key-value">
        {{
          'registration-details.physical-cards-overview.explanation'
            | translate
        }}:
      </ion-label>
      <ion-label
        class="card-key-value ion-text-right physical-card-explanation"
        [title]="card?.explanation ? card?.explanation : '-'"
      >
        <strong>{{ card?.explanation ? card?.explanation : '-' }}</strong>
      </ion-label>
    </ion-item>

    <!-- Current balance -->
    <ion-item>
      <ion-label class="card-key-value"
        >{{
          'registration-details.physical-cards-overview.current-balance'
            | translate
        }}:
      </ion-label>
      <ion-label class="card-key-value ion-text-right"
        ><strong
          >{{ card?.balance / 100 | number: '1.2-2' }} {{ currency }}</strong
        >
      </ion-label>
    </ion-item>

    <!-- Spend this month -->
    <ion-item>
      <ion-label class="card-key-value"
        >{{
          'registration-details.physical-cards-overview.spent-this-month'
            | translate
              : {
                  maxAmount: card?.maxToSpendPerMonth / 100,
                  currency: currency
                }
        }}:
      </ion-label>
      <ion-label class="card-key-value ion-text-right"
        ><strong
          >{{ card?.spentThisMonth / 100 | number: '1.2-2' }}
          {{ currency }}</strong
        >
      </ion-label>
    </ion-item>

    <!-- Issued on -->
    <ion-item>
      <ion-label class="card-key-value"
        >{{
          'registration-details.physical-cards-overview.date-issued'
            | translate
        }}:
      </ion-label>
      <ion-label class="card-key-value ion-text-right"
        ><strong>{{
          card?.issuedDate | date: DateFormat.dayAndTimeAlternative
        }}</strong>
      </ion-label>
    </ion-item>
    <!-- Last used -->
    <ion-item>
      <ion-label class="card-key-value"
        >{{
          'registration-details.physical-cards-overview.date-last-used'
            | translate
        }}:
      </ion-label>
      <ion-label class="card-key-value ion-text-right"
        ><strong>{{
          (card?.lastUsedDate | date: DateFormat.dayAndTimeAlternative) ||
            'registration-details.physical-cards-overview.not-used-yet'
            | translate
        }}</strong>
      </ion-label>
    </ion-item>
    <ion-row
      *ngIf="showButtons"
      class="ion-padding ion-justify-content-end"
    >
      <ng-container *ngIf="checkActionsInclude(['reissue'])">
        <app-confirm-prompt
          color="portal-primary"
          fill="outline"
          size="small"
          shape="round"
          [disabled]="issueLoading || !canIssueNewCard()"
          (confirm)="issueNewCardButtonClick()"
          [subHeader]="
            'registration-details.physical-cards-overview.issue-new-card'
              | translate
          "
          [message]="
            ('registration-details.physical-cards-overview.confirm-prompt.prefix'
              | translate) +
            ('registration-details.physical-cards-overview.confirm-prompt.new-card'
              | translate) +
            ('registration-details.physical-cards-overview.confirm-prompt.suffix'
              | translate)
          "
        >
          {{
            'registration-details.physical-cards-overview.issue-new-card'
              | translate
          }}
          <ion-spinner
            color="portal-primary"
            class="physical-card-button-spinner"
            *ngIf="issueLoading"
          ></ion-spinner>
        </app-confirm-prompt>
      </ng-container>

      <ng-container *ngIf="checkActionsInclude(['pause', 'unpause'])">
        <app-confirm-prompt
          class="ion-margin-start"
          color="portal-danger"
          fill="outline"
          size="small"
          shape="round"
          [disabled]="pauseLoading || !canUsePauseButton()"
          (confirm)="togglePauseButton()"
          [subHeader]="
            isCardPaused
              ? ('registration-details.physical-cards-overview.unpause-card'
                | translate)
              : ('registration-details.physical-cards-overview.pause-card'
                | translate)
          "
          [message]="
            ('registration-details.physical-cards-overview.confirm-prompt.prefix'
              | translate) +
            (isCardPaused
              ? ('registration-details.physical-cards-overview.confirm-prompt.unpause'
                | translate)
              : ('registration-details.physical-cards-overview.confirm-prompt.pause'
                  | translate) +
                ('registration-details.physical-cards-overview.confirm-prompt.suffix'
                  | translate))
          "
        >
          {{
            isCardPaused
              ? ('registration-details.physical-cards-overview.unpause-card'
                | translate)
              : ('registration-details.physical-cards-overview.pause-card'
                | translate)
          }}
          <ion-spinner
            color="portal-danger"
            class="physical-card-button-spinner"
            *ngIf="pauseLoading"
          ></ion-spinner>
        </app-confirm-prompt>
      </ng-container>
    </ion-row>
  </ion-list>
</ion-content>
