<ion-row class="ion-align-items-center">
  <app-confirm-prompt
    [disabled]="disabled"
    (confirm)="getExportList()"
    [subHeader]="subHeader"
    [message]="message"
    [duplicateAttributesProps]="duplicateAttributesProps"
    [datetimeProps]="datetimeProps"
    [isPopoverExportButton]="isPopoverButton"
    [fill]="isPopoverButton ? 'clear' : 'solid'"
    [color]="isPopoverButton ? 'secondary' : 'primary'"
  >
    <ion-icon
      *ngIf="!isPopoverButton"
      name="download"
      slot="start"
      aria-hidden="true"
    ></ion-icon>
    {{ btnText }}
  </app-confirm-prompt>
  <ion-spinner
    *ngIf="isInProgress"
    color="primary"
    class="ion-margin-start"
  ></ion-spinner>
</ion-row>
