@if (useDefaultFormFieldWrapper()) {
  <app-form-field-wrapper
    [label]="label()"
    [labelTooltip]="labelTooltip()"
    [errorMessage]="
      formControl().invalid && formControl().touched && errorMessage()
    "
  >
    <ng-container *ngTemplateOutlet="formFieldInput"></ng-container>
  </app-form-field-wrapper>
} @else {
  <ng-container *ngTemplateOutlet="formFieldInput"></ng-container>
}

<ng-template #formFieldInput>
  @if (
    fieldType() === FspConfigurationPropertyInputType.selectAttributeMultiple
  ) {
    <p-multiselect
      [attr.data-testid]="`fsp-configuration-field-${fspFormField().name}`"
      [options]="programAttributes.data()"
      [formControl]="formControl()"
      [optionLabel]="'label'"
      [optionValue]="'name'"
      placeholder="Select 1 or more"
      i18n-placeholder
      [filter]="true"
      [showClear]="false"
    />
  } @else if (
    fieldType() === FspConfigurationPropertyInputType.selectAttribute
  ) {
    <p-select
      [attr.data-testid]="`fsp-configuration-field-${fspFormField().name}`"
      [options]="programAttributes.data()"
      [formControl]="formControl()"
      [optionLabel]="'label'"
      [optionValue]="'name'"
      placeholder="Select 1"
      i18n-placeholder
      [filter]="true"
      [showClear]="false"
    />
  } @else if (fieldType() === FspConfigurationPropertyInputType.toggleSwitch) {
    <p-toggle-switch
      [attr.data-testid]="`fsp-configuration-field-${fspFormField().name}`"
      [formControl]="formControl()"
    />
  } @else if (fieldType() === FspConfigurationPropertyInputType.numberInput) {
    <input
      [attr.data-testid]="`fsp-configuration-field-${fspFormField().name}`"
      pInputText
      type="number"
      [formControl]="formControl()"
      autocomplete="off"
    />
  } @else {
    <input
      [attr.data-testid]="`fsp-configuration-field-${fspFormField().name}`"
      pInputText
      [formControl]="formControl()"
      [placeholder]="inputTextPlaceholder()"
      autocomplete="off"
    />
  }
</ng-template>
