<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'common.confirm' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="closeModal()"
        [attr.title]="'common.cancel' | translate"
        [attr.aria-label]="'common.cancel' | translate"
      >
        <ion-icon name="close" slot="icon-only" aria-hidden="true"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-padding">
  <h2 *ngIf="subHeader" [innerHTML]="subHeader"></h2>
  <div *ngIf="message" [innerHTML]="message" class="ion-margin-vertical"></div>

  <div *ngIf="filePickerProps" class="ion-margin-vertical">
    <div
      *ngIf="filePickerProps.explanation"
      [innerHTML]="filePickerProps.explanation"
      class="ion-margin-vertical ion-padding-top"
      style="border-top: 1px solid var(--ion-color-medium)"
    ></div>

    <div
      *ngIf="filePickerProps.downloadTemplate && filePickerProps.explanation"
      class="ion-margin-vertical"
    >
      <ion-button
        (click)="
          downloadTemplate(
            filePickerProps.programId,
            filePickerProps.downloadTemplate
          )
        "
        color="primary"
        fill="outline"
      >
        <ion-icon name="download" slot="start" aria-hidden="true"></ion-icon>
        {{ 'file-picker.download-template-button' | translate }}
      </ion-button>
    </div>

    <ion-input
      #fileInput
      type="file"
      [accept]="acceptFileTypes"
      [ngClass]="{
        'is-dragover': isDraggedOver,
        'is-highlighted': showDropZone,
        'is-file-selected': !!fileInput?.value,
        'file-picker-prompt--input': true
      }"
      (dragover)="isDraggedOver = true"
      (dragleave)="isDraggedOver = false"
      [title]="'file-picker.label' | translate"
      [attr.aria-label]="'file-picker.label' | translate"
    ></ion-input>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button fill="clear" color="danger" (click)="closeModal()">
        {{ 'common.cancel' | translate }}
      </ion-button>
      <ion-button
        fill="solid"
        color="primary"
        (click)="submitConfirm()"
        [disabled]="checkOkDisabled()"
      >
        {{ 'common.ok' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
