{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "@mock-service/*": ["./*"]
    },
    "externalHelpers": false,
    "keepClassNames": true
  },
  "isModule": "unknown",
  "module": {
    "type": "nodenext",
    "strict": true,
    "noInterop": false
  },
  "minify": false
}
