<ion-text>
  <h1 class="ion-padding-start">
    {{ 'registration-details.activity-overview.title' | translate }}
  </h1>
</ion-text>

<ion-card>
  <ion-item
    color="light"
    lines="none"
  >
    <ion-row>
      <ion-button
        *ngFor="let filter of activityOverviewButtons"
        (click)="activityOverviewFilter = filter"
        fill="clear"
        size="small"
        [color]="activityOverviewFilter === filter ? 'primary' : 'secondary'"
        [style]="
          activityOverviewFilter === filter
            ? 'box-shadow: 0px 2px var(--ion-color-primary); --ripple-color: #fff'
            : '--ripple-color: #fff'
        "
      >
        {{
          ('registration-details.activity-overview.filterButton.' + filter
            | translate) +
            ' (' +
            getFilterCount(filter) +
            ')'
        }}
      </ion-button>
    </ion-row>
  </ion-item>
  <ion-card-content class="ion-no-padding">
    <ion-list
      class="ion-no-padding"
      lines="full"
    >
      <ion-item
        *ngFor="let item of getFilteredActivityOverview()"
        style="font-size: 14px; --padding-start: 0"
      >
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <div style="height: 100%; display: flex; align-items: center">
                <ion-icon
                  [name]="getIconName(item.type)"
                  size="large"
                ></ion-icon>
              </div>
            </ion-col>
            <ion-col size="11">
              <ion-row class="ion-justify-content-between">
                <ion-row class="ion-margin-bottom">
                  <ion-label class="ion-margin-end"
                    ><strong>{{ item.label | uppercase }}</strong></ion-label
                  >
                  <ion-note
                    ><small>
                      {{ item.date | date : 'dd-MM-yyyy HH:mm' }}
                    </small>
                  </ion-note>
                </ion-row>
              </ion-row>
              <div>
                <ion-text class="ion-text-end">{{ item.description }}</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
