# These environment variables can be used to configure the production build
# See usage in: src/environments/environment.prod.ts.template.js
#
# You can set them in a file, when you copy this example file to `.env`
#     cp .env.example .env
#

NG_PRODUCTION=true

# Configuration/Feature-switches:
NG_USE_SERVICE_WORKER=false
NG_ENV_NAME=

# APIs:
NG_URL_121_SERVICE_API=

# Third-party tokens:
NG_AI_IKEY=
NG_AI_ENDPOINT=
