# Make sure to keep contents aligned with all other interfaces!
#
# See .gitignore
coverage/

# Ionic related files
www/
dist/
platforms/
plugins/
resources/


# Exclude (generated) package files
package*.json


# Don't format HTML, waiting for https://github.com/prettier/prettier/pull/6644 to be possible
*.html

# Don't reorder imports for polyfills:
src/polyfills.ts
