# Make sure to keep contents aligned with all other interfaces!
#
# See .gitignore
coverage/

# Ionic related files
www/
dist/
platforms/
plugins/
resources/


# Exclude (generated) package files
package*.json


# Don't reorder imports for polyfills:
src/polyfills.ts


# Exception for inline code/styles
src/index.html
