<div class="flex min-h-screen flex-col">
  <app-header [projectId]="projectId()" />
  <div class="flex-1">
    @if (projectId()) {
      <app-project-header [projectId]="projectId()!" />
    }
    <div class="px-6 pb-8 lg:px-24">
      <div class="flex items-end justify-between py-9">
        <h1 class="my-0 min-w-48 text-3xl">
          {{ title() }}
        </h1>

        <ng-content select="[header-actions]"></ng-content>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
  <app-footer />
</div>
