<div class="flex min-h-screen flex-col">
  <app-header [projectId]="projectId()" />
  <div class="flex flex-1 flex-col">
    @if (pageLoadError()) {
      <div class="flex-1 px-6 pt-8 lg:px-24">
        <p-message
          severity="warn"
          styleClass="w-full"
          [text]="pageLoadError()"
        />
      </div>
    }
    @if (projectId()) {
      <app-project-menu [projectId]="projectId()!" />
    }
    <div class="flex-1 px-6 py-8 lg:px-24">
      @if (pageTitle()) {
        @let parentTitle = parentPageTitle();
        @let parentLink = parentPageLink();

        <div class="flex items-start justify-between pb-9 pt-1">
          <h1 class="min-w-48">
            @if (isPending()) {
              <p-skeleton
                width="24rem"
                height="1.6rem"
              />
            } @else {
              @if (parentTitle && parentLink) {
                <a
                  [routerLink]="parentLink"
                  class="font-normal hover:text-purple-700 focus:text-purple-700"
                  >{{ parentTitle }}</a
                >
                <i class="pi pi-chevron-right mx-2"></i>
              }
              {{ pageTitle() }}
            }
          </h1>

          <ng-content select="[header-actions]"></ng-content>
        </div>
      }

      <ng-content></ng-content>
    </div>

    <app-footer />
  </div>
</div>
