<section *ngIf="showSomethingWentWrong === true">
  <dialogue-turn>
    <p>
      <play-text-audio
        key="connection.error-retry"
        class="ion-float-start ion-margin-end"
      ></play-text-audio>
      <span [innerHTML]="'connection.error-retry' | translate"></span>
    </p>
    <p>
      <ion-button
        type="button"
        (click)="retry()"
      >
        {{ 'shared.retry' | translate }}
      </ion-button>
    </p>
  </dialogue-turn>
</section>
<section *ngIf="registrationStatus === true">
  <dialogue-turn
    *ngIf="validation"
    [isSpoken]="validation"
  >
    <p>
      <play-text-audio
        key="personal.registration-summary.validation-conclusion"
        class="ion-float-start ion-margin-end"
      ></play-text-audio>
      <span
        [innerHTML]="
          'personal.registration-summary.validation-conclusion' | translate
        "
      ></span>
    </p>
  </dialogue-turn>
  <dialogue-turn
    [isConnected]="true"
    *ngIf="validation && meetingDocuments?.length > 0"
    [isSpoken]="validation && meetingDocuments?.length > 0"
  >
    <p>
      <play-text-audio
        key="personal.registration-summary.documents"
        class="ion-float-start ion-margin-end"
      >
      </play-text-audio>
      {{ 'personal.registration-summary.documents' | translate }}
    </p>
    <ul class="ion-no-padding ion-padding-start">
      <li *ngFor="let document of meetingDocuments">
        {{ document }}
      </li>
    </ul>
  </dialogue-turn>
  <dialogue-turn
    [isConnected]="true"
    *ngIf="validation && showQrCode"
    [isSpoken]="validation && showQrCode"
  >
    <p>
      <play-text-audio
        key="personal.registration-summary.qr-code"
        class="ion-float-start ion-margin-end"
      ></play-text-audio>
      {{ 'personal.registration-summary.qr-code' | translate }}
    </p>
    <div
      *ngIf="qrDataString"
      text-center
      margin-vertical
      style="
        margin: 1em auto;
        max-width: 360px;
        padding: 1em;
        background: white;
      "
    >
      <qrcode
        [qrdata]="qrDataString"
        level="H"
      ></qrcode>
    </div>
  </dialogue-turn>
  <dialogue-turn
    *ngIf="!validation"
    [isSpoken]="!validation"
  >
    <p>
      <play-text-audio
        key="personal.registration-summary.no-validation-conclusion"
        class="ion-float-start ion-margin-end"
      ></play-text-audio>
      <span
        [innerHTML]="
          'personal.registration-summary.no-validation-conclusion' | translate
        "
      ></span>
    </p>
  </dialogue-turn>
</section>
