<section #registrationSummary>
  <dialogue-turn 
    [actor]="program?.ngo"
    *ngIf="validation"
    [isSpoken]="validation"
  >
    <p>
      <play-text-audio key="personal.registration-summary.validation-conclusion" class="ion-float-start ion-margin-end">
      </play-text-audio>
      {{ 'personal.registration-summary.validation-conclusion'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn 
    [actor]="program?.ngo" 
    isConnected="true" 
    *ngIf="validation && meetingDocuments?.length"
    [isSpoken]="validation && meetingDocuments?.length"
  >
    <p>
      <play-text-audio key="personal.registration-summary.documents" class="ion-float-start ion-margin-end">
      </play-text-audio>
      {{ 'personal.registration-summary.documents'|translate }}
    </p>
    <ul class="ion-no-padding ion-padding-start">
      <li *ngFor="let document of meetingDocuments">
        {{ document }}
      </li>
    </ul>

    <more-info-button buttonKey="personal.registration-summary.more-info-documents"
      headingKey="personal.registration-summary.more-info-documents" messageKey="personal.registration-summary.info-message">
    </more-info-button>
  </dialogue-turn>
  <dialogue-turn 
    [actor]="program?.ngo" 
    isConnected="true" 
    *ngIf="validation && showQrCode" 
    [isSpoken]="validation && showQrCode"
  >
    <p>
      <play-text-audio key="personal.registration-summary.qr-code" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.registration-summary.qr-code'|translate }}
    </p>
    <div *ngIf="qrDataString" text-center margin-vertical
      style="margin: 1em auto; max-width: 360px; padding: 1em; background: white;">
      <qrcode [qrdata]="qrDataString" level="H"></qrcode>
    </div>
  </dialogue-turn>
  <dialogue-turn 
    [actor]="program?.ngo" 
    *ngIf="!validation"
    [isSpoken]="!validation"
  >
    <p>
      <play-text-audio key="personal.registration-summary.no-validation-conclusion" class="ion-float-start ion-margin-end"></play-text-audio>
      {{ 'personal.registration-summary.no-validation-conclusion'|translate }}
    </p>
</dialogue-turn>
</section>