<section #signupSignin>
  <dialogue-turn>
    <p>
      {{ 'personal.signup-signin.introduction'|translate }}
    </p>
    <p>
      <more-info-button [message]="'personal.signup-signin.info-message'|translate"
                        [heading]="'personal.signup-signin.more-info-digital-id'|translate"
      >
        {{ 'personal.signup-signin.more-info-digital-id'|translate }}
      </more-info-button>
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self">
      <ion-radio-group (ionChange)="changeSignupSignin($event.detail.value)">
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
                  [disabled]="typeChosen"
        >
          <ion-label>{{ 'personal.signup-signin.create-id'|translate }}</ion-label>
          <ion-radio [value]="idChoices.create"
                     [checked]="signupSigninChoice === idChoices.create"
          ></ion-radio>
        </ion-item>
        <ion-item color="light"
                  class="ion-no-padding ion-text-wrap"
                  [disabled]="useLocalStorage || typeChosen"
        >
          <ion-label>{{ 'personal.signup-signin.login-id'|translate }}</ion-label>
          <ion-radio [value]="idChoices.login"
                     [checked]="signupSigninChoice === idChoices.login"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <p class="ion-margin-top">
        <ion-button *ngIf="signupSigninChoice && !typeChosen"
                    (click)="submitSignupSignin()"
                    [disabled]="typeChosen"
                    expand="block"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </p>
  </dialogue-turn>
</section>
