<p-confirmDialog
  #confirmDialog
  [closeOnEscape]="false"
  [dismissableMask]="true"
  class="md:[&_.p-dialog-content]:w-[632px]"
>
  <ng-template pTemplate="header">
    <div class="flex w-full items-center">
      <h3 [class]="headerClass()">
        <i class="me-2 {{ headerIcon() }}"></i>
        {{ header() }}
      </h3>
      <p-button
        icon="pi pi-times"
        class="ms-auto"
        severity="secondary"
        text
        (click)="confirmDialog.reject()"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="w-full">
      <ng-content></ng-content>
      @if (mutation().isError()) {
        <div class="mt-4">
          <app-form-error [error]="mutation().failureReason()?.message" />
        </div>
      }
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      label="Cancel"
      i18n-label="@@generic-cancel"
      outlined
      rounded
      severity="contrast"
      [disabled]="mutation().isPending()"
      (click)="confirmDialog.reject()"
    />
    <p-button
      [label]="proceedLabel()"
      rounded
      [loading]="mutation().isPending()"
      (click)="onProceed()"
    />
  </ng-template>
</p-confirmDialog>
