<app-page-layout
  pageTitle=""
  i18n-pageTitle="@@page-title-project-registration-activity-log"
  [projectId]="projectId()"
  [registrationId]="registrationId()"
>
  <div registration-profile>
    <p-card
      styleClass="[&_.p-card-content]:flex-end group relative h-full border border-transparent *:h-full [&_.p-card-title]:flex-grow"
      i18n
    >
      <div class="mt-5">
        <p-selectButton
          [options]="stateOptions"
          [(ngModel)]="value"
          optionLabel="label"
          i18n-optionLabel
          optionValue="value"
          i18n-optionValue
        />
      </div>
      <p-table
        [value]="activityLog()"
        [columns]="columns()"
        (onRowExpand)="onRowExpand($event)"
        (onRowCollapse)="onRowCollapse($event)"
        [dataKey]="'id'"
        [resizableColumns]="false"
      >
        <ng-template
          pTemplate="header"
          let-columns
        >
          <tr>
            <th [attr.width]="'4rem'"></th>
            @for (col of columns; track col) {
              <th [attr.width]="col.width">{{ col.header }}</th>
            }
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-rowData
          let-columns="columns"
          let-expanded="expanded"
        >
          <tr>
            <td>
              <p-button
                type="button"
                pRipple
                [pRowToggler]="rowData"
                [text]="true"
                [rounded]="true"
                [plain]="true"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              />
            </td>
            @for (col of columns; track col) {
              <td [attr.width]="col.width">{{ rowData[col.field] }}</td>
            }
          </tr>
        </ng-template>
        <ng-template
          pTemplate="rowexpansion"
          let-activityLogEntry
        >
          <tr>
            <td [attr.colspan]="1"></td>
            <td
              [attr.colspan]="4"
              style="white-space: normal"
            >
              {{ activityLogEntry.details }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</app-page-layout>
