<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        [title]="'page.help.pageTitle'|translate"
        [attr.aria-label]="'page.help.pageTitle'|translate"
        routerLink="/help"
        routerDirection="root"
        fill="clear"
        size="small"
        color="medium"
      >
        <ion-icon name="help" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h1 class="ion-no-margin">
        {{ 'page.home.pageTitle'|translate }}
      </h1>
    </ion-title>
    <ion-buttons slot="end">
      <app-user-state></app-user-state>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-programs-list></app-programs-list>
</ion-content>
