<app-page-layout
  pageTitle="Payments"
  i18n-pageTitle="@@page-title-program-payments"
  [programId]="programId()"
>
  <div
    header-actions
    class="flex gap-x-2"
  >
    @if (canExport()) {
      <app-export-payments [programId]="programId()" />
    }
    @if (canCreatePayment()) {
      <app-create-payment [programId]="programId()" />
    }
  </div>

  @if (paymentStatus.data()?.inProgress) {
    <app-notification-banner
      [color]="'orange'"
      data-testid="payment-in-progress-banner"
      [content]="paymentInProgressBannerContent"
    />
  }

  @if (paymentsSorted()?.length === 0) {
    <app-info-card
      subtitle="There are no payments for this program yet."
      i18n-subtitle
      title="No Payments found"
      i18n-title
    />
  } @else {
    <app-card-grid [loading]="payments.isPending()">
      @for (payment of paymentsSorted(); track $index) {
        <li>
          <app-payment-summary-card
            [programId]="programId()"
            [paymentId]="payment.paymentId"
            [paymentDate]="payment.paymentDate"
            [cardIndex]="$index"
            [paymentData]="payment"
          ></app-payment-summary-card>
        </li>
      }
    </app-card-grid>
  }
</app-page-layout>
