/* Padding */
.util--half-padding {
  padding: 0.5rem;
}

.util--half-padding-top {
  padding-top: 0.5rem;
}

.util--half-padding-start {
  padding-inline-start: 0.5rem;
}

.util--half-padding-end {
  padding-inline-end: 0.5rem;
}

.util--half-padding-bottom {
  padding-bottom: 0.5rem;
}

.util--half-padding-vertical {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.util--half-padding-horizontal {
  padding-inline-start: 0.5rem;
  padding-inline-end: 0.5rem;
}

/* Margin */
.util--half-margin {
  margin: 0.5rem;
}

.util--half-margin-top {
  margin-top: 0.5rem;
}

.util--half-margin-start {
  margin-inline-start: 0.5rem;
}

.util--half-margin-end {
  margin-inline-end: 0.5rem;
}

.util--half-margin-bottom {
  margin-bottom: 0.5rem;
}

.util--half-margin-vertical {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.util--half-margin-horizontal {
  margin-inline-start: 0.5rem;
  margin-inline-end: 0.5rem;
}
