<ion-header style="background: white">
  <ion-buttons end>
    <ion-button (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-header>

<ion-content padding style="background: transparent!important">
  <ion-fab vertical="bottom" horizontal="end" margin style="margin-bottom: 15%;">
    <ion-fab-button>
      <ion-icon name="md-options"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="toggleFlashLight()">
        <ion-icon name="flash"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="toggleCamera()">
        <ion-icon name="reverse-camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-footer style="background: white;" class="ion-padding" *ngIf="isValidationMeeting">
    <ion-textarea #scanData
                  auto-grow="true"
                  style="font-family: monospace"
                  value='{"did": "_did_", "programId": _programId_ }'
    ></ion-textarea>
    <ion-button expand="block"
                (click)="startMeeting(scanData.value)"
    >CONTINUE TO FORM</ion-button>
  </ion-footer>
</ion-content>
