.phase-navigation {
  --phase-navigation--indicator-size: 4px;

  display: inline-block;
  position: relative;
}
.phase-navigation--indicator {
  display: block;
  position: absolute;
  top: 100%;
  left: 2px;
  right: 2px;
  border-top: var(--phase-navigation--indicator-size) solid
    var(--ion-color-primary);
}
