@let languages = programLanguages();

<p-tabs [(value)]="currentLanguage">
  <p-tablist>
    @for (language of languages; track language) {
      <p-tab [value]="language">
        <i class="pi pi-globe"></i>
        {{ tabLabels().get(language) | titlecase }}
      </p-tab>
    }
  </p-tablist>
  @if (!isCurrentLanguageSupported()) {
    <p class="my-2 flex items-center">
      <i class="pi pi-exclamation-triangle me-2 text-xl text-red-500"></i>
      <span i18n>
        Please note, the portal does not support
        {{ currentLanguageLabel() }} language currently.
      </span>
    </p>
  }
  <p-tabpanels class="p-0">
    @for (language of languages; track language) {
      <p-tabpanel [value]="language">
        <ng-container *ngTemplateOutlet="languageTemplate()"></ng-container>
      </p-tabpanel>
    }
  </p-tabpanels>
</p-tabs>
