<app-page-layout-project-settings [projectId]="projectId()">
  <app-card-editable
    title="Project team"
    i18n-title="@@page-title-project-settings-team"
    [canEdit]="canManageAidworkers()"
    [(isEditing)]="isEditing"
    [isSaveable]="false"
  >
    <p i18n>Add users to your project team and assign roles to them.</p>
    <app-query-table
      [items]="projectUsers.data() ?? []"
      [isPending]="projectUsers.isPending()"
      [columns]="columns()"
      localStorageKey="project-team-table"
      [contextMenuItems]="isEditing() ? contextMenuItems() : undefined"
      (updateContextMenuItem)="selectedUser.set($event)"
      [globalFilterFields]="['username', 'allRolesLabel', 'scope']"
      [initialSortField]="'username'"
    >
      @if (isEditing()) {
        <div table-actions>
          <p-button
            label="Add user to team"
            i18n-label
            rounded
            outlined
            icon="pi pi-plus"
            [iconPos]="rtlHelper.createPosition('start')()"
            (click)="openForm('add')"
          />
        </div>
      }
    </app-query-table>
    <app-add-project-team-user-dialog
      #addUserDialog
      [projectId]="projectId()"
      [enableScope]="enableScope()"
      [userToEdit]="formMode() === 'edit' ? selectedUser() : undefined"
    />
  </app-card-editable>
</app-page-layout-project-settings>
<app-form-dialog
  #removeUserConfirmationDialog
  header="Remove user from team"
  i18n-header
  headerIcon="pi pi-trash"
  proceedLabel="Remove user"
  i18n-proceedLabel="@@remove-user-button"
  [mutation]="removeUserMutation"
  [mutationData]="{ userId: selectedUser()?.id }"
>
  <p i18n>
    You're about to remove
    <b>{{ selectedUser()?.username }}</b> ({{ selectedUser()?.allRolesLabel }})
    from your team.<br />They will not have access to the project anymore.
  </p>
</app-form-dialog>
