<h2 *ngIf="canMakeExport || canMakePayment">{{ 'page.program.program-payout.section-title'|translate }}</h2>

<div *ngIf="canMakeExport" class="ion-margin-vertical">
  <h3>{{ 'page.program.program-payout.make-export'|translate }}</h3>
  <ion-row class="ion-align-items-center">
    <select
      [title]="'page.program.program-payout.choose-payment'|translate"
      [(ngModel)]="exportInstallmentId"
      (change)="changeExportInstallment()"
      class="export-select ion-margin-end"
    >
      <option [value]="0">
        <ng-container>{{ 'page.program.program-payout.choose-payment'|translate }}</ng-container>
      </option>
      <option
        *ngFor="let installment of installments"
        [value]="installment.id"
        [disabled]="!installment.isExportAvailable"
      >
        {{ 'page.program.program-payout.installment-nr'|translate:{ number: installment.id } }}
        -
        <ng-container *ngIf="installment.statusOpen">
          {{ 'page.program.program-payout.open'|translate }}
        </ng-container>
        <ng-container *ngIf="!installment.statusOpen">
          {{ 'page.program.program-payout.closed'|translate }}
        </ng-container>
        -
        {{ installment.installmentDate|date:"yyyy-MM-dd" }}
      </option>
    </select>
    <app-export-list
      [programId]="programId"
      [exportType]="enumExportType.payment"
      [paymentInstallment]="exportInstallmentId"
      [paymentExportAvailable]="exportInstallmentAvailable"
    ></app-export-list>
  </ion-row>
  <ion-row *ngIf="isIntersolve" class="ion-margin-vertical">
    <app-export-list
      [programId]="programId"
      [exportType]="enumExportType.unusedVouchers">
    </app-export-list>
  </ion-row>
</div>

<div *ngIf="canMakePayment" class="ion-margin-vertical">
  <h3>{{ 'page.program.program-payout.make-payment.make-payment'|translate }}: {{nextInstallmentIdLabel}}</h3>
  <app-make-payment
    [programId]="programId"
    [program]="program"
  ></app-make-payment>
</div>
