<h2 *ngIf="canMakeExport || canMakePayment">
  {{ 'page.program.program-payout.section-title' | translate }}
</h2>

<div *ngIf="canMakeExport" class="ion-margin-vertical">
  <h3>{{ 'page.program.program-payout.make-export' | translate }}</h3>
  <ion-row class="ion-align-items-center">
    <select
      [title]="'page.program.program-payout.choose-payment' | translate"
      [(ngModel)]="exportPaymentId"
      (change)="changeExportPayment()"
      class="styled-select ion-margin-end"
    >
      <option [value]="0">
        <ng-container>{{
          'page.program.program-payout.choose-payment' | translate
        }}</ng-container>
      </option>
      <option [value]="-1" [disabled]="lastPaymentId < 1">
        {{ 'page.program.program-payout.all-closed-payments' | translate }}
      </option>
      <option
        *ngFor="let payment of payments"
        [value]="payment.id"
        [disabled]="!payment.isExportAvailable"
      >
        {{
          'page.program.program-payout.payment-nr'
            | translate: { number: payment.id }
        }}

        <ng-container *ngIf="payment.statusOpen">
          {{ 'page.program.program-payout.open' | translate }}
        </ng-container>
        <ng-container *ngIf="!payment.statusOpen">
          {{ 'page.program.program-payout.closed' | translate }}
        </ng-container>
        -
        {{ payment.paymentDate | date: 'yyyy-MM-dd' }}
      </option>
    </select>

    <app-export-list
      [programId]="programId"
      [exportType]="enumExportType.payment"
      [minPayment]="minPayment"
      [maxPayment]="maxPayment"
      [disabled]="!exportPaymentAvailable"
    ></app-export-list>

     <app-export-fsp-instructions *ngIf="hasFspWithCsvIntegration"
      [programId]="programId"
      [payment]="exportPaymentId"
    ></app-export-fsp-instructions>

  </ion-row>
  <ion-row *ngIf="isIntersolve" class="ion-margin-vertical">
    <app-export-list
      [programId]="programId"
      [exportType]="enumExportType.unusedVouchers"
    >
    </app-export-list>
  </ion-row>
</div>

<ion-row *ngIf="canMakePayment" class="ion-margin-vertical">
  <ion-col *ngIf="!!lastPaymentId" [sizeXs]="12" [sizeMd]="4">
    <h3>
      {{
        'page.program.program-payout.last-payment.last-payment'
          | translate: { nr: lastPaymentId ? '#' + lastPaymentId : '-' }
      }}
    </h3>
    <p *ngIf="lastPaymentResults">
      {{ 'page.program.program-payout.last-payment.success' | translate }}:
      <strong>{{ lastPaymentResults.success }}</strong
      ><br />
      {{ 'page.program.program-payout.last-payment.waiting' | translate }}:
      <strong>{{ lastPaymentResults.waiting }}</strong
      ><br />
      {{ 'page.program.program-payout.last-payment.error' | translate }}:
      <strong>{{ lastPaymentResults.error }}</strong>
    </p>
    <confirm-prompt
      *ngIf="lastPaymentResults?.error > 0"
      (confirm)="retryLastPayment()"
      [subHeader]="
        'page.program.program-payout.last-payment.confirm-prompt'
          | translate: { number: lastPaymentResults?.error }
      "
      fill="outline"
      color="danger"
    >
      <ion-icon
        name="refresh"
        size="small"
        slot="start"
        aria-hidden="true"
      ></ion-icon>
      {{
        'page.program.program-payout.last-payment.retry-all'
          | translate: { number: lastPaymentResults?.error }
      }}
    </confirm-prompt>
  </ion-col>
  <ion-col [sizeXs]="12" [sizeMd]="lastPaymentId ? 8 : 12">
    <h3>
      {{
        'page.program.program-payout.make-payment.make-payment'
          | translate: { nr: nextPaymentId ? '#' + nextPaymentId : '-' }
      }}
    </h3>
    <app-make-payment
      [programId]="programId"
      [program]="program"
    ></app-make-payment>
  </ion-col>
</ion-row>
