<div #globalFilterContainer>
  @if (globalFilterVisible() || !!globalFilterValue()) {
    <p-iconField
      [iconPosition]="rtlHelper.createPosition('start')()"
      [autofocus]="true"
    >
      <p-inputIcon styleClass="pi pi-search" />
      <input
        #globalFilterInput
        pInputText
        [pAutoFocus]="true"
        type="text"
        [value]="globalFilterValue() ?? ''"
        (input)="filterChange.emit(globalFilterInput.value)"
        placeholder="Filter by keyword"
        i18n-placeholder="@@table-quick-search"
        title="Filter by keyword"
        i18n-title="@@table-quick-search"
        aria-label="Filter by keyword"
        i18n-aria-label="@@table-quick-search"
      />
      @if (globalFilterValue()) {
        <p-button
          icon="pi pi-times"
          (click)="clearFilterValue()"
          text
          severity="contrast"
          class="absolute end-1 top-1/2 -translate-y-1/2"
        />
      }
      @if (globalFilterValue()?.toLowerCase() === 'henry dunant') {
        <div class="fixed end-0 bottom-0 z-auto me-4">
          <img
            src="assets/henry.png"
            class="w-64"
            alt="Gotcha!"
            i18n-alt
          />
        </div>
      }
    </p-iconField>
  } @else {
    <p-button
      icon="pi pi-search"
      (click)="showGlobalFilterInput()"
      text
      severity="contrast"
      size="large"
      title="Filter by keyword"
      i18n-title="@@table-quick-search"
      aria-label="Filter by keyword"
      i18n-aria-label="@@table-quick-search"
    />
  }
</div>
