@import 'design-system-colors';

.ion-color-portal-primary {
  --ion-color-base: var(--fiveten-purple-700);
  --ion-color-base-rgb: var(--fiveten-purple-700-rgb);
  --ion-color-contrast: var(--fiveten-purple-100);
  --ion-color-contrast-rgb: var(--fiveten-purple-100-rgb);
  --ion-color-shade: var(--fiveten-purple-300);
  --ion-color-tint: var(--fiveten-purple-700);
}

.ion-color-portal-secondary {
  --ion-color-base: var(--fiveten-navy-700);
  --ion-color-base-rgb: var(--fiveten-navy-700-rgb);
  --ion-color-contrast: var(--fiveten-navy-100);
  --ion-color-contrast-rgb: var(--fiveten-navy-100-rgb);
  --ion-color-shade: var(--fiveten-navy-300);
  --ion-color-tint: var(--fiveten-navy-700);
}

.ion-color-portal-warning {
  --ion-color-base: var(--fiveten-warning-500);
  --ion-color-base-rgb: var(--fiveten-warning-500-rgb);
  --ion-color-contrast: var(--fiveten-warning-100);
  --ion-color-contrast-rgb: var(--fiveten-warning-100-rgb);
  --ion-color-shade: var(--fiveten-warning-300);
  --ion-color-tint: var(--fiveten-warning-700);
}

.ion-color-portal-danger {
  --ion-color-base: var(--fiveten-error-700);
  --ion-color-base-rgb: var(--fiveten-error-700-rgb);
  --ion-color-contrast: var(--fiveten-error-100);
  --ion-color-contrast-rgb: var(--fiveten-error-100-rgb);
  --ion-color-shade: var(--fiveten-error-300);
  --ion-color-tint: var(--fiveten-error-700);
}
