<section #selectCountry>
  <dialogue-turn>
    <play-text-audio key="personal.select-country.introduction" class="ion-float-end ion-margin-start"></play-text-audio>
    <p>
      {{ 'personal.select-country.introduction'|translate }}
    </p>
  </dialogue-turn>
  <dialogue-turn actor="self">
    <form (submit)="submitCountry()">
      <ion-radio-group (ionChange)="changeCountry($event)">
        <ion-item *ngFor="let country of countries"
                  color="light"
                  class="ion-no-padding ion-text-wrap"
        >
          <ion-label>{{ country.country }}</ion-label>
          <ion-radio [value]="country.id"
                     [checked]="(country.id == countryChoice)"
                     [disabled]="isDisabled"
          ></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-row *ngIf="countryChoice && !isDisabled"
               class="ion-nowrap ion-align-items-center ion-margin-top"
      >
        <play-text-audio key="shared.submit-button"
                         type="forSubmit"
                         size="default"
        ></play-text-audio>
        <ion-button type="submit"
                    expand="block"
                    style="flex-basis:100%"
        >{{ 'shared.submit-button'|translate }}</ion-button>
      </ion-row>
    </form>
  </dialogue-turn>
  <dialogue-turn *ngIf="isDisabled"
                 [isSpoken]="isDisabled"
  >
    <play-text-audio key="personal.select-country.conclusion" class="ion-float-end ion-margin-start"></play-text-audio>
    <p [innerHTML]="'personal.select-country.conclusion'|translate:{ country:countryChoiceName }"></p>
  </dialogue-turn>
</section>
