<section #selectCountry>
  <dialogue-turn>
    {{ 'personal.select-country.introduction'|translate }}
  </dialogue-turn>
  <dialogue-turn isConnected="true">
    {{ 'personal.select-country.step3'|translate }}
  </dialogue-turn>
  <dialogue-turn actor="self">
    <ion-radio-group (ionChange)="changeCountry($event)"
    >
      <ion-item *ngFor="let country of countries"
                color="light"
                class="ion-no-padding ion-text-wrap"
      >
        <ion-label>{{ country.country }}</ion-label>
        <ion-radio value="{{ country.id }}"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div class="ion-margin-top">
      <ion-button *ngIf="countryChoice"
                  (click)="submitCountry()"
                  size="block"
      >{{ 'shared.submit-button'|translate }}</ion-button>
    </div>
  </dialogue-turn>
  <dialogue-turn *ngIf="countrySelected">
    {{ countryChoiceResult }}
  </dialogue-turn>
</section>
