<div
  *ngIf="canMakeExport"
  class="ion-margin-vertical util--page-margin-horizontal"
>
  <h3>{{ 'page.program.program-payout.make-export-import' | translate }}</h3>
  <ion-row class="ion-align-items-center">
    <select
      [title]="'page.program.program-payout.choose-payment' | translate"
      [(ngModel)]="exportPaymentId"
      (change)="changeExportPayment()"
      class="styled-select ion-margin-end"
      data-testid="program-payout-dropdown"
    >
      <option [value]="0">
        <ng-container>{{
          'page.program.program-payout.choose-payment' | translate
        }}</ng-container>
      </option>
      <option
        [value]="-1"
        [disabled]="lastPaymentId < 1"
      >
        {{
          'page.program.program-payout.last-closed-payments'
            | translate: { maxNumberOfPayment }
        }}
      </option>
      <option
        *ngFor="let payment of payments"
        [value]="payment.id"
        [disabled]="!payment.isExportAvailable"
      >
        {{
          'page.program.program-payout.payment-nr'
            | translate: { number: payment.id }
        }}

        <ng-container *ngIf="payment.statusOpen">
          {{ 'page.program.program-payout.open' | translate }}
        </ng-container>
        <ng-container *ngIf="!payment.statusOpen">
          {{ 'page.program.program-payout.closed' | translate }}
        </ng-container>
        -
        {{ payment.paymentDate | date: DateFormat.dateOnly : locale }}
      </option>
    </select>

    <app-export-list
      *ngIf="canMakePaymentExport"
      [programId]="programId"
      [exportType]="exportPaymentType"
      [minPayment]="minPayment"
      [maxPayment]="maxPayment"
      [disabled]="!exportPaymentAvailable"
    ></app-export-list>

    <app-export-fsp-instructions
      *ngIf="hasFspWithExportFileIntegration && canMakeFspInstructions"
      [programId]="programId"
      [payment]="exportPaymentId"
      [lastPaymentId]="lastPaymentId"
      [hasFspWithReconciliation]="hasFspWithReconciliation"
      [paymentInProgress]="paymentInProgress"
    ></app-export-fsp-instructions>
    <app-import-fsp-reconciliation
      *ngIf="hasFspWithReconciliation && canImportFspReconciliation"
      [programId]="programId"
      [payment]="exportPaymentId"
      [lastPaymentId]="lastPaymentId"
      [paymentInProgress]="paymentInProgress"
    ></app-import-fsp-reconciliation>
  </ion-row>
  <ion-row class="ion-margin-vertical">
    <app-export-list
      *ngIf="programHasVoucherSupport && canMakeVoucherExport"
      [programId]="programId"
      [exportType]="enumExportType.unusedVouchers"
      class="ion-margin-end"
    >
    </app-export-list>

    <app-export-list
      *ngIf="canExportCardBalances"
      [programId]="programId"
      [exportType]="exportCardUsageType"
      [minPayment]="minPayment"
      [maxPayment]="maxPayment"
    ></app-export-list>
  </ion-row>
</div>

<ion-row
  *ngIf="canViewPayment"
  class="ion-margin-vertical util--page-margin-horizontal"
>
  <ion-col
    *ngIf="!!lastPaymentId"
    [sizeXs]="12"
    [sizeMd]="4"
  >
    <h3>
      {{
        'page.program.program-payout.last-payment.last-payment'
          | translate: { nr: lastPaymentId ? '#' + lastPaymentId : '-' }
      }}
    </h3>
    <p *ngIf="lastPaymentResults">
      {{ 'page.program.program-payout.last-payment.success' | translate }}:
      <strong data-testid="program-payout-successful-payment">{{
        lastPaymentResults.success
      }}</strong
      ><br />
      {{ 'page.program.program-payout.last-payment.waiting' | translate }}:
      <strong>{{ lastPaymentResults.waiting }}</strong
      ><br />
      {{ 'page.program.program-payout.last-payment.error' | translate }}:
      <strong data-testid="program-payout-failed-payment">{{
        lastPaymentResults.error
      }}</strong>
    </p>
    <ion-row
      data-testid="program-payout-in-progress"
      *ngIf="canMakePayment"
      class="ion-align-items-center"
    >
      <div
        *ngIf="paymentInProgress"
        class="ion-align-items-center"
        style="display: flex"
      >
        <ion-note>
          {{ 'page.program.program-payout.in-progress' | translate }}
        </ion-note>
        <ion-button
          size="small"
          fill="clear"
          [title]="'common.update' | translate"
          [attr.aria-label]="'common.update' | translate"
          (click)="refresh()"
        >
          <ion-icon
            name="refresh"
            size="small"
            slot="icon-only"
            aria-hidden="true"
          ></ion-icon>
        </ion-button>
      </div>
    </ion-row>
    <ion-row
      *ngIf="canMakePayment && lastPaymentResults?.error > 0"
      class="ion-align-items-center"
    >
      <app-confirm-prompt
        data-testid="program-payout-retry-last-payment"
        (confirm)="retryLastPayment()"
        [subHeader]="
          'page.program.program-payout.last-payment.confirm-prompt'
            | translate: { number: lastPaymentResults?.error }
        "
        fill="outline"
        color="danger"
        [disabled]="paymentInProgress"
      >
        <ion-icon
          name="refresh"
          size="small"
          slot="start"
          aria-hidden="true"
        ></ion-icon>
        {{
          'page.program.program-payout.last-payment.retry-all'
            | translate: { number: lastPaymentResults?.error }
        }}
      </app-confirm-prompt>
    </ion-row>
  </ion-col>
</ion-row>
