<ion-content class="ion-padding-vertical">
  <!--page title-->
  <section>
    <ion-item
      lines="none"
      color="light"
    >
      <ion-col class="ion-padding">
        <h2
          class="ion-no-margin ion-padding-top"
          class="users-title"
        >
          <strong> {{ 'page.program-team.pageTitle' | translate }} </strong>
        </h2>
        <p class="ion-no-margin">
          {{ 'page.program-team.page-description' | translate }}
        </p>
      </ion-col>
    </ion-item>

    <div class="ion-padding search-and-button">
      <div></div>

      <!--add team member button-->
      <ion-button
        data-testid="program-team-add-member-button"
        [disabled]="!canManageAidworkers"
        (click)="programTeamPopup()"
        shape="round"
        fill="outline"
        class="button"
        item-end
      >
        <strong>{{
          'page.program-team.add-team-member' | translate
        }}</strong></ion-button
      >
    </div>

    <!--program team table -->
    <div class="ion-padding">
      <app-program-team-table
        [programId]="programId"
        [canManageAidworkers]="canManageAidworkers"
        [enableScope]="enableScope"
      ></app-program-team-table>
    </div>
  </section>
</ion-content>
