<ion-content class="ion-padding-vertical">
  <!--page title-->
  <section>
    <ion-item
      lines="none"
      color="light"
      class="ion-no-padding"
    >
      <div class="util--page-margin-horizontal">
        <h2 class="ion-padding-top">
          <strong> {{ 'page.program-team.pageTitle' | translate }}</strong>
        </h2>
        <p class="ion-margin-vertical">
          {{ 'page.program-team.page-description' | translate }}
        </p>
      </div>
    </ion-item>

    <div class="ion-margin-vertical util--page-margin-horizontal ion-text-end">
      <!--add team member button-->
      <ion-button
        [disabled]="!canManageAidworkers"
        (click)="programTeamPopup()"
        shape="round"
        fill="outline"
        class="button"
      >
        <strong>{{
          'page.program-team.add-team-member' | translate
        }}</strong></ion-button
      >
    </div>

    <!--program team table -->
    <div
      class="ion-no-padding ion-margin-vertical util--page-margin-horizontal"
    >
      <app-program-team-table
        [programId]="programId"
        [canManageAidworkers]="canManageAidworkers"
        [enableScope]="enableScope"
      ></app-program-team-table>
    </div>
  </section>
</ion-content>
