<form
  method="POST"
  #updatePropertyForm="ngForm"
  (ngSubmit)="doUpdate()"
>
  <ion-item>
    <ion-label position="stacked">
      {{ label }}
    </ion-label>
    <ng-container>
      <ion-item class="ion-margin-top ion-align-self-stretch">
        <ion-select
          style="max-width: 100%;"
          ngDefaultControl
          name="propertyInput"
          [(ngModel)]="propertyModel"
          [value]="value"
          [placeholder]="placeholder"
          interface="popover"
          (ionChange)="onFspChange($event)"
        >
          <ion-select-option
            *ngFor="let fspItem of fspList"
            value="{{ fspItem.fsp }}">
              {{ fspItem.fsp }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngIf="propertyModel != startingFspName">
        <ion-text class="ion-padding-vertical" *ngIf="attributeDifference.length > 0">
          {{ 'page.program.program-people-affected.edit-person-affected-popup.fspChangeWarning' | translate }}<br>
          <div>
            <ul>
              <li *ngFor="let attr of attributeDifference">
                {{ 'page.program.program-people-affected.edit-person-affected-popup.properties.' + attr.name + '.label' | translate }}
              </li>
            </ul>
          </div>
        </ion-text>
        <ion-item *ngFor="let attribute of selectedFspAttributes" position="stacked">
          <ion-label position="stacked">
            {{ 'page.program.program-people-affected.edit-person-affected-popup.properties.' + attribute.name + '.label' | translate }}
          </ion-label>
          <ion-input
            ngDefaultControl
            [name]="attribute.name"
            [value]="attribute.value"
            [placeholder]="attribute.placeholder?.en"
            (ionChange)="onAttributeChange($event)"
          ></ion-input>
        </ion-item>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="propertyModel != startingFspName">
      <ion-note
        *ngIf="explanation"
        class="ion-margin-bottom"
      >
        {{ explanation }}
      </ion-note>
      <ion-row
        slot="end"
        class="ion-align-items-center ion-align-self-stretch"
      >
        <ion-button
          *ngIf="!inProgress"
          [disabled]="!enableUpdateBtn"
          type="submit"
          size="small"
        >
          {{ 'common.update'|translate }}
        </ion-button>
        <ion-spinner
          *ngIf="inProgress"
          color="primary"
          size="small"
        ></ion-spinner>
      </ion-row>
    </ng-container>
  </ion-item>
</form>
