<form
  method="POST"
  #updatePropertyForm="ngForm"
  (ngSubmit)="updateChosenFsp()"
>

  <div class="input-item divider-bottom ion-padding">
    <label class="input-item--label">
      {{ label }}
    </label>
    <div class="input-item--contents">
      <div>
        <ion-item class="ion-margin-vertical">
          <ion-select
            style="max-width: 100%;"
            ngDefaultControl
            name="propertyInput"
            [(ngModel)]="propertyModel"
            [value]="value"
            [placeholder]="placeholder"
            interface="popover"
            (ionChange)="onFspChange($event)"
          >
            <ion-select-option
              *ngFor="let fspItem of fspList"
              value="{{ fspItem.fsp }}">
                {{ fspItem.fsp }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      <ng-container *ngIf="propertyModel != startingFspName">
        <ion-text class="ion-padding" *ngIf="attributeDifference.length > 0">
          {{ 'page.program.program-people-affected.edit-person-affected-popup.fspChangeWarning' | translate }}<br>
          <div>
            <ul>
              <li *ngFor="let attr of attributeDifference">
                {{ 'page.program.program-people-affected.edit-person-affected-popup.properties.' + attr.name + '.label' | translate }}
              </li>
            </ul>
          </div>
        </ion-text>
        <p *ngIf="selectedFspAttributes.length > 0">
          {{ 'page.program.program-people-affected.edit-person-affected-popup.fspNewAttributesExplanation' | translate }}
        </p>
        <div
          class="input-item divider-bottom ion-padding"
          *ngFor="let attribute of selectedFspAttributes"
        >
          <app-update-property-item
            [type]="attribute.answerType"
            [label]="'page.program.program-people-affected.edit-person-affected-popup.properties.' + attribute.name + '.label' | translate "
            [explanation]="explanation | translate"
            [placeholder]="attribute.placeholder?.en"
            class="ion-margin-vertical"
            (ionChange)="onAttributeChange(attribute.name, $event)"
            [showSubmit]="false"
          ></app-update-property-item>
        </div>
      </ng-container>

      </div>
      <div>
        <ion-button
          *ngIf="!inProgress"
          [disabled]="!enableUpdateBtn"
          type="submit"
          size="default"
          class="ion-margin-start"
        >
          {{ 'common.update'|translate }}
        </ion-button>
        <ion-spinner
          *ngIf="inProgress"
          color="primary"
          size="default"
          class="ion-margin-start"
        ></ion-spinner>
      </div>
    </div>
  </div>
