<ng-container *ngIf="visible">
  <ion-row>
    <confirm-prompt
      [disabled]="!userRoles.includes(userRoleEnum.PersonalData)"
      (confirm)="doTestPayment(); isInProgress = true"
      [message]="'page.program.test-payment.confirm'|translate"
    >
      {{ 'page.program.test-payment.do-payment'|translate }}
    </confirm-prompt>
    <ion-spinner
      *ngIf="isInProgress"
      color="primary"
      class="ion-margin-start"
    ></ion-spinner>
  </ion-row>
  <ion-note *ngIf="actionTimestamp" style="display:block">
    {{ 'common.timestamp.done'|translate }} {{ actionTimestamp }}
  </ion-note>
  <br>
</ng-container>
