<app-page-layout-monitoring [programId]="programId()">
  <app-query-table
    #eventsTable
    [columns]="columns()"
    localStorageKey="program-monitoring-data-changes"
    [items]="events()"
    [isPending]="
      eventsResponse.isPending() || registrationAttributes.isPending()
    "
    [initialSortField]="'created'"
    [initialSortOrder]="-1"
    [globalFilterFields]="[]"
    [serverSideFiltering]="true"
    [serverSideTotalRecords]="totalEvents()"
    (updatePaginateQuery)="paginateQuery.set($event)"
    [contextMenuItems]="contextMenuItems()"
    (updateContextMenuItem)="contextMenuSelection.set($event)"
  >
  </app-query-table>
</app-page-layout-monitoring>
