<section #createPassword>
    <dialogue-turn>
      {{ 'personal.create-password.introduction'|translate }}
    </dialogue-turn>
    <dialogue-turn actor="self">
      {{ 'personal.create-password.step1'|translate }}
      <br>
      <ion-button>{{ 'personal.create-password.info-password'|translate }}</ion-button>
      <form (ngSubmit)="submitPassword(create,confirm)">
        <ion-input type="password" [placeholder]="createPasswordPlaceholder" name="create" [(ngModel)]="create" ngDefaultControl></ion-input>
        <ion-input type="password" [placeholder]="confirmPasswordPlaceholder" name="confirm" [(ngModel)]="confirm" ngDefaultControl></ion-input>
        <ion-button type="submit">{{ 'personal.create-password.submit-password'|translate }}</ion-button>
      </form>
    </dialogue-turn>
    <dialogue-turn [hidden]="!passwordCreated">
      {{ 'personal.create-password.conclusion'|translate }}
    </dialogue-turn>
  </section>
     