.metrics-column {
  position: relative;
}

.metrics-column--toggle.is-expanded::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
