<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button type="button"
                  fill="clear"
                  shape="round"
                  size="large"
                  routerLink="/home"
                  routerDirection="back"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ programTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <app-phase-navigation [programPhases]="programPhases"
                            (emitSelectedPhase)="emitSelectedPhase($event)"
                            (emitProgramPhases)="emitProgramPhases($event)"
      ></app-phase-navigation>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-nowrap ion-align-items-stretch">
      <ion-col size="auto">

        <app-metrics [program]="program"></app-metrics>

      </ion-col>
      <ion-col>
        <app-phase-next [programPhases]="programPhases"
                        [selectedPhase]="selectedPhase"
                        [programId]="program?.id"
                        [phaseReady]="phaseReady"
                        (emitNewPhase)="emitNewPhase($event)"
        ></app-phase-next>

        <app-program-people [selectedPhase]="selectedPhase"
                            [programId]="program?.id"
                            [userRole]="currentUserRole"
                            (emitCompleted)="emitPeopleCompleted($event)"
        ></app-program-people>

        <app-program-payout [selectedPhase]="selectedPhase"
                            [programId]="program?.id"
                            [currencyCode]="program?.currency"
                            (emitCompleted)="emitPayoutCompleted($event)"
        ></app-program-payout>

        <app-program-details [selectedPhase]="selectedPhase"
                             [programId]="program?.id"
        ></app-program-details>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
