<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button type="button"
                  fill="clear"
                  shape="round"
                  size="large"
                  routerLink="/programs"
                  routerDirection="back"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{ 'page.programs.program-details.pageTitle'|translate }}: {{ programTitle }}
    </ion-title>
    <ion-buttons slot="end">
      <app-phase-navigation></app-phase-navigation>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <!-- <ion-button *ngIf="activePhaseId < programPhases.length"
              [disabled]="selectedPhase !== activePhase"
              (click)="advancePhase(activePhaseId + 1)"
  >
    {{ 'page.programs.program-details.advance-phase'|translate }}
  </ion-button> -->
  <section>
    <h2>{{ 'page.programs.program-details.section-funds'|translate }}</h2>

    <app-program-funds [programId]="program?.id"
                       [currencyCode]="program?.currency"
    ></app-program-funds>

  </section>
  <section *ngIf="currentUserRole === userRoleEnum.ProgramManager && activePhase === 'payment'">
    <h2>{{ 'page.programs.program-details.section-payout'|translate }}</h2>

    <app-program-payout [programId]="program?.id"
                        [currencyCode]="program?.currency"
    ></app-program-payout>

  </section>
  <section>
    <h2>{{ 'page.programs.program-details.section-people'|translate }}</h2>

    <ion-button *ngIf="currentUserRole === userRoleEnum.ProgramManager  " [routerLink]="['/program', program?.id, 'people']">
      {{ 'page.programs.program-details.manage-people'|translate }}
    </ion-button>

    <ion-button *ngIf="currentUserRole === userRoleEnum.PrivacyOfficer " [routerLink]="['/program', program?.id, 'people-privacy']">
      {{ 'page.programs.program-details.manage-people-privacy'|translate }}
    </ion-button>

  </section>
  <section *ngIf="currentUserRole === userRoleEnum.ProgramManager && selectedPhase === 'design'">
    <h2>{{ 'page.programs.program-details.section-details'|translate }}</h2>

    <ion-list lines="full">
      <ion-item>
        <ion-button (click)="openProgramJson()">
          {{ 'page.programs.program-details.all'|translate }}
        </ion-button>
      </ion-item>
      <ion-item *ngFor="let item of programArray">
        <ion-label>
          <strong>{{ item.key }}:</strong>
          <pre>{{ item.value | json }}</pre>
        </ion-label>
      </ion-item>
    </ion-list>
  </section>
</ion-content>
