name: "Cypress"


on:
  push:
    branches:
    - 'wip.cypress-github-actions'

jobs:
  test:
    name: Run Cypress Tests
    runs-on: ubuntu-18.04
    # permissions:
    #   actions: read
    #   contents: read
    #   security-events: write

    # strategy:
    #   fail-fast: false
    #   matrix:
    #     language: ['javascript']

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set .env
      run: cp services/.env.cypress services/.env

    # - name: Start services
    #   run: cd services/ && docker-compose -f docker-compose.yml -f docker-compose.development.yml up -d --build

    - name: Install Portal
      run: npm run install:ho

    - name: Start Portal
      run: npm run start:ho:cypress

    # - name: Wait for portal to compile
    #   uses: cygnetdigital/wait_for_response@v2.0.0
    #   with:
    #     url: 'http://localhost:8888'
    #     responseCode: '200'
    #     timeout: 120000
    #     interval: 2000

    - name: Run integration tests with cypress.
      uses: cypress-io/github-action@v4.2.0
      with:
        build: npx cypress info
        browser: chrome
        start: npm run start:cypress:run
        wait-on: http-get://localhost:8888/
        # wait-on: http://localhost:8888
        wait-on-timeout: 210
        working-directory: ./interfaces/tests


