# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Deploy [NLRC] Interface: Register (PA)'

env:
  workingDirectory: interfaces/PA-App
  redirectTarget: https://www.rodekruis.nl/en/#get-in-touch

permissions:
  actions: read

on:
  workflow_call:
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN_NICE_POND_0B5AF0903:
        required: true
  workflow_dispatch:

jobs:
  build_and_deploy:
    name: Build and Deploy Job
    runs-on: ubuntu-latest
    environment: 'client-nlrc'
    steps:
      - name: Prepare output
        run: 'mkdir www'

      - name: 'Create redirect `/`'
        run: |-
          cat <<EOF > www/index.html
          <!doctype html>
          <title>Redirecting...</title>
          <meta http-equiv="refresh" content="1;url=${{ env.redirectTarget }}">
          <a href="${{ env.redirectTarget }}">Site moved, please update bookmarks/links.</a>
          EOF

      - name: Create config
        run: |
          cat <<EOF > staticwebapp.config.json
          {
          "routes": [
            { "route": "/", "redirect": "${{ env.redirectTarget }}", "statusCode": 302 }
          ],
          "responseOverrides": {
            "404": { "redirect": "/" }
          }
          }
          EOF

          cat staticwebapp.config.json

      # More information on Static Web App workflow configurations,
      # See: https://aka.ms/swaworkflowconfig
      - name: Deploy to Azure Static Web App
        id: deploy_to_aswa
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_NICE_POND_0B5AF0903 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          config_file_location: './'
          app_location: './www'
          output_location: ''
          skip_app_build: true
          skip_api_build: true

      - name: Finish
        run: |
          echo "Preview: <${{ steps.deploy_to_aswa.outputs.static_web_app_url }}>" >> $GITHUB_STEP_SUMMARY
