# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Deploy [United Kingdom] All'

permissions:
  actions: read
  deployments: write

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy_portal:
    name: 'Build + Deploy: Portal'
    uses: ./.github/workflows/deploy_client-unitedkingdom.yml
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL }}
      LOKALISE_API_TOKEN: ${{ secrets.LOKALISE_API_TOKEN }}

  deploy_service:
    name: 'Build + Deploy: 121-Service'
    uses: ./.github/workflows/deploy_client-unitedkingdom_service.yml
    secrets:
      AZURE_WEBAPP_PUBLISH_PROFILE: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
