# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Deploy [Help a Child] Interface: Portal'

env:
  HUSKY: 0
  workingDirectory: interfaces/Portal

permissions:
  actions: read

on:
  workflow_call:
    secrets:
      AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL:
        required: true
  workflow_dispatch:

jobs:
  build_and_deploy:
    name: Build and Deploy Job
    runs-on: ubuntu-latest
    environment: 'client-helpachild'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build Interface
        id: build
        uses: ./.github/actions/build-interface
        with:
          interfacePath: ${{ env.workingDirectory }}
          envIcon: 'iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAaVBMVEXPADrPADnOADjRDUTXKlrRCUDbP2vzwtD76e7qjqjQBD3UG0/wrb/iaIrtoLb////53ubPADj98vXfVHrrl6731N3TGUzgW4D0xdL42eLiY4b1ytbYMF/77PD65uzcRW/kcZHohKDmepjETAPtAAAAjklEQVR4AUxOgwHAMBCMalztcP8da739R26ijJI/US74V/EI84Mwip9mkmZxDhRJec2UIqzqBmg70dFrPUDbD+PUzws7R1gGNF3Xy+g50gWoal/NyfOHaYlxDDUjL5kKsOWXl3wARk0+aE7mM2QW3xXaF1ncmbay3v1lNiWlZTI1oryQWZ8dvoxjsg0TAADfXAfcXRXoKAAAAABJRU5ErkJggg=='
          envContentSecurityPolicy: >-
            connect-src 'self' https://helpachild.121.global https://westeurope-5.in.applicationinsights.azure.com https://westeurope.livediagnostics.monitor.azure.com;
            form-action https://helpachild.121.global;
        env:
          NG_ENV_NAME: 'Help a Child'
          NG_LOCALES: 'en'
          NG_URL_121_SERVICE_API: 'https://helpachild.121.global/api'
          NG_AI_IKEY: 'a6826f45-6d5e-4484-a8ff-874e33252d56'
          NG_AI_ENDPOINT: 'https://westeurope-5.in.applicationinsights.azure.com/'
          APPLICATIONINSIGHTS_CONNECTION_STRING: 'InstrumentationKey=a6826f45-6d5e-4484-a8ff-874e33252d56;IngestionEndpoint=https://westeurope-5.in.applicationinsights.azure.com/;LiveEndpoint=https://westeurope.livediagnostics.monitor.azure.com/'

      # More information on Static Web App workflow configurations,
      # See: https://aka.ms/swaworkflowconfig
      - name: Deploy to Azure Static Web App
        id: deploy_to_aswa
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_PORTAL }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: 'upload'
          config_file_location: '${{ env.workingDirectory }}/'
          app_location: '${{ env.workingDirectory }}/www'
          output_location: ''
          skip_app_build: true
          skip_api_build: true

      - name: Finish
        run: |
          echo "Build version: ${{ steps.build.outputs.build_version }}" >> $GITHUB_STEP_SUMMARY
          echo "Preview: <${{ steps.deploy_to_aswa.outputs.static_web_app_url }}>" >> $GITHUB_STEP_SUMMARY
