# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test Interface: Portal'

on:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - .github/workflows/test_interface_portal.yml
      - interfaces/portal/**
      - services/121-service/** # 121-service's code is imported/used
  push:
    branches:
      - main
    paths:
      - .github/workflows/test_interface_portal.yml
      - interfaces/portal/**
      - services/121-service/** # 121-service's code is imported/used

# This is needed for qlty to authenticate with OIDC
# https://docs.qlty.sh/coverage/quickstart#github-actions
permissions:
  contents: read
  id-token: write

env:
  interfacePath: interfaces/portal/

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up Node.js version
        uses: actions/setup-node@v5
        with:
          node-version-file: '${{ env.interfacePath }}/.node-version'
          cache: 'npm'
          cache-dependency-path: '${{ env.interfacePath }}/package-lock.json'

      - name: Install
        working-directory: ${{ env.interfacePath }}
        run: 'npm ci'

      - name: 'Test: Types'
        working-directory: ${{ env.interfacePath }}
        run: 'npm run typecheck'

      - name: Lint
        working-directory: ${{ env.interfacePath }}
        run: 'npm run lint'

      - name: Check for dead code
        working-directory: ${{ env.interfacePath }}
        run: 'npm run knip'

      - name: 'Test: Deployment Configuration'
        working-directory: ${{ env.interfacePath }}
        run: |
          cp -vf .env.example .env
          npm run build:deployment-configuration
          npm run test:deployment-configuration

      - name: 'Test: Code'
        working-directory: ${{ env.interfacePath }}
        run: 'npm run test:coverage'

      - uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          add-prefix: ${{ env.interfacePath }}
          tag: portal
          files: ${{ env.interfacePath }}/coverage/lcov.info

      - name: 'Check translations output-file'
        working-directory: ${{ env.interfacePath }}
        run: |
          npm run set-env-variables -- --env=development
          npm run extract-i18n
          git diff --exit-code src/locale/messages.xlf

      - name: Save coverage report
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: |
            ${{ env.interfacePath }}/coverage
