# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test: Formatting (with Prettier)'

on:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - '.github/workflows/test_formatting.yml'
      - '**.md'
      - '**.json'
      - '**.yml'
      - '**.scss'

env:
  HUSKY: 0

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js version
        uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'

      - name: Install
        run: 'npm ci'

      - name: Lint
        run: 'npm run test:prettier'
