# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test: E2E'

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/test_e2e.yml'
      - 'e2e/**'
      - 'services/.env.example'
      - 'services/**'
      - '!services/**.test.ts'
      - '!services/**.spec.ts'
      - 'interfaces/Portal/**'
      - '!interfaces/Portal/**.test.ts'
      - '!interfaces/Portal/**.spec.ts'
      - '!**.md'

env:
  e2eTestsPath: 'e2e/'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version-file: '${{ env.e2eTestsPath }}/.node-version'
          cache: 'npm'
          cache-dependency-path: '${{ env.e2eTestsPath }}/package-lock.json'

      - name: Set ENV-variables for test-environment
        run: |
          cp ./services/.env.example services/.env

      - name: Run Services with Docker
        working-directory: ./services
        run: |
          docker --log-level 'warn' compose -f docker-compose.yml up -d --quiet-pull

      - name: Start Portal
        working-directory: ./interfaces/Portal
        env:
          NG_URL_121_SERVICE_API: http://localhost:3000/api
        run: |
          npm install
          npm run start:debug-production > /dev/null 2>&1 &

      - name: Install e2e dependencies
        working-directory: ${{ env.e2eTestsPath }}
        run: |
          npm ci --omit=optional --no-fund --no-audit
          npx playwright install chromium --with-deps

      - name: Lint e2e tests
        working-directory: ${{ env.e2eTestsPath }}
        run: 'npm run lint'

      - name: Install service dependencies
        # This step is necessary because the tests run functions in this folder
        working-directory: ./services/121-service
        run: |
          npm install

      - name: Wait for healthchecks
        run: |
          timeout 90s sh -c 'until docker ps | grep mock-service | grep -q \(healthy\); do echo "Waiting for mock-service to be healthy..."; sleep 1; done' && echo "mock-service is running"
          timeout 90s sh -c 'until docker ps | grep 121-service | grep -q \(healthy\); do echo "Waiting for 121-service to be healthy..."; sleep 1; done' && echo "121-service is running"
          timeout 90s sh -c 'until curl http://localhost:8088 -I; do echo "Waiting for the Portal to be running..."; sleep 1; done' && echo "Portal is running"

      - name: Run e2e tests with Playwright
        working-directory: ./e2e
        env:
          BASE_URL: http://localhost:8088
        run: |
          npm test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-result-artifacts
          path: ./e2e/test-results/
          retention-days: 30

      - name: Docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
