# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test Interface: Portalicious'

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/test_interface_portalicious.yml'
      - 'interfaces/Portalicious/**'

env:
  interfacePath: 'interfaces/Portalicious'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version-file: '${{ env.interfacePath }}/.node-version'
          cache: 'npm'
          cache-dependency-path: '${{ env.interfacePath }}/package-lock.json'

      - name: Install
        working-directory: ${{ env.interfacePath }}
        run: 'npm ci --no-fund --no-audit'

      - name: Lint
        working-directory: ${{ env.interfacePath }}
        run: 'npm run lint'

      - name: Check translations
        working-directory: ${{ env.interfacePath }}
        run: |
          npm run set-env-variables -- env=development
          npm run extract-i18n
          git diff --exit-code --ignore-all-space

      - name: Test
        working-directory: ${{ env.interfacePath }}
        run: 'npm run test:ci'
