name: 'Test: Jest Performance Tests Cronjob'

on:
  schedule:
    - cron: '42 1 * * 1-5'
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  workingDirectory: services/121-service/
  EXTERNAL_121_SERVICE_URL: http://localhost:3000

jobs:
  path-filter:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.filter.outputs.should_skip }}
    steps:
      - uses: actions/checkout@v6
        if: github.event_name == 'pull_request'
        with:
          filter: blob:none
          fetch-depth: 0

      - uses: leavesster/pull-request-path-filter@v0.2
        if: github.event_name == 'pull_request'
        id: 'filter'
        with:
          paths: |
            - .github/workflows/test_service_api.yml
            - .github/actions/build-service/action.yml
            - services/.env.example
            - services/121-service/**
            - services/mock-service/**
            - '!**.md'

  performance-test-shard:
    runs-on: ubuntu-latest
    needs: path-filter
    if: ${{ needs.path-filter.outputs.should_skip != 'true' }}

    strategy:
      fail-fast: false
      matrix:
        # Shards are split into 3 groups
        # Group 1: All the tests that are not resource intensive and run objectively fast
        # Group 2: Test that is more resource intensive and runs longer: payment-100k-registration-intersolve-visa.test.ts
        # Group 3: Test that runs for a long time: performance-during-payment.test.ts
        include:
          - shard: '1'
            test_name: 'bulk-update-32k-registrations.test.ts'
          - shard: '1'
            test_name: 'find-duplicates-100k-registrations.test.ts'
          - shard: '1'
            test_name: 'get-program-with-many-attributes.test.ts'
          - shard: '1'
            test_name: 'import-1000-registrations.test.ts'
          - shard: '1'
            test_name: 'status-change-payment-in-large-program.test.ts'
          - shard: '1'
            test_name: 'paginate-transactions-and-retry.test.ts'
          - shard: '1'
            test_name: 'payment-100k-registration-safaricom.test.ts'
          - shard: '2'
            test_name: 'payment-100k-registration-intersolve-visa.test.ts'
          - shard: '3'
            test_name: 'performance-during-payment.test.ts'

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set ENV-variables for test-environment
        run: |
          cp ./services/.env.example services/.env
          grep -v "^#\|^$" services/.env.example >> $GITHUB_ENV

      - name: Run Services with Docker
        run: |
          npm run start:services:ci

      - name: Run performance test - ${{ matrix.test_name }}
        working-directory: ${{ env.workingDirectory }}
        run: |
          docker compose exec -e CI=true -e GITHUB_WORKFLOW="${{ github.workflow }}" 121-service npm run test:integration:base -t ${{ matrix.test_name }}

      - name: Docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2

  performance-test-shard-resolution:
    runs-on: ubuntu-latest
    needs: [performance-test-shard]
    if: always()
    steps:
      - name: Check test results - FAILURE
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: |
          echo "Performance tests have failed." >> $GITHUB_STEP_SUMMARY
          echo "Test results: ${{ toJson(needs.*.result) }}" >> $GITHUB_STEP_SUMMARY
          exit 1

      - name: Check test results - SUCCESS
        if: ${{ !(contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')) }}
        run: |
          echo "All performance tests have successfully passed." >> $GITHUB_STEP_SUMMARY
          echo "Test results: ${{ toJson(needs.*.result) }}" >> $GITHUB_STEP_SUMMARY

      - name: Microsoft Teams Notification
        if: always()
        uses: tlolkema/simple-teams-message@main
        env:
          JOB_STATUS_WITH_NICE_EMOJI: ${{ job.status == 'success' && '✅ Success' || '❌ Failed' }}
        with:
          message_title: 'Jest Performance Tests Cronjob'
          message_description: 'Job status: ${{ env.JOB_STATUS_WITH_NICE_EMOJI }}'
          webhook: ${{ secrets.MSTEAMS_WEBHOOK }}
