# A fast k6 test we run on every PR.
# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test: k6'

on:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - '.github/workflows/test_k6.yml'
      - 'k6/**'
      - 'services/.env.example'
      - 'services/**'
      - '!services/**.test.ts'
      - '!services/**.spec.ts'
      - '!**.md'

env:
  k6TestsPath: 'k6/'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set up Node.js version
        uses: actions/setup-node@v4
        with:
          node-version-file: '${{ env.k6TestsPath }}/.node-version'
          cache: 'npm'
          cache-dependency-path: '${{ env.k6TestsPath }}/package-lock.json'

      - name: Set ENV-variables for test-environment
        run: |
          cp ./services/.env.example services/.env

      - name: Install k6 dependencies
        working-directory: ${{ env.k6TestsPath }}
        run: |
          npm ci --omit=optional

      - name: Lint k6 tests
        working-directory: ${{ env.k6TestsPath }}
        run: 'npm run lint'

      - name: Download k6
        working-directory: ${{ env.k6TestsPath }}
        run: |
          curl https://github.com/grafana/k6/releases/download/v0.51.0/k6-v0.51.0-linux-amd64.tar.gz -L | tar xvz --strip-components 1

      - name: Run retryFailedJobsOnStartupDuringQueueProcessing.js with DUPLICATE_NUMBER=7
        working-directory: ${{ env.k6TestsPath }}
        run: |
          DUPLICATE_NUMBER=7 ./k6 run tests/retryFailedJobsOnStartupDuringQueueProcessing.js

      - name: Run findDuplicates100kRegistrations.js with DUPLICATE_NUMBER=17
        working-directory: ${{ env.k6TestsPath }}
        run: |
          DUPLICATE_NUMBER=17 ./k6 run tests/findDuplicates100kRegistrations.js

      - name: Run BulkUpdate32kRegistration.js with DUPLICATE_NUMBER=3
        working-directory: ${{ env.k6TestsPath }}
        run: |
          DUPLICATE_NUMBER=3 ./k6 run tests/BulkUpdate32kRegistration.js

      - name: Docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
