# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test Service: API Integration'

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/test_service_api.yml'
      - '.github/actions/build-service/action.yml'
      - 'services/.env.example'
      - 'services/121-service/**'
      - 'services/mock-service/**'
      - '!**.md'
  push:
    branches:
      - 'release/*'
    paths:
      - '.github/workflows/test_service_api.yml'
      - '.github/actions/build-service/action.yml'
      - 'services/.env.example'
      - 'services/121-service/**'
      - 'services/mock-service/**'
      - '!**.md'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set ENV-variables for test-environment
        run: |
          cp ./services/.env.example services/.env

      - name: Run Services with Docker
        working-directory: ./services
        run: |
          docker --log-level 'warn' compose -f docker-compose.yml up -d --quiet-pull

      - name: Wait for healthchecks
        run: |
          timeout 90s sh -c 'until docker ps | grep mock-service | grep -q \(healthy\); do echo "Waiting for mock-service to be healthy..."; sleep 5; done' && echo "mock-service is running"
          timeout 90s sh -c 'until docker ps | grep 121-service | grep -q \(healthy\); do echo "Waiting for 121-service to be healthy..."; sleep 5; done' && echo "121-service is running"

      - name: Check that no new migrations are necessary
        working-directory: ./services
        run: |
          docker compose exec 121-service npm run migration:generate migration/irrelevant_file_name -- --check

      - name: Run API tests with Jest
        working-directory: ./services
        run: |
          docker compose exec 121-service npm run test:e2e:all

      - name: Docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
