# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test Service: Restart Service (ONLY)'

on:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - .github/workflows/test_service_only_restart.yml
      - .github/actions/build-service/action.yml
      - services/.env.example
      - services/121-service/**
      - '!**.md'
  push:
    branches:
      - main
    paths:
      - .github/workflows/test_service_only_restart.yml
      - .github/actions/build-service/action.yml
      - services/.env.example
      - services/121-service/**
      - '!**.md'

env:
  workingDirectory: services/121-service

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set up Node.js version
        uses: actions/setup-node@v6
        with:
          # See supported Node.js versions: https://github.com/Azure/app-service-linux-docs/blob/master/Runtime_Support/node_support.md
          node-version-file: '${{ env.workingDirectory }}/.node-version'
          cache: 'npm'
          cache-dependency-path: '${{ env.workingDirectory }}/package-lock.json'

      - name: Set ENV-variables for test-environment
        run: |
          cp ./services/.env.example services/.env
          grep -v "^#\|^$" services/.env.example >> $GITHUB_ENV

      - name: Install
        working-directory: ${{ env.workingDirectory }}
        run: |
          npm ci

      - name: Run Services with Docker
        run: |
          npm run start:services:ci:production

      - name: 'Run "Restart Service"-test only (outside of Docker-container)'
        working-directory: ${{ env.workingDirectory }}
        run: |
          npm run test:integration:only-restart-service

      - name: Docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
