# See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: 'Test Service: Migrations Check'

on:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]
  pull_request:
    paths:
      - .github/workflows/test_service_check_migrations.yml
      - .github/actions/build-service/action.yml
      - services/.env.example
      - services/121-service/**
      - '!**.md'
  push:
    branches:
      - main
    paths:
      - .github/workflows/test_service_check_migrations.yml
      - .github/actions/build-service/action.yml
      - services/.env.example
      - services/121-service/**
      - '!**.md'

env:
  workingDirectory: services/121-service

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Set ENV-variables for test-environment
        run: |
          cp ./services/.env.example services/.env
          grep -v "^#\|^$" services/.env.example >> $GITHUB_ENV

      - name: Run Services with Docker
        run: |
          npm run start:services:ci:production

      - name: Check that no new migrations are necessary
        working-directory: ${{ env.workingDirectory }}
        run: |
          docker compose exec 121-service npm run test:migration

      - name: Docker logs
        if: always()
        uses: jwalton/gh-docker-logs@v2
