<app-form-dialog
  #koboConfigurationDialog
  header="Link with KoboToolbox"
  i18n-header
  headerIcon="pi pi-link"
  [formGroup]="koboConfigurationFormGroup"
  [mutation]="koboConfigurationMutation"
  [mutationData]="undefined"
  proceedLabel="Continue"
  i18n-proceedLabel
>
  <!-- WRAPPED IN DIV TO MITIGATE SPACING FROM PARENT  -->
  <div class="mbe-2">
    <p i18n>
      For more information about how to integrate Kobo see
      <app-manual-link />
    </p>
    <p i18n>
      Make sure the default language in the 'Form' tab of Kobo matches the main
      language of the program. One language must be set to English (EN).
    </p>
  </div>

  <app-form-field-wrapper
    label="Kobo form URL"
    i18n-label
    [errorMessage]="koboConfigurationFormFieldErrors()('fullKoboFormUrl')"
  >
    <small
      i18n="Do NOT translate the URL!@@integrate-kobo-form-url-explanation"
      class="text-grey-700 mbe-2 block text-sm"
    >
      The full URL from the form's page in KoboToolbox, i.e:
      https://kobo.ifrc.org/#/forms/XXXXXX/summary
    </small>

    <input
      pInputText
      type="url"
      inputmode="url"
      formControlName="fullKoboFormUrl"
      (input)="onFormUrlUpdate($event)"
    />
  </app-form-field-wrapper>
  <app-form-field-wrapper
    label="API key"
    i18n-label
    [errorMessage]="koboConfigurationFormFieldErrors()('token')"
  >
    <small
      i18n="@@integrate-kobo-form-api-key-explanation"
      class="text-grey-700 mbe-2 block text-sm"
    >
      Copy the API key from the Kobo account settings (top right) > security.<br />
      Make sure to click 'display' next to the API Key before copying.
    </small>

    <p-password
      formControlName="token"
      [toggleMask]="true"
      autocomplete="off"
      [feedback]="false"
    />
  </app-form-field-wrapper>
</app-form-dialog>

<app-form-dialog
  #linkKoboDialog
  header="Link with KoboToolbox"
  i18n-header
  headerIcon="pi pi-link"
  [mutation]="linkKoboMutation"
  [mutationData]="undefined"
  proceedLabel="Continue"
  i18n-proceedLabel="@@generic-continue"
>
  @if (!!koboFormName()) {
    <p i18n>You're about to link this program with this Kobo form:</p>
    <div class="bg-grey-100 p-2">
      <p>
        <strong>{{ koboFormName() }}</strong>
      </p>
    </div>
  } @else {
    <p>{{ koboConfigurationMutation.data()?.message }}</p>
  }
</app-form-dialog>

<p-dialog
  [modal]="true"
  [closeOnEscape]="false"
  [(visible)]="koboSuccessfullyLinkedDialogVisible"
  styleClass="max-inline-[90vw] sm:min-inline-160"
  [attr.data-testid]="'kobo-successfully-linked-dialog'"
>
  <ng-template #header>
    <h3>
      <i class="pi pi-check me-2"></i>
      <ng-container i18n>Kobo form linked successfully</ng-container>
    </h3>
  </ng-template>

  <p i18n>
    <strong>{{ koboFormName() }}</strong>
    was linked successfully to your program.
  </p>

  <div class="mbs-4 flex justify-end gap-4">
    <p-button
      label="Import existing registrations"
      i18n-label
      outlined
      rounded
      (click)="handleImportExistingRegistrationsClick()"
    />
    <p-button
      [rounded]="true"
      label="Close"
      i18n-label="@@generic-close"
      (click)="koboSuccessfullyLinkedDialogVisible.set(false)"
    />
  </div>
</p-dialog>

<app-kobo-import-existing-registration-dialog
  #koboImportExistingDialog
  [programId]="programId()"
/>

<app-kobo-error-dialog
  #koboErrorDialog
  [errors]="koboIntegrationErrors()"
  (tryAgain)="koboConfigurationDialog.show()"
/>
