<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'LOGIN'|translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="4" class="">

          <form method="POST"
                (ngSubmit)="doLogin()"
          >
            <!-- Workaround to make the ENTER-key submit the form -->
            <button type="submit" hidden>{{ 'page.login.form.submit.label'|translate }}</button>

            <ion-item>
              <ion-label position="stacked">{{ 'page.login.form.email.label'|translate }}</ion-label>
              <ion-input type="email"
                         inputmode="email"
                         autocomplete="username email"
                         autocapitalize="off"
                         autofocus="true"
                         clearInput="true"
                         required
                         name="email"
                         [(ngModel)]="email"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">{{ 'page.login.form.password.label'|translate }}</ion-label>
              <ion-input type="password"
                         autocomplete="current-password"
                         autocapitalize="off"
                         clearInput="false"
                         clearOnEdit="false"
                         required
                         name="password"
                         [(ngModel)]="password"
              ></ion-input>
            </ion-item>

            <ion-button type="submit"
                        expand="block"
            >
              {{ 'page.login.form.submit.label'|translate }}
            </ion-button>

          </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
